footer#pageFooter.site-footer
    
    .container.bot-nav.pt-media-5
        .row
            .col-lg-5
                .intro 
                    .logo 
                        img(src="img/logo.svg", alt="")
                    .name Shenzhen Eall Tech Co., Ltd.
                    .des Established in April 2003, Eall is a network integration, planning, and interactive visual communication company. With innovation as our core, we provide our customers with high quality interactive design services through our professional flow and innovative visuals.
                        
            .col-lg-7
                .contact_right
                    .row
                        .col-md 
                            h3.t1 National Service Hotline
                            h2.num (0)150 0003 0325
                            ul.contact
                                li E-mail: william@eall.com.cn
                                li Address: 190#, Tongyan Road, Zhabei District, Shanghai, China
                                li Contact: Mr. Tian
                                li Website: www.ealltech.com

                            .sejiao 
                                a(href="#") 
                                    img(src="img/icon-facebook.png", alt="facebook")
                                a(href="#") 
                                    img(src="img/icon-youbetu.png", alt="youbetu")
                                a(href="#") 
                                    img(src="img/icon-pinterest.png", alt="pinterest")
                                a(href="#") 
                                    img(src="img/icon-instagram.png", alt="instagram")
                                a(href="#") 
                                    img(src="img/icon-twitter2.png", alt="twitter")
                                a(href="#") 
                                    img(src="img/icon-twitter.png", alt="twitter")


                        .col-md-auto
                            .row 
                                .col-6
                                    figure.qr 
                                        img(src="img/qr_1.jpg", alt="Wechat")
                                        figcaption Wechat
                                .col-6
                                    figure.qr 
                                        img(src="img/qr_2.jpg", alt="Weibo")
                                        figcaption Weibo


        
        
        .links 
            label Friendly Links:  
            a(href="#") Website Design 
            a(href="#") Brand Website Construction
            a(href="#") Brand Planning
            a(href="#") Shenzhen Website Design
            a(href="#") Website Design
            a(href="#") Brand Website Construction
            a(href="#") Brand Planning
            a(href="#") Shenzhen Website Design


    .bot
        .container 
            .row 
                .col-lg 
                    .copyright Copyright &copy; 2003-2021 Shenzhen Eall Tech Co., Ltd. All Rights Reserved.
                        a(href="http://beian.miit.gov.cn/")  粤ICP备05096447号    
                        | Terms and Policy
                .col-lg-auto  
                    .social
                        a(href="#")  
                            i.iconfont.icon-youtube
                        a(href="#")  
                            i.iconfont.icon-facebook
                        a(href="#")  
                            i.iconfont.icon-linked
                        a(href="#")  
                            i.iconfont.icon-google
                        a(href="#")  
                            i.iconfont.icon-twitter
            
            
         

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


