footer#pagefooter.site-footer
    .container
        .row
            .col-md
                | Copyright © 2019 Harbory. 保留所有版权 | 
                a(href='/contact.html') 联系我们
            .col-md-auto
                nav.social
                    a(href="//www.facebook.com")
                        i.iconfont.icon-facebook
                    a(href="//www.twitter.com")
                        i.iconfont.icon-twitter
                    a(href="//www.in.com")
                        i.iconfont.icon-in
                    a(href="//www.youtube.com")
                        i.iconfont.icon-youtube
