footer#pagefooter.site-footer  
    .logo_bot.wow.fadeInRight
        img(src="img/logo_bot.png", alt="心通")
    .bottop.wow.fadeInUp
        .row.justify-content-end
            .col-lg-auto
                dl.botnav
                    dt 公司介绍
                    dd
                        a(href="about.html") 公司简介
                    dd
                        a(href="solutions.html") 企业资质
                    dd
                        a(href="care.html") 品牌与文化            
                   

            .col-lg-auto
                dl.botnav
                    dt 配药安全
                    dd
                        a(href="about.html") 输液现状
                   

            .col-lg-auto
                dl.botnav
                    dt 产品中心
                    dd
                        a(href="about.html") 静配中心补充
                    dd
                        a(href="solutions.html") 微型可移动静配中心
                    dd
                        a(href="care.html") 护士安全            
                    dd
                        a(href="news.html") 高效配置
                 

            .col-lg-auto
                dl.botnav
                    dt 数据中心
                    dd
                        a(href="about.html") 文献
                    dd
                        a(href="solutions.html") 全国医院覆盖区域
                    dd
                        a(href="care.html") 专家支持
                  


            .col-lg-auto
                dl.botnav
                    dt 招贤纳士
                    dd
                        a(href="about.html") 人才理念
                    dd
                        a(href="solutions.html") 职位申请


            .col-lg-auto
                dl.botnav
                    dt 员工专区
                    dd
                        a(href="about.html") 培训系统
                    dd
                        a(href="solutions.html") 休闲专区

            .col-lg-auto
                dl.botnav
                    dt 客服中心
                    dd
                        a(href="about.html") 留言专区
                    dd
                        a(href="solutions.html") 联系方式
  
           
    
    .bot         
        .copyright.wow.fadeInRight &copy; copyright 2020 鼓润生物 版权所有
                        


a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top
