.site-contact
    .c.wow.fadeInLeft
        .row
            .col-auto
                img(src="img/qrcode.jpg", alt="公众号")
                p 金生公众号
            .col
                .row.actions
                    .col-auto
                        a.btn(href="#") 预约参观
                    .col
                        a.btn(href="#") 申请入学
                ul.list
                    li.phone
                        | 0755-66666688
                    li.address
                        | 广东省深圳市福田区景田北五街



footer#pagefooter.site-footer
    .container.wow.fadeInUp
        .row.botnav
            .col-md-4.col-lg-2
                .item
                    h3 关于金生
                    ul.nav
                        li
                            a(href='about.html') 园所概况
                        li
                            a(href='vision.html') 愿景使命
                        li
                            a(href='environment.html') 校园环境
                      
            .col-md-4.col-lg-2
                .item
                    h3 教育特色
                    ul.nav
                        li
                            a(href='introduction.html') 课程介绍
                        li
                            a(href='evaluation.html') 评估课程
                        li
                            a(href='enrichment.html') 增润课程
                  
            .col-md-4.col-lg-2
                .item
                    h3 专业团队
                    ul.nav
                        li
                            a(href='administrators.html') 管理团队
                        li
                            a(href='teachers.html') 教师团队
                        li
                            a(href='development.html') 教师成长
                    
            .col-md-4.col-lg-2
                .item
                    h3 校园服务
                    ul.nav
                        li
                            a(href='classes_opened.html') 班级开设
                        li
                            a(href='service_time.html') 服务时间
                        li
                            a(href='service.html') 校园服务
                     
            .col-md-4.col-lg-2
                .item
                    h3 入学申请
                    ul.nav
                        li
                            a(href='process.html') 申请流程
                        li
                            a(href='appointment.html') 参观预约
                        li
                            a(href='registration.html') 在线报名
                        li
                            a(href='FAQ.html') 常见问题
            .col-md-4.col-lg-2
                .item
                    h3 最新资讯
                    ul.nav
                        li
                            a(href='news.html') 校园活动
                        li
                            a(href='news.html') 家园合作
                    
                            
        .copyright
            | &copy; 2020 G30 Project Ltd, the global parent entity.
           
