
.site-contact.wow.fadeInUp
    .container
        .title
            | We Specialized In CNC Prototyping And Other Production Services.
  


footer#pagefooter.site-footer
    .container
        .row.align-items-center
            .col-md-4
                .item.wow.fadeInUp
                    .icon 
                        img(src="img/icon-phone.png", srcset="img/icon-phone.png, img/icon-phone@2x.png 2x" alt="phone")
                    p 134-3022-5750 / 134-3022-5750
            .col-md-4
                .item.wow.fadeInUp
                    .icon 
                        img(src="img/icon-email.png", srcset="img/icon-email.png, img/icon-email@2x.png 2x" alt="email")
                    p sales@premiumparts.com
                      
            .col-md-4
                .item.wow.fadeInUp
                    a.quote(href="#") Request A Quote   
        
           
.bot.wow.fadeInUp
    .container
        .row
            .col-lg
                .add
                    i.iconfont.icon-marker
                    | No.11 Yingcheng 3 road, Chang'an town Dongguan city, Guangdong province, 523877, CN
            .col-lg-auto
                .copyright Premium Parts, Ltd &copy; 2020.  All rights reserved.

           

a#toTop.toTop(href="javascript:void(0);")
    img(src="img/top.png", alt="")
