footer#pageFooter.site-footer    
    .container.pt-media-5
        .row.justify-content-between
            .col-lg-auto
                dl.sub-nav 
                    dt.text22 常用链接
                    dd 
                        a(href="#") 什么是无感支付
                    dd 
                        a(href="#") 什么是电商式运营
                    dd 
                        a(href="#") 采用云拿方案将获得哪些能力
                    dd 
                        a(href="#") 云拿产品矩阵
                    dd 
                        a(href="#") 经典行业案例

            .col-lg-auto
                dl.sub-nav 
                    dt.text22 帮助和资源
                    dd 
                        a(href="#") 云拿知乎
                    dd 
                        a(href="#") 学习和支持
                    dd 
                        a(href="#") 查看本地服务团队
                    dd 
                        a(href="#") 集成商合作伙伴系统登录
                    dd 
                        a(href="#") 开放职位信息
                    dd 
                        a(href="#") 加入云拿邮件通知列表

            .col-lg-auto
                dl.sub-nav 
                    dt.text22 活动
                    dd 
                        a(href="#") 行业活动
                    dd 
                        a(href="#") 线下培训
                    dd 
                        a(href="#") 系统研讨会
                    dd 
                        a(href="#") 使用者社群
                    dd 
                        a(href="#") 云拿Empower发布会
            .col-lg-auto
                dl.sub-nav 
                    dt.text22 关于云拿
                    dd 
                        a(href="#") 我们的故事
                    dd 
                        a(href="#") 新闻中心
                    dd 
                        a(href="#") 工作在云拿
                    dd 
                        a(href="#") 法务
                    dd 
                        a(href="#") 隐私策略
                    dd 
                        a(href="#") 网站Cookie声明
                    dd 
                        a(href="#") 联系我们
                



        .bot            
            .row.align-items-center
                .col-lg 
                    .copyright Copyright &copy; 2003-2021 CloudPik. All Rights Reserved.
                        a(href="http://beian.miit.gov.cn/")  粤ICP备05096447号    
                 
                .col-lg-auto 
                    label.title 关注我们
                .col-lg-auto  
                    .social                        
                        a(href="#")  
                            i.iconfont.icon-facebook
                        a(href="#")  
                            i.iconfont.icon-twitter
                        a(href="#")  
                            i.iconfont.icon-in
                        a(href="#")  
                            i.iconfont.icon-ins
                        a(href="#")  
                            i.iconfont.icon-youtube
                        
        
            
         

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


