footer#pageFooter.site-footer
    
    .container.bot-nav.pt-media-5.pb-media-3
        .row
            .col-lg
                .item 
                    dl  
                        dt Products
                        dd 
                            a(href="#") Metallized Polypropylene Film Capacitors
                        dd 
                            a(href="#") DC-Link Capacitors
                        dd 
                            a(href="#") Resonance Capacitors
                        dd 
                            a(href="#") PFC Capacitors
                        dd 
                            a(href="#") Super Capacitors
                        dd 
                            a(href="#") Snubber Capacitors
                        dd 
                            a(href="#") AC-filter capacitors
                        
            .col-lg
                .item 
                    dl  
                        dt Application
                        dd 
                            a(href="#") Instruments &amp; Meters
                        dd 
                            a(href="#") Smart Household
                        dd 
                            a(href="#") Inverter
                        dd 
                            a(href="#") Power Elec tronics
                        dd 
                            a(href="#") Medical power supply
                        dd 
                            a(href="#") Power distribution

            .col-lg
                .item 
                    dl  
                        dt Products
                        dd 
                            a(href="#") overvlew
                        dd 
                            a(href="#") certific ates &amp; patents
                        dd 
                            a(href="#") tradeshows &amp; events
                  
                        
            .col-lg-auto
                .item 
                    dl  
                        dt Contact Us
                        dd Bld No C2, Mingzhuoxing Industrial Park, Guangming District, Shenzhen, China.
                        dd 86-755-29948886
                        dd 86-755-81727962
                        dd 86-755-29948916
                        dd sales@ csdcapacitor.com


    .bot
        .container 
            .row 
                .col-lg 
                    .copyright Copyright © 2015 www.csdcapacitor.com All Rights Reserved. <br/>Contact us now: sales@csdcapacitor.com
                .col-lg-auto  
                    .social
                        a(href="#")  
                            i.iconfont.icon-youtube
                        a(href="#")  
                            i.iconfont.icon-facebook
                        a(href="#")  
                            i.iconfont.icon-linked
                        a(href="#")  
                            i.iconfont.icon-google
                        a(href="#")  
                            i.iconfont.icon-twitter
            
            
         

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


