footer#pagefooter.site-footer  
    hr
    .container
        .row.justify-content-md-center
            .col-lg
                .pic
                    img(src="img/logo_bot.png", alt="璞斐")
            .col-lg-auto
                .qr
                    .icon
                        img(src="img/icon-wechat.png", alt="")
                    .show
                        img(src="img/qrcode.png", alt="")
            
            .col-md-auto
                a(href="http://www.beian.miit.gov.cn/") 粤ICP备2020074323号
            .col-md-auto
                .copyright Profi.design &copy; 2020 All Rights Reserved 
        

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top
