footer#pageFooter.site-footer
    .botnav
        .container.pt-media-4.pb-media-3
            .row
                .col-lg
                    ul.mainav  
                        li
                            a(href="index.html") Home
                        li.hasnav
                            a(href="about.html") About us
                            ul.subnav                            
                                li
                                    a(href="about.html") WEGO Group
                                li
                                    a(href="quality.html") Our History
                                li
                                    a(href="honor.html") Global Market
                        
                        li.hasnav
                            a(href="clinical.html") Solutions
                            ul.subnav                           
                                li
                                    a(href="clinical.html") Cardiovascular
                                li
                                    a(href="medical.html") Neurovascular
                                li
                                    a(href="medical.html") Peripheral vascular  
                        
                        li.hasnav
                            a(href="products.html") News &amp; Events
                            ul.subnav
                                
                                li
                                    a(href="products.html") Company News
                                li
                                    a(href="products.html") Marketing Events
                                li
                                    a(href="products.html") 
                        
                        li.hasnav
                            a(href="contact.html") Contact
                            ul.subnav                        
                                li
                                    a(href="contact.html") WEGO Shenzhen
                            

                .col-lg-auto
                    .row.justify-content-center
                        .col-auto
                            .qr
                                .pic
                                .title WEGO Qr code

                        .col-auto
                            .qr
                                .pic
                                .title WEGO Qr code

    .container.contact
        .row.justify-content-between
            .col-lg-6
                div.row.no-gutters
                    .col-auto
                        img(src="img/icon-company.svg", alt="company")  
                    .col 
                        .txt Global Headquater：WEGO HEALTHCARE (SHENZHEN) CO., LTD

                div.row.no-gutters
                    .col-auto
                        img(src="img/icon-marker.svg", alt="address")  
                    .col 
                        .txt Add：Unit 2503, East Technology Mansion, No.16 Keyuan Road, Nanshan District, Shenzhen, China
                       

            .col-lg-6.col-xl-5
                div.row.no-gutters
                    .col-auto
                        img(src="img/icon-email.svg", alt="email")  
                    .col 
                        .txt Email：info@wego-intervention.com

                div.row.no-gutters
                    .col-auto
                        img(src="img/icon-phone.svg", alt="phone")  
                    .col 
                        .txt Tel：+86 755 33892937
                       


             
    .container
        .bot Copyright WEGO group all rights reserved No. 37100302000147 ICP reserved 14005520 -3
            

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


