footer#pagefooter.site-footer  
    .container
        .bottop
            .row.align-items-center
                .col-md
                    .logo_bot
                        img(src="img/logo_bot.png", alt="心通")
                    
                .col-md-auto
                    ul.botnav
                        li
                            a(href="about.html") 关于心通
                        li
                            a(href="solutions.html") 临床解决方案
                        li
                            a(href="care.html") 患者关爱            
                        li
                            a(href="news.html") 传媒中心
                        li
                            a(href="jobs.html") 招贤纳士
                        li
                            a(href="about.html") 投资者关系

        .qrcode
            img(src="img/qrcode.png", alt="二维码")           
           
    
    .bot 
        .container       
            .row                
                .col-md
                    .copyright &copy; Copyright 2019, MicroPort CardioFlow Medtech. All rights reserved.
                        
                .col-md-auto
                    | 网站备案/许可证号： 
                    a(href="//beian.miit.gov.cn/")  粤ICP备09184136号-3

           

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top
