footer#pageFooter.site-footer
    .container  
        .row.align-items-lg-end.mb-media-2
            .col-auto               
                .copyright 版权所有&copy;2021 浙江大学杭州国际科创中心电源管理技术创新联盟
                    .beian
                        a(href="https://beian.miit.gov.cn/")  粤ICP备11003016号-1 
            .col-auto
                ul.links
                    li
                        a(href="index.html") 浙江大学杭州国际科创中心先进半导体研究院                
                    li
                        a(href="application.html") 浙江大学杭州国际科创中心 
                    li
                        a(href="service.html") 浙江大学           
            .col-auto
                ul.menus
                    li
                        a(href="index.html") 招贤纳士                
                    li
                        a(href="application.html") 隐私政策 
                    li
                        a(href="service.html") 联系我们           
                 
            
                    
            

       

a#toTop.toTop(href="#")
    i.iconfont.icon-rocket


