.menu-service 
    .item.qr
        i.iconfont.icon-erweima

    .item.nav
        i.iconfont.icon-menu
        #menus.menus 
            ul 
                li 
                    a(href="#") 
                        i.iconfont.icon-jianli
                        | 微简历
                li 
                    a(href="#")
                        i.iconfont.icon-daorumoban
                        | 导入简历
                li 
                    a(href="member.html") 
                        i.iconfont.icon-user
                        | 个人中心
                //- li 
                //-     a(href="#") 
                //-         i.iconfont.icon-lishishuju
                //-         | 历史操作



#qrcode.overly
    .card
        figure
            .qr
                img(src="img/qrcode.png", alt="二维码")
            figcaption 长按关注礼来招聘

        .btn-close
            i.iconfont.icon-close
        


