footer#pageFooter.site-footer
    
    .container.pt-media-3
        .row.no-gutters
            .col-lg-5
                .contact.item
                    h3.company.text22.wow.fadeInUp 深圳市亚德逊阀门有限公司 
                    ul.wow.fadeInUp
                        li 地址: 广东省深圳市南山区松白路丽河工业园4栋2楼
                        li 邮编: 518055
                        li 电话: +86-755-88837918
                        li 传真: +86-755- 88835968
                        li 邮箱: sales@adesun.com
            .col-lg-4
                .item.bot_nav
                    ul.wow.fadeInUp
                        li
                            a(href="products.html") 自控球阀、蝶阀及控制附件
                        li
                            a(href="products.html") 意大利瓦埃比亚/VALBIA执行器               
                        li
                            a(href="products.html") 意大利沃普莱丝/VALPRES球阀与蝶阀
                        li
                            a(href="downloads.html") 资料下载
                        li
                            a(href="fqa.html") 常见问题
                            
                        
            .col-lg-3
                .item.bot_nav
                    ul.wow.fadeInUp  
                        li
                            a(href="products.html") 产品中心    
                        li
                            a(href="news.html") 新闻咨讯                                                 
                        li
                            a(href="quality_approval.html") 品保体系
                        li
                            a(href="supports.html") 技术支持
                        li
                            a(href="about.html") 关于我们                        
                        li
                            a(href="contact.html") 联系我们
                      
    
    .bot.wow.fadeInUp
        .container 2003-2015 &copy; 深圳市亚德逊阀门有限公司版权所有  Powered by 
            a(href="http://www.eall.com.cn", target="_blank") EallTech
         

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


