
.site-contact.wow.fadeInUp
    .container
        .contact
            .row
                .col-auto
                    img(src="img/logo_siat.png", alt="")
                .col
                    img(src="img/logo_xcadd.png", alt="")

            ul.list
                li.add 深圳市南山区西丽深圳大学城学苑大道1068号
                li.email yuanshg"AT"gpcrm.org 
                li.phone 400-000-2020
            .qrcode
                .pic
                    img(src="img/qrcode.jpg", alt="")
                .txt 扫描关注我们


footer#pagefooter.site-footer
    .container
        .navsoc

            .row.align-items-center
                .col-md
                    ul.botnav
                        li
                            a(href="about.html") About us 
                        li
                            a(href="about.html") Research
                        li
                            a(href="about.html") Team
                        li
                            a(href="about.html") News
                        li
                            a(href="about.html") Join us
                        li
                            a(href="about.html") Contact us
            
                .col-md-auto
                    .social
                        a(href="#") 
                            i.iconfont.icon-google
                        a(href="#") 
                            i.iconfont.icon-sina
                        a(href="#") 
                            i.iconfont.icon-twitter-fill
                        a(href="#") 
                            i.iconfont.icon-ID
            
           
.bot.wow.fadeInUp
    .container
        .row
            .col-md-auto
                .copyright Copyright &copy;  MoLab.
            .col-md
                | 网站链接：www.gpcrm.org
                

           

a#toTop.toTop(href="javascript:void(0);")
    img(src="img/top.png", alt="")
