footer#pageFooter.site-footer
    
    .container.pt-media-5.pb-media-4
        .row.no-gutters
            .col-lg-4
                .contact
                    .logo 
                        img(src="img/logo_bot.png", alt="百多安")
                    .row.social.no-gutters 
                        .col-6
                            .row.no-gutters.align-items-center 
                                .col-auto 
                                    i.iconfont.icon-linkedin 
                                .col LinkedIn 
                        .col-6
                            .row.no-gutters.align-items-center 
                                .col-auto 
                                    i.iconfont.icon-we-chat 
                                .col 微信公众号 
                    a.btn.btn-default-outline(href="contact.html") 联系我们
                        
                            
                        
            .col-lg-8
                ul.bot_nav                  
                    li
                        a(href="products.html") 科技创新
                        ul.sub-menu 
                            li
                                a(href="news.html") 领军人才                                      
                            li
                                a(href="quality_approval.html") 全球合作
                            li
                                a(href="supports.html") 研究成果                           

                    li
                        a(href="news.html") 产品中心
                        ul.sub-menu 
                            li
                                a(href="news.html") 呼吸道护理                                      
                            li
                                a(href="quality_approval.html") 泪道引流系列 
                            li
                                a(href="supports.html") 泌尿系统疾病管理

                    li
                        a(href="quality_approval.html") 临床解决方案
                        ul.sub-menu 
                            li
                                a(href="news.html") 患者服务与支持                                      
                            li
                                a(href="quality_approval.html") 疾病管理 
                            li
                                a(href="supports.html") 患者故事
                            li
                                a(href="supports.html") 名医讲堂

                    li
                        a(href="supports.html") 关于百多安
                        ul.sub-menu 
                            li
                                a(href="news.html") 公司简介                                      
                            li
                                a(href="quality_approval.html") 发展历程 
                            li
                                a(href="supports.html") 奖项荣誉
                    li
                        a(href="about.html") 媒体中心   
                        ul.sub-menu 
                            li
                                a(href="news.html") 新闻资讯                                      
                            li
                                a(href="quality_approval.html") 媒体报道 
                            li
                                a(href="supports.html") 视频中心                     
                 
                    
    
    .bot
        ul.quicklink 
            li 
                a(href="law.html") 法律声明 
            li
                a(href="jobs.html") 招贤纳士 
            li
                a(href="contact.html") 联系我们

        .copyright 2021 &copy; 山东百多安医疗器械股份有限公司版权所有 | ICP备案号：
            a(href="https://beian.miit.gov.cn/")  鲁ICP备18032861号-1  
            
            
         

a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top


