footer#pageFooter.site-footer  
    .container
        .logo 
            img(src="img/SVG/logo_bot.svg", alt="logo")

        .contacts
            .row.justify-content-between 
                .col-auto
                    .row 
                        .col-auto 
                            img.icon(src="img/SVG/icon-phone.svg", alt="phone")
                        .col 
                            dl.txt
                                dt 服务热线
                                dd 123456789012
                .col-auto
                    .row 
                        .col-auto 
                            img.icon(src="img/SVG/icon-comment.svg", alt="phone")
                        .col 
                            dl.txt
                                dt 企业邮箱
                                dd HR—PUSH_hr_push@163.com

                .col-auto
                    .row 
                        .col-auto 
                            img.icon(src="img/SVG/icon-wechat.svg", alt="企业微信")
                        .col 
                            dl.txt
                                dt 企业微信
                                dd dhcdchdddsjfvdkvjd

                .col-auto
                    .row 
                        .col-auto 
                            img.icon(src="img/SVG/icon-marker.svg", alt="企业地址")
                        .col 
                            dl.txt
                                dt 企业地址
                                dd 深圳市南山区前海路泛海城市广场写字楼二栋801

                
        .bot
            .copyright Copyright © 2020 PUSH 版权所有 
                a(href="http://beian.miit.gov.cn/")  粤ICP备18119466号  
            
                
                
  
         

a#toTop.toTop(href="#")
    i.iconfont.icon-top


