footer#pagefooter.site-footer
    .container
        .row.align-items-center
            .col-auto
                .logo.wow.fadeInUp
                    img(src="img/logo_bot.png", alt="")
            .col
                .row.conlist
                    .col-lg-auto.col-xl
                        ul.wow.fadeInUp
                            li 
                                a(href="http://www.beian.miit.gov.cn/") 粤ICP123456789号
                            li 版权所有© 璞森国际艺术教育      
                
                    .col-lg
                        ul.wow.fadeInUp                           
                            li 咨询热线：138 2651 0015
                            li 地址：深圳市南山区·TCL国际E城G5栋                                        
           
            .col-md-auto  
                .qrcode
                    .row
                        .col.col-md
                            .qr.wow.fadeInUp
                                img(src="img/qrcode_wechat.png", alt="")
                                .name 官方微信
                        .col.col-md
                            .qr.wow.fadeInUp
                                img(src="img/qrcode_gzh.png", alt="")
                                .name 公众号
                    

           

a#toTop.toTop(href="javascript:void(0);")
    img(src="img/top.png", alt="")
