footer#pagefooter.site-footer  
    .container-fluid.bottop
        .row.align-items-end
            .col-lg
                .logo_bot.wow.fadeInUp
                    img(src="img/logo_bot.png", alt="心通")
                ul.botnav.wow.fadeInUp
                    li 
                        a(href="home.html") 首页
                    li
                        a(href="about.html") 实验室概况
                    li
                        a(href="core.html") 核心板块
                    li
                        a(href="news.html") 新闻中心
                    li
                        a(href="culture.html") 党群文化       
                    li
                        a(href="job.html") 人才招聘       
                    li
                        a(href="contact.html") 联系我们       
        
            .col-lg-auto
                .row
                    .col    
                        .qr
                            img(src="img/qrcode_01.png", alt="官方公众号")
                            .name 官方公众号
                    .col
                        .qr
                            img(src="img/qrcode_02.png", alt="官方微博")
                            .name 官方微博
    .links   
        .container-fluid
            .row.align-items-center
                .col-md
                    select#selectlinks(name="")
                        option(value="1") 友情链接： 广东省人民政府
                        option(value="2") 友情链接： 人民政府
                        option(value="1") 友情链接： 广东省人民政府
                        option(value="2") 友情链接： 人民政府
                        option(value="1") 友情链接： 广东省人民政府
                        option(value="2") 友情链接： 人民政府
                        option(value="1") 友情链接： 广东省人民政府
                        option(value="2") 友情链接： 人民政府
                        option(value="1") 友情链接： 广东省人民政府
                        option(value="2") 友情链接： 人民政府
                .col-md-auto
                    .link-right
                        a(href="#") 中国科学院物理研究所          
                        a(href="#") 材料计算与数据库平台
    .bot   
        .copyright.wow.fadeInDown Copyright &copy; 松山湖材料实验室 All Rights Reserved.    
            a(href="#") 粤ICP备18107825号 


a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top
