footer#pagefooter.site-footer  
    .container-fluid.pt-media-6
        .bottop.mb-media-4
            .logo_bot.wow.fadeInUp.mb-media-3
                img(src="img/logo.svg", alt="蓝源")
            ul.botnav.wow.fadeInUp
                li 
                    a(href="home.html") 关于我们
                li
                    a(href="about.html") 代理品牌
                li
                    a(href="core.html") 产品中心
                li
                    a(href="news.html") 合作客户
                li
                    a(href="culture.html") 新闻中心               
                li
                    a(href="contact.html") 联系我们       
        
            
    
        .bot
            .row
                .col-lg
                    .copyright.wow.fadeInUp Copyright &copy; COPYRIGHT 2020 深圳蓝源实业发展有限公司GAINHERO 版权所有   
                        a(href="#") 粤ICP备18107825号 
                .col-lg-auto
                    ul.quicklinks.wow.fadeInUp
                        li
                            a(href="#") -关注我们-
                        li 
                            a(href="#") -友情链接-
                        li
                            a(href="#") -网站地图-
                        li 
                            a(href="#") -法律声明-


a#toTop.toTop(href="javascript:void(0);")
    i.iconfont.icon-top
