header#site-header.site-header
    .container
        .row.align-items-center
            .col-auto
                a.logo(href="/")
                    img(src="img/logo.png", alt="")
                    
            .col
                ul.mainav
                    li
                        a(href="singapore_projects.html") 新加坡项目
                    li
                        a(href="news.html") 动态资讯
                    li
                        a(href="about.html") 关于璞森                           
                
            
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three
                 
                  

        div#overmenu.menu-over
            ul.mobilenav
                li.active
                    a(href="index.html") 首页
                li.down 
                    a(href="singapore_projects.html") 新加坡项目 
                        i.iconfont.icon-down
                    ul.subnav
                        li
                            a(href="project3.html") 本科及硕士学历
                        li
                            a(href="project2.html") 大专学历
                        li
                            a(href="project1.html") 深圳本科预科班
                li
                    a(href="high_school_diploma.html") 高中学历                       
                li
                    a(href="news.html") 动态资讯                     
                li
                    a(href="about.html") 关于璞森    

            p.copyright 版权所有©push art 璞森国际艺术教育
    
