header#site-header.site-header    
    .container
        .row.align-items-center   
            .col
                a.logo(href="index.html")                   
                    img#logo(src="img/logo.png", alt="璞斐设计")
                
                    
                
            .col-auto                
                .ql.lang
                    a(href="#") 中
                    | |
                    a(href="#") EN
                        
        .mobilemenu
            .menu-toggle
                .one
                .two
              


    div#overmenu.menu-over
        ul.mobilenav
            li.active
                a(href="index.html") 主页 HOME
            li 
                a(href="cases.html") 璞斐案例 CASE
            li
                a(href="about.html") 关于璞斐 ABOUT
            li
                a(href="clients.html") 璞斐客户 PARTNER                   
            li
                a(href="contact.html") 联系我们 CONTACT      

     
        p.copyright Copyright &copy; 2020 深圳璞斐设计有限公司 All rights reserved.
          
    
