header#site-header.site-header 
    .menus-and-logo.container
        .row.align-items-end   
            .col-auto
                a.logo(href="index.html")                   
                    img#logo(src="img/SVG/logo.svg", alt="logo")
           
            .col
                ul.mainav  
                    li.current
                        a(href="index.html") 产品与服务     
                       

                    li
                        a(href="cases.html") 合作案例        
                    li.parent
                        a(href="news.html") 媒体中心        
                        //- ul.sub-menu                     
                        //-     li 
                        //-         a(href="#") Instruments &amp; Meters
                        //-     li 
                        //-         a(href="#") Smart Household
                        //-     li 
                        //-         a(href="#") Inverter
                        //-     li 
                        //-         a(href="#") Power Elec tronics
                        //-     li 
                        //-         a(href="#") Medical power supply
                        //-     li 
                        //-         a(href="#") Power distribution
                    li  
                        a(href="about.html") 关于我们    
                        //- ul.sub-menu                        
                        //-     li
                        //-         a(href="overview.html") Overview
                        //-     li
                        //-         a(href="certificates.html") Certificates
                        //-     li
                        //-         a(href="tradeshows.html") Tradeshows
         
    
            .col-auto
                a.search(href="#")         
                    i.iconfont.icon-search 
                      
                    

            //- .col-auto
            //-     .lang-switcher
            //-         a.down(href="#") 
            //-             i.iconfont.icon-earth
            //-         ul.languages                         
            //-             li 
            //-                 a.active(href="#") 简体中文
            //-             li 
            //-                 a(href="#")  English
                        

            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three


    div#overmenu.menu-over
        ul.mobilenav
            li
                a(href="solution.html") 解决方案
            li
                a(href="products.html") 产品
            li
                a(href="help.html") 帮助和学习中心                
            li  
                a(href="actives.html") 活动            
            li
                a(href="about.html") 关于云拿
                ul.sub-menu                        
                    li
                        a(href="contact.html") 联系我们
                    
            li
                a(href="blog.html") 博客
                
                
                //- ul.subnav                        
                //-     li
                //-         a(href="contact.html") WEGO Shenzhen   
            

       
          
    
