header#site-header.site-header 
    .menus-and-logo.container
        .row.align-items-center   
            .col-auto
                a.logo(href="index.html")                   
                    img.logo_color(src="img/logo.svg", alt="logo")
                  
            .col
                ul.mainav      
                    li(class={active: currentUrl === 'index.html'})
                        a(href="index.html") 首页
                    li
                        a(href="application.html") 研究成果
                    li
                        a(href="service.html") 新闻动态       
                    li  
                        a(href="news.html") 会员资料           
                    li(class={active: currentUrl === 'team.html'})
                        a(href="team.html") 研究队伍
                    li  
                        a(href="contact.html") 加入我们
    
            //- .col-auto
            //-     a.search(href="#")         
            //-         i.iconfont.icon-search 

            .col-auto
                .lang-switcher
                    a.active(href="#") CN 
                    | |
                    a(href="#") EN

            .col-auto
                .loginReg                    
                    a(href="#") 注册 
                    | / 
                    a(href="#") 登录
                    
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three


    div#overmenu.menu-over
        ul.mobilenav
            li
                a(href="application.html") 解决方案
            li
                a(href="service.html") 客户体验       
            li  
                a(href="news.html") 案例资源           
            li  
                a(href="contact.html") 关于我们
            li  
                a(href="contact.html") 联系我们