header#site-header.site-header
    .container-fluid
        .topcol
            a(href="contact.html") 联系我们
            a(href="#") ENGLISH

        .row.align-items-center
            .col-auto
                a.logo(href="/")                   
                    img(src="img/logo.png", alt="心通")
            .col               
                ul.mainav  
                    li
                        a(href="about.html") 关于心通               
                    li
                        a(href="exponent.html") 产品中心
                    li
                        a(href="courses.html") 临床解决方案     
                    li
                        a(href="patients.html") 患者关爱
                    li
                        a(href="news.html") 传媒中心
                    li
                        a(href="jobs.html") 招贤纳士
                    li
                        a(href="forum.html") 投次者关系
                    
                
            .col-auto.search
                a(href="search.html") 
                    i.iconfont.icon-search
            //- .col-auto.lang
            //-     a(href="#") 
            //-         i.iconfont.icon-zhongyingwen
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three
        

                 
                  

        div#overmenu.menu-over
            ul.mobilenav
                li
                    a(href="about.html") 关于我们
                li
                    a(href="research_overview.html") 科研概况
                li.active
                    a(href="team.html") 人才队伍
                li
                    a(href="platform.html") 科研平台
                li
                    a(href="education.html") 研究生教育
                li
                    a(href="cooperation.html") 合作交流
                li
                    a(href="news.html") 新闻动态      
                li
                    a(href="future.html") 脑未来资源
                li
                    a(href="culture.html") 党建文化     
                li
                    a(href="contact.html") 联系我们

            p.copyright 版权所有©push art 璞森国际艺术教育
    
