header#site-header.site-header
    a.logo(href="index.html")                   
        img#logo(src="img/logo.png", alt="心通")
   
    .row.align-items-center   
        .col               
            ul.mainav  
                li.active
                    a(href="about.html") 公司介绍               
                li
                    a(href="safety.html") 配药安全
                li
                    a(href="product.html") 产品中心     
                li
                    a(href="documents.html") 数据中心
                li
                    a(href="concept.html") 招贤纳士
                li
                    a(href="training.html") 员工专区
                li
                    a(href="contact.html") 客服中心
                
            
        //- .col-auto.search
        //-     a(href="search.html") 
        //-         i.iconfont.icon-search
        //- .col-auto.lang
        //-     a(href="#") 
        //-         i.iconfont.icon-zhongyingwen
        .col-auto.mobilemenu
            .menu-toggle
                .one
                .two
                .three


        div#overmenu.menu-over
            ul.mobilenav
                li.active
                    a(href="about.html") 公司介绍               
                li
                    a(href="safety.html") 配药安全
                li
                    a(href="product.html") 产品中心     
                li
                    a(href="documents.html") 数据中心
                li
                    a(href="concept.html") 招贤纳士
                li
                    a(href="training.html") 员工专区
                li
                    a(href="contact.html") 客服中心
                

          
    
