header#site-header.site-header
    .container
        .row.align-items-center
            .col-auto
                a.logo(href="/")
                    img#logo(src="img/logo.png")
            .col
                ul.mainav
                    li
                        a.active(href="index.html") HOME
                    li
                        a(href="service.html") Service                                     
                    li
                        a(href="material.html") Material                       
                    li
                        a(href="support.html") Resource                     
                    li
                        a(href="about.html") About Us
                       
                            
            .col-auto.booking
                a.btnBook(href="quote.html") 
                    | Request A Quote
            
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three
                 
                  

    div#overmenu.menu-over
        ul.mobilenav
            li
                a.active(href="index.html") HOME
            li
                a(href="service.html") Service                                     
            li
                a(href="material.html") Material                       
            li
                a(href="support.html") Resource                     
            li
                a(href="about.html") About Us
    
