header#site-header.site-header
    .container
        .row.align-items-center
            .col-auto
                a.logo(href="/")
                    
            .col
                ul.mainav
                    li
                        a(href="index.html") Home
                    li
                        a(href="about.html") About
                    li
                        a(href="team.html") Team                           
                    li
                        a(href="research.html") Research                        
                    li
                        a(href="news.html") News
                    li
                        a(href="join.html") Join                     
                    li
                        a(href="contact.html") Contact
                       
                            
            .col-auto.booking
                a.btnBook(href="quote.html") 
                    | 中
            
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three
                 
                  

    div#overmenu.menu-over
        ul.mobilenav
            li
                a.active(href="index.html") HOME
            li
                a(href="service.html") Service                                     
            li
                a(href="material.html") Material                       
            li
                a(href="support.html") Resource                     
            li
                a(href="about.html") About Us
    
