header#site-header.site-header    
    .container-fluid
        .row.align-items-center   
            .col-auto 
                a.logo(href="index.html")                   
                    img#logo(src="img/logo.png", alt="松山湖")
            .col               
                ul.mainav  
                    li
                        a(href="index.html") 首页
                    li.hasnav
                        a(href="about.html") 实验室概况
                        ul.subnav
                            li
                                a(href="about.html") 实验室简介
                            li.hasnav
                                a(href="structure.html") 组织架构
                                ul.lastnav
                                    li
                                        a(href="council.html") 理事会
                                    li
                                        a(href="leadership.html") 实验室领导
                                    li
                                        a(href="academic.html") 学术委员会
                            li.hasnav
                                a(href="team.html") 人才队伍
                                ul.lastnav
                                    li
                                        a(href="academician.html") 院士专家
                                    li
                                        a(href="talent.html") 核心人才
                                    li
                                        a(href="researcher.html") 研究员
                            li
                                a(href="history.html") 大事记
                            li
                                a(href="contact.html") 联系我们
                    li.hasnav
                        a(href="core.html") 核心板块
                        ul.subnav
                            li.active
                                a.active(href="core.html") 前沿基础研究
                            li
                                a(href="platform.html") 公共技术平台和大科学装置                            
                            li
                                a(href="factory.html") 创新样板工厂
                            li.hasnav
                                a(href="science.html") 粤港澳交叉科学中心
                                ul.lastnav
                                    li
                                        a(href="science.html") 中心简介
                                    li
                                        a(href="science_events.html") 学术活动
                                    li
                                        a(href="applications.html") 项目申请
                    li.hasnav
                        a(href="news.html") 新闻中心
                        ul.subnav
                            li.active
                                a.active(href="core.html") 新闻动态
                            li
                                a(href="research.html") 科研进展                             
                            li
                                a(href="notice.html") 通知公告
                            li
                                a(href="special.html") 专题栏目
                            li
                                a(href="videos.html") 视频中心

                    li
                        a(href="culture.html") 党群文化       
                    li
                        a(href="job.html") 人才招聘       
                    li
                        a(href="contact.html") 联系我们       
                    
                
            .col-auto
                .ql.search
                    a(href="search.html") 
                        i.iconfont.icon-search-b
                .ql.emailoa
                    | 登录：
                    a(href="#") 
                        i.iconfont.icon-youxiang
                    a.oa(href="#") 
                        i.iconfont.icon-oa
                .ql.lang
                    a(href="#") 
                        i.iconfont.icon-en
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three


    div#overmenu.menu-over
        ul.mobilenav
            li.active
                a(href="index.html") 首页
            li.hasnav
                i.iconfont.icon-right
                a(href="about.html") 实验室概况                
                ul.subnav
                    li
                        a(href="about.html") 实验室简介
                    li.hasnav
                        i.iconfont.icon-right
                        a(href="structure.html") 组织架构
                        ul.subnav
                            li
                                a(href="council.html") 理事会
                            li
                                a(href="leadership.html") 实验室领导
                            li
                                a(href="academic.html") 学术委员会
                    li.hasnav
                        i.iconfont.icon-right
                        a(href="team.html") 人才队伍
                        ul.subnav
                            li
                                a(href="academician.html") 院士专家
                            li
                                a(href="talent.html") 核心人才
                            li
                                a(href="researcher.html") 研究员
                    li
                        a(href="history.html") 大事记
                    li
                        a(href="contact.html") 联系我们
            li.hasnav
                i.iconfont.icon-right
                a(href="core.html") 核心板块
                ul.subnav
                    li.active
                        a.active(href="core.html") 前沿基础研究
                    li
                        a(href="platform.html") 公共技术平台和大科学装置                            
                    li
                        a(href="factory.html") 创新样板工厂
                    li.hasnav
                        i.iconfont.icon-right
                        a(href="science.html") 粤港澳交叉科学中心
                        ul.subnav
                            li
                                a(href="science.html") 中心简介
                            li
                                a(href="science_events.html") 学术活动
                            li
                                a(href="applications.html") 项目申请
            li.hasnav
                i.iconfont.icon-right
                a(href="news.html") 新闻中心
                ul.subnav
                    li
                        a.active(href="core.html") 新闻动态
                    li
                        a(href="research.html") 科研进展                             
                    li
                        a(href="notice.html") 通知公告
                    li
                        a(href="special.html") 专题栏目
                    li
                        a(href="videos.html") 视频中心

            li
                a(href="culture.html") 党群文化       
            li
                a(href="job.html") 人才招聘       
            li
                a(href="contact.html") 联系我们

        .minemailoa
            | 登录：
            a(href="#") 
                i.iconfont.icon-youxiang
            a.oa(href="#") 
                i.iconfont.icon-oa
            

          
    
