header#site-header.site-header    
    .container-fluid
        .row.align-items-top   
            .col
                a.logo(href="index.html")                   
                    img#logo(src="img/logo.png", alt="ChuangShiDing")
           
          
            .col-auto
                a.lang(href="#") EN
                        
            .col-auto
                a.mobile_nav(href="#") MENUS

            //- .col-auto.mobilemenu
            //-     .menu-toggle
            //-         .one
            //-         .two
            //-         .three


    div#overmenu.menu-over
        ul.mobilenav
            li
                a(href="index.html") Home
            li
                a(href="products.html") Products
            li
                a(href="application.html") Application
            li
                a(href="about.html") Company
            li
                a(href="contact.html") Contact Us
                
                
                //- ul.subnav                        
                //-     li
                //-         a(href="contact.html") WEGO Shenzhen   
            

       
          
    
