header#site-header.site-header 
    .container-fluid
        .row.align-items-center   
            .col-auto             
                a.logo(href="index.html")                             
                    img.logo_color(src="img/logo.svg", alt="logo")
                 
            .col
                .top_col 
                    ul.quick_list 
                        li 
                            a(href="cooperate.html") 战略合作
                        li 
                            a(href="#") 联系我们
                        li 
                            a(href="#") ERP登录
                        li 
                            a(href="#") EN
                        li 
                            a(href="#") 搜索

                ul.mainav  
                    li.parent(class={ current : currentUrl === 'about.html'})
                        a(href="about.html") 关于康哲
                        ul.sub-menu
                            li
                                a(href="about.html") 集团介绍
                            li
                                a(href="team.html") 管理团队
                            li
                                a(href="honor.html") 大事记&amp;集团荣誉  
                            li
                                a(href="responsibility.html") 社会责任

                                
                    li.parent(class={ current : currentUrl === 'research.html'})
                        a(href="research.html") 创新研究      
                        ul.sub-menu
                            li
                                a(href="research.html") 研发模式
                            li
                                a(href="pipeline.html") 创新管线
                   

                    li.parent(class={ current : currentUrl === 'products.html'})
                        a(href="#") 康哲业务
                        ul.sub-menu
                            li
                                a(href="products.html") 在售产品
                            li
                                a(href="business-1.html") 心脑血管及消化业务
                            li
                                a(href="business-2.html") 皮肤医美业务
                            li
                                a(href="business-3.html") 眼科业务

                    li.parent(class={ current : currentUrl === 'news.html'})
                        a(href="news.html") 新闻中心
                        ul.sub-menu
                            li
                                a(href="news.html") 集团新闻
                            li
                                a(href="news2.html") 合作伙伴相关新闻

                    li.parent(class={ current : currentUrl === 'investors.html'})  
                        a(href="investors.html") 投资者关系
                        ul.sub-menu
                            li
                                a(href="stock.html") 股票信息
                            li
                                a(href="investors.html") 关资者关系    
                            li
                                a(href="finance.html") 财务情况    
                            li
                                a(href="news2.html") 信息披露     
                            li
                                a(href="management.html") 集团管治     
                            li
                                a(href="interaction.html") 投资者互动     
       
                  
    
            //- .col-auto
            //-     a.search(href="#")         
            //-         i.iconfont.icon-search 

            //- .col-auto
            //-     .lang-switcher
            //-         .current-lang(href="#") 中文
            //-             i.iconfont.icon-arrow-down
            //-         ul.languages 
            //-             li.lang-active
            //-                 a(href="#") 中文
            //-             li 
            //-                 a(href="#") English                        
                                       
            .col-auto.mobilemenu
                .menu-toggle
                    .one
                    .two
                    .three


    div#overmenu.menu-over
        ul.mobilenav
            li.parent(class={ current : currentUrl === 'about.html'})
                a(href="about.html") 关于康哲
                ul.sub-menu
                    li
                        a(href="about.html") 集团介绍
                    li
                        a(href="team.html") 管理团队
                    li
                        a(href="honor.html") 大事记&amp;集团荣誉  
                    li
                        a(href="responsibility.html") 社会责任

                        
            li
                a(href="index.html") 创新研究                     
            li.parent(class={ current : currentUrl === 'business.html'})
                a(href="#") 康哲业务
                ul.sub-menu
                    li
                        a(href="products.html") 在售产品
                    li
                        a(href="business-1.html") 心脑血管及消化业务
                    li
                        a(href="business-2.html") 皮肤医美业务
                    li
                        a(href="business-3.html") 眼科业务

            li.parent(class={ current : currentUrl === 'news.html'})
                a(href="news.html") 新闻中心
                ul.sub-menu
                    li
                        a(href="news.html") 集团新闻
                    li
                        a(href="news2.html") 合作伙伴相关新闻

            li.parent(class={ current : currentUrl === 'investors.html'})  
                a(href="investors.html") 投资者关系
                ul.sub-menu
                    li
                        a(href="stock.html") 股票信息
                    li
                        a(href="investors.html") 关资者关系    
                    li
                        a(href="finance.html") 财务情况    
                    li
                        a(href="news2.html") 信息披露     
                    li
                        a(href="management.html") 集团管治     
                    li
                        a(href="interaction.html") 投资者互动  

        ul.quick_list 
            li 
                a(href="cooperate.html") 战略合作
            li 
                a(href="#") 联系我们
            li 
                a(href="#") ERP登录
            li 
                a(href="#") EN
            li 
                a(href="#") 搜索