header#site-header.site-header    
    .container
        .row.align-items-center   
            .col
                a.logo(href="index.html")                   
                    img#logo(src="img/logo.png", alt="璞斐设计")
                                        
        .mobilemenu
            .menu-toggle
                .one
                .two
                .three

    div#overmenu.menu-over
        .menu-china-menu-container
            ul.menu
                li.active
                    a(href="index.html") 主页 HOME
                li 
                    a(href="cases.html") 香蕉案例 CASE
                li
                    a(href="about.html") 关于香蕉 ABOUT
                li
                    a(href="clients.html") 香蕉客户 CLIENTS           
                li
                    a(href="news.html") 行业驱动 NEWS
                li
                    a(href="contact.html") 联系我们 CONTACT      

         
          
    
