doctype html
- var bodyClass = ['tzg-body'];
html.no-js(lang='zh-CN')
  head
    meta(charset='utf-8')
    title 
       block title 
       | - 先通招聘
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    link(rel='manifest', href='site.webmanifest')
    link(rel='apple-touch-icon', href='icon.png')
    // Place favicon.ico in the root directory
    meta(name='theme-color', content='#fafafa')
    link(href='fonts/iconfont.css', rel='stylesheet')
    link(href='css/animate.css', rel='stylesheet')
    block bkheader
    link(href='css/styles.min.css', rel='stylesheet')
    
    script(src='js/vendor/wow/dist/wow.min.js')
    script.
        new WOW().init();


  body(class='' + bodyClass)
    include header.pug   

    block content
        
    include footer.pug
    
    script(src='js/vendor/jquery-3.4.1.min.js')
    script(src='js/libs/picker.min.js')
    script(src='js/app.js')

    block bkfooter