@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
@keyframes unSpin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-360deg);
    }
}
@keyframes zoomInOut {
    0%   {
        transform: scale(1);
        opacity: 1;
    }
    50%  {
        transform: scale(0.85);
        opacity: 0.3;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }   
}
@keyframes draw {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes red-ball {
    from {
      offset-distance: 0%;
    }
    to {
      offset-distance: 100%;
    }
}
// @keyframes lin6sjx{
// 	form{ left: calc((100% - 5rem)/2 + 5rem); opacity: 1; }
// 	to{ left: calc((100% - 5rem)/2 + 5rem + (100% - 5rem)/2 + (100% - 5rem)/2); opacity: .4; }
// }

