.btn {
  
    display: inline-block;
    border:1px #fff solid;
    color: #fff; 
    padding: .6rem 2rem;
      @include mq(lg){
        padding: .9rem 4rem;
    }
    &:hover{
        background-color: #fff;
        color: $color-primary;
    }  
    .iconfont {
        font-size: 14px;
    }
    &.btn-default-outline{
        padding: .3rem 1.3rem;
        color:#000;
        border:#000 1px solid;
      
        &:hover{
            background-color: #000;
            color: #fff;
        }
    }
    &.btn-primary{
        background-color: $color-primary;color: #fff;
        &:hover{
            background-color:darken($color-primary,10%);
        }
    }
    &.btn-primary-outline{
        border:$color-primary 1px solid;
        color:$color-primary;
        @include mq(lg){
            border:$color-primary 2px solid;
        }
        &:hover{
            background-color: $color-primary;
            color: #fff;
        }
    }
    &.btn-send{
        background-color: $color-primary;color: #fff;
        padding: .8rem 2rem;
        border-radius: 0;
        &:hover{
            background-color:darken($color-primary,10%);
        }
    }
}

