.btn {
    display: inline-block;
    border: none;
    color: #333;
    padding: .2rem 1.5rem;
    transition: all .3s;
    @include mq(md) {
        padding: .3rem 1.5rem;
    }
    @include mq(lg) {
        padding: .2rem 1.5rem;
        font-size: rem(14);
    }
    @include mq(xl) {
        padding: .35rem 2rem;
        font-size: rem(16);
    }
    @include mq(xxl) {
        padding: .5rem 2rem;   
        font-size: rem(16);
    }
    &:hover {
        background-color: #fff;
        color: $color-primary;
    }
    .iconfont {
        font-size: 14px;
    }
    &.btn-default {
        background-color: #f7f7f7;
        color: #333;
        &:hover {
            background-color: darken($color: #f7f7f7, $amount: 10);
        }
    }
    &.btn-default-outline {
        color: #000;
        border: #000 1px solid;
        &:hover {
            background-color: $color-primary;
            color: #fff;
            border-color: $color-primary;
        }
    }
    &.btn-white-outline {
        color: #fff;
        border: #fff 1px solid;
        &:hover {
            background-color: #000;
            color: #fff;
        }
    }
    &.btn-yellow {
        background-color: $color-secondary;
        color: #fff;
        &:hover {
            background-color: darken($color: $color-secondary, $amount: 10);
            color: #fff;
        }
    }
    &.btn-white {
        background-color: #fff;
        color: #333;
        &:hover {
            background-color: #fff;
            color: $color-primary;
        }
    }
    &.btn-white-outline {
        border-color: #fff;
        color: #fff;
        &:hover {
            background-color: #fff;
            color: $color-primary;
        }
    }
    &.btn-gray {
        background-color: #afafaf;
        color: #fff;
        &:hover {
            background-color: #555;
            color: #fff;
        }
    }
    &.btn-primary {
        color: #fff;
        background: $color-secondary;
        &:hover {
            color: #fff;
            transform: translateY(-2px);
        }
    }
    &.btn-primary-outline {
        border: $color-secondary 1px solid;
        color: $color-secondary;
        @include mq(lg) {
            border: $color-secondary 1px solid;
        }
        &:hover {
            background-color: $color-secondary;
            color: #fff;
        }
    }
    &.btn-send {
        background-color: $color-primary;
        color: #fff;
        padding: .8rem 2rem;
        border-radius: 0;
        &:hover {
            background-color: darken($color-primary, 10%);
        }
    }
    &.btn-block{
        display: block;
        width: 100%;
    }
}

.btn-radius {
    border-radius: 26px;   
}


.form-group{  
    margin-bottom: 1rem;
    position: relative;
    padding-left: 5rem;
    .form-label{      
        margin-bottom: .3rem;
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        z-index: 10;      
        line-height: 30px;  
    }
    .form-control{
        width: 100%;  
        outline: none;
        height: 30px;
        border-radius: 15px;
        background: #f2f2f2;
        border: none;
        padding-left: .6rem;
        padding-right: .6rem;
    }
}
