.page-about{
   
    .intro{
        margin-bottom: 5rem;
        strong{
            font-size: rem(24);
        }
    }
    .box{
        background-repeat: no-repeat;
        height: 300px;
        margin-bottom: 30px;
    
        .txt{
            width: 760px;
            height: 100%;
          
            position: relative;
            .txtwrap{
                @include vertical-align();
                padding: 0 11rem 2rem 4rem; 
                color: #fff;
                h3{
                    font-size: rem(36);
                    font-weight: bolder;
                    text-transform: uppercase;
                }
            }

            &::after{
                position: absolute;
                top: 70px;
                right:-0.5rem;
                content: " ";
                display: block;
                width: 90px;
                height: 6px;
                background-color: #fff;
                margin-top: 1rem;
            }
        }

        &.mission{
            background-position: right center;
            .txt{
                background: url(../img/bg_07.png) no-repeat right center;
            }
        }
        &.vision{
            background-position: left center;
            .txt{
                background: url(../img/bg_08.png) no-repeat left center;
                margin: 0 0 0 auto;
                text-align: right;

                .txtwrap{
                   text-align: right; 
                   padding: 0 4rem 2rem 11rem; 
                }

                &::after{
                  
                    left:-0.5rem;
                    right: auto;
                   
                }
            }
        }
    }
}
