.page-about{
   
    .intro{
        margin-bottom: 3rem;
        @include mq(lg){
            margin-bottom: 5rem;
           }
        strong{
            font-size: rem(24);
        }
    }
    .box{
        background-repeat: no-repeat;
        height: 300px;
        margin-bottom: 30px;
    
        .txt{
         
            height: 100%;
            @include mq(md){
                width: 460px;
               }
           @include mq(lg){
            width: 760px;
           }
            position: relative;
            .txtwrap{
                @include vertical-align();
                padding: 0 6rem 2rem 1rem; 
                @include mq(lg){
                    padding: 0 11rem 2rem 4rem; 
                   }
                color: #fff;
                h3{
                    font-size: rem(24);
                    font-weight: bolder;
                    text-transform: uppercase;
                    @include mq(lg){
                        font-size: rem(36);
                    }
                }
            }

            &::after{
                position: absolute;
                top: 70px;
                right:-0.5rem;
                content: " ";
                display: block;
                width: 90px;
                height: 6px;
                background-color: #fff;
                margin-top: 1rem;
            }
        }

        &.mission{
            background-position: right  -220px  center;
            @include mq(md){
                background-position: right -180px center;
            }
            @include mq(lg){
                background-position: right center;
            }
            background-size: cover;
            .txt{
                background: url(../img/bg_07.png) no-repeat right center;
            }
        }
        &.vision{
            background-position: left  -220px  center;
            @include mq(md){
                background-position: left -180px center;
            }
            @include mq(lg){
                background-position: left center;
            }
            @include mq(xl){
                background-position: left center;
            }
            .txt{
                background: url(../img/bg_08.png) no-repeat left center;
                margin: 0 0 0 auto;
                text-align: right;

                .txtwrap{
                   text-align: right; 
                   padding: 0 1rem 2rem 6rem; 
                   @include mq(lg){
                    padding: 0 4rem 2rem 11rem; 
                   }
                }

                &::after{
                  
                    left:-0.5rem;
                    right: auto;
                   
                }
            }
        }
    }
}
