.page-application{
    .s2{
        .goto{
            padding: 2rem 0 3rem;
            border-bottom: 1px #ddd solid;
            margin-bottom: 1rem;
            @include mq(md){
                padding: 2rem 0 4rem;
            }
            @include mq(lg){
                padding: 2rem 0 5rem;
            }
        }
        .btn{
            font-size: rem(18);
            padding: .3rem 2rem;
            @include mq(md){
                padding: .6rem 4rem;  font-size: rem(24);
            }
        }

        .phone{
            font-size: rem(24);
            color:$color-primary;
            background: url(../img/tel.png) no-repeat left center;
            padding-left:2.5rem;
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
                background: url(../img/tel@2x.png) no-repeat left center;
                background-size: auto 30px;
            }
        }
    }
}

.page-faq{
    .faqlist{
        .box{
            border-bottom: 1px #ddd solid; margin-bottom: 2rem;
            .title{
                font-size: rem(18);
                @include mq(md){
                    font-size: rem(24);
                }
                @include mq(lg){
                    font-size: rem(28);
                }
               
            }
            .answer{
                padding-left: 2.5rem;
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
        }
    }
}