.page-blog{
    padding-top: 0;
    overflow: hidden;
    @include mq(md){
        padding-top: 1rem;
    }
    .banner-blog{
        margin-bottom: rem(28);
        img{
            display: block;
        }
    }
    .s1{
        .years{
           
            border-width: 1px;
            border-color:#000;
            border-style: solid;            
            width: 110px;
            height: 40px;
           text-align: center;
           line-height: 38px;
           color: #000;
           margin-bottom: rem(20);
          
        }
        .blog-list{
            border-top: 1px #e2e2e2 solid;
            padding-top: rem(20);
   
            .item{
                padding: rem(10) 0;
                margin-bottom: 1.5rem;
          
                @include mq(md) {
                    margin-bottom: rem(30);    padding: rem(20) 0;
                }
                @include mq(lg) {
                    margin-bottom: rem(40);
                }
                .pic{
                    overflow: hidden;
                    display: block;
                    margin-bottom: 1rem;
                    @include mq(md) {
                        margin-bottom: 0;
                    }
                    img{
                        display: block;
                        width: 100%;
                        transition: all .2s;
                    }
                }
                .txt{
              
                    display: block;
                    
                    
                }
                .title{
                    font-size: rem(18);
                    font-weight: normal;
                    text-transform: uppercase;
                    text-align: left;
                    color: #1a1a1a;
                    line-height: 1.2;
                    @include mq(md) {
                        font-size: rem(24);
                    }
                    @include mq(lg) {
                        font-size: rem(28); 
                    }
                }
                .des{
                    color: #999;
                    display: none;
                    line-height: 1.5;
                    margin-bottom: 1.8rem;
                    padding-right: 2rem;
                    @include mq(lg) {
                        display: block;
                    }
                }
                time{
                    color: #999;
                   
                }
                .note{
                    .category{
                        color: $color-primary;
                        margin-left: 1.5rem;
                    }
                }
                .more{
                    display: inline-block;
                    padding-right: 3.5rem;
                    background: url(../img/arrow-right.png) no-repeat right center;
                    text-transform: uppercase;
                    color: $color-primary;
                    font-weight: bolder;
                    display: none;
                }
                &:hover{
                    background-color: #fafafa;
                    .des{
                        color: #999;
                    }
                    .note{
                        display: none;
                    }
                    .more{
                        display: inline-block;
                    }
                    .pic{                   
                        img{
                            transform: scale(1.05);
                        }
                    }
                }
            }
        }
    }

    
   
}

.page-blog-detail{
    padding-top: 1rem;
    .title-blog{
        margin-bottom: 2rem;
        h1{
            font-size: rem(48);
            text-align: left;
            line-height: 1.3;
            text-transform: uppercase;
        }
    }
    .main{
        margin-bottom: 5rem;
    }
    
}
