.page-branch {
    .s1 {
        position: relative;
        .bg{
            display: block;
            margin: 0 0 0 auto;
            width: 100%;
            @include mq(md){
                height: calc(100vh - 60px);
                object-fit: cover;
                object-position: center center;
            }
            @include mq(lg){
                height: auto;
                width: 83.854%;
                object-fit:initial;                
            }
        }
        .sheng{
            position:absolute;
            left: 0;
            top:0;
            width: 100%;
            @include mq(md){
                width: 50%;
            }
            @include mq(lg){
                width: auto;
                height: 100%;
            }
            img{
                width: 100%;
               filter: drop-shadow(5px 5px 20px rgba(0,0,0,.2));
               @include mq(lg){
                    width: auto;
                    height: 100%;
                }
            }
            .txt{
                position: absolute;
                left: 0;               
                color: #fff;
                top:27%;
                transform: translateY(-50%);
                padding-left: 15%;
                @include mq(lg){
                    bottom: auto;
                    padding-left: 40%;
                    top:50%;
                    transform: translateY(-50%);
                }
                p{
                    font-size: rem(12);
                    margin: 0;
                }
            }
        }
        .main-txt{
            position: absolute;
            left: 0;
            right: 0;
            bottom: 0;
            z-index: 100;
            width: 100%;           
            color: #fff;
            padding: 1.5rem;
            @include mq(lg){
                width: auto;
                left: 34%;
                right: 10%;
                bottom: auto;
                top: 50%;
                padding: 0;
                transform: translateY(-50%);
            }
            .title{
                border-bottom: 1px #fff solid;
                text-align: right;
                margin-bottom: 1rem;
                padding-bottom: .5rem;
            }
            .des{
                
                margin: 0 0 0 auto;
                text-align: justify;
                @include mq(lg){
                    max-width: 625px;
                }
            }
        }
        &.s2{
            .bg{
                margin: 0 auto 0 0;
            }
            .sheng{
                left: auto;
                right: 0;
                .txt{
                    left: auto;
                    right: 0;
                    padding-right: 15%;
                    // @include mq(lg){
                        
                    //     padding-right: 40%;
                     
                    // }
                    p{
                        font-size: rem(12);
                        margin: 0;
                    }
                }
            }

            .main-txt{
               
             
                @include mq(lg){
                    left: 10%;
                    right: 34%;
                }
            
              
                .title{                 
                    text-align: left;             
                }
                .des{
              
                    margin: 0 auto 0 0;
               
                }
            }
        }
        


    }
}

.page-global {
    .s1 {
        // .swiper-prev,
        // .swiper-next {
        //     display: inline-block;
        //     width: 60px;
        //     height: 60px;
        //     text-align: center;
        //     line-height: 58px;
        //     border: 1px #ddd solid;
        //     .iconfont {
        //         font-size: rem(20);
        //     }
        //     &:hover {
        //         background-color: $color-secondary;
        //         border-color: $color-secondary;
        //     }
        // }
        .item {
            text-align: center;
            img {
                margin-bottom: 2rem;
                width: 100%;
            }
            .des {
                position: relative;
                font-size: rem(14);
                @include mq(md) {
                    font-size: rem(16);
                }
                @include mq(md) {
                    font-size: rem(18);
                }
                @include mq(lg) {
                    font-size: rem(20);
                }
                @include mq(xl) {
                    font-size: rem(22);
                }
                @include mq(xxl) {
                    font-size: rem(24);
                }
                .num {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    .count {
                        color: #ccc;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.page-cooperation {
    p {
        color: #999;
        text-align: justify;
        @include mq(xl) {
            font-size: 1rem;
            line-height: 2;
        }
    }
}

.page-projects {
    .s1 {
        .type {
            @include reset-list();
            text-align: right;
            li {
                padding-left: 1.5rem;
                position: relative;
                margin-left: 2rem;
                display: inline-block;
                &::before {
                    content: " ";
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background-color: rgba(219, 221, 0, .2);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::before {
                        background-color: rgba(63, 79, 151, 0.2);
                    }
                }
            }
        }
        .item {
            background-color: #fff;
            height: 240px;
            margin-bottom: rem(30);
            &:hover {
                box-shadow: 0 0 30px rgba(0, 0, 0, .08);
            }
            h3.title {
                background-color: rgba(219, 221, 0, .2);
                padding: 1rem;
                text-align: center;
                font-weight: normal;
                @include mq(xl) {
                    font-size: rem(16);
                    padding: 1.5rem;
                }
                @include mq(xxl) {
                    font-size: rem(18);
                }
                &.title2 {
                    background-color: rgba(63, 79, 151, 0.2);
                }
            }
            .txt {
                padding: 1rem 3rem;
                text-align: center;
                @include mq(xxl) {
                    padding: 1.5rem 3rem;
                }
                .des {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}