.page-cases {
    .title-section{
        h2{
            color: $color-primary;
            padding: 1rem;
            text-align: center;
            background-image: url('../img/SVG/title_bg.svg');
            background-position: center center;
            background-size: auto 50px;
            background-repeat: no-repeat;
            @include mq(lg){
                text-align: left;
                background-position: left center;
            }
        }
        @include mq(lg){
            display: none;
        }
    }
    .swiper {
        width: 100%;
        position: relative;     
        padding-bottom:5rem; 
        @include mq(md){
            padding-bottom: 6rem;            
        }
        @include mq(lg){
            padding-bottom: 4rem;  
            padding-top: 4rem; 
        }
        @include mq(xl){
            padding-bottom: 5rem;  
            padding-top: 5rem; 
        }
        @include mq(xxl){
            padding-bottom: 6rem;  
            padding-top: 6rem; 
        }
        @include mq(xxxl){
            padding-bottom: 7rem;  
            padding-top: 7rem; 
        }
    
      }

    .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 100%;
    // height: 535px;
    @include mq(md){
        width: 500px;
    }
    @include mq(lg){
        width: 500px;
    }
    @include mq(xl){
        width: 600px;
    }
    @include mq(xxl){
        width: 700px;
    }
    @include mq(xxxl){
        width: 800px;
    }
    .item{
        position: relative;
        margin: 0;
        figcaption{
            position: absolute;
            left: 0;
            bottom: 0;
            padding: 1rem 2rem;
            text-align: center;           
            background : rgba(0, 0, 0, .6); 
            width: 100%;
            color: #fff;
        }
    }
    }

    .swiper-slide img {
        display: block;
        width: 100%;
    }
    .swiper-prev,.swiper-next{
        position: absolute;
        left: 20%;
        top: 50%;
        max-width: 72px;
        transform: translateY(-50%);
        z-index: 3000;
        display: none;
        @include mq(lg){
            display: block;
        }
        @include mq(xl){
            left: 20%;
        }
        @include mq(xxxl){
            left: 21.5%;
        }
        img{
            width: 100%;
        }
    }
    .swiper-next{
        left: auto;
        right: 20%;
        @include mq(xxl){
            right: 20%;
        }
        @include mq(xxxl){
            right: 21.5%;
        }
    }
    
     

}
.swiper-pagination-bullet{
    width: 30px;
    height: 30px;
    border:8px solid #fff;
    background-color: $color-primary;
    opacity: .1;
}
.swiper-pagination-bullet-active{
    border:8px solid lighten($color-primary, 55%);
    opacity: 1;
}
