ul.categories{
          
    @include reset-list();
    padding-top: 1rem;
    padding-bottom: 1rem;
    text-align: center;
    @include mq(md){
        text-align: left;
    }
    li{
        display: inline-block;
   
        @include mq(md){
            border-left: 1px #eee solid;
        }
        &:first-child{
            border-left: none;
        }
        a{
            color: #999;
            display: block;
            padding: 0 .6rem;
            font-size: rem(12);
            @include mq(md){
                padding: 0 1.5rem;
                font-size: rem(14);
            }
            @include mq(lg){
            
                font-size: rem(16);
            }
            @include mq(xl){
                font-size: rem(18);
            }
            @include mq(xxl){
              font-size: rem(20);
            }
              &.active{
                  font-weight: bold;
                  color:#333;
              }
          
          &:hover{
              color: #333;
          }
        }
    }
}
.page-cases {    
  
 
    .s2 {     

        .case-list{
            .item{            
                display: block;
                position: relative;
                .pic{
                    
                    img{
                        width: 100%;
                        display: block;
                    }
                }
                .overly{
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 10;
                    background-color: rgba(0,50,43,.85);
                    height: 100%;
                    width: 100%;
                    padding: 2rem 3rem;
                    transition: all .25s;
                    opacity: 0;
                    h3{
                        color: #fff;
                        text-align: center;
                        @include vertical-align(); 
                        font-weight: lighter;
                        @include mq(xxl){
                            font-size: rem(18);
                        }
                    }                 
                }

                &:hover{
                    .overly{
                        opacity: 1;
                    }
                }               
            }
        }      
    }
    .s3{
        text-align: center;
        .btn{
            font-family: "ElliotSans";
        }
    }
}
.page-case-detail{
    .s1{
        background: url(../img/bg.jpg);
        color:#fff;
        border:10px solid #f82750;
        padding: 1rem 1rem;
        margin-bottom: rem(15);
       
        @include mq(lg){            
            border:15px solid #f82750;   padding: 1rem 2rem;
            margin-bottom: rem(25);
        }
        @include mq(lg){
            padding: 2rem 4rem;
            border:20px solid #f82750;
        }
        @include mq(xl){
            padding: 3rem 6rem;
            border:25px solid #f82750;
        }
        @include mq(xxl){
            padding: 4rem 8rem;
            border:35px solid #f82750;
        }
        .title-case{
            font-size: rem(16);
            font-weight: normal;
            text-align: right;
        }
        p{
            text-align: justify;
        }
        .note{
            @include reset-list();
            font-size: rem(14);
        }
    }
    .s2{
        .pic{
            margin-bottom: rem(15);
            @include mq(lg){
                margin-bottom: rem(25);
            }
        }
        
    }
    .s3{
        overflow: hidden;
        a{
            display: block;
            height: 60px;
            color: $color-primary;
            line-height: 60px;
            transition: all .2s;
            @include mq(lg){
                line-height: 160px;
                height: 160px;
            }
            &:hover{
                background-color: $color-primary;
                color:#fff;
            }
            .title{
                opacity: 0;
                transition: all .2;
                display: none;
                @include mq(lg){
                    display: block;
                }
            }
        }
        .btn-close{
            width: 60px;
            text-align: center;
            @include mq(lg){
                width: 160px;
            }
            .iconfont{
                font-size: 1.2rem;
                @include mq(lg){
                    font-size: 2.5rem;
                }
            }
            
        }
        .allow{
            padding: 0 2rem;
            .iconfont{
                font-size: 1.5rem;
                @include mq(lg){
                    font-size: 5rem;
                }
            }
            &:hover{
                .iconfont{
                   color:$color-secondary;
                }
                .title{
                    opacity: 1;
                }
            }
        }
        .prev{
          
            @include mq(xxl){
                padding-left: 14rem;
            }
        }
        .next{
            text-align: right;
         
            @include mq(xxl){
                padding-right: 14rem;
            }
        }
    }
}