
@include font-face(FRUTIBLAITA, '../fonts/Roboto-BlackItalic', null, null, ttf);

body {
    color: #1a1a1a;
    background-color: #fff;
    font-family:  "Microsoft YaHei",PingFangSC-Regular,"Helvetica","Helvetica Neue", "Arial", sans-serif;     
    font-size: rem(14);
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 45px;
    line-height: 2;
    @include mq(md){
        padding-top: 60px;
    }
    @include mq(lg){
        padding-top: 70px;font-size: rem(12);
    }
    @include mq(xl){
        padding-top: 80px;font-size: rem(14);
     
    }

    &.home-body{
        padding-top: 0;
    }
}

a {
    text-decoration: none;
    color: #333;
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }
}
.container{
    @include mq(xxl) {
        max-width: 1210px;
    }
}
.page {
    padding-bottom: 2rem;
    padding-top: 2rem;
    @include mq(md) {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    @include mq(lg) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    @include mq(xl) {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}
.section{
    margin-bottom: 2rem;
    @include mq(md) {
        margin-bottom:4rem;
    }
    @include mq(lg) {
        margin-bottom: 5rem;
    }
    @include mq(xl) {
        margin-bottom: 6rem;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
.title-section {  
    margin-bottom: 1.5rem;
  
    position: relative;
    @include mq(md) {
        margin-bottom: 2rem;
        
    }
    @include mq(lg) {
        margin-bottom: 2.5rem; 
    }
    @include mq(xl) {
        margin-bottom: 3rem; 
    }
    h2 {    
      
        font-size: rem(20);
        text-transform: uppercase;            
        color: #000;
        @include mq(md) {
            font-size: rem(24);
        }
        @include mq(lg) {
            font-size: rem(28);
        }
        @include mq(xl) {
            font-size: rem(32);
        }
        @include mq(xl) {
            font-size: rem(36);           
        }

    }
    h3 {    
      
        font-size: rem(20);
        text-transform: uppercase;  
        @include mq(md) {
            font-size: rem(22);
        }
        @include mq(lg) {
            font-size: rem(24);
        }
        @include mq(xl) {
            font-size: rem(28);
        }
        @include mq(xl) {
            font-size: rem(30);           
        }

    }
    .note{
        text-align: center;
        color: $color-accent;
    }    
}
.title-section-v2{
    h3{
        font-size: rem(24);
        font-weight: normal;
    }
}

.banner {
    height: 200px;   
    background-color: $color-primary;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    @include mq(md) {
        height: 256px;       
    }
    @include mq(lg) {
        height: 300px;      
    }
    @include mq(xl) {
        height:350px;      
    }
    @include mq(xxl) {
        height: 400px;    
    }
}
.title-page{
    font-weight: normal;
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(28);
    }
    @include mq(lg) {
        font-size: rem(30);
    }
    @include mq(xl) {
        font-size: rem(32);    
    }
    @include mq(xxl) {
        font-size: rem(34);
    }
    
}

.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}

img {
    max-width: 100%;
}
.breadcrumb{
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}


