
@include font-face(FRUTIBLAITA, '../fonts/Roboto-BlackItalic', null, null, ttf);

body {
    color: #666;
    background-color: #fff;
    font-family:  PingFangSC-Regular,"Microsoft YaHei","Helvetica","Helvetica Neue", "Arial", sans-serif;     
    font-size: rem(14);
    max-width: 1920px;
    margin: 0 auto;
    padding-top: 45px;
    line-height: 2;
    @include mq(md){
        padding-top: 60px;font-size: 1rem;
    }
    @include mq(lg){
        padding-top: 70px;font-size: rem(12);
    }
    @include mq(xl){
        padding-top: 80px;font-size: rem(14);
     
    }
    @include mq(xxl){
        padding-top: 102px;font-size: 1rem;
     
    }
    &.home-body{
        padding-top: 0;
    }
}

a {
    text-decoration: none;
    color: #666;
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }
}
.container{
    @include mq(xxl) {
        max-width: 1210px;
    }
}
.page {
    padding-bottom: 2rem;
    padding-top: 2rem;
    @include mq(md) {
        padding-bottom: 3rem;
        padding-top: 3rem;
    }
    @include mq(lg) {
        padding-bottom: 4rem;
        padding-top: 4rem;
    }
    @include mq(xl) {
        padding-bottom: 5rem;
        padding-top: 5rem;
    }
}
.section{
    margin-bottom: 2rem;
    @include mq(md) {
        margin-bottom:4rem;
    }
    @include mq(lg) {
        margin-bottom: 5rem;
    }
    @include mq(xl) {
        margin-bottom: 6rem;
    }
    &:last-child{
        margin-bottom: 0;
    }
}
.title-section {  
    margin-bottom: 1.5rem;
  
    position: relative;
    @include mq(md) {
        margin-bottom: 2rem;
        
    }
    @include mq(lg) {
        margin-bottom: 2.5rem; 
    }
    @include mq(xl) {
        margin-bottom: 3rem; 
    }
    h2 {    
      
        font-size: rem(20);
        text-transform: uppercase;            
        color: $color-accent;
        @include mq(md) {
            font-size: rem(24);
        }
        @include mq(lg) {
            font-size: rem(28);
        }
        @include mq(xl) {
            font-size: rem(32);
        }
        @include mq(xl) {
            font-size: rem(36);           
        }

    }
    h3 {    
      
        font-size: rem(20);
        text-transform: uppercase;            
        color: $color-accent;
        @include mq(md) {
            font-size: rem(22);
        }
        @include mq(lg) {
            font-size: rem(24);
        }
        @include mq(xl) {
            font-size: rem(28);
        }
        @include mq(xl) {
            font-size: rem(30);           
        }

    }
    .note{
        text-align: center;
        color: $color-accent;
    }
    
}
.title-section-v1{
    margin-bottom: 1rem;
    padding-top: 1rem;
    position: relative;
    @include mq(md) {
        margin-bottom: 1.5rem;
        padding-top: 1.8rem;
    }
    @include mq(lg) {
        margin-bottom: 2rem; padding-top: 2.5rem;
    }
    &::before{
        content: " ";
        position: absolute;
        left: 0;
        top: 0;
        height: 2px;
        width: 40px;
        z-index: 10;
        background-color: #000;
    }
    h2 {    
        color: #000;
        font-size: rem(26);     
        font-weight: bold;      
        text-transform: uppercase; 
        @include mq(md) {
            font-size: rem(28);
        }
        @include mq(lg) {
            font-size: rem(30);
        }
        @include mq(xl) {
            font-size: rem(32);
        }
    }

}
.title-section-v2{
    margin-bottom: 2rem;
    text-align: left;
    @include mq(md) {
        margin-bottom: 2rem;
    }
    @include mq(lg) {
        margin-bottom: 3rem;
    }
    @include mq(xl) {
        margin-bottom: 4rem;
    }
    h2{
        font-size: rem(30);
        font-weight: normal;     
        margin-bottom: 0;
        line-height: 1.3;
        text-transform: uppercase;
        font-weight: bold;
        @include mq(md) {
            font-size: rem(36);
        }
        @include mq(lg) {
            font-size: rem(42);
        }
        @include mq(xl) {
            font-size: rem(48);
        }
    }
    p{
        font-size: rem(14);
    }
}
.title-section-v3 {
  
        margin-bottom: 2rem;
  
    @include mq(lg){
        margin-bottom: 3rem;
    }
    @include mq(xl){
        margin-bottom: 4rem;
    }
    @include mq(xxl){
        margin-bottom: 5rem;
    }
    h1{
        font-size: rem(24);
        font-weight: bolder;
        @include mq(md){
            font-size: rem(32);
        }
        @include mq(lg){
            font-size: rem(48);
        }
        @include mq(xl){
            font-size: rem(54);
        }
        @include mq(xxl){
            font-size: rem(60);
        }
    }
}
.title-section-v4 {
    margin-bottom: 0;
    padding-top: 2rem;
    background: url(../img/bg_04.png) no-repeat left top;
    @include mq(md){
        margin-bottom: 2rem;
    }
    @include mq(lg){
        margin-bottom: 2rem;
    }
    @include mq(xl){
        margin-bottom: 2rem;
    }
    @include mq(xxl){
        margin-bottom: 2rem;
    }
    h2{
        font-size: rem(20);
        font-weight: bolder;
        text-transform: uppercase;
        @include mq(md){
            font-size: rem(24);
        }
        @include mq(lg){
            font-size: rem(28);
        }
        @include mq(xl){
            font-size: rem(32);
        }
        @include mq(xxl){
            font-size: rem(36);
        }
    }
}

.banner {
    height: 200px;   
    background-color: $color-primary;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    text-align: center;
    @include mq(md) {
        height: 256px;       
    }
    @include mq(lg) {
        height: 266px;      
    }
    @include mq(xl) {
        height:276px;      
    }
    @include mq(xxl) {
        height: 286px;    
    }

    .container{
        @include vertical-align(); 
        text-align: center; color: #fff;         
        @include mq(lg){
            text-align: right;    
        }
        h1.title-page{
       
            font-size: rem(28);            
            text-transform: uppercase;          
            font-weight: lighter;
            margin-bottom: 2rem;
            @include mq(lg){
                font-size: 3rem;     
            }
        }
        .submenus{
            a{
                display: inline-block;
                margin: 0 1rem;
                color: #fff;
                font-weight: lighter;
                @include mq(md){
                    margin: 0 1.5rem;
                }
                @include mq(lg){
                    margin-left:3.3rem;
                }
                @include mq(xxl){
                    font-size: rem(18);
                }
                &.active{
                    font-weight: bold;
                    border-bottom: 2px #fff solid;
                }
            }
        }
    }
    
    

    
}

.text-center {
    text-align: center;
}
.text-right{
    text-align: right;
}

img {
    max-width: 100%;
}
.breadcrumb{
    padding-top: 1rem;
    padding-bottom: 1rem;
  
}


