

h1,h2,h3,h4{    
    color: $color-text-heading;
    font-weight: bold;
}

.container{
    @include mq(xxxl){
        max-width: 1550px;
    }
}


body {
    color: $color-text;
    background-color: #F3F3F3;
    // font-family:  "PingFang SC", "Microsoft YaHei", "Helvetica", "Helvetica Neue", "Arial", sans-serif;
    font-family:  "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans",  Helvetica, Tahoma,"Source Sans", "PingFang SC", "Hiragino Sans GB", "Heiti SC", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 1rem;
    margin: 0 auto;
    line-height: 1.8;
    position: relative;
    @include mq(md) {
        font-size: 1rem;   
    }
    @include mq(lg) {
        font-size: rem(14);    
    }
    @include mq(xl) {
        font-size: 1rem;    
    }
 
}

a {
    text-decoration: none;
    color: #333;
    &:hover {
        text-decoration: none;
        color: $color-primary;
    }
}


.title-section {   
    padding-bottom: 1rem;
    position: relative;
    margin-bottom: 2rem;
    color:$color-text-heading;
    h2 {     
        text-transform: uppercase;  
        font-weight: normal;
        
    }
    h3{
        font-weight: normal;
    }
    
}


.banner {
    position: relative;
    &.banner-video{
        video{
            width: 100%;
            display: block;
            object-fit: cover;
        }
        a.play{
            display: block;
            position: absolute;
            left: 50%;
            top:50%;
            transform: translate(-50%,-50%);
            z-index: 100;
        }
    }

 
}



.site-path  {
    background-color: #F2F3F5;
    padding: .8rem 0;
    color: #B8B8B8;
    ol.breadcrumb{
        @include reset-list();
        li{
            display: inline-block;
            &::after{
                content: " / ";
            }
            &.current{
                color: #333;
                &::after{
                    content: "";
                }
            }
        }
    }
    a{
        color: #B8B8B8;
    }
}


.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

img {
    max-width: 100%;
}

.line-1 {
    border: none;
    border-top: 1px #ddd solid;
}

.text100 {
    font-size: rem(30);
    @include mq(md) {
        font-size: rem(55);
    }
    @include mq(lg) {
        font-size: rem(70);
    }
    @include mq(xl) {
        font-size: rem(85);
    }
    @include mq(xxl) {
        font-size: rem(100);
    }
}

.text80 {
    font-size: rem(40);
    @include mq(md) {
        font-size: rem(50);
    }
    @include mq(lg) {
        font-size: rem(60);
    }
    @include mq(xl) {
        font-size: rem(70);
    }
    @include mq(xxl) {
        font-size: rem(80);
    }
}

.text66 {
    font-size: rem(36);
    @include mq(sm) {
        font-size: rem(42);
    }
    @include mq(md) {
        font-size: rem(48);
    }
    @include mq(lg) {
        font-size: rem(54);
    }
    @include mq(xl) {
        font-size: rem(60);
    }
    @include mq(xxl) {
        font-size: rem(66);
    }
}

.text60 {
    font-size: rem(20);
    @include mq(md) {
        font-size: rem(30);
    }
    @include mq(lg) {
        font-size: rem(40);
    }
    @include mq(xl) {
        font-size: rem(50);
    }
    @include mq(xxl) {
        font-size: rem(60);
    }
}

.text56 {
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(32);
    }
    @include mq(lg) {
        font-size: rem(40);
    }
    @include mq(xl) {
        font-size: rem(48);
    }
    @include mq(xxl) {
        font-size: rem(56);
    }
}
.text50 {
    font-size: rem(22);
    @include mq(sm) {
        font-size: rem(26);
    }
    @include mq(md) {
        font-size: rem(30);
    }
    @include mq(lg) {
        font-size: rem(34);
    }
    @include mq(xl) {
        font-size: rem(38);
    }
    @include mq(xxl) {
        font-size: rem(44);
    }
    @include mq(xxxl) {
        font-size: rem(50);
    }

}
.text40 {
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(22);
    }
    @include mq(lg) {
        font-size: rem(28);
    }
    @include mq(xl) {
        font-size: rem(34);
    }
    @include mq(xxl) {
        font-size: rem(40);
    }
}

.text38 {
    font-size: rem(22);
    @include mq(md) {
        font-size: rem(26);
    }
    @include mq(lg) {
        font-size: rem(30);
    }
    @include mq(xl) {
        font-size: rem(34);
    }
    @include mq(xxl) {
        font-size: rem(38);
    }
}

.text36 {
   
    font-size: rem(24);
  
    @include mq(lg) {
        font-size: rem(28);
    }
    @include mq(xl) {
        font-size: rem(32);
    }
    @include mq(xxl) {
        font-size: rem(36);
    }
}

.text34 {
    font-size: rem(24);
    @include mq(md) {
        font-size: rem(28);
    }
    @include mq(lg) {
        font-size: rem(30);
    }
    @include mq(xl) {
        font-size: rem(32);
    }
    @include mq(xxl) {
        font-size: rem(34);
    }
}

.text32 {
    font-size: rem(16);
    @include mq(md) {
        font-size: rem(20);
    }
    @include mq(lg) {
        font-size: rem(24);
    }
    @include mq(xl) {
        font-size: rem(28);
    }
    @include mq(xxl) {
        font-size: rem(32);
    }
}

.text30 {
    
    @include mq(md) {
        font-size: rem(18);
    }
    @include mq(lg) {
        font-size: rem(22);
    }
    @include mq(xl) {
        font-size: rem(26);
    }
    @include mq(xxl) {
        font-size: rem(30);
    }
}

.text28 {
    font-size: rem(20);
    @include mq(md) {
        font-size: rem(22);
    }
    @include mq(lg) {
        font-size: rem(24);
    }
    @include mq(xl) {
        font-size: rem(26);
    }
    @include mq(xxl) {
        font-size: rem(28);
    }
}

.text26 {
    font-size: rem(18);
    @include mq(md) {
        font-size: rem(20);
    }
    @include mq(lg) {
        font-size: rem(22);
    }
    @include mq(xl) {
        font-size: rem(24);
    }
    @include mq(xxl) {
        font-size: rem(26);
    }
}

.text24 {
   
    font-size: rem(18);
  
    @include mq(xl) {
        font-size: rem(22);
    }
    @include mq(xxl) {
        font-size: rem(24);
    }
}

.text22 {
    @include mq(lg) {
        font-size: rem(18);
    }
    @include mq(xl) {
        font-size: rem(20);
    }
    @include mq(xxl) {
        font-size: rem(22);
    }
}

.text20 {
    font-size: rem(20);
}

.wheel-scroll{
    @include reset-list;
}

.alert{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    padding: 1rem;
    
    text-align: center;
    animation: fadeOut 1s linear forwards 1;
    animation-delay: 2s;
    z-index: 600;
    &.alert-success{
        background-color: rgba(236, 255, 241,.8);
        color: rgb(0, 130, 9);
    }
}

.overly{
    .box{
        position: relative;
        margin: 0 1rem;
        background-color: #fff;
        height: 80vh;
        @include vertical-align();
        padding: 1.5rem;
        border-radius: 6px;
        .btn-close{
            position:absolute;
            right: 1rem;
            top: 1rem;
            z-index: 100;

        }
        .logo{
            text-align: center;
            margin-bottom: 1.5rem;
        }
        p{
            text-align: justify;
        }
        .info{
            overflow-y: auto;
            height: calc(100% - 60px);
            box-sizing: border-box;
        }
    }
}

.job-list{
    .card{
        margin-bottom: 1rem;
        background-color: #fff;
        border-radius: 8px;
        padding: 1rem;
        display: block;
        .card-header{
            font-size: rem(18);
            font-weight: bold;
            margin-bottom: .5rem;
            h3.title{
                font-size: rem(20);
            }
            .money{
                color: $color-primary;
            }
        }
        .card-body{
            dl{
                dd{
                    background-color: #F3F3F3;
                    border-radius: 3px;
                    padding: .2rem .6rem;
                    display: inline-block;
                    font-size: rem(14);
                }
            }
        }
    }
}