.page-contact {
    .container{
       
        @include mq(xl){
            max-width: 1010px;
        }
    }
    .s1{
        .tab{
            .tab-header{
                border-bottom: #eee 1px solid;
                margin-bottom: 2rem;
                overflow-x: auto;
                overflow-y: hidden;
                ul{
                    @include reset-list();
                    white-space: nowrap;
                    li{
                        display: inline-block;
                        position: relative;
                        margin-right: 2rem;
                        padding: .6rem 0;
                        cursor: pointer;
                        &.active{
                            color: $color-primary;
                            &::after{
                                content: " ";
                                display: block;
                                position: absolute;
                                left: 0;
                                bottom: -2px;
                                height: 3px;
                                width: 50px;
                                background-color: $color-primary;
                                z-index: 100;
                            }
                        }
                    }
                }
            }
        }
        .tab-body{
            .content{
                display: none;
                &.active{
                    display: block;
                }
            }
            .d1{
                margin-bottom: 3rem;
                dt{
                    color: $color-primary;
                    margin-bottom: 1rem;
                }
                dd{
                    position: relative;
                    padding-left: 2rem;
                    i{
                        position: absolute;
                        left: 0;
                        top: 0;
                        z-index: 10;
                    }
                }
            }
            .map-gaode{
                height: 340px;
            }
        }
    }
    


   
}