.banner-courses{
    .container{
        @include vertical-align();
        color: #fff;
        .txt{
            padding-bottom: 4rem;
        }
    }
}

.page-courses{
    .s1{
        .item{
            margin-bottom: 2rem;
        }
        .title{
            font-size: rem(30);
        }
        .note{
            color: #eca432;
        }
    }

}
.page-course-detail{
    background-position: center top;
    background-repeat: no-repeat;    
    background-color: #f6f6f6;
    .s1{
        margin-bottom: 3rem;
        .title-section{
            margin-bottom: 0;
            h2{
                color: #fff;
            }
        }
        .type{
      
                background-color: rgba(245, 217, 107,.2);            
                border-radius: 20px;
                width: 104px;
                height: 40px;
                margin: 0 auto;
                line-height: 40px;
                text-align: center;
                color: rgba(255, 255, 255,.6);
              
        }
    }
    .s2{
        background-color: #fff;
        margin-bottom: rem(20);
        .leftcol{
            padding: 2.5rem;
            .price{
                color: #ff4545;
                font-size: rem(24);
                strong{
                    font-size: rem(36);
                }
            }
            .status{
              
                    border-width: 1px;
                    border-color:#ddd;
                    border-style: solid;
                    border-radius: 19px;
                    width: 118px;
                    height: 38px;
                text-align: center;
                color: #999;
                  line-height: 36px;
                  
            }
        }
        .rate{
            padding: 2.5rem;
            .title{
                background-color: $color-primary;
                border-radius: 16px 16px 0 16px;
                text-align: center;
                    width: 85px;
                    height: 35px;
                font-size: 1rem;                   
            }
            .list{
                margin: 0;
                padding: 0;
                list-style: none;
            }
        }
        .qr{
            padding: 2.5rem;
            background-color: #ededed;
            text-align: center;
            p{
                padding-top: 1rem;
                margin-bottom: 0;
                line-height: 1;
            }
        }
    }
    .s3{
        background-color: #fff;
        padding-top: 1.3rem;
        margin-bottom: rem(20);
        .tab-header{
            border-bottom: 1px #f5f5f5 solid;
            text-align: center;
            font-size: rem(24);
            font-weight: lighter;
            .active{
                font-weight: normal;
                border-bottom: 5px $color-primary solid;
            }
            a{
                display: inline-block;
                padding-bottom: 1rem;
                margin: 0 1rem;
            }
        }
        .box{
            padding: 2rem 5rem;
            font-size: 1rem;
            .box-title{ 
               text-align: center;
               margin-bottom: 2rem;
                span{
                    font-size: 1rem;
                    color: $color-primary;
                }
                h3{
                    font-size: rem(30);
                    display: inline-block;
                    margin: 0 1.2rem;
                    font-weight: normal;
                }
            }
            .item{
                background-color: #fafafa;
                padding: 2rem 17rem;
                margin-bottom: 3rem;
                .row{
                    margin-bottom: rem(20);
                    &:last-child{
                        margin-bottom: 0;
                    }
                }
                .t1{
                    background-color: #f2ce3f;
                    color: #000;
                    height: 40px;
                    line-height: 40px;
                    padding: 0 2rem;
                }
                .c1{
                    height: 40px;
                    line-height: 40px;
                    padding: 0 2rem;
                    background-color: #ebebeb;
                    margin-left: -20px;
                }
            }
            .item1{
                background-color: #fafafa;
                padding: 2rem;
                margin-bottom: rem(30);
                .t2{
                    font-size: 3rem;
                    line-height: 1;
                }
                .c2{
                    font-size: 1rem;
                }
            }
        }
        
    }
    .s4{
        background-color: #fff;
        padding: 2rem 5rem 3rem;
        margin-bottom: rem(20);
        .item{
            font-size: 1rem;
            .pic{
                display: block;
                margin-bottom: .8rem;
            }
            h4{
                font-size: rem(18);
                margin: 0 0 .5rem;
            }
            p{
                color: #999; font-size: rem(14);
                margin: 0;
            }
            .price{
                font-size: rem(18);
                color: #ff4545;
                font-weight: bold;
            }
        }

        .course-list{
            list-style: none;
            margin: 0;
            padding: 0;
            li{
                padding: 1.3rem 2rem;
                background-color: #fafafa;
                margin-bottom: 1rem;
                font-size: 1rem;
                font-weight: normal;
                span{
                    font-weight: lighter;
                    margin-right: 1rem;
                }
            }
        }
    }
}