.page-downloads{
    text-align: center;
    padding-top: 0;
    @include mq(md){
        padding-top: 1rem;
    }
    .item{
        margin-bottom: 40px;
    }
    p{
        padding:1rem 1rem;
        margin: 0;
        white-space: nowrap;
        overflow: hidden;
        @include mq(md){
            padding:1.5rem 1rem;
        }
    }
    .btn-primary-outline{
        border-color: #666;
        color:#666;
        &:hover{
            border-color: $color-primary;
            color: #fff;
        }
    }
}