
.expnav{
    position: fixed;
    left: 2rem;
    top: 150px;
    z-index: 1000;
    ul{
        @include reset-list();
        border-left: 1px #eee solid;
        padding-top: 3rem;
        padding-bottom: 3rem;
        li{
            margin-bottom: 1rem;
            a{
                padding-left: 2rem;
                position: relative;
                display: block;
                color: #999;
                &::before{
                    content: " ";
                    display: block;
                    width: 11px;
                    height: 11px;
                    border-radius: 50%;
                    left: -0.4rem;
                    top: .5rem;
                    background-color: #ddd;
                    position: absolute;
                }
                &.active{
                    color: #000;
                    &::before{
                        background-color: $color-primary;
                        border:3px $color-primary double;
                    }
                    &::after{
                        content: " ";
                        display: block;
                        width: 17px;
                        height: 17px;
                        border-radius: 50%;
                        left: -0.65em;
                        top: .3rem;
                        border:1px $color-primary double;
                        position: absolute;
                    }
                }
            }
        }
    }
}
.page-exponent {
    .s1{
        margin-bottom: 0;
    }
    #vix,#smile,#fluctuate,#positions{
        padding-top: 1rem;
        @include mq(md){
            padding-top: 2rem;
        }
        @include mq(lg){
            padding-top: 3rem;
        }
        @include mq(xl){
            padding-top: 4rem;
        }
        @include mq(xxl){
            padding-top: 5rem;
        }
        
    }
    .vix,.smile,.fluctuate,.positions,.skew{
        background-color: #fff;
        box-shadow: 0 0 25px rgba(102, 82, 82, 0.05);
        padding: 2rem 1rem;
    }
    .title-section-v2{
        h3{

            font-weight: bold;
        }
    }
    
}
