.page-faq{
    padding-top: 0;
    @include mq(md){
        padding-top: 1rem;
    }
    .faqlist{
        margin-bottom: 5rem;
        .box{
            border-bottom: 1px #e2e2e2 solid;
            padding: 1.5rem 0;
            margin-bottom: .5rem;
            .title{
                font-size: rem(18);
                color: #333;
                text-transform: uppercase;
                margin-bottom: .8rem;
                position: relative;
                display: block;
                padding-right: 45px;
                text-align: left;
                padding-left: 25px;
                @include mq(md){
                    font-size: rem(24);  padding-right: 100px;  padding-left: 35px;
                }
                @include mq(lg){
                    font-size: rem(28);
                }
                span{
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 10;
                }
                .icon{
                    position: absolute;
                    z-index: 20;
                    right: 0;
                    top:0;
                    width: 28px;
                    height: 28px;
                    background: url(../img/icon-plus.png) no-repeat center center;
                    @include mq(md){
                        top:.6rem;
                    }
                    &.open{
                        background: url(../img/icon-minus.png) no-repeat center center;
                    }
                }
            }
            .answer{
                padding-left: rem(25);
                display: none;
                padding-left: 25px;
                @include mq(md){
                    padding-left: 2rem;
                }
            }

            &.first-child{
                .answer{                 
                    display: block;
                }
            }

        }
    }
}