.site-footer {
    background-color: #333435;
    color:#ACADAD;
    .bot-nav{
        display: none;
        @include mq(lg){
            display: block;
        }
    }
    
    .social {
        a{
            display: inline-block;
            margin-left: .6rem;
        }

        .iconfont {
            font-size: rem(26);
          
     
        }
    }

    .item {
       dl{
           max-width: 200px;
           dt{
               color:$color-secondary;            
                font-size: 16px;   
                margin-bottom: rem(15);    
                font-weight: normal;    
           }
           dd{
               line-height: 1.6;
               a{
                color:#ACADAD;
                &:hover{
                    color:#fff;
                }
               }
           }
       }
        
    }
    .bot {
        padding: 1rem 0;      
        background-color: #000;
        color: #fff;
  
        a {
            color: #fff;
            &:hover {
                color: $color-secondary;
                border-bottom: 1px $color-secondary solid;
            }
        }
    }
}

.toTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    opacity: .5;
    z-index: 2000;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #eee;
    line-height: 50px;
    border-radius: 5px;
    color: #000;
    @include mq(md) {
        right: 2rem;
        bottom: 2rem;
    }
    .iconfont {
        font-size: rem(24);
    }
    &:hover {
        opacity: 1;
    }
}