.site-footer {    
    background-image:  url(../img/foot.jpg);
    background-position: center bottom;
    background-size: cover;
    color:#ACADAD;
    .intro{
        padding-bottom: 3rem;
        padding-right: 2rem;
        .logo{
            max-width: 211px;
        }
        .name{
            padding-top: 1rem;
            padding-bottom: 1.5rem;
            font-size: rem(18);     
            @include mq(xl){
                font-size: rem(20); 
            }  
            @include mq(xxl){
                font-size: rem(22);           
            }  
        }
    }
    
    .contact_right{
        padding-left: 2rem;
        .qr{
            text-align: center;
            font-size: rem(14);
            img{
                margin-bottom: .5rem;
            }
        }
        h2, h3{
            color:#fff;
        }
        .t1{
            font-size: rem(16);
            @include mq(xxl){
                font-size: rem(18);           
            } 
        }
        .num{
            font-size: rem(20);
            @include mq(xl){
                font-size: rem(22); 
            }  
            @include mq(xxl){
                font-size: rem(24);           
            } 
        }
        .contact{
            @include reset-list();
            margin-bottom: 1rem;
        }
        .sejiao {
            img{
                max-width: 20px;
            }
        }
    }
    

    .links {
        padding-top: 1.5rem;
        padding-bottom: 1.5rem;
        border-top: 1px solid;
        a{
            display: inline-block;            
            padding: 0 1rem;
            border-right: 1px solid;
            @include mq(xxl){
                font-size: rem(14);           
            }  
        }
    }
    .bot {
        padding: 1rem 0;  
        font-size: rem(12);
        @include mq(md){
            padding: 1.5rem 0;  
            font-size: rem(14);            
        }  
        @include mq(xl){
            padding: 1.5rem 0;              
        }  
        @include mq(xxl){
            padding: 2rem 0;  
        }  
       
    }
}

.toTop {
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    display: block;
    opacity: .5;
    z-index: 2000;
    display: none;
    width: 50px;
    height: 50px;
    text-align: center;
    background-color: #eee;
    line-height: 50px;
    border-radius: 5px;
    color: #000;
    @include mq(md) {
        right: 2rem;
        bottom: 2rem;
    }
    .iconfont {
        font-size: rem(24);
    }
    &:hover {
        opacity: 1;
    }
}