
.page-forum{
    position: relative;
    @include mq(xl){
        padding-top: 4rem; 
    }
    .publish {
        border-radius: 5px;
        background-color: rgb(242, 206, 63);
        position: absolute;
        right: 15px;
        top: -22px;      
        z-index: 85;
        text-align: center;
     
        line-height: 45px;
        width: 120px;
        height: 45px;
      
        @include mq(lg){
            font-size: rem(18);
            line-height: 50px;
            width: 150px;
            height: 50px;
            top: -25px;      
        }
        @include mq(xl){
            line-height: 56px;
            width: 160px;
            height: 56px;
            top: -28px;      
        }
        @include mq(xxl){
            line-height: 60px;
            width: 180px;
            height: 60px;
            top: -30px;      
        }
        &:hover{
            background-color: #333;
        }
      }
      
   .item{
       margin-bottom: 5rem;
       &:nth-child(2n+1){
           background-color: #fafafa;
       }
       .txt{
           padding: 1rem 1rem 0;
           time{
               font-weight: bold;
           }
       }
       .title{
           font-size: rem(24);
       }
       .des{
           color: #999;

       }
       .userinfo{
            border-bottom: 1px #eee solid;
            margin-bottom: 1rem;
            padding-bottom: 1rem;
        }
        .note{
            color: #333;
            font-size: rem(16);
            .view{
                font-weight: bold;
                display: inline-block;
                color: #999;
                margin-left: 1rem;
                .iconfont{
                    font-weight: normal;
                    color: #333;
                    margin-right: .5rem;
                }
            }
            
        }
    
   }
 
    
}

.page-post{
    background-color: #f6f6f6;
    .s1{
        background-color: #fff;
        margin-bottom: rem(30);
        .userinfo{
            padding:3rem 2rem;
            width: 160px;
            text-align: center;
        }
        .post{
            padding: 1rem;
            border-left: 1px #eee solid;
            text-align: justify;
            @include mq(md){
                padding: 1rem 2rem;
            }
            @include mq(lg){
                padding: 1.5rem 3rem;
            }
            @include mq(xl){
                padding: 2rem 4rem;
                font-size: 1rem;
            }
            @include mq(xxl){
                padding: 2rem 5rem;
            }
            .title-post{
                font-size: rem(24);    
                @include mq(md){
                    font-size: rem(26);    
                }
                @include mq(lg){
                    font-size: rem(28); 
                }
                @include mq(xl){
                    font-size: rem(30);   
                }
                @include mq(xxl){
                    font-size: rem(32); 
                }
            }
            .note{            
                font-size: rem(16);
                margin-bottom: 3rem;
                .view{
                    font-weight: bold;
                    display: inline-block;
                    color: #ccc;
                    margin-left: 1rem;
                    .iconfont{
                        font-weight: normal;             
                        margin-right: .5rem;
                    }
                }
                
            }
        }
    }

    .s2{
        background-color: #fff;
        padding: 1rem;
        @include mq(md){
            padding: 1rem rem(20);
        }
        @include mq(lg){
            padding: 1rem rem(20);
        }
        @include mq(xl){
            padding: 1.5rem rem(30);
        }
        @include mq(xxl){
            padding: 2rem rem(40);
        }
        .title-section-v2{
            border-bottom: 1px #eee solid;
            margin-bottom: 1rem;
        }
        .editor{
            border:1px #ddd solid;
            background-color: #fafafa;
            margin-bottom: 2rem;
            .comment{
                background-color: #fafafa;
                width: 100%;
                padding: .6rem;
                border:none;
                outline: none;
                display: block;
            }
            .action{
                padding: .6rem 1.5rem;
                background-color: #f0f0f0;
                .name{
                    font-size: 1rem;
                }
            }
            .avatar{
                width: 30px;
                height: 30px;
                border-radius: 50%;
            }

        }

        .commentlist{
            .item{
                border-bottom: 1px #eee solid;
                    padding: 2rem 0;
                    .av{
                        text-align: center;
                        padding-left: 1rem;
                    }
                .nametime{
                    font-size: 1rem;
                    .name{
                        color: $color-secondary;
                    }
                    time{
                        color: #999;
                    }
                }
                .comment{
                    margin-bottom: .2rem;
                    @include mq(lg){
                        font-size: rem(14);
                    }
                    @include mq(xl){
                        font-size: rem(16);
                    }
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                   
                }
                .action {
                    .icon{
                        display: inline-block;
                        margin-right: 1rem;
                        color: #999;
                        .iconfont{
                            margin-right: .4rem;
                            color: #333;
                        }
                    }
                }

                .item{
                    border-bottom: none;
                    .av{
                        width: 32px;
                        padding: 0;
                    }
                }
            }
        }
    }

}