.page-future{
    background-color: #f6f6f6;
    .videolist{
        .item{
            background-color: #fff;
            display: block;
            margin-bottom: rem(30);
           
            .pic{
                position: relative;
                .thumb{
                    opacity: 1;
                    transition: all .2s;
                }
                .btnplay{
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    margin-left: -33px;
                    margin-top: -33px;
                    z-index: 1000;
                }
            }
            &:hover{
                box-shadow: 0 0 20px rgba(0,0,0,.1);
                .pic{
                    .thumb{
                        opacity: .5;
                    }
                }
            }
            .title{
                padding: 1rem;
                h3{
                    line-height: 1.6;
                    color: #333;
                    @include mq(lg){
                        font-size: rem(14);
                    }
                    @include mq(xl){
                        font-size: 1rem;
                    }
                    @include mq(xxl){
                      
                        font-size: rem(18);
                    }
                }
                time{
                    color: $color-accent;
                }
            }
        }
    }
}

.page-science{
    .articlelist{
        .box{
            padding-top: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px #eee solid;
            @include mq(md){
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            a{
                display: block;
            }
            .thumb{
                width: 100%;
                margin-bottom: 1rem;
                @include mq(md){
                    margin-bottom:0;
                }
            }
            .title{
                text-align: center;
                display: block;
                @include mq(md){
                 
                    padding-left: 1rem;  text-align: left;
                }
                @include mq(lg){
                  
                    
                    padding-left: 2rem;
                }
                h3{
                    color: #333;
                    font-size: rem(18);
                    @include mq(md){
                        font-size: rem(20);
                    }
                    @include mq(lg){
                        font-size: rem(22);
                    }
                    @include mq(xl){
                        font-size: rem(24);
                    }
                    @include mq(xxl){
                        font-size: rem(30);
                    }
                }
            }
        }
    }
}

.page-science-detail{
    .author{
        text-align: center;
    }
    .article{
        margin-bottom: 3rem;
    }
    .s2{
        margin-bottom: 2rem;
        padding: 0 2rem;
        height: auto;
        background-color: #015ea5;
        position: relative;       
        background-image: linear-gradient( -144deg, rgb(37,119,212) 0%, rgb(63,150,248) 50%, rgb(37,119,212) 100%);    
   
          
        .pic{
            padding: 3rem;
            img{
                border-radius: 50%;
                width: 190px;
                height: 190px;
            }
        }
    .txt{
        color: #fff;
        max-width: none;  
        padding-right: 3rem;
        padding-top: 2rem;
        padding-bottom: 3rem;
        .title{
            font-size: rem(20);
            @include mq(md){
                font-size: rem(24);
            }
            @include mq(lg){
                font-size: rem(28);
            }
            @include mq(xl){
                font-size: rem(32);
            }
            @include mq(xxl){
                font-size: rem(36);
            }
        }
        .research{
            border-top: 1px #77b3f7 solid;
            text-align: justify;
            padding-top: 1rem;
        }
    }
    .bg{
        position: absolute;
        bottom: 1rem;
        right: 2rem;
        z-index: 1000;
    }
}

}