.page-gallery{
    .gallery{
        .item{
            background-color: #f6f6f6;
            display: block;
            margin-bottom: 30px;
            .pic{
                position: relative;
                img{
                    display: block;
                }
                .over{
                    background-color: rgba(0,0,0,.5);
                    background-image: url(../img/zoomin.png);
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    height: 100%;
                    width: 100%;
                    opacity: 0;
                    transition: all .2s;
                }
            }
            .des{
                height: 80px;
                padding: 1rem;
                text-align: center;
                font-size: 12px;
            }

            &:hover{
                background-color: $color-primary;
                color: #fff;
                .pic{
                    .over{
                        opacity: 1;
                    }
                }
            }
        }
    }
}