.site-header {      
    position: absolute;
    left: 0;
    top: 0;
    z-index: 8000;
    width: 100%;
    height: 45px;
    transition: all .2s;   
    background-color: #fff;
    box-shadow: 0 0 24px rgba(0,0,0,.1);
    @include mq(md){
        height:60px;
    }
    @include mq(lg){
        height: 80px;   
    }
    @include mq(xl){
        height: 100px;   
        padding-left: 4rem;
        padding-right: 4rem;  
    }
    @include mq(xxl){
        height: 120px;       
    }
    &.scroll-header{
        position: fixed;
        margin-top: -120px;
    }
    .container{
        position: relative;
    }
    .container,
    .row
    {
        height: 100%;
    }
  

    .logo {
        display: block;
        width:100px;    
        @include mq(md) {
            width: 120px;     
        }
        @include mq(lg) {
            width: 130px;

        }
        @include mq(xl) {
            width: 140px;
       
        }
        @include mq(xxl) {
            width: 158px;
        }
        
    }
    
    
    .lang{
        margin-right: 2.5rem;
        @include mq(md) {
            margin-right: 3rem;
        }
        @include mq(lg) {
            margin-right: 3.5rem;
        }
        @include mq(xl) {
            margin-right: 4rem;
        }
        a{     
            display: inline-block;    
            margin: 0 .5rem;
        }
          
    }
   

    .mobilemenu {
        position: absolute;
        right: 0;
        top:50%;
        transform: translateY(-50%);
        z-index: 20000;
        
        .menu-toggle {
            width: 57px;
            cursor: pointer;
            transition-duration: 0.3s;
            &.on {
                transform: rotate(90deg);
                .one {
                    
                    background-color: $color-secondary;
                }

                .two {
                 
                    background-color: $color-secondary;
                }

             
            }
        }

    }

    .one,
    .two {
        width: 30px;
        height: 5px;
        background-color: $color-primary;
        margin: 6px auto;
        backface-visibility: hidden;     
        transition-duration: 0.3s;
        @include mq(md) {
            width: 36px;
            height: 6px;  
            margin: 7px auto;
        }
        @include mq(lg) {
            width: 40px;
            height: 6px; 
        }
        @include mq(xl) {
            width: 50px;
            height: 8px; 
            margin: 8px auto;
       
        }
        @include mq(xxl) {
            width: 57px;
            height: 10px; 
            margin: 10px auto;
        }
    }


    .menu-over {
        position: fixed;
        right:  -300px;
        top: 0;
        width: 300px;
        height: 100vh;      
        background-color: $color-primary ;            
        z-index: 1000;
        padding-left: rem(30);
        padding-right: rem(30);
        color:#fff;
        transition: all .6s;

        @include mq(md) {
            right:  -400px;
            width: 400px;
            padding-left: rem(60);
            padding-right: rem(60);
         
        }

        @include mq(lg) {
            right:  -450px;
            width: 450px;
            padding-left: rem(90);
            padding-right: rem(90);
            
        }

        @include mq(xl) {
            right:  -600px;
            width: 600px;
           padding-left: rem(120);
           padding-right: rem(120);
           
        }
        @include mq(xxl) {
            padding-left: rem(150);
            padding-right: rem(150);
            right:  -700px;
            width: 700px;
           
         }
         &.showMenu{
             right: 0;
         }

        ul.mobilenav {
            @include reset-list();
            @include vertical-align(); 
            z-index: 200;
            &>li {
                position: relative;
                transition: all .2s;            
            
                
                &>a {
                    display: inline-block;
                    color: #fff;
                    position: relative;
                    font-weight: lighter;
                    padding: 1rem 1rem;
                    @include mq(lg){
                        font-size: rem(16);
                    }         
                    @include mq(xl){
                        font-size: rem(18);
                    }
                    @include mq(xxl){
                        font-size: rem(20);
                    }

                    @include hover {
                        color: $color-secondary;
                    }
                    &::after{
                        content: " ";
                        display: inline-block;
                        width: 10px;
                        height: 10px;
                        border-radius: 50%;
                        background-color: $color-secondary;
                        transition: all .6s;
                        position: absolute;
                        right: -20px;
                        top: 1.4rem;
                        z-index: 70;
                        opacity: 0;
                        @include mq(md){
                            top: 1.6rem;
                        }
                        @include mq(lg){
                            top: 1.6rem;
                        }
                        @include mq(xl){
                            top: 1.7rem;
                        }
                        @include mq(xxl){
                            top: 1.8rem;
                        }
                    }  
                    &.clickme{
                        &::after{
                            transform: scale(400);
                            opacity: 1;
                        }
                    }       
                    
                }
                &.active {
                    a{
                        color: $color-secondary;  
                        &::after{
                            opacity: 1;
                        }                
                    }  
                             
                }
               
                

               
            }
            .hasnav {
                position: relative;                   
                i.iconfont{
                    display: block;
                    position: absolute;
                    right: 1rem;
                    top:.9rem;
                    z-index: 10;
                    color:#999;
                    transition: all .2s ease-out;
                }
            }

            .open {
                &>i.iconfont{
                    transform: rotate(90deg);
                }
            }

            
        }
        .copyright{
            position: absolute;
            bottom: 0;
            left: 0;
            width:100%;
            text-align: center;
            z-index: 0;
            font-weight: lighter;
            font-size: rem(12);
            padding: 0 1rem;
            @include mq(lg){
                font-size: rem(14);  bottom: 2rem;
            }   
        }
        
       
    }

    &.fixheader{
        background-color: #fff;   
        position: fixed;
        margin-top: 0;
      
        .one,
        .two,
        .three {
        
            background-color: $color-primary;
        
        }
    }
}

.home-body{
    .site-header{
   
        background-color: transparent;
        box-shadow: none; 
   
      
        &.fixheader{
            background-color: #fff;
            box-shadow: 0 0 25px rgba(0,0,0,.15);
            
    
            
            .lang{
                a{
                    .iconfont{
                        color: $color-accent;
                    }
                }        
            }
            .one,
            .two,
            .three {
              
                background-color: #333;
               
            }
    
         }
    
    }
}  