.site-header {
    background-color: #f2f2f2;
    box-shadow: 0 0 25px rgba(0,0,0,.15);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 8000;
    width: 100%;
    height: 45px;
    @include mq(md) {
        height: 60px;        
    }
    @include mq(lg) {
        height: 70px;        
    }
    @include mq(xl) {
        height: 80px;       
    }
    @include mq(xxl) {
        height: 98px;       
    }
    .container,
    .row {
        height: 100%;
    }
    .container{
        position: relative;
    }


    .logo {
       display: block;
        width: 60px;  
        @include mq(md) {
            width: 75px;
        }
        @include mq(lg) {
            width: 90px;
        }
        @include mq(xl) {
            width: auto;
            
        }
        img {
            display: block;    
            
        }
    }

    .mainav {
        @include reset-list();
        display: none;
        padding-left: 1rem;
        height: 100%;
        text-align: right;
        @include mq(lg) {
            display: block;
        }

        @include mq(xl) {
            padding-left: 0; padding-left: 2rem;
        }

        &>li {
            display: inline-block;
            padding: 0 .6rem;
            position: relative;
            @include mq(lg) {
                padding: 0 .6rem;
                 
             }
            @include mq(xl) {
               padding: 0 rem(20);
                
            }
            @include mq(xxl) {
                padding: 0 rem(22);
                 
             }
            &>a {
                display: block;
                color: #000;
                height: 45px;
                line-height: 45px;
                text-transform: uppercase;
                @include mq(md) {
                    height: 60px;
                    line-height: 60px;
                }
            
                @include mq(lg) {
                    height: 70px;
                    line-height: 70px;
                }
            
                @include mq(xl) {
                    height: 80px;
                    line-height: 80px;
                }
                @include mq(xxl){
                    font-size: 1rem;
                    height: 98px;
                    line-height: 98px;
                }
               &:hover{
                   color: $color-primary;
               }
                &.active {
                    position: relative;
                    color: $color-primary;
                    &::after{
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 50%;
                        width: 6px;
                        height: 6px;
                        border-radius: 50%;
                        margin-left: -3px;
                        bottom: 1rem;
                        background-color: $color-primary;
                        z-index: 200;
                        @include mq(xl){
                            width: 8px;
                            height: 8px;  margin-left: -4px;    bottom: 1.5rem;
                        }
                    }
                   
                }
            }


        }
    }

   
  
    


    .mobilemenu {
        

        .menu-toggle {
            width: 28px;
            cursor: pointer;

            &.on {
                .one {
                    transform: rotate(45deg) translate(3px, 5px);
                }

                .two {
                    opacity: 0;
                }

                .three {
                    transform: rotate(-45deg) translate(6px, -8px);
                }
            }
        }

    }

    .one,
    .two,
    .three {
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        margin: 6px auto;
        backface-visibility: hidden;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }

    


    .menu-over {
        position: absolute;
        right:  0;
        top: 45px;
        width: 100%;
        height: calc(100vh - 45px);
      
        background-color: #fff;
        display: none;
        box-shadow: 0 10px 15px rgba(0,0,0,.1);
        z-index: -10;
        
        @include mq(md) {
            top: 70px;
            height: calc(100vh - 70px);
            width: 450px;
        }

        @include mq(lg) {
            top: 90px;
            height: calc(100vh - 90px);
        }

        @include mq(xl) {
            top: 98px;
            height: calc(100vh - 98px);
        }

        ul.mobilenav {
            list-style: none;
            margin: 0;
            padding: 2rem 0 0 0;
            height: 100%;
            overflow-y: none;
           

            &>li {
                position: relative;
                transition: all .2s;
                text-align: center;
                &>a {
                    display: inline-block;
                    color: #333;
                    position: relative;
                    padding: 1rem .3rem;
                  

                    @include mq(xxl){
                        font-size: 1rem;
                    }
                    @include hover {
                        color: $color-primary;
                    }

                    
                }
                &.active {
                    a{
                        color: $color-primary;
                        font-weight: bold;
                    }
                    
                    &::before {
                        content: " ";
                        display: block;
                        width: 36px;
                        height: 5px;
                        border-radius: 0 3px 3px 0;
                        background-color: $color-secondary;
                        position: absolute;
                        top: 21px;
                        left: 0;
                        z-index: 50;
                      
                    }
                }
                &.down {
                    position: relative;                   
                  
                }

                &.open {
                    i.iconfont{
                        transform: rotate(180deg);
                    }
                }

                .subnav {
                    @include reset-list;    
                    border-top: #eeee solid 1px ;              
                    border-bottom: #eeee solid 1px ; 
                    padding-top: .5rem;
                    padding-bottom: .5rem;   
                    margin: 1rem 0;          
                    li {                       
                        display: inline-block;
                        a {
                            display: block;
                            padding: .7rem 1rem;
                      
                            color: #666;
                            font-size: rem(14);
                        }
                    }
                }
            }
           
        }
        .copyright{
            position: absolute;
            left: 0;
            bottom: 1rem;
            z-index: 100;
            width: 100%;
            text-align: center;
            font-size: rem(12);
            color: #999;
        }
    }

    &.fixheader{
     
        
    }
}

.home-body{
    .site-header{
        background-color: transparent;
        .logo {           
            background-image: url(../img/logo.png);    
        }
        .mainav {         
    
            &>li {
                
                &>a {                  
                    color: #fff;
                }
    
    
            }
        }

        .lang {
           
            color: #030303;
            @include mq(lg) {
                border: 1px #030303 solid;       
            }
          
        }
    
        .btnBook {
            color: #fff;
            background-color: #030303;     
            border: 1px #030303 solid; 
            &:hover{
                background-color: #fff;
                color: #030303;
            }         
        }
        .one,
        .two,
        .three {
          
            background-color: #030303;
           
        }

        &.fixheader{
            background-color: #fff;
            .logo {           
                background-image: url(../img/logo_color.png);    
            }
            .mainav {         
    
                &>li {
                    
                    &>a {                  
                        color: #000;
                    }
        
        
                }
            }
         }
    
    }
}  