.site-header {
    position:fixed;      
    width: 100%;     
    height: 45px;
    z-index: map-get($zindex, header);
    left: 0;
    top: 0;
    transition: all .3s;
    @include mq(md) {
        height: 60px;
    }
    @include mq(lg) {
        height: auto;
    }
    .container-fluid{
        height: 100%;
        @include mq(lg){
            height: auto;
        }
        @include mq(xl){
            padding-left: 3rem;
            padding-right: 3rem;
        }
    }
  
    .row {
        height: 100%;
    }
    


    .logo {     
        display: block;
        transition: all .5s;
        width: 120px; 
        margin-right: 4rem;
        @include mq(md) {
            width: 150px;    
        }
        @include mq(lg) {
            width: 170px;
        }
        @include mq(xl) {
            width: 200px;
        }
        @include mq(xxl) {
            width: 223px;
        }
     
        // .logo_white{
        //     display: block;
        // }
        // .logo_color{
        //     display: none;
        // }
    }
   
    .top_col {       
        .quick_list{
            text-align: right;
            @include reset-list();
            display: none;
            @include mq(lg){
                display: block;
            }
            li{
                display: inline-block;
                a{
                    color: #fff;
                    font-size: rem(12);
                    display: block;
                    padding: .6rem 1.5rem;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }

    }
    .mainav {
        @include reset-list();
        display: none;  
        border-bottom: 1px #fff solid;     
       
        @include mq(lg) {
            display: block;             
        }
       
      
        &>li {
            display: inline-block;
            position: relative;          
            @include mq(lg) {                  
                margin-right: 2rem;    
            }
            @include mq(xl) {                  
                margin-right: 2.6rem;        
            }
            @include mq(xxl) {                  
                margin-right: 3.2rem;    
            }
            &>a {
                display: block;             
                position: relative;  
                transition: all .3s;  
                color: #fff;  
                @include mq(lg) {                  
                    padding: .6rem 0;    
                }
                @include mq(xl) {                  
                    padding: .8rem 0;      
                }
                @include mq(xxl) {                  
                    padding: 1rem 0;     
                }
                &:hover {
                    color: $color-secondary;
                }
              
            }
      
            &.current{
                &>a{
                    color:$color-primary;
                    &::before {
                        content: "";
                        background-color: $color-primary;
                        width: 100%;
                        height: 3px;                       
                        left: 50%;
                        bottom: 0;                     
                        z-index: 20;
                        position: absolute;
                        transform: translateX(-50%);
                       
                    }
                }
            }
           
            .sub-menu{
                position: absolute;
                width: 132px;
                left: 50%;
                top: 44px;
                z-index: 10;          
                @include reset-list();   
                background-color: #fff;   
                border-radius: 10px;              
               transform: translateX(-50%);
                display: none;
                transition: all .2s;             
                padding: 1rem  0rem;
                box-shadow: 0 0 12px rgba(0,0,0,.1);
                &::after{
                    content: " ";
                    display: block;
                    width: 0;
                    height: 0;
                    border: transparent 5px solid;
                    border-bottom-color: #fff;
                    position: absolute;
                    top: -10px;
                    left: 50%;
                    transform: translateX(-50%);
                }
                @include mq(xl) {
                    top: 53px;
                }
                @include mq(xxl) {
                    top: 60px;
                }
                li {
                    position: relative;
                    a {
                        display: block;
                        padding: .5rem 1rem;
                        line-height: 1.5;
                        text-align: center;                     
                    }
                  
                    &.active {
                        a{
                            position: relative;
                            display: block;
                       
                            &::after {
                                content: "";
                                background-color: $color-primary;
                                width: 16px;
                                height: 16px;
                                left: 1.2rem;
                                top: 40%;                               
                                z-index: -10;
                                position: absolute;
                                border-radius: 50%;
                            }
                        }
                       
                    }
                }
            }
            &.parent {
                &:hover {
                    .sub-menu {
                        display: block;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    // .search{
    //     display: block; 
    //     .iconfont{
    //         font-size: 1.25rem;         
    //     }
    // }
    
    .lang-switcher{
        position: relative;
        padding-top: .3rem;
        padding-bottom: .3rem;
        .current-lang{
       
            .iconfont{
                display: inline-block;
           
                transition: all .3s;
            }      
        }
        &:hover{
            .current-lang{
                .iconfont{         
                    transform: rotate(-180deg);
                }    
            }
           
        }
        .languages{
            position: absolute;
            left: 50%;
            top:35px;
            z-index: 2000;
            transform: translateX(-50%);
            background-color: rgba(255,255,255,.9);
            border-radius: 6px;
            // filter: drop-shadow(0px 0px 22px rgba(255,255,255,0.8));
            width: 120px;
            @include reset-list();
            // box-shadow: 0px 0px 22px rgba(0,0,0,0.15);
            filter: drop-shadow(0 0 0.5rem rgba(0,0,0,.15));
            padding-top: 1rem;
            padding-bottom: 1rem;
            visibility: hidden;
            &::after{
                position: absolute;
                left: 50%;
                top: -10px;
                border:5px transparent solid;
                border-bottom-color:#fff;
                width: 0;
                height: 0;
                content: " ";
                transform: translateX(-50%);
                z-index: 100;
            }
            li{
                a{
                    display: block;
                    padding: .2rem;
                    text-align: center;
                    color:$color-text;
                    &:hover{
                        color: $color-secondary
                    }
                }
                &.lang-active{
                    a{
                        color: $color-secondary;
                    }
                }
            }
            
        }
        &:hover{
            .iconfont{
                color:$color-primary;
            }
            .languages{
                visibility: visible;
            }
        }
    }

   
 
    .mobilemenu {
        @include mq(lg) {
            display: none;
        }
        .menu-toggle {
            width: 28px;
            cursor: pointer;
          
            &.on {
                .one {
                    transform: rotate(45deg) translate(3px, 5px);
                }
                .two {
                    opacity: 0;
                }
                .three {
                    transform: rotate(-45deg) translate(6px, -8px);
                }
            }
        }
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 2px;
        background-color: #ccc;
        margin: 6px auto;
        backface-visibility: hidden;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
        
    }
    .menu-over {
        position: fixed;
        right: -100vw;
        top: 45px;
        width: 100%;
        height: calc(110vh - 45px);
        background-color: #fff;
        opacity: 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
        z-index: 1000;
        transition: all .5s;
        @include mq(md) {
            top: 60px;
            height: calc(110vh - 60px);
        }
        &.showMenu {
            right: 0;
            opacity: 1;
        }
        ul.mobilenav {
            list-style: none;
            margin: 0;
            padding: 2rem 0;           
            overflow-y: auto;
            &>li {
                position: relative;
                transition: all .2s;
                border-bottom: 1px #eee solid;
                &>a {
                    display: block;
                    color: #333;
                    position: relative;
                    padding: 1rem 1rem;
                    @include hover {
                        color: $color-primary;
                    }
                }
                &.active {
                    a {
                        color: $color-primary;
                    }
                }
                .sub-menu {
                    @include reset-list;
                    padding-left: 1rem;
                    display: none;
                    li {
                        border-top: #eeee solid 1px;
                        position: relative;
                        a {
                            display: block;
                            padding: 1rem 1rem;
                            color: #666;
                            font-size: rem(14);
                        }
                    }
                }
            }
            .parent {
                position: relative;
                &>a {
                    &::after {
                        content: "";
                        position: absolute;
                        right: 1rem;
                        top: 1.7rem;
                        width: 0;
                        height: 0;
                        display: block;
                        border: 5px transparent solid;
                        border-top-color: $color-primary;
                        transition: all .3s;
                    }
                }
            }
            .open {
                &>a {
                    &::after {
                        transform: rotate(180deg);
                        top: 1.2rem;
                    }
                }
            }
        }

        .quick_list{
            @include reset-list();
            text-align: center;
            padding: 0 1rem;
            li{
                display: inline-block;
                margin-bottom: .5rem;
                a{
                    display: block;
                    padding: .3rem 1.5rem;
                    border:1px #eee solid;
                    border-radius: 20px;
                }
            }
        }
       
    }
    &.fixheader {
      
        position: fixed;
        left: 0;       
        z-index: 8000;
        background-color: #333;

        .logo{
            .logo_white{
                display: none;
            }
            .logo_color{
                display: block;
            }
        }
        .area{
            border:1px $color-primary solid;           
            color: $color-primary;
        }
        
        .mainav {
            border: none;
     
        }
        // .search{
        //     @include mq(xxxl){
        //         margin-bottom: .3rem;
        //     }
        // }

        .lang-switcher{
           
            .current-lang{
                color:$color-primary;        
                .iconfont{              
                    color:$color-primary;             
                }      
            }
        }
    
        .loginReg {
            border:1px #333 solid;
            height: 30px;
            line-height: 28px;
            border-radius: 15px;
            padding: 0 1rem;
            color: #333;
            a{
                color:#333;
                &:hover{
                    color: $color-primary;
                }
            }
        }
        
        .one,
        .two,
        .three {
            // background-color: $color-primary;
        }
        .menu-over {
            top: 45px;
            height: calc(110vh - 102px);
        }
    }
}

.home-body {
    padding-top: 0;
    .site-header {
        position: fixed;
        box-shadow: none;       
        .mainav {
            &>li {
                &>a {
                    color: #fff;
                    &:hover {
                        color: #fff; 
                        &::before {
                            content: "";
                            background-color: #fff;
                            width: 100%;
                            height: 3px;                       
                            left: 50%;
                            bottom: 0;                     
                            z-index: 20;
                            position: absolute;
                            transform: translateX(-50%);
                            
                        }
                                     
                    }
                    &.active {
                        color: #fff;
                    }
                }
                &.current{
                    &>a{                      
                        &::before {                          
                            background-color: #fff;                            
                        }
                       
                    }
                }
                
                
            }
        }
        .search{          
            color: #fff;
        }
        .lang-switcher{
            
            
        }
        &.fixheader {
            background-color: #fff;
            box-shadow: 0 0 25px rgba(0, 0, 0, .15);
          
            .mainav {
                &>li {
                    &>a {
                        color: $color-text;
                        &:hover {                        
                            &::before {                     
                                background-color: $color-primary;                            
                            }                                         
                        }
                        &.active {
                            color: $color-primary;
                      
                        }
                    }
                    &.parent{
                        &>a{
                         
                            &::before {                          
                                background-color: $color-primary;                            
                            }
                            
                        }
                    }
                }
            }
            .search {
                color: $color-text;
            }
            .lang-switcher {
               
               
            }
            .one,
            .two,
            .three {
                background-color: #333;
            }
        }
    }
}