.site-header {
    position:absolute;    
    width: 100%;
    background-color: #fff;   
    box-shadow : 0px 0px 20px rgba(12, 42, 195, 0.1);
 
    z-index: map-get($zindex, header);
    left: 0;
    top: 0;
    @include mq(md) {
        height: 60px;
    }
    @include mq(lg) {
        height: 70px;
    }
    @include mq(xl) {
        height: 80px;
    }
    @include mq(xxl) {
        height: 100px;
    }
    @include mq(xxxl) {
        height: 130px;
       
    }
    .container,
    .row {
        height: 100%;
    }
    
    .menus-and-logo{
        position: relative;
        &::before {
            content: "";
            background-color: #eee;          
            height: 3px;                       
            left: 50%;
            bottom: -3px;                     
            z-index: 10;
            position: absolute;
            transform: translateX(-50%);
         
                width: calc(100% - 24px);
            
        }
    }

    .logo {
     
        display: block;
        transition: all .5s;
        width: 80px;
        @include mq(md) {
            width: 100px;
        }
        @include mq(lg) {
            width: 110px;
        }
        @include mq(xl) {
            width: 130px;
        }
        @include mq(xxl) {
            width: 140px;
        }
        @include mq(xxxl){
            width: 156px;
            padding-bottom: rem(30);
        }
    }
    
    .mainav {
        @include reset-list();
        display: none;       
        @include mq(lg) {
            display: block;
            text-align: right;
        }
      
        &>li {
            display: inline-block;
            position: relative;          
         
            &>a {
                display: block;             
                height: 100%;
                color:#000;
                position: relative;  
                padding: 0 1rem;     
                transition: all .3s;    
                @include mq(lg) {  
                  
                    padding: 0 1.3rem;         
                }
                @include mq(xl) {              
                  
                    padding: 0 1.5rem;    
                }
                @include mq(xxl) {              
                  
                   
                }
                @include mq(xxxl) {              
                                
                    padding: rem(23) 6rem;  
                    font-size: rem(18);
                }
               
                &:hover {
                    color: $color-secondary;
                }
              
            }
            &:last-child{
                &>a{
                    &::after{
                        content:" ";
                        display: none;
                        
                    }
                }
            }
            &.current{
                &>a{
                    color:$color-primary;
                    &::before {
                        content: "";
                        background-color: $color-primary;
                        width: 70%;
                        height: 3px;                       
                        left: 50%;
                        bottom: -3px;                     
                        z-index: 20;
                        position: absolute;
                        transform: translateX(-50%);
                        @include mq(xxxl){
                            width: calc(100% - 12rem);
                        }
                    }
                }
            }
           
            .sub-menu {
                position: absolute;
                width: 132px;
                left: 0;
                top: 50px;
                z-index: 10;
                background-color: $color-secondary;
                @include reset-list();   
                margin-top: 10px;
                display: none;
                transition: all .2s;             
                padding: 1rem 0;
                @include mq(xl) {
                    top: 60px;
                }
                @include mq(xxl) {
                    top: 70px;
                }
                li {
                    position: relative;
                    a {
                        display: block;
                        padding: .5rem 1rem .5rem 1.5rem;
                        line-height: 1.5;
                        text-align: left;
                        color: #fff;
                        font-size: rem(13);
                        &:hover {                            
                            color: $color-primary;
                        }
                    
                    }
                  
                    &.active {
                        a{
                            position: relative;
                            display: block;
                            color:#fff;
                            &::after {
                                content: "";
                                background-color: $color-primary;
                                width: 16px;
                                height: 16px;
                                left: 1.2rem;
                                top: 40%;                               
                                z-index: -10;
                                position: absolute;
                                border-radius: 50%;
                            }
                        }
                       
                    }
                }
            }
            &.hasnav {
                &:hover {
                    .sub-menu {
                        display: block;
                        margin-top: -5px;
                    }
                }
            }
        }
    }

    .search{
        display: block;
        margin-bottom: .7rem;
        .iconfont{
           font-size: 1.8rem;
        }
    }
    
    .lang-switcher{
        position: relative;
        padding-top: .3rem;
        padding-bottom: .3rem;
        .down{               
            .iconfont{
                color:$color-secondary;            
                font-size: rem(20);
                @include mq(xxl){
                    font-size: rem(22);
                }
            }
        }
       
        .languages{
            position: absolute;
            border-radius: 6px;
            left: 50%;
            top:45px;
            z-index: 2000;
            transform: translateX(-50%);
            background-color: #fff;
            // filter: drop-shadow(0px 0px 22px rgba(255,255,255,0.8));
            width: 120px;
            @include reset-list();
            // box-shadow: 0px 0px 22px rgba(0,0,0,0.15);
            filter: drop-shadow(0 0 0.5rem rgba(0,0,0,.15));
            padding-top: 1rem;
            padding-bottom: 1rem;
            visibility: hidden;
            &::after{
                position: absolute;
                left: 50%;
                top: -10px;
                border:5px transparent solid;
                border-bottom-color:#fff;
                width: 0;
                height: 0;
                content: " ";
                transform: translateX(-50%);
                z-index: 100;
            }
            li{
                a{
                    display: block;
                    padding: .2rem;
                    text-align: center;
                    &.active{
                        color:$color-secondary;
                    }
                }
            }
            
        }
        &:hover{
            .iconfont{
                color:#fff;
            }
            .languages{
                visibility: visible;
            }
        }
    }
 
    .mobilemenu {
        @include mq(lg) {
            display: none;
        }
        .menu-toggle {
            width: 28px;
            cursor: pointer;
            &.on {
                .one {
                    transform: rotate(45deg) translate(3px, 5px);
                }
                .two {
                    opacity: 0;
                }
                .three {
                    transform: rotate(-45deg) translate(6px, -8px);
                }
            }
        }
    }
    .one,
    .two,
    .three {
        width: 100%;
        height: 2px;
        background-color: $color-primary;
        margin: 6px auto;
        backface-visibility: hidden;
        -moz-transition-duration: 0.3s;
        -o-transition-duration: 0.3s;
        -webkit-transition-duration: 0.3s;
        transition-duration: 0.3s;
    }
    .menu-over {
        position: fixed;
        right: -100vw;
        top: 100px;
        width: 100%;
        height: calc(110vh - 100px);
        background-color: #fff;
        opacity: 0;
        box-shadow: 0 10px 15px rgba(0, 0, 0, .1);
        z-index: 1000;
        transition: all .5s;
        @include mq(md) {
            top: 60px;
            height: calc(110vh - 60px);
        }
        &.showMenu {
            right: 0;
            opacity: 1;
        }
        ul.mobilenav {
            list-style: none;
            margin: 0;
            padding: 2rem 0 0 0;
            height: 83vh;
            overflow-y: auto;
            &>li {
                position: relative;
                transition: all .2s;
                border-bottom: 1px #eee solid;
                &>a {
                    display: block;
                    color: #333;
                    position: relative;
                    padding: 1rem 1rem;
                    @include hover {
                        color: $color-primary;
                    }
                }
                &.active {
                    a {
                        color: $color-primary;
                    }
                }
                .sub-menu {
                    @include reset-list;
                    padding-left: 1rem;
                    display: none;
                    li {
                        border-top: #eeee solid 1px;
                        position: relative;
                        a {
                            display: block;
                            padding: 1rem 1rem;
                            color: #666;
                            font-size: rem(14);
                        }
                    }
                }
            }
            .hasnav {
                position: relative;
                &>a {
                    &::after {
                        content: "";
                        position: absolute;
                        right: 1rem;
                        top: 1.7rem;
                        width: 0;
                        height: 0;
                        display: block;
                        border: 5px transparent solid;
                        border-top-color: $color-primary;
                        transition: all .3s;
                    }
                }
            }
            .open {
                &>a {
                    &::after {
                        transform: rotate(180deg);
                        top: 1.2rem;
                    }
                }
            }
        }
       
    }
    &.fixheader {
      
        position: fixed;
        left: 0;       
        z-index: 8000;
        @include mq(xxxl){
            height: 80px;
        }
        .logo{
            @include mq(xxxl){
                width: 120px;
                padding-bottom: 1rem;
            }
        }
        .mainav {
            &>li {
                &>a {
                    text-shadow: none;
                    @include mq(xxxl){
                        padding: 1rem 6rem;
                    }
                    &:hover {
                        color: $color-primary;
                    }
                }
            }
        }
        .search{
            @include mq(xxxl){
                margin-bottom: .3rem;
            }
        }
        
        .one,
        .two,
        .three {
            background-color: $color-primary;
        }
        .menu-over {
            top: 50px;
            height: calc(110vh - 102px);
        }
    }
}

.home-body {
    .site-header {
        position: fixed;
        background-color: transparent;
        box-shadow: none;
        .topnav {
            li {
                a {
                    color: #fff;
                    text-shadow: 2px 2px 10px rgba(0, 0, 0, .3);
                }
            }
        }
        .mainav {
            &>li {
                &>a {
                    color: #fff;
                    &:hover {
                        color: $color-secondary;
                        border-bottom-color: $color-secondary;
                    }
                    &.active {
                        color: #fff;
                    }
                }
            }
        }
        &.fixheader {
            background-color: #fff;
            box-shadow: 0 0 25px rgba(0, 0, 0, .15);
            .mainav {
                &>li {
                    &>a {
                        color: #595757;
                        &.active {
                            color: $color-primary;
                            border-bottom-color: $color-primary;
                        }
                    }
                }
            }
            .search {
                a {
                    .iconfont {
                        color: $color-accent;
                    }
                }
            }
            .lang {
                a {
                    .iconfont {
                        color: $color-accent;
                    }
                }
            }
            .one,
            .two,
            .three {
                background-color: #333;
            }
        }
    }
}