.page-home {
    padding-bottom: 0;
   
    .s2{
        padding-bottom: 2rem;
        @include mq(lg){
            padding-bottom: 0;
        }
        .title-section{
            text-align: center;
            @include mq(lg){
                text-align: left;
            }
        }

        .gallery-thumbs{           
            a.link{
                text-align: center;
                display: inline-block;
                padding: .6rem .8rem;
                cursor: pointer;       
              
                @include mq(lg){
                    margin-left: rem(60);    padding: .6rem 0; 
                    text-align: right;
                }
                &.active{
                    background: url(../img/dot.png) no-repeat center top;
                }  
            }
           
        }
        .gallery-top{
            .pic{
                height: 180px;
                object-fit: cover;
                object-position: center center;   
                @include mq(md) {
                    height: 300px;
                }   
                @include mq(lg) {
                    height: 600px;
                }           
                @include mq(xl) {
                    height: 600px;
                }
            }
            
            .txt{
                width: 370px;
                box-sizing: border-box;
                padding: 2rem 1rem 4rem 1rem;
                @include mq(md) {
                    height: 300px;   padding: rem(48) 6rem 0 rem(40);
                } 
                .icon{
                    margin-bottom: 1rem;
                }
                .title{
                    margin-bottom: 1rem;
                    @include mq(md) {
                        margin-bottom: 2rem;
                    } 
                    img{
                        height: 30px;
                        @include mq(md) {
                            height: auto;
                        } 
                    }
                }
            }
            .navgo{
                position: absolute;
                right: 0;
                z-index: 6000;
                bottom: 0;
                width: 160px; 
                border-bottom: 2px #000 solid;   
                padding-right: 5rem;   
               height: 70px;
               .swiper-button-prev, .swiper-container-rtl .swiper-button-next{
                   background-size: 16px auto;
                   left: 0;
                   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
               }
               .swiper-button-next, .swiper-container-rtl .swiper-button-prev{
                   background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
                   left:3rem;
                   right: auto;background-size: 16px auto;
               }
            }
       
        }

    }
    .s3{
    
        padding-top: 1rem;   
        padding-bottom: 4rem;
        @include mq(sm) {
            padding-top: 2rem;   padding-bottom: 2rem;
        }
        @include mq(md) {
            padding-top: 3rem;   padding-bottom: 3rem;
        }
        @include mq(lg) {
            padding-top: 4rem;   padding-bottom: 4rem;
        }
        @include mq(xl) {
            padding-top: 6rem;   padding-bottom: 6rem;
        }
        .item{
            margin-bottom: 1rem;
            @include mq(md) {
                margin-bottom: 20px;
            }
            .pic{
                display: block;
                margin-bottom: .5rem;
                overflow: hidden;
                img{
                    width: 100%;
                    display: block;      
                    transition: all .2s;         
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
           
        }
        .des{
            padding: 1rem;
            @include mq(md) {
                padding: 1rem 2rem;
            }
            .category{
                font-size: rem(12);
                display: inline-block;
                border:1px #000 solid;
                padding: .1rem .6rem;
                
            }
            time{
                font-size: rem(12);
                color: #999;
            }
            h3.title{
                font-size: 1rem;
                text-align: left;
                font-weight: bold;  
                @include mq(md) {
                    font-size: rem(14);  
                }
                @include mq(lg) {
                    font-size: 1rem;
                }
                a{
                    color: #000;
                    display: block;
                    padding: 1rem 0;
                }
            }
            
           
        }

       
        .more {
            border-width: 1px;
            border-color: rgb(34, 30, 31);
            border-style: solid;
            line-height: 43px;
            width: 150px;
            height: 45px;
            display: inline-block;
            @include mq(md) {
                width: 198px;
                height: 52px;  line-height: 50px;
            }
            &:hover{
                background-color: #000;
                color: #fff;
            }
          }
          
    }
}