.sliders{
    position: relative;


}
.page-home {
    .s1{ 
        height: 100vh; 
        padding-top: 2rem;
        padding-bottom: 2rem;
        background: url(../img/home_bg.jpg) no-repeat center top;
        background-size: cover;

        .container{
             padding-top: 12rem;
            .txt{
                color: #fff;
                max-width: 500px;
                h3{
                    font-size: 3rem;
                    line-height: 1;
                    &.title{
                        font-weight: lighter;
                    }
                    &.title2{
                        margin-bottom: 1.5rem;
                    }
                }
                p.des{
                    margin-bottom: 3rem;
                }

                .btn-warning{
                    text-align: center;
                        background-color: rgb(242, 206, 63);
                    font-size: 1rem;
                        width: 180px;
                        height: 50px;
                    line-height: 50px;    
                    display: block;    
                    border-radius: 25px; 
                    &:hover{
                        background-color: #fff;
                        color: #333;
                    }         
                      
                }
            }
        }
        
        
    }

    
   
    .s2{
        background: url(../img/home_01.png) no-repeat center bottom;
        background-size: cover;      
        padding: 2rem rem(140) 0;
        overflow: hidden;
      
        @include mq(md){         
            padding: 3rem rem(140) 0;
        }
        .content{
            padding:3rem;
            text-align: center;
            background-color: rgba(255, 255, 255,.8);              
            box-shadow: 0px 0px 50px 0px rgba(195, 194, 192, 0.3);          
        }
        
    }
    .s3{
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include mq(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        @include mq(lg) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        @include mq(xl) {
            padding-top: 6rem;
            padding-bottom:6rem;
        }
        @include mq(xl) {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }

        .txt{
            p{
                margin-bottom: 0;
            }
            .title{
                font-size: rem(20);    
                line-height: 1.6;       
                @include mq(md) {
                    font-size: rem(22);
                }
                @include mq(lg) {
                    font-size: rem(24);
                }
                @include mq(xl) {
                    font-size: rem(28);
                }
                @include mq(xl) {
                    font-size: rem(30);           
                }
        
            }
            .note{
                color: $color-primary;      
                margin-bottom: 2rem;   
            }
            .all{
                display: block;
                background-color: $color-primary;               
                width: 160px;
                height: 40px;  
                border-radius: 20px;            
                text-align: center;
                margin-right: .5rem;
                line-height: 40px;
                &:hover{
                    background-color: darken($color: $color-primary, $amount:5);
                    color: #000;
                }
            }
        }
        .item1{
            margin-bottom: rem(30);
        }
    }

    .s4{
        background-color: #f8f8f8;
        padding-top: 3rem;
        padding-bottom: 3rem;
        @include mq(md) {
            padding-top: 4rem;
            padding-bottom: 4rem;
        }
        @include mq(lg) {
            padding-top: 5rem;
            padding-bottom: 5rem;
        }
        @include mq(xl) {
            padding-top: 6rem;
            padding-bottom:6rem;
        }
        @include mq(xl) {
            padding-top: 7rem;
            padding-bottom: 7rem;
        }
        .header-section{
            margin-bottom: 5rem;
        }

        .tab-header{
            @include reset-list();
            li{
                display: inline-block;
                font-size: rem(20);  
                margin-right: 1rem;   
                padding-bottom: 1rem;  
                cursor: pointer;
                @include mq(md) {
                    font-size: rem(22);
                }
                @include mq(lg) {
                    font-size: rem(24);
                }
                @include mq(xl) {
                    font-size: rem(28);
                }
                @include mq(xl) {
                    font-size: rem(30);           
                }
                &.active{
                    font-weight: bold;
                    position: relative;

                    &::after{
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        background-color: $color-primary;
                        width: 30px;
                        height: 4px;
                    }
                }
            }
        }

        .more{
           
            display:block;       
            background-color:#000;             
            text-align: center;
            line-height: 36px;
            width: 120px;
            height: 36px;
            border-radius: 18px;
            color: #fff;
           .iconfont{
               color: $color-primary;
               margin-left: .3rem;
           }
        }
        .tab-body{
            display: none;
            &.active{
                display: block;
            }
        }
        .pic{
            display: block;
            margin-right: 2.5rem;
        }
        .box{
            .datetime{
                width: 80px;
                height: 80px;
                border:1px #000 solid;
                text-align: center;
              
                .date{
                   line-height: 1;
                    font-size: rem(42);           
                  text-align: center;
                }
            }
            .item{
                display: block;
                margin-left: 2rem;
                padding-bottom: 3rem;
                margin-bottom: 3rem;
                border-bottom: 1px #ddd solid;
                h3{
                    font-size: rem(16);
                    line-height: 1;
                    margin-top: 0;
                    margin-bottom: 1rem;
                    @include mq(lg) {
                        font-size: rem(18);
                    }
                    @include mq(lg) {
                        font-size: rem(20);
                    }
                    @include mq(xl) {
                        font-size: rem(22);
                    }
                    @include mq(xl) {
                        font-size: rem(24);
                    }
                }
                .des{
                    color: #999;
                }
                &:hover{
                
                    color: #333;
                }
            }
            &:hover{
                .datetime{
                    background-color: $color-primary;
                    border-color: $color-primary;
                }
            }
        }

    }
   
   .s5{
        img{
            display: block;
        }
   }
}