.sliders{
    position: relative;
    .mouse{
        position: absolute;
        left: 50%;
        bottom: 2.5rem;
        z-index: 100;
        display: none;
        @include mq(lg){
            display: block;
        }
    }
}
.page-home {
    
    .s1{  
        margin-bottom: 2rem;
   
        text-align: center;
        @include mq(xl){
            margin-bottom: 3rem;
        }
        @include mq(lg){
            padding-top: 3rem;
            margin-bottom: 4rem;
        }
        @include mq(xl){
            margin-bottom: 5rem;
        }
        @include mq(xxl){
            margin-bottom: 6rem;
        }
        .icon{
            width: 80px;
            height: 80px;
            margin: 0 auto 1rem;
            border:1px #fbb03b solid;
            border-radius: 50%;
            line-height: 78px;
            @include mq(lg){
                width: 104px;
                height: 104px; line-height: 102px;
            }
            img{
                width: 50px;
                @include mq(lg){
                    width: auto;
                }  
            }
        }
        h3{
            color: #333;
        }
        p{
            margin-bottom: 2rem;
            @include mq(lg){
                margin-bottom: 0
            }  
        }
        
    }
   
    .s2{
       
        .more{
            padding-bottom: 1rem;
            display:block;
            .iconfont{
                font-size: rem(24);
                @include mq(lg){
                    font-size: rem(30);
                }  
            }
        }
    }
    .s3{
    
       background-color:#fff;
       background-image: url(../img/home_02.png), url(../img/home_01.jpg);
       background-position: left top, right top;
       background-repeat: no-repeat;
       color: $color-secondary;
       padding-top: 1rem;
       padding-bottom: 1rem;
       min-height: 300px;
       @include mq(lg){
        padding-top: 3rem;
        padding-bottom: 3rem;
        }  
       .title{
           margin-bottom: 1.5rem;
           @include mq(lg){
            margin-bottom: 1.5rem;
            }  
       }
       .r1{
           margin-bottom: 1rem;
        @include mq(lg){
            margin-bottom: 0;
            }  
       }
          .icon{
              text-align: center;
              @include mq(lg){
                margin: 0 0 0 3rem;
                }  
              .iconfont{
                  font-size: 2rem;
                  @include mq(lg){
                    font-size: 2.875rem;
                 }  
              }
              h3{
                  color: #fff;
                  font-size: rem(14);
                  width: 90px;
                  @include mq(lg){
                    font-size: 1rem;   width: auto;
                 }  
              }
          }
          dl{
              padding: 1rem 1.5rem;
              border:1px #fff dashed;
              margin: 0;
              min-height:70px;
              @include mq(lg){
                padding: 1.5rem 2.5rem;   min-height: 90px;
             }  
              dd{
                  margin: 0;
                  color: #fff;;
              }
          }
    }
   .s4{
       .title-section-v2{
           max-width: 820px;
           margin-left:auto;
           margin-right: auto;
       }

       .tab-header{
           text-align: center;
           padding-bottom: 3rem;
           .item{
               padding-top: 1.55rem;
               display: block;
               .icon{
         
                        border-radius: 50%;
                        background-color: rgba(229, 46, 46,.078);     
                        width: 48px;
                        height: 48px;
                        padding-top: 9px;
                        margin: 0 auto 1rem;
                    
                }
                .txt{
                    font-size: rem(14);color: $color-primary;
                    line-height: 1.2;
                }

                &.active{
                    background: url(../img/bg_01.png) no-repeat center top;
                    .icon{
                        background-color: #fff;
                        border:1px $color-primary solid;
                    }
                }
           }
          
       }
       .swiperel{
           position: relative;
           margin-bottom: rem(40);
           @include mq(md){
            margin-bottom: rem(60);
           }
           @include mq(lg){
            margin-bottom: rem(80);
           }
           @include mq(xl){
            margin-bottom: rem(100);
           }
           @include mq(xxl){
            margin-bottom: rem(120);
           }
       }
       .swiper01{

           .item{
               height: 340px;
               background-position: right center;
               background-repeat: no-repeat;
               .txt{
                   height: 100%;
                   background: url(../img/bg_03.png) no-repeat right center;
                   max-width: 630px;
                   .txtwrap{
                       @include vertical-align();
                       padding: 0 7rem 0 3rem;
                       color: #fff;
                       h3{
                           font-size: rem(28);
                           text-transform: uppercase;
                       }
                       p{
                           text-align: left;
                       }
                       &::after{
                            content: " ";
                            display: block;
                            width: 30px;
                            height: 6px;
                            background-color: #fff;
                            margin-top: 1rem;
                        }
                   }
               }
           }
       }
   }
   .s5{
       .item{
           display: block;
           background-color: #333;
           background-size: cover;
           background-position: center center;
           background-repeat: no-repeat;
           color: #fff;
           height: 250px;
           margin-bottom: 1rem;
           @include mq(md){
            height: 300px;
            margin-bottom: 2rem;
        }
           @include mq(lg){
            height: 350px;
            margin-bottom: 3rem;
        }
           @include mq(xl){
            height: 450px;
        }
        @include mq(xxl){
            height: 500px;
        }
           .module{
               font-size: rem(24);
               font-weight: bold;
               @include vertical-align();
               text-align: center;
               text-transform: uppercase;
           }
           .des{
            @include vertical-align();
            padding: 1rem;
           
            @include mq(lg){
                width: 480px; padding: 1rem  1rem 2rem 5rem;
            }
            @include mq(xl){
                width: 900px;
            }
            h3{
                font-size: rem(36);
            }
            p{
                margin-bottom: 2rem;
            }
            .more{
                color: $color-primary;
                background: url(../img/arrow-right.png) no-repeat right center;
                padding-right: 3.4rem;
               text-transform: uppercase;
                display: inline-block;
            }
           }
           &.material{
               background-image:  url(../img/home_m.jpg) ;
           }
           &.blog{
             background-image:  url(../img/home_b.jpg) ;
           }
           &.faq{
            background-image:  url(../img/home_faq.jpg) ;
            height: 350px;
            @include mq(md){
             height: 300px;
            }
                @include mq(lg){
                height: 350px;
            }
                @include mq(xl){
                height: 450px;
            }
            @include mq(xxl){
                height: 500px;
            }
          }
       }
   }
}