.page-team {
    .item {
        background-color: #fff;
        max-width: 560px;
        &.ood {
            margin: 0 0 0 auto;
        }
        margin-bottom: rem(30);
        @include mq(xl) {
            margin-bottom: rem(60);
        }
        .txt {
            padding: 1rem;
            position: relative;
            height: 346px;
            @include mq(xl) {
                padding: 2rem;
            }
            .name {
                color: #333;
            }
            .des {
                color: #999;
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: 10;
                padding: 1rem;
                margin: 0;
                @include mq(xl) {
                    padding: 2rem;
                }
            }
        }
        img {
            width: 100%;
        }
    }
}

.page-global {
    .s1 {
        // .swiper-prev,
        // .swiper-next {
        //     display: inline-block;
        //     width: 60px;
        //     height: 60px;
        //     text-align: center;
        //     line-height: 58px;
        //     border: 1px #ddd solid;
        //     .iconfont {
        //         font-size: rem(20);
        //     }
        //     &:hover {
        //         background-color: $color-secondary;
        //         border-color: $color-secondary;
        //     }
        // }
        .item {
            text-align: center;
            img {
                margin-bottom: 2rem;
                width: 100%;
            }
            .des {
                position: relative;
                font-size: rem(14);
                @include mq(md) {
                    font-size: rem(16);
                }
                @include mq(md) {
                    font-size: rem(18);
                }
                @include mq(lg) {
                    font-size: rem(20);
                }
                @include mq(xl) {
                    font-size: rem(22);
                }
                @include mq(xxl) {
                    font-size: rem(24);
                }
                .num {
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 100;
                    .count {
                        color: #ccc;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

.page-cooperation {
    p {
        color: #999;
        text-align: justify;
        @include mq(xl) {
            font-size: 1rem;
            line-height: 2;
        }
    }
}

.page-projects {
    .s1 {
        .type {
            @include reset-list();
            text-align: right;
            li {
                padding-left: 1.5rem;
                position: relative;
                margin-left: 2rem;
                display: inline-block;
                &::before {
                    content: " ";
                    display: block;
                    width: 1rem;
                    height: 1rem;
                    background-color: rgba(219, 221, 0, .2);
                    position: absolute;
                    left: 0;
                    top: 50%;
                    transform: translateY(-50%);
                }
                &:last-child {
                    &::before {
                        background-color: rgba(63, 79, 151, 0.2);
                    }
                }
            }
        }
        .item {
            background-color: #fff;
            height: 240px;
            margin-bottom: rem(30);
            &:hover {
                box-shadow: 0 0 30px rgba(0, 0, 0, .08);
            }
            h3.title {
                background-color: rgba(219, 221, 0, .2);
                padding: 1rem;
                text-align: center;
                font-weight: normal;
                @include mq(xl) {
                    font-size: rem(16);
                    padding: 1.5rem;
                }
                @include mq(xxl) {
                    font-size: rem(18);
                }
                &.title2 {
                    background-color: rgba(63, 79, 151, 0.2);
                }
            }
            .txt {
                padding: 1rem 3rem;
                text-align: center;
                @include mq(xxl) {
                    padding: 1.5rem 3rem;
                }
                .des {
                    margin-bottom: 1.5rem;
                }
            }
        }
    }
}