
.page-jobs{
    .joblist{
        .item{
            border-top: 2px #e8e9ec solid;
            .job-header{
                cursor: pointer;
                padding: 1rem 1rem;
                @include mq(lg){
                    padding: 2rem 1rem;
                }
                .title{
                    font-weight: bold;
                }

            }

            
            .iconfont{
                font-size: rem(22);
                display: block;
                transition: all .3s;
                @include mq(lg){
                    font-size: rem(28);
                }
            }
            .address{
           
                @include mq(lg){
                    margin-right: 1rem;
                }
                @include mq(xl){
                    margin-right: 2rem;
                }
                @include mq(xxl){
                    margin-right: 3rem;
                }
            }
            .job-body{
                background-color: #eef1f9;
                padding: 2rem 1rem;
                display: none;
                margin-bottom:1.5rem;
                @include mq(xl){
                    margin-bottom:2.5rem;
                }
                ol{
                    padding-left: 1.3rem;
                
                }
            }
            &.active{
                border-top: 2px $color-primary solid;
                .iconfont{
                    transform: rotate(45deg);
                }
                .job-body{
                    display: block;
                }
            }
        }
    }
}


.page-overseas{

    .leftcol{      
        margin-bottom: 2rem;
        @include mq(lg){
            padding-right: 3rem;
            margin-bottom: 0;
        }
        @include mq(xl){
            padding-right: 5rem;
        }
        @include mq(xxl){
            padding-right: 7rem;
        }

        .text24{
            @include mq(lg){
                font-weight: lighter;
            }
            &.t1{
                font-weight: normal;
                color: $color-primary;
            }
        }

        .footer{
            padding-top: 1rem;
            @include mq(lg){
                padding-top: 2rem;
            }
            .btn-primary{
                margin-bottom: 1.5rem;
                .iconfont{
                    margin-right: .5rem;
                }
                font-weight: lighter;
                @include mq(lg){
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }

    }

    .rightcol {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 56.4px 3.6px rgba(36, 84, 191, 0.1);
        padding: 2rem 1rem 1rem;
        margin-bottom: 2rem;
        @include mq(md){
            padding: 2rem 2rem;
           
        }
        @include mq(lg){
            padding: 2rem 2rem;
            margin-bottom: 0;
        }
        @include mq(xl){
            padding: 2rem 3rem;
        }
        @include mq(xxl){
            padding: 2rem 5rem;
        }
        .title {
            font-weight: lighter;
        }
        ul{
            @include reset-list();
            li{
                position: relative;
                padding-left: 3rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px #f1f3f4 solid;
                &:last-child{
                    border-bottom: none;
                }
                .iconfont{
                    position: absolute;
                    left: 0;
                    top:1rem;
                    z-index: 100;
                    color:#079be9;
                }
            }
        }

      }     
    
  
}


.page-campus{

    .leftcol{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 56.4px 3.6px rgba(36, 84, 191, 0.1);
        padding: 2rem 1rem 1rem;
        margin-bottom: 2rem;
        @include mq(md){
            padding: 2rem 2rem;
           
        }
        @include mq(lg){
            padding: 2rem 2rem;
            margin-bottom: 0;
        }
        @include mq(xl){
            padding: 2rem 3rem;
        }
        @include mq(xxl){
            padding: 2rem 5rem;
        }
        .title {
            font-weight: lighter;
        }
        ul{
            @include reset-list();
            li{
                position: relative;
                padding-left: 2rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                border-bottom: 1px #f1f3f4 solid;
                @include mq(md){
                    padding-left: 3rem;
                }
                &:last-child{
                    border-bottom: none;
                }
                .iconfont{
                    position: absolute;
                    left: 0;
                    top:1rem;
                    z-index: 100;
                    color:#079be9;
                }
            }
        }

    }

    .rightcol {
        
        @include mq(lg){
            padding-left: 3rem;
        }
        @include mq(xl){
            padding-left: 5rem;
        }
        @include mq(xxl){
            padding-left: 7rem;
        }
        .text24{
           
            @include mq(lg){
                font-weight: lighter;
            }
           
        }

        .footer{
            padding-top: 1rem;
            @include mq(lg){
                padding-top: 2rem;
            }
            .btn-primary{
                margin-bottom: 1.5rem;
                .iconfont{
                    margin-right: .5rem;
                }
                font-weight: lighter;
                @include mq(lg){
                    padding-left: 1.5rem;
                    padding-right: 1.5rem;
                }
            }
        }

        

      }     
    
  
}
