.page-jobs {
    .s1 {
        .thead {
            border: 1px #ddd solid;
            padding: .7rem 1rem;
            background-color: #eee;
            @include mq(lg) {
                padding: .9rem 2rem;
            }
            h3 {
                font-weight: normal;
                margin: 0;
                font-size: rem(14);
                @include mq(xl) {
                    font-size: rem(16);
                }
            }
            .c3 {
                text-align: right;
            }
        }
        .item {
            border: 1px #ddd solid;
            border-top: none;
            .job-header {
                cursor: pointer;
                padding: 1rem 1rem;
                opacity: .7;
                font-size: rem(14);
                @include mq(lg) {
                    padding: 1.6rem 2rem;
                }
                @include mq(xl) {
                    font-size: rem(16);
                }
                .c3 {
                    text-align: right;
                }
            }
            .job-body {
                background-color: #fbfbfb;
                padding: 1rem 1rem;
                display: none;
                @include mq(md) {
                    padding: 2rem 1rem;
                }
                article {
                    opacity: .7;
                }
                @include mq(xl) {
                    padding: 2rem 3rem;
                }
                ol {
                    padding-left: 1.3rem;
                }
            }
            &.active {
                .job-header {
                    background-color: #f2f2f3;
                    color: #333;
                    opacity: 1;
                    .c3 {
                        color: $color-primary;
                    }
                }
                .job-body {
                    display: block;
                }
            }
        }
        .c2 {
            display: none;
            @include mq(md) {
                display: block;
            }
        }
        .job-content {
            .item1 {
                border-bottom: 1px #eee solid;
                background: url(../img/zhiyin.png) no-repeat left top 1.2rem;
                background-size: 16px auto;
                padding-left: 1.6rem;
                padding-top: 1rem;
                padding-bottom: 1rem;
                @include mq(xl) {
                    padding-top: 2rem;
                    padding-bottom: 2rem;
                    background: url(../img/zhiyin.png) no-repeat left top 2.6rem;
                    background-size: auto auto;
                    padding-left: 2.5rem;
                }
                h4 {
                    margin: 0;
                    font-weight: normal;
                }
                p {
                    margin: 0;
                    opacity: .7;
                }
            }
            .last {
                padding: 1.6rem;
                @include mq(xl) {
                    padding: 2.5rem;
                }
                dd {
                    margin-bottom: 1rem;
                    a {
                        color: $color-primary;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }
    .s2 {
        .contact {
            address {
                color: #333;
            }
            i.iconfont {
                font-size: rem(20);
                margin-right: .5rem;
                color: $color-accent;
            }
        }
        .con {
            @include reset-list();
            @include mq(xxl) {
                font-size: 1rem;
            }
        }
    }
}