.member-header{
    background: url(../img/header_bg.svg) no-repeat center center;
    background-size: cover;
    color:#fff;
    height: 25vh;
    .container{
        @include vertical-align(); 
    }
    .avatar{
        width: 74px;
        height: 74px;
        border-radius: 50%;
        object-fit: cover;
        object-position: center center;
    }
}
h2.section-title{
    font-size: rem(14);
    font-weight: normal;
    color: #999;
    padding-left: .6rem;
    border-left: 2px $color-primary solid;
    margin-bottom: 1rem;
}

.page-member{
    padding: 1rem;
   

    ul.nav{
        @include reset-list();
        margin-bottom: 1.5rem;
        li{
            background-color: #fff;
            margin-bottom: 1rem;
            padding: .8rem 1rem;
            border-radius: .3rem;
            position: relative;
            padding-left: 3rem;
            background: #fff url(../img/icon-right.svg) no-repeat right rem(10) center;
            background-size: auto 20px;
            .iconfont{
                position: absolute;
                left: 1rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 100;
                font-size: rem(24);
                color: $color-primary;
            }
            a{
                display: block;
            }

            .txt{
                position: absolute;
                right: 2rem;
                top: 50%;
                transform: translateY(-50%);
                z-index: 20;
                font-size: rem(14);
                color: #999;
            }

        }

   }
}

.page-applied{
    padding: 1rem;


    .card{
        margin-bottom: 1rem;
        background-color: #fff;
        border-radius: 8px;
        padding: 1rem;
        .card-header{
            font-size: rem(18);
            font-weight: bold;
            margin-bottom: .5rem;
            .money{
                color: $color-primary;
            }
        }
        .card-body{
            dl{
                margin-bottom: .3rem;
                dd{
                    background-color: #F3F3F3;
                    border-radius: 3px;
                    padding: .2rem .6rem;
                    display: inline-block;
                    font-size: rem(14);
                }
            }
        }
    }
}


.page-form{
   
    padding-bottom: 7rem;
    .acf-file-uploader {
        .file-wrap{
            border-left: none;
            border-right: none;
        }
        .hide-if-value{
            padding: 1rem;
            background-color: #fff;
            border-top: 1px #ddd solid;
            border-bottom: 1px #ddd solid;;
        }
    }
    .acf-field-file{
        padding: 0 !important;
        &>.acf-label{
            padding: 0 .5rem;
            margin: .8rem 1rem;
            border-left:2px $color-primary solid;
            color: $color-text-heading;
        } 
    }

    .acf-field-group{
        padding: 0 !important;
        &>.acf-label{
            padding: 0 .5rem;
            margin: .8rem 1rem;
            border-left:2px $color-primary solid;
            color: $color-text-heading;
        }
       
        .acf-fields{
            background-color: #fff;
            border: none !important;
        
            .acf-field{
                padding: 1rem 1rem;
                position: relative;
                padding-left: 110px;
                border: none !important;
                &::after{
                    left: 20px;
                    bottom: 0;
                    position: absolute;
                    content: "" ;
                    display: block;
                    background-color: #eee;
                    height: 1px;
                    width: calc(100% - 20px);

                }
                &.acf-field-email,&.acf-field-633a9e4c3a386,&.acf-field-633a9f07c2f38{
                    &::after{
                        display: none;
                    }
                }
                .acf-label{
                    position: absolute;
                    left: 20px;
                    top:50%;
                    transform: translateY(-50%);
                    z-index: 100;
                    color: #999;
                   
                    label{
                        font-weight: normal !important;
                    }
                    .acf-required{
                        color:red;
                    }
                }
                .acf-input{
                    input{
                        width: 100%;
                        border:1px #eee solid;
                        height: 34px;
                        outline: none;
                        border: none;
                    }
                    select{
                        width: 100%;
                        border:1px #eee solid;
                        height: 34px;
                        appearance: none;
                        outline: none;
                        border: none;
                        background-color: transparent;
                    }
                }
              
            }
          
        }
    }
    .acf-form-submit{
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        padding: 1rem;
        box-shadow: 0 0 20px rgba(0,0,0,.05);
        z-index: 400;
        .acf-button{
            width: 100%;
            background-color: $color-primary;
            color: #fff;
            height: 48px;
            border-radius: 24px;
            border: none;
            outline: none;
        }
    }
    .acf-field-true-false{
        padding: 1rem;
        .acf-label{
            display: none;
        }
        .message{
            a{
                color: red;
            }
        }
    }

    .updated{
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        padding: 1rem;
        background-color: rgba(236, 255, 241,.8);
        color: rgb(0, 130, 9);
        text-align: center;
        animation: fadeOut 1s linear forwards 1;
        animation-delay: 2s;
        z-index: 600;
        p{
            margin: 0;
        }
    }

    
    
}

.page-applied{
    h3.se-title{
        padding: 0 .5rem;
        margin: .8rem 1rem;
        border-left:2px $color-primary solid;
        color: $color-text-heading;
        font-size: 1rem;
    }
}