

.page-member{
    background-color: #f7f7f7;
    padding-top: 30px;
    .leftcol{
        width: 280px;
        background-color: #fff;
        text-align: center;
        padding-top: 3rem;
        padding-bottom: 13rem;
        height: 100%;
        .avatar{
          
            img{
                width: 120px;
                height: 120px;
                object-fit: cover;
                object-position: center center;
                margin: 0 auto 1.5rem;
                display: block;
            }
           
          
        }

        .name{
            font-size: rem(18);
        }
        .usernav{
            @include reset-list();
            padding: 30px;
            li{
                border-bottom: 1px #eee solid;
                position: relative;
                a{
                    font-size: rem(18);
                    display: block;
                    padding: 1rem 0;
                    position: relative;
                    z-index: 10;
                   
                }
                &.active{
                    &::after{
                        position: absolute;
                        content: " ";
                        display: block;
                        height: 7px;
                        background-color: $color-primary;
                        width: 100px;
                        left: 50%;
                        margin-left: -50px;
                        bottom: 1.5rem;
                        z-index: 0;
                    }
                 
                }
            }
        }

        .loginout{
         
            border-width: 1px;
            border-color: rgb(0, 0, 0);
            border-style: solid;
            position: absolute;
            left: 50%;
            bottom: 3rem;
            width: 200px;
            height: 42px;
            z-index: 74;
            margin-left: -100px;
            line-height: 40px;
            &:hover{
                background-color: $color-primary;
                color: #333;
                border-color: $color-primary;
            }
              
        }
    }
    .content{
        padding: 2rem 3rem;
        background-color: #fff;
        .box{
            border-bottom: 1px #eee solid;
            margin-bottom: 2rem;
            .title-box{
                font-size: rem(18);
            }
            .body-box{
                padding: 2rem 0;
                p{
                    color: #999;
                }
            }
            .avatar{
          
                img{
                    width: 80px;
                    height: 80px;
                    object-fit: cover;
                    object-position: center center;              
                    display: block;
                }
               
              
            }
            .btn-edit{
                background-color: #f1f1f1;
                display: inline-block;
                padding: .3rem 2rem;
            }
        }
    }
    .table{      
        width: 100%;
      
        th{
            background-color: #f1f1f1;
            color: #333;
            padding: .6rem 1rem;
            font-size: rem(18);
        }
        tr{
            &:nth-child(2n+1){
                background-color: #f7f7f7;
            }
            td{
                padding: 1rem .8rem;
            }
        }
    }
    .content1{
        padding: 2rem 0;
        .btn-publish{
            text-align: center;
                background-color:  $color-primary;
            border-radius: 17px;
                width: 100px;
                height: 34px;
            line-height: 34px;
              display: block;
              &:hover{
                  background-color: darken($color: $color-primary, $amount: 10);
                  color: #000;
              }
        }
        .pheader{
            padding: 0 3rem;
            margin-bottom: 1.5rem;
        }
        .title-box1{
          
            font-size: rem(18);
        }
        
    }
}