.page-news {
    .s1{
        padding-top: 6rem;
       
        @include mq(md) {
            padding-top: 8rem;
            padding-bottom: 1rem;
        }
        @include mq(lg) {
            padding-top: 12rem;
        padding-bottom: 5rem;
        }
    }
    .s2{
     
        .newslist{
           
            @include mq(lg) {
                margin-bottom: 2rem;
            }
            @include mq(xl) {
                margin-bottom: 3rem;
            }
        }
        .item{
            
            margin-bottom: 3rem;
            @include mq(md) {
                margin-bottom: 3rem;
            }
            @include mq(lg) {
                margin-bottom: 6rem;
            }
            .pic{
                overflow: hidden;
                display: block;
                margin-bottom: 1rem;
                @include mq(md) {
                    margin-bottom: 0;
                }
                img{
                    display: block;
                    width: 100%;
                    transition: all .2s;
                }
            }
            .txt{
          
                display: block;
                
                
            }
            .title{
                font-size: rem(18);
                font-weight: normal;
             
                @include mq(md) {
                    font-size: rem(24);   margin-bottom: 2rem;
                }
            }
            .des{
                color: #999;
                display: none;
                @include mq(lg) {
                    display: block;
                }
            }
            time{
                color: #999;
               
            }
            &:hover{
                .des{
                    color: #999;
                }
             
                .pic{                   
                    img{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
    .news-footer {
        text-align: center;
        padding-bottom: 3rem;
        @include mq(md){
            padding-top: 2rem;
        }
        .btn-default-outline{
            border: 1px #221e1f solid;
            padding: .8rem 5rem;
            background-color: #fff;
            color: #221e1f;
            text-transform: uppercase;
            &:hover{
                background-color: #221e1f;
                color:#fff;
            }
        }
    }
}

.page-news-detail{
    padding-top: 45px;
    @include mq(md){
        padding-top: 70px;
    }
    @include mq(lg){
        padding-top: 80px;
    }
    @include mq(xl){
        padding-top: 96px;
    }
    .top_pic{
        height: 200px;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        margin-bottom: 2rem;
        @include mq(md){
            height: 300px; margin-bottom: 3rem;
        }
        @include mq(lg){
            height: 400px; margin-bottom: 4rem;
        }
        @include mq(xl){
            height: 500px; margin-bottom: 5rem;
        }
    }
    article{
        header{
          
            margin-bottom: 2rem;
            @include mq(md) {
                margin-bottom: 3rem;
            }
            h1{
                font-size: rem(24);
                margin-bottom: 1rem;
                @include mq(md) {
                    font-size: rem(28);  margin-bottom: 1rem;
                }
            }
            time{
              color: #999;
            }
        }
        figure{
            margin-top:3rem;
            margin-bottom:3rem;
            height: auto !important;
        }
    }
    
  
}