.page-news {
    .s1{
        .header-news{
            
            h2{
                margin-bottom: 12rem;
                color: $color-primary;
                font-style: italic;
            }
            .links{
                line-height: 1;
                padding-right: 1rem;
                .swiper-prev,.swiper-next{
                    display: inline-block;
                    color: #ccc;
                   
                    .iconfont{
                        font-size: rem(36);
                    }
                }
                .swiper-prev{
                    margin-right: 1rem;
                }
                a{
                    color: #ccc;
                    &:hover{
                        color: $color-primary;
                    }
                }
            }
        }
        .swiper{
            .swiper-slide {
                width: 28%;
            }
            .item{
                border-left: 1px #DCDDDD solid;
                padding-left: 2rem;
                padding-right: 2rem;
                padding-bottom: 2rem;
                position: relative;
                .pic{
                    overflow: hidden;
                    img{
                        width: 100%;
                        display: block;
                        margin-bottom: 1rem;
                        transition: all .3s;
                    }
                }
                
                .title{
                    font-size: rem(18);
                    margin-bottom: 1.5rem;
                    @include mq(xxl){
                        font-size: rem(20);
                    }                   
                }
                .date,.des{
                    color: #999;
                    margin-bottom: .6rem;
                }
                .des{
                    margin-bottom: 3rem;
                }
                .more{
                    position: absolute;
                    left: 2rem;
                    bottom: 0;
                    z-index: 100;
                    color:#ccc;
                    line-height: 1;
                    .iconfont{
                        font-size: rem(32);
                    }
                }

                &:hover{
                    .date{
                        color: $color-primary;
                    }
                    .title{
                        a{
                            color: $color-primary;
                        }
                    }
                    .more{
                        color: $color-primary;
                    }
                    .pic{
                        img{
                            transform: scale(1.1);
                        }
                    }
                }
                
            }
        }
        &.s2{
            .header-news{
                h2{
                 
                    @include mq(lg){
                        text-align: right;
                    }
                }
                .links{
                    .swiper-prev2,.swiper-next2{
                        display: inline-block;
                        color: #ccc;
                       
                        .iconfont{
                            font-size: rem(36);
                        }
                    }
                    .swiper-prev2{
                        margin-right: 1rem;
                    }
                }
            }
        }
       
    }

    
}


.page-news-detail {
    .news-header{
        text-align: center;
        border-bottom: 1px #eee solid;
        margin-bottom: 2rem;
        padding-bottom: 2rem;
        @include mq(xl){
            margin-bottom: 3rem;
        }
        @include mq(xxl){
            margin-bottom: 4rem;
        }
        h1{
            color:#333;
        }
        .date{
            text-align: center;
            color:#999;
        }
    }
    .container {
       
        @include mq(xxl){
            max-width: 1266px;
        }
        .content {
            border-bottom: 1px #ccc solid;
            color: #8a9095;
            padding-bottom: 2rem;
            margin-bottom: 2rem;
            @include mq(xl) {
                padding-bottom: 3rem;
                margin-bottom: 3rem;
            }
            p {
                text-align: justify;
           
            }
            .pic {
                text-align: center;
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
        }
        .pagenav {
            a {
             
                display: inline-block;
                height: 36px; 
                line-height: 36px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;            
        
                &:hover {               
                    color:$color-primary;
                }
                &.prev{
                    .iconfont{
                        margin-right: 1rem;
                    }
                }
                &.next{
                    .iconfont{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}