.page-news {
    .news-list{
        margin-bottom: 3rem;
        .item{
            background-color: #fff;
           
            .pic{
                display: block;
                overflow: hidden;
                img{
                    width: 100%;
                    transition: all .3s;
                }
               
            }
            .txt{
                padding: 1rem 1rem;
                @include mq(lg){
                    padding: 1rem 2rem;
                }
            }
            h3{
                font-size: 1rem;
            }
            .date{
                color: $color-note;              
                font-size: rem(14);
                margin-bottom: .6rem;
            }
            &:hover{
                box-shadow: 3px 3px 12px rgba(0,0,0,.1);
                .pic{
                    img{
                        transform: scale(1.1);
                    }
                }
            }
          
        }

       
    }

    
}

// .page-news-list{
//     .title-section{
//         color: $color-primary;
//     }
//     .news-list{
//         .item{
//             background-color: #FAFBFE;
//             .pic{
//                 display: block;
//                 img{
//                     width: 100%;
//                 }
//             }
//             .txt{
//                 padding: 1.5rem;
//                 @include mq(xxl){
//                     padding: 1.5rem 2rem;
//                 }
//                 .date{
//                     color: $color-primary;
//                     margin-bottom: .5rem;
//                 }
//                 .title{
//                     margin-bottom: 1rem;
//                     font-size: rem(18);
//                     @include mq(xl){
//                         font-size: rem(20);
//                     }
//                 }
//                 a{
//                     color:$color-primary;
//                 }
//                 .des{
//                     color: #999;
//                 }
//             }
//         }
//     }
// }

.page-news-detail {
    .news-header{        
        margin-bottom: 1rem;
       
        @include mq(md){
            margin-bottom: 2rem;
            padding-bottom: 1rem;
        }
        
        h1{
            color:#333;
            margin-bottom:1rem ;
            @include mq(md){
                margin-bottom:2rem ;
            }
        }
        .date{           
            color:#999;
        }
       
    }
    .container {
        position: relative;
        @include mq(lg){
            max-width: 830px;
        }
        .content {
           
            color: #8a9095;
            padding-bottom: 1rem;
            margin-bottom: 1rem;
            @include mq(md) {
                padding-bottom: 2rem;
                margin-bottom: 2rem;
            }
            @include mq(xl) {
                padding-bottom: 3rem;
                margin-bottom: 3rem;
            }
         
            p {
                text-align: justify;           
            }
            
            .pic {
                text-align: center;
                margin-bottom: 2rem;
                margin-top: 2rem;
            }
        }
        .pagenav {
            a {
                width: 100%;
                display: inline-block;              
             
                text-overflow: ellipsis;
           
                border: 1px #eee solid;
                padding: .5rem 1rem;
                span{
                    display: none;
                    @include mq(lg){
                        display: inline;
                    }
                }
                &:hover {               
                    color:$color-primary;
                }
                &.prev{
                    .iconfont{
                        margin-right: 1rem;
                    }
                }
                &.next{
                    text-align: right;
                    .iconfont{
                        margin-left: 1rem;
                    }
                }
            }
        }
    }
}