
.page-overview {  
    position: relative;  
    padding-top: 24vw;
    // @include mq(xl){
    //     padding-top: 20rem;
    // }
    // @include mq(xxl){
    //     padding-top: 25rem;
    // }
    .banner{
        position: absolute;
        left: 0;
        top: 0;
        z-index: 1;
        width: 100%;
       
    }

    .s1{
        position: relative;
        z-index: 2;
        .intro{          
            background: rgba(255,255,255,.8);

            .des{
                padding: 1rem;
                @include mq(xl){
                    font-size: rem(16);
                    padding: 2rem;
                }
                @include mq(xxl){
                    font-size: rem(18);
                    padding: 3rem;
                }
            }
        }
        .title{
            text-align: center;
            background-color: $color-primary;
            color: #fff;
            width: 160px;
            margin: 0 auto;
            position: relative;
            height: 50px;
            line-height: 50px;
            @include mq(xxl){
                width: 250px;
                height: 80px;
                line-height: 80px;
            }
            &::after{
                background-color: $color-secondary;
                content: " ";
                height: 3px;
                width: 50px;
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translateX(-50%);
                @include mq(xxl){
                    height: 5px;
                    width: 70px;
                }
            }
        }
    }
    .s2 {     
        margin-bottom: 3rem;
        @include mq(xl){
            margin-bottom: 4rem;
        }
        .milestone {
            overflow: hidden;        
            position: relative;         
            
            &::after {
                height: 1px;
                width: 100%;
                left: 0;
                top: 50%;
                content: " ";
                display: block;
                position: absolute;
                background-color: #C5C5C5;
            }
            .title-section-v2 {
                h3 {
                    color: #fff;
                    font-weight: normal;
                }
            }
            .swiper-container{
                position: relative;
                &::after{
                    display: none;
                    content: " ";
                    width: 100%;
                    height: 100%;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 50;
                    background-image: linear-gradient(90deg, #F8F8F8 0%, rgba(248,248,248,0.66) 24%, rgba(248,248,248,0.00) 51%, rgba(248,248,248,0.66) 75%, #F8F8F8 100%);
                   @include mq(lg){
                        display: block;
                   }
                }
            }
            .swiper-wrapper {
                padding-top: 140px;
                padding-bottom: 140px;
                @include mq(lg){
                    padding-top: 180px;
                    padding-bottom: 180px;
                }
            }
            .item {
                width: 26px;
                height: 26px;
                border-radius: 50%;
                background-color: rgba(255,177,0,.2);
                position: relative;
                &::after{
                    position:absolute;
                    content: " ";
                    display: block;
                    width: 14px;
                    height: 14px;
                    border-radius: 50%;
                    left: 50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    background-color: $color-secondary;
                }

                .txt {
                    background: url(../img/line.png) no-repeat left .7rem bottom;
                    position: absolute;
                    box-sizing: border-box;
                    width: 280px;
                    height: 110px;                  
                    padding: 0 0 0 2rem;
                    bottom: 3rem;
                    left: 0;
                    @include mq(md) {
                        height: 110px;
                    }
                    @include mq(lg) {
                        height: 110px;
                    }
                    @include mq(xl) {
                        padding: 0 0 0 2rem;
                    }
                    h3.year {
                        color: $color-primary;                  
                        @include mq(xl){
                            font-size: rem(16);
                        }
                        @include mq(xxl){
                            font-size: rem(18);
                        }
                    }
                    p {
                        font-size: rem(12);
                        height: 120px;
                        overflow-y: auto;
                        margin-bottom: 0;
                     
                        padding-right: 0.5rem;
                        @include mq(md){
                         
                            height: 115px;
                        }
                        @include mq(lg){
                            margin-right: -0.6rem;
                            padding-right: 0.5rem;
                            height: 100px;
                        }
                        &::-webkit-scrollbar-track
                        {
                            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
                            background-color: #fff;
                        }
        
                        &::-webkit-scrollbar
                        {
                            width: 3px;
                            background-color: #fff;
                        }
        
                        &::-webkit-scrollbar-thumb
                        {
                            background-color: $color-secondary;
                        }
                    }
                 
                }
                &.ood {
                    .txt {
                        bottom: auto;
                        top: 3rem;
                    }
                }
            }
   
                .swiper-prev,
                .swiper-next {
                    position: absolute;
                    left: 4vw;
                    top: 50%;
                    z-index: 100;
                    width: 50px;
                    height: 50px;                  
                    text-align: center;
                    line-height: 50px;
                    transform: translateY(-50%);
                    color: $color-secondary;               
                   
                    @include mq(md) {
                    
                        left: 5vw;
                    }
                    @include mq(lg) {
                        left: 6vw;
                    }
                    @include mq(xl) {
                        left: 7vw;
                    }
                    @include mq(xxl) {
                        left: 8vw;
                    }
                    &:hover {
                        background-color: $color-secondary;
                        color: #fff;
                    }
                    .iconfont{
                        font-size: 2rem;
                    }
                }
                .swiper-next {
                    left: auto;
                    right: 4vw;
                    @include mq(md) {
                        right: 5vw;
                    }
                    @include mq(lg) {
                        right: 6vw;
                    }
                    @include mq(xl) {
                        right:7vw;
                    }
                    @include mq(xxl) {
                        right: 8vw;
                    }
                }
            
       
        }
             
    }
    .s3{
        .contact {
            position: relative;
            z-index: 10;            
            color:#fff;
            padding: 2rem 2rem 3rem;
            &::after{
                content: " ";
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
                z-index: -1;
                background-color: $color-primary;
                width: 100%;
                height: 100%;
                @include mq(lg){
                    width: 110%;
                    left: 0;
                    transform: translate(0,-50%);
                }
                @include mq(xl){
                    width: 115%;
                    left: 50%;                   
                    transform: translate(-50%,-50%);
                }
            }
            .title-section{
                h2{
                    color: #fff;
                    text-transform: uppercase;
                }
            }
            .form-group{
                margin-bottom: 1.5rem;
                .form-label{
                    @include mq(lg){
                        font-size: rem(16);
                    }
                    @include mq(xl){
                        font-size: rem(18);
                    }
                    @include mq(xxl){
                        font-size: rem(20);
                    }
                }
            }
            .form-control{
                width: 100%;
                background-color: transparent;
                border: none;
                border-bottom: 1px #DEDEDE solid;
                color:#fff;
                padding-top: .5rem;
                padding-bottom: .5rem;
                outline: none;
                @include mq(lg){
                    font-size: rem(16);
                }
                @include mq(xl){
                    font-size: rem(18);
                }
                @include mq(xxl){
                    font-size: rem(20);
                }
            }
            .form-control-textarea{
                color:#fff;
                background-color: transparent;
                border: none;
                border-bottom: 1px #DEDEDE solid;
                width: 100%;
                outline: none;
                @include mq(lg){
                    font-size: rem(16);
                }
                @include mq(xl){
                    font-size: rem(18);
                }
                @include mq(xxl){
                    font-size: rem(20);
                }
            }
            ::placeholder {
                color: #fff;
                @include mq(lg){
                    font-size: rem(16);
                }
                @include mq(xl){
                    font-size: rem(18);
                }
                @include mq(xxl){
                    font-size: rem(20);
                }
              }
              .action{
                  text-align: center;
              }
        }
        .map-gaode{
            position: relative;
            z-index: 200;
            height: 350px;
            background-color: #fff;
        
            box-shadow: 0 0 24px rgba(0,0,0,.1);
            @include mq(md){
                height: 380px;
            }
            @include mq(lg){
                margin-left: -30px;    height: 460px;
            }
        }
    }
}
