.pagination {
    @include reset-list();
    padding-top: 1rem;
    @include mq(md) {
        padding-top: 2rem;
    }
    li {
        display: inline-block;
        margin: 0;
        a {
            display: block;
            line-height: 1;          
            color: #ccc;
            margin: 0 .1rem;
         
            border-radius: 50%;
            background-color: #fff;
            text-align: center;
        
            width: 38px;
            height: 38px;
            line-height: 38px;
         
              
           
        }
        &.active {
            a {
                color: #333;
          
            }
        }
        &:hover {
            a {
                background-color: $color-primary;
                color:#fff;
            }
        }
        .prev,
        .next {       
            text-align: center;  
            border:1px #eee solid;     
            line-height: 36px;
        }
    }
}

.page-link {
    color: #999;
    &:hover {
        color: $color-primary;
    }
    .iconfont {
        font-size: rem(14);
    }
}