.pagination {
    @include reset-list();
    padding-top: 1rem;
    @include mq(md) {
        padding-top: 2rem;
    }
    li {
        display: inline-block;
        margin: 0;
        a {
            display: block;
            line-height: 1;
            padding: .5rem .72rem;
            color: #999;
            margin: 0 .1rem;
            background-color: #f3f3f3;
            @include mq(md) {               
                padding: .7rem 1rem;
            }
        }
        &.active {
            a {
                color: $color-primary;
            }
        }
        &:hover {
            a {
                color: $color-primary;
            }
        }
        .prev,
        .next {       
            text-align: center;          
            background-color: transparent;
        }
    }
}

.page-link {
    color: #999;
    &:hover {
        color: $color-primary;
    }
    .iconfont {
        font-size: rem(14);
    }
}