

.page-product{
    
        .item{
            display: block;  
            background-image: linear-gradient( 90deg, rgb(13,31,68) 1%, rgb(21,46,99) 98%);               
              position: relative;
              overflow: hidden;
              padding-top: 120px;
              @include mq(md){
                padding-top: 0;
            }
            .pic{
                img{
                    display: block;
                    width: 100%;
                }      
            }
            .txt{
                position: absolute;
                left: 0;
                top:0;
                z-index: 100;              
                width: 100%;
                height:120px;
                color: #fff;
                @include mq(md){
                  
                    background-color: transparent; 
                    height: 100%;
                }
                .container{
                    @include vertical-align();
                }
            }
            &:hover{             
                background-image: linear-gradient( -90deg, rgb(17,82,196) 0%, rgb(10,42,111) 100%);                  
            }
            

            &.ood{
                background-image: linear-gradient( 90deg, rgb(21,46,99) 0,   rgb(13,31,68) 100%);     
                .txt{
                    .container{
                        text-align: right;
                    }
                }
                &:hover{             
                    background-image: linear-gradient( 90deg, rgb(17,82,196) 0%, rgb(10,42,111) 100%);                  
                }
            }
        
    }
    
}
.page-product-detail{
   
    .s1{
        position: relative;
        .pic{
            img{
                width: 100%;
                height: 150px;
                object-fit: cover;
                object-position: center center;
                @include mq(md){
                    height: auto;
                }
            }
        }
        .txt{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            color: #fff;
            .container{
                @include vertical-align();
                h1{
                    margin: 0;
                }
                h3{
                    font-weight: normal;
                }
            }
        }
    }
    .s2{
        
        .item{
            border-bottom: 1px #d9dde7 solid;
            .title{
                color:$color-primary;
                @include mq(md){
                    color: #333;
                }
            }
            dl{
                dd{
                    color:#666;
                }
            }
            ul{
                padding-left: 1.3rem;
            }
            &.last{
                text-align: right;
                border-bottom: none;
                a.btn{
                    position: relative;
                    padding-left: 2.5rem;  
                    .iconfont{
                       font-size: rem(18);       
                       position: absolute;
                       left: 1rem;
                       top: 0.1rem;
                       z-index: 100;
                       @include mq(md){                     
                            left: 2rem;    
                            font-size: rem(24);       
                            top: 0rem;              
                        }
                       @include mq(lg){                     
                           font-size: rem(28);                    
                       }
                       @include mq(xl){                     
                            top: 0.2rem;                            
                        }
                        @include mq(xxl){                     
                            top: 0.4rem;
                            left: 3rem;    
                        }
                    }
                    @include mq(md){                      
                        padding-left: 4rem;  
                    }
                    @include mq(lg){                      
                        padding-left: 5rem;  
                    }
                    @include mq(xl){
                        padding-right: 3rem;
                        padding-left: 5rem;
                     

                    }
                    @include mq(xxl){
                        padding-right: 3rem;
                        padding-left: 5rem;  
                    }
                }
            }
        }
    }
  
}