

.page-product{
    .brandList{
        .item{
   
            a.pic{
           
                display: block;
                text-align: center;
            }
            a.title{
                display: block;
                text-align: center;
                font-weight: lighter;
                @include mq(xxl){
                    font-size: rem(18);
                }
            }
        }
    }
    
}

.page-brand-products{
    .s1{
        h3{
            color:#333;
            span{
                font-weight: lighter;
            }
        }
        .txt{
            padding-left: 2rem;
        }
    }
    .s2{
        ul.categories{
            @include reset-list();
            text-align: center;
            li{
                display: inline-block;
                padding: 0 2rem;
                border-right: 1px #ddd solid;
                line-height: 1;
                &:last-child{
                    border-right: none;
                }
                @include mq(xxl){
                    font-size: rem(18);
                }
                a{
                    color:#999;
                    &.active{
                        color:#333;
                    }
                }
            }
        }

        .productList{
            .item{
                .pic{
                    display: block;
                    text-align: center;
                    height: 320px;
                    img{
                        @include vertical-align(); 
                    }
                }
                .brand{
                    text-align: center;
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                }
                .title{
                    text-align: center;
                    font-weight: bold;
                    display: block;
                    margin-bottom: 1rem;
                    color:#333;
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                }
                p{
                    font-weight: lighter;
                    line-height: 1.6;
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                }
            }
        }
    }
}