.senav{
    position: fixed;
    right: 2rem;
    z-index: 1000;
    top: 50%;
    
    @include reset-list();
    margin-top: -3rem;
    li{
        margin-bottom: .6rem;
        text-align: center;
        a{
            width: 8px;
            height: 8px;
            border-radius: 50%;
            overflow: hidden;
            border:1px $color-secondary solid;
            text-indent: -5000px;
            color: #999;
            position: relative;
            transition: all .2s;
            display: block;
            @include mq(lg){
                width: auto;
                height: auto;
                border-radius: 0;           
                border:none;
                text-indent: 0;
              
            }
            span{
                display: none;
                position: absolute;
                left: -148px;
                top: 0;
                z-index: 1;
                width: 140px;
                text-align: right;
                text-transform: uppercase;
                display: inline-block;

            }
            &:hover{
                transform: scale(1.2);
                color: $color-primary;
                overflow: visible;
                span{
                    display: block; font-style: normal;
                }
            }

           
        }
        &.active{
            transform: scale(1.2);
            font-style: italic;
            color: $color-primary;
            a{
                
                    color: $color-primary;
                    background-color: $color-primary;
                    border-color: $color-primary;
                    @include mq(lg){
                       background-color: transparent;
                    }
            }
        
          
        }
    }
}
.page-project{
    .title-section{
        margin-bottom:1rem;
        @include mq(md){
            margin-bottom:2rem;
        }
        @include mq(lg){
            margin-bottom: 1rem;
        }
        @include mq(xl){
            margin-bottom: 1.5rem;
        }
    }
    
    .s1{
       
        background:url(../img/projects_01.jpg) no-repeat center bottom;
        background-size: 100% auto;
        margin-top: 45px;
        @include mq(md){
            margin-top: 60px;
        }
        @include mq(lg){
            margin-top: 70px;
            background:url(../img/projects_01.jpg) no-repeat right 15px center;  background-size: 65% auto;
        }
        @include mq(xl){
            background-size: 65% auto; margin-top: 80px;
        }
        @include mq(xxl){
            background-size: auto;margin-top:98px;
        }

        .intro{
            background:$color-primary url(../img/projects_03.png) no-repeat right bottom;
           
            color: #fff;
            padding: 1rem;
            @include mq(md){
                padding: 4rem 4rem 4rem;
              
            }
            @include mq(lg){
                width: 500px; padding: 3rem 3rem 4rem;
              
            }
            @include mq(xl){
                padding: 4rem 5rem 4rem;
                width: 580px;
              
            }
            @include mq(xxl){
                padding: 5rem 6rem 5rem;
                width: 660px;
              
            }
            ul{
                @include reset-list();
                @include mq(md){
                    margin-bottom: 5rem;
                  
                }
                @include mq(lg){
                    margin-bottom: 5rem;
                  
                }
                @include mq(xl){
                    margin-bottom: 6.4rem;
                  
                }
                @include mq(xxl){
                    margin-bottom: 10rem;
                  
                }
                li{
                   
                    padding-left: 1.3rem;
                    position: relative;
                    margin-bottom: 1rem;
                    @include mq(md){
                        margin-bottom: 3rem;
                    }
                    &::before{
                        content: " ";
                        display: block;
                        position: absolute;
                        left: 0;
                        top: .45rem;
                        background-color: #fff;
                        width: 7px;
                        height: 7px;
                        z-index: 10;
                    }
                }
            }
            p{
                font-size: rem(12);
                font-weight: lighter;
                text-align: center;
            }
        }
        .pic{
            padding:2rem;
            @include mq(md){
                padding:3rem;
               
            }
            img{
                width: 130px;
                @include mq(md){
                    width: 240px;
                }
                @include mq(lg){
                    width: 200px;
                }
                @include mq(xl){
                    width: auto;
                }
            }
        }
    }
    .s2{
        margin-top: 20px;
        @include mq(lg){
            margin-top: 60px;
        }
        @include mq(xl){
            margin-top: 70px;
        }
        @include mq(xxl){
            margin-top:88px;
        }
        .schools{
         
            @include mq(md){
                padding: 0 1rem;
            }
            .col-6{
                &:last-child{
                    @media (orientation: portrait) {
                        display: none;
                      }
                }
            }
            .item{
                position: relative;
                color: #fff;
                overflow: hidden;
                img{
                    display: block; transition: all .25s;
                    width: 100%;height: 250px;
                    object-fit: cover; object-position: center center;
                    @include mq(md){
                        width: 100%;height: 380px;
                     
                    }
                    @include mq(lg){
                        width: auto;height: auto;
                    }
                }
                .title{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    z-index: 100;
                    padding: 1rem;
                    margin: 0;
                    font-size: rem(12);
                    font-style: italic;
                    @include mq(xl){
                        font-size: 1rem;
                    }
                    @include mq(xxl){
                        font-size: rem(18);
                    }
                }
                .des{
                    position: absolute;
                    top: -2rem;
                    left: 0;
                    z-index: 90px;
                    background-color: rgba(0,120,67,.9);
                    padding: 1rem;
                    width: 100%;
                    height: 120%;
                    opacity: 0;
                    transition: all .25s;
                }
                &:hover{
                    img{
                        transform: scale(1.1);
                    }
                    .des{
                        opacity: 1;top: 0;
                    }
                }
            }
        }
    }
    .s3{
        margin-top:70px;
        @include mq(lg){
            margin-top: 50px;
        }
        @include mq(xl){
            margin-top: 60px;
        }
        @include mq(xxl){
            margin-top:78px;
        }
        .con{
           

            position: relative;
            @include mq(lg){
                padding-left: 250px; 
            }
            @include mq(xl){
                padding-left: 325px; 
            }
            .renke{
               
                @include mq(md){
                    position: absolute;
                    top: 2rem;
                    left: 1rem;
                    z-index: 10;
                }
                @include mq(lg){
                    top: 0;
                    left: 0;
                }
                .title{
                    color: $color-primary;
                    margin-bottom: 1rem;
                    @include mq(lg){
                        margin-bottom: .6rem;
                    }
                  
                }
            }
            img{
                width: 280px;
                @include mq(lg){
                    width: 300px;
                }
                @include mq(xl){
                    width: 370px;
                }
                @include mq(xxl){
                    width: auto;
                }
            }
            
            .rightcol{
                background-color: #cce4d9;               
                padding: 1rem;
                @include mq(md){
                    padding: 2rem 2rem 2rem 330px;
                    margin-bottom: 1rem;
                }
                @include mq(lg){
                    padding: 1rem 1rem 1rem 4.5rem;
                    height: 376px; overflow-y: auto;margin-bottom: 0;
                }
                @include mq(xl){
                    padding: 2rem 2.5rem 2rem 4.5rem;       height: 475px;
                }
                @include mq(xxl){
                    padding: 2rem 2.5rem 2rem 6rem;       height: 475px;
                }
                dl{
                    margin-bottom: 1rem;
                    @include mq(xl){
                        margin-bottom: 2rem;
                    }
                    &:last-child{
                       margin-bottom: 0;
                    }
                    dt{
                        font-size: rem(18);
                        color: $color-primary;
                        font-weight: normal;
                        border-bottom: 1px $color-primary solid;
                        margin-bottom: 1rem;
                        display: inline-block;
                        
                    }
                    dd{
                        color: #333;
                        margin: 0;  margin-bottom: .3rem;
                        @include mq(xl){
                            margin-bottom: .5rem;
                        }
                        strong{
                            color: $color-primary;
                        }
                    }
                }
            }
        }
        .luqu{
            background-color: #cce4d9;
            padding: 1rem 1.5rem;
            @include mq(md){
                padding: 2rem;
            }
            @include mq(lg){
                width: 240px; 
                height: 376px;
            }
            @include mq(xl){
                height: 475px;    width: 300px; 
            }
            .title{
                color: $color-primary;
                position: relative;
                margin-bottom: 2rem;
                font-size: rem(18);
                @include mq(xl){
                    margin-bottom: 3rem;
                }
                &::before{
                    content: " ";
                    width: 11px;
                    height: 11px;
                    display: inline-block;
                    background-color: $color-primary;
                    margin-right: .8rem;
                }
            }
            .box{
                margin-bottom: 1.5rem;
                @include mq(lg){
                    margin-bottom: 1rem;
                }
                @include mq(xl){
                    margin-bottom: 3rem;
                }
                .icon{
                    margin-right: .6rem;
                }
                dl{
                    dt{
                        font-size: 1rem;
                        color: #000;
                        margin-bottom: 1rem;
                    }
                }
            }
            .note{
                color:#d2902d
            }
        }
    }

    .s4{
        margin-top: 70px;
        @include mq(md){
            margin-top: 3rem;
        }
        @include mq(lg){
            margin-top: 0;
        }
        @include mq(xl){
            margin-top: -20px;
        }
        @include mq(xxl){
            margin-top:28px;
        }
        .masters{
            padding: 0 1rem;
            position: relative;
            &::after{
                content: " ";
                width: 100%;
                height: 260px;
                display: inline-block;
             
                margin-right: .8rem;
                position: absolute;
                left: 0;
                top: 2.35rem;
                z-index: -1;
                @include mq(lg){
                    background-color: $color-primary;
                }
            }
            .item{
                position: relative;
                text-align: center;
                margin-bottom: 2rem;
                @include mq(md){
                    height: 250px;
                    margin-bottom: 1rem;
                    text-align: left;
                }
                @include mq(lg){
                    margin-bottom: 0; height: auto;
                }
                img{
                    height: 250px;
                    margin-bottom: .6rem;
                    @include mq(md){
                        height: 250px;
                        float: left;
                        margin-bottom: 0;
                    }
                    @include mq(lg){
                        height: auto;
                        float: none;
                    }
                }
                .des{
                    
                    @include mq(md){
                        margin-left: 250px;
                        padding-top: 5rem;
                        padding-right: 3rem;
                    }
                    @include mq(lg){
                        position: absolute;
                        background-color: #fff;
                        left: 3.25rem;
                        margin-top: rem(-42);
                        top: 100%;
                        z-index: 100;
                        padding:.5rem 1rem;
                        width: 245px;
                        margin-left: 0;
                    }
                    h3{
                        font-size: rem(18);
                        color: #000;
                    }
                }
            }
        }
    }
    .s5{
        margin-top: 50px;
        @include mq(xl){
            margin-top: 60px;
        }
        @include mq(xxl){
            margin-top:78px;
        }
            
        
    }
    .animated{
        opacity: 0;
    }
   
}

.courses{
    .item{
        position: relative;
        display: block;
        margin-bottom: rem(30);
        @include mq(lg){
            margin-bottom: rem(0);
        }
        img{
            width: 100%;
            max-width: none;
        }
        .overly{
            position: absolute;
            left: 0;
            top: 0;
            z-index: 100;
            height: 100%;
            width: 100%;
            background-color: rgba(0,120,67,.9);
            opacity: 0;
            transition: all .25s;
            .des{
                @include vertical-align(); 
                text-align: center;
                color: #fff;
                .icon{
                    margin-bottom: 2.5rem;
                    .iconfont{
                        font-size: 3rem;
                    }
                }
                p{
                    text-decoration: underline;
                }

            }
        }

        &:hover{
            .overly{
                opacity: 1;
            }
        }
    }
}

.page-project001{
    .s1{
        .intro{
            .t1{
                margin-bottom: 2rem;
                @include mq(lg){
                    margin-bottom: 4rem;
                }
                .p1{
                  
                    margin: 0;
                    text-align: justify;
                    @include mq(lg){
                        padding: 0 2.7rem 0 4.7rem;
                    }
                }
            }
            position: relative;
            &::after{
                content: " ";
                display: block;
                width: 66%;
                height: 385px;
           
                position: absolute;
                right: 0;
                bottom: 0;
                z-index: -1;
                @include mq(lg){
                    background-color: #eee;
                }
            }
            figure{
                margin-bottom: 1rem;
                @include mq(lg){
                    margin: 0;
                }
                
            }
            dl{
            
                dd{
                    margin-bottom: .2rem;
                }
            }
        }
    }
    .s2{
        .gallery-top{
            .swiper-slide{
                position: relative;
                h3{
                    position: absolute;
                    bottom: 0;
                    right: 0;
                    width: 100%;
                    padding:.3rem 1rem;
                    z-index: 199;margin: 0;
                    text-align: right;
                    color: #fff;
                    background-color: rgba(0,120,67,.9);
                    font-weight: normal;
                    box-sizing: border-box;
                    @include mq(md){
                        padding:.5rem 1rem;
                    }
                }
            }
            img{
                width: 100%;
                max-width: none;
            }
        }
        .gallery-thumbs{
            padding-bottom: 30px;
            padding-top: 15px;
            @include mq(md){
                padding-top: 30px;
            }
            .swiper-slide{
                height: 60px;
                background-position: center center;
                background-size: cover;
                transition: all .2s;
                @include mq(md){
                    height: 100px;
                }
                &.swiper-slide-thumb-active{
                    transform: scale(1.1);
                    &::before{
                        content: " ";
                        display: block;
                        width: 100%;
                        height: 3px;
                        background-color: $color-primary;
                        position: absolute;
                        right: 0;
                        top: 0;
                        z-index: 1;
                    }
                }
            }
        }
    }
    .s3{
        .item{
            margin-bottom: rem(30);
            img{
                display: block;
            }
        }
    }
}

.page-project002{
    .s1{
        .tab-header{
            @include reset-list();
            text-align: center;
            li{
                margin-bottom: rem(30);
                display: inline-block;
                @include mq(lg){
                    display: block;
                }
                a{
                    display: block;
                    padding: .6rem 2.2rem;
                    border:1px $color-primary solid;
                    color: $color-primary;
                    @include mq(md){
                        padding: 1rem 2.2rem;
                    }
                    @include mq(lg){
                        padding: 1.45rem 2.2rem;
                    }
                    &.active{
                        background-color: $color-primary;
                        color: #fff;
                    }
                }
            }
        }
        .tab-content{
            display: none;
            &.active{
                display: block;
            }
            .pic{
               
                @include mq(lg){
                    min-height: 300px;
                }
            }
        }
        .con-header{
            background: $color-primary url(../img/projects_18.jpg) no-repeat center center;
            background-size: cover;
            color:#fff;
         
            padding: 1.3rem 1rem .3rem;
            margin: 0 -15px 2rem;
            @include mq(lg){
                padding: 0 3.5rem;    height: 162px;    margin: 0 0 5rem;
            }
            @include mq(xl){
                height: 169px;
            }
            .txt{
               
                @include mq(lg){
                    @include vertical-align();
                }
            }

            &.con-header2{
                background-image: url(../img/projects_20.jpg);
            }
        }
    }
    .zhengshu{
        text-align: center;
        background: #eee url(../img/projects_27.png) no-repeat right 1.5rem bottom 2rem;
        margin-right: 15px;
        padding: 4rem 2rem 1.5rem;
        position: relative;
        &::before{
            content: " ";
            display: block;
            width: 100%;
            height: 100%;
            border:2px $color-primary solid;
            position: absolute;
            right: -15px;
            top: 15px;
            z-index: 1;
        }
        .img1{
            position: absolute;
            left: 6%;
            top: 12%;
            z-index: 1000;
        }
        .img2{
            position: absolute;
            left: 41%;
            top: 8%;
            z-index: 1000;
        }

        figure{
            img{
                display: block;
                margin: 0 auto 1rem;
                box-shadow: 0 0 25px rgba(0,0,0,.15);
            }
            color: #d2902d;
        }


    }

    .s3{
       
        .intro{
            margin-bottom: 2rem;
            @include mq(lg){
                margin-bottom: 4rem;
             }
            .pic{
               
             
                    margin-bottom: 1rem;
           
            
               @include mq(md){
                display: none;margin-bottom: 0;
             }
               @include mq(lg){
                display: block;
             }
            }
            .des{
                padding: 1rem;
                border: 1px $color-primary dashed;
                text-align: justify;
                @include mq(lg){
                    padding: 1.5rem 1.5rem 0;
                }
                @include mq(xl){
                    padding: 1.5rem 1.5rem 1rem;
                }
                @include mq(xxl){
                    height: 382px;
                }
                .pic2{
                    float: right;
                    margin: 0 0 1rem 1.5rem;
                    display: none;
                    @include mq(md){
                        display: block;
                        width: 300px;
                     }
                    @include mq(lg){
                       display: none;
                    }
                }
            }
        }
        .photos{
            margin-bottom: 2rem;
            @include mq(lg){
                margin-bottom: 4rem;
             }
             img{
                 display: block;
                 width: 100%;
                 max-width: none;
                 margin-bottom: 1rem;
             }
        }
        .sethree{
            .title{
                color: #333;
                font-size: rem(18);
                margin-bottom: 2rem;
                @include mq(lg){
                    font-size: 1rem;
                 }
                 @include mq(xl){
                    font-size: rem(18);
                 }
            }
            .xiaoyou{
                border: 1px $color-primary dashed;
                padding: 3rem 2rem 3rem 2.5rem; 
               
                margin-bottom: 2rem;
                @include mq(lg){
                    height: 350x;   margin-bottom: 0;
                 }
                 @include mq(xl){
                    height: 379px;
                 }
                .man{
                    margin-bottom: 2rem;
                }
                .list{
                    @include reset-list();
                }
                
            }
            .zhuanye{
                background-color: #eee;padding:3rem 2rem;    
                border: 1px #eee dashed;
              
                @include mq(md){
                    padding:3rem 3rem;  height: 379px;
                 }
                 @include mq(lg){
                    padding:3rem 3rem;
                 }
                 @include mq(xl){
                    padding:3rem 5rem;
                 }
                .title{
                    margin-bottom: 5rem;
                }
                .list{
                    @include reset-list();
                    li{
                        margin-bottom: .3rem;
                    }
                }
            }
            .pic3{
                width: 100%;
                height: 100%;
                object-fit: cover;
                object-position: center center;
            }
        }
    }
}

.page-project003{
    .s1{
        .con-header{
            background-image: url(../img/projects_36.jpg);
            margin-bottom: 0;    
            &.con-header2{
                background-image: url(../img/projects_37.jpg);
            }
            
        }
        .note{
            margin-bottom: 2rem;
            padding-top: 1rem;
           
            @include mq(lg){
                text-align: right; padding-top: .5rem;     margin-bottom: 4rem;
            }
        }
    }
    .s3 {
        .sethree {
            .zhuanye{
                .title{
                    margin-bottom: 1.5rem;
                }
            } 
        }
    }
    .s4{
        .intro{
            margin-bottom: 4rem;
           
            .des{
                padding: 1rem;
                position: relative;
                @include mq(lg){
                    padding: 4rem 6rem 2.1rem 12rem;
                }
                @include mq(xl){
                    padding: 5rem 7rem 1rem 14rem;
                }
               .note{
                   color: #d2902d;
               }
               .pics{
                  
                   @include mq(lg){
                    position: absolute;
                    left: -6rem;
                    bottom: .5rem;
                    z-index: 100;
                }
                   img{
                       display: block;
                       margin-bottom: 1rem;
                       width: 100%;
                       max-width: none;
                       @include mq(lg){
                        width: auto;  max-width: 100%;
                        }
                   }
               }
            }
        }
    }
}