.page-quote{
    
}
.header-quote{
    text-align: center;
    margin-bottom: 3rem;
    h2{
        font-size: rem(34);
        color: $color-primary;
        text-transform: uppercase;
    }
    p{
        font-size: rem(13);
        color: #999;
        margin-bottom: 2rem;
    }
}

.quoteform{
    .invalid-feedback{
        color: red;
    }
    .hasfile{
        padding: .5rem;
        background-color: #f1f1f1;
        border-radius: .3rem;
      
     
    }

    .form-group{
        margin-bottom: rem(30);
    }
    .form-control{
        width: 100%;
        padding:.8rem 1rem;
        border:1px #ccc solid;
    }
    .upload-el{
        padding: 3rem;
        text-align: center;  border:1px #ccc solid;
        margin-bottom: .2rem;
      
    }
    .btn{
        margin-top: 2rem;
    }
}