

.page-search{
    .newslist{
        .item{
            padding-top: 2rem;
            padding-bottom: 2rem;
            @include mq(md){
                padding-top: 3rem;
                padding-bottom: 3rem;
            }
            border-bottom: 1px #ddd solid;
            a{
                font-weight: normal;
                @include mq(xxl){
                    font-size: rem(18);
                }
                strong{
                    color:#24C6DC;
                }
            }
            .pubdate{
                color:#ccc;
            }
        }
    }


    

}