

.page-service {
    .s1{
        p{
            @include mq(xxl){
                font-size: 1rem;
            }
        }
    }
    .s2{
        margin-bottom: 1.5rem;
        @include mq(xl){
            margin-bottom: 2.5rem;
        }
        @include mq(xxl){
            margin-bottom: 3.5rem;
        }
        .zhongdian{
            background: $color-primary url(../img/service_01.jpg) no-repeat center center;
            background-size: cover;
            color:#fff;
            .item{
                padding: 0 2rem;
                border-right: 1px #fff solid;
                @include mq(xxl){
                    font-size: rem(16);
                }
            }
        }
       
    }
    .s3{
        .note{
            background-color: $color-primary;
            color: #fff;
            padding:.6rem 1rem;
            margin-bottom: 1.5rem;
            @include mq(xl){
                margin-bottom: 2.5rem;
            }
            @include mq(xxl){
                font-size: 1rem;
                margin-bottom: 3.5rem;
            }
        }
        .item{
            border-bottom: 1px #eee solid;
            h3{
                color:#333;
            }
            h4{
                color: $color-primary;
                margin-bottom: 3rem;
                line-height: 1.5;
            }
            ol{
                padding-left: 1.2rem;
                li{
                    margin-bottom: .3rem;
                }
            }
        }
    }
}

