

.page-service {
    
    @include mq(lg){
        background: url('../img/1x/service_bg_1-80.jpg') no-repeat center top;
        background-size:cover ;
    }
    .container{
        @include mq(xl){
            max-width: 1010px;
        }
    }
    .s1{

        .item{
            border:1px #eee solid;
            padding: 1rem;
            margin-bottom: 1rem;
            @include mq(xl){
                margin-bottom: 2rem;
                padding: 1.5rem 2rem;
            }
           
            .icon{
                border-right: 1px #eee solid;
                padding-right: 2rem;
                line-height: 1;
                .iconfont{
                    font-size: 2rem;
                    @include mq(lg){
                        font-size: 3rem;
                    }
                }
            }
            .title{
                color: #0F3F95;
                span{
                    font-size: rem(14);
                    margin-left: 1rem;
                    color: #666;
                    @include mq(lg){
                        margin-left: 2rem;
                    }
                }
            }
            .down{
                .iconfont{
                    font-size: 1rem;
                    @include mq(lg){
                        font-size: 1.5rem;
                    }
                }
            }
            &:hover{
                background-color: $color-primary;
                color: #fff;
                .title{
                    color: #fff;
                    span{
                      
                        color: #fff;
                    }
                }
                .down{
                    color: #fff;
                }
            }
        }
        
    }
    
    
}
