.envlist-container{
  padding-bottom: 4rem;
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }
  .swiper-pagination-bullet{
    border:1px $color-secondary solid;
    background-color: #fff;
    width: 10px;
    height: 10px;
    opacity:1;
  }
  .swiper-pagination-bullet-active{
    background-color: $color-primary;
    border-color: $color-primary;
  }
}