.envlist-container{
  padding-bottom: 4rem;
  .swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
    bottom: 0;
  }
  .swiper-pagination-bullet{
    border:1px $color-secondary solid;
    background-color: #fff;
    width: 10px;
    height: 10px;
    opacity:1;
  }
  .swiper-pagination-bullet-active{
    background-color: $color-primary;
    border-color: $color-primary;
  }
}

.sliders{
  position: relative;
  .swiper-button-prev,.swiper-button-next{
    background: none;
    color: #fff;
    text-align: center;
    width: 3rem;
    display: none;
    opacity: .7;
    .iconfont{
      font-size: 2.5rem;
    }
    
  }
  &:hover{
    .swiper-button-prev,.swiper-button-next{
      display: block;
    }
  }
  .swiper-slide{
    img{     
      height: 230px; object-fit: cover;
        object-position: center center;
        width: 100vw;
        @include mq(md){
          height: 450px; 
    
          width: 100vw;
        }
      @include mq(lg){
        height: calc(100vh-70px); 
      
        width: 100vw;
      }
      @include mq(xl){
        height: calc(100vh-80px);
      
      }
      @include mq(xxl){
        height: calc(100vh-98px);
      
      }
    }
  }

  .swiper-pagination-bullet-active{
    background-color: $color-primary;
  }

  .swiper-pagination{
    bottom: 1rem;
    @include mq(md){
      bottom:2rem;
    }
    @include mq(lg){
      bottom: 3rem;
    }
    @include mq(xl){
      bottom: 4rem;
    }
    @include mq(xxl){
      bottom: 5rem;
    }
  }


}
