.sliders{
    .swiper-pagination-bullet{
        width: 8px; height: 8px;background: #fff;
        @include mq(md){
            width: 14px; height: 14px;
        }
       
    }
    .swiper-pagination-bullet-active{
        background: #fff;
    }

    &.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet{
        margin: 0 7px;
        @include mq(md){
            margin: 0 15px;
        }
    }
    
    .swiper-slide{
        img{
            height: 180px;
            object-fit: cover;
            object-position: center center;
            @include mq(md){
                height: 380px;
            }
            @include mq(lg){
                height: 500px;
            }
            @include mq(xl){
                height: auto;
            }
        }    

    }
       
}

.news-container{
    .swiper-pagination-bullet{
        width: 10px; height: 10px;background: #0368d3;
       
    }
    .swiper-pagination-bullet-active{
        background: #0368d3;
        width: 30px; border-radius: 5px;
    }
    &.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
       
        @include mq(md){
            left:50%;
        }
    }
    .swiper-pagination{
        text-align: left;
      
        @include mq(md){
            padding-left: 2.7rem;
        }
    }
}