.page-patient {
    .item {
        background-color: #F4F5FA;
        margin-bottom: 1rem;
        @include mq(md) {
            margin-bottom: 2rem;
        }
        @include mq(xxl) {
            margin-bottom: 3rem;
        }
        .txt {
            max-width: 430px;
            padding: 2rem 2rem;
            height: 100%;
            position: relative;
            @include mq(xxl) {
                padding: 2rem 3rem;
            }
            h3 {
                margin-bottom: 1rem;
            }
            .note {
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                padding: 1rem 2rem;
                color: #999;
                @include mq(xxl) {
                    padding: 1rem 3rem;
                    bottom: 1rem;
                }
                .iconfont {
                    position: absolute;
                    right: 2rem;
                    bottom: 0;
                    font-size: 2rem;
                    z-index: 10;
                    @include mq(xxl) {
                        right: 3rem;
                    }
                }
            }
            p {
                color: #999;
            }
        }
        &:hover {
            background-color: $color-primary;
            .txt {
                h3 {
                    color: #fff;
                }
                p,
                .note {
                    color: #fff;
                    opacity: .5;
                }
            }
        }
    }
}

.page-college {
    .item {
        margin-bottom: 1rem;
        .pic {
            text-align: center;
            img {
                width: 100%;
                object-fit: cover;
                object-position: center center;
                height: 339px;
            }
        }
        .txt {
            padding: 1rem;
            h3 {
                margin: 0;
                font-weight: normal;
            }
            .date {
                position: relative;
                padding-left: rem(30);
                color: #999;
                &::before {
                    position: absolute;
                    content: " ";
                    display: block;
                    width: 20px;
                    height: 1px;
                    left: 0;
                    top: 50%;
                    z-index: 10;
                    background-color: $color-primary;
                    opacity: .5rem;
                }
            }
        }
    }
}