.page-support{
  background-color: #3F4F98;
  background-image: url(../img/support_01.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  .form-contact {
    background-color: #fff;
    padding: 1rem 1.5rem;
    @include mq(lg){
      padding: 3rem 10rem;
    }
    @include mq(xl){
      padding: 3rem 13rem;
    }
    @include mq(xxl){
      padding: 4rem 16rem;
    }

    .form-message{
      max-width: 800px;
      margin: 0 auto;
      .form-group {
        margin-bottom: 20px;
        .form-control{
          width: 100%;
          border: 1px #e0e0e0 solid;
          padding: .6rem;
        }
        .form-control-textarea{
          width: 100%; padding: .6rem;
          border: 1px #e0e0e0 solid;
        }
      }
    }
  }
}
