.page-team{
    .s1{
        .p1{
            color: #333;
            margin-bottom: 2rem;
            text-align: center;
            font-size: 1rem;
            @include mq(md){
                font-size: rem(18);    margin-bottom: 4rem;
            }
            @include mq(lg){
                font-size: rem(20);
            }
            @include mq(xl){
                font-size: rem(22);
            }
            @include mq(xxl){
                font-size: rem(24);
            }
        }
        .person{
            max-width: 910px;
            margin: 0 auto 1rem;
        }
        .val{
            color: #2577d4;
            text-align: center;
            .num{
                display: inline-block;
                font-weight: bold;
                margin-bottom: .5rem;
               
                line-height: 1;
                font-size: rem(28);
                @include mq(md){
                    font-size: rem(34);       margin-bottom: .6rem;
                }
                @include mq(lg){
                    font-size: rem(40); margin-bottom: 1rem;
                }
                @include mq(xl){
                    font-size: rem(44); margin-bottom: 1.5rem;
                }
                @include mq(xxl){
                    font-size: rem(48);
                }
            }
            .unit{
                display: inline-block;
               
            }
        }
        .t{
            color: #333;
            font-weight: bold;
            text-align: center;
            margin-bottom: 2rem;
            @include mq(lg){
                font-size: rem(14);     margin-bottom: 4rem;
            }
            @include mq(xl){
                font-size: 1rem;
            }
            @include mq(xxl){
              
                font-size: rem(18);
            }
        }

        .personodd{
            background: url(../img/team_01.jpg) no-repeat center center;
            background-size: cover;
            margin-bottom: 2rem;
            .item{
                background-color: rgba(2,103,209,.8);
                padding-top: 3rem;
                padding-bottom: 1rem;
                border-right: 1px #5c9de0 solid;
                border-bottom: 1px #5c9de0 solid;
                @include mq(md){
                    padding-top: 4rem;
                    padding-bottom: 1rem;
                }
                @include mq(lg){
                    padding-top: 5.5rem;
                    padding-bottom: 2rem;
                }
                @include mq(xl){
                    padding-top: 6rem;
                    padding-bottom: 3rem;
                }
                &.itemodd{
                    background-color: rgba(0, 64, 202, 0.8);
                }
            }
            .val{
                color: #fff;
            }
            .t{
                color: #fff;
                margin-bottom: 2.5rem;
            }
        }
       
    }


    
}
.page-academician{
    .s1{

         background-image: linear-gradient( -144deg, rgb(37,119,212) 0%, rgb(63,150,248) 50%, rgb(37,119,212) 100%);           
         position: relative;
         padding: 0 1rem 1rem;
         @include mq(md){
            padding: 0;
         }
         @include mq(lg){
            height: 358px;
         }
        .pic{
            padding: 3.5rem 4rem 2.5rem;
            @include mq(md){
                padding: 2rem 0 2rem 2rem ;
             }
             @include mq(lg){
                padding: 3.5rem 4rem 2.5rem;
             }
        }
        .txt{
            color: #fff;
            max-width: 410px;
            .title{
                font-size: rem(26);
                border-bottom: 1px #77b3f7 solid;
                @include mq(md){
                    font-size: rem(30);
                 }
                 @include mq(lg){
                    font-size: rem(34);
                 }
                 @include mq(xl){
                    font-size: rem(38);
                 }
                 @include mq(xxl){
                    font-size: rem(42);
                 }
            }
            p{
                font-size: rem(20);
            }
        }
        .bg{
            position: absolute;
            bottom: 1.5rem;
            right: 2rem;
            display: none;
            @include mq(lg){
                display: block;
             }
        }
    }
}


.page-higher{
    .memberlist{
            
    }
    .item{
        text-align: center;
        margin-bottom: 2rem;
        display: block;
        @include mq(md){
             margin-bottom: 3rem;
        }
        @include mq(lg){
            font-size: 1rem;  margin-bottom: 4rem;
        }
        @include mq(xl){
            font-size: rem(18);  margin-bottom: 5rem;
        }
        @include mq(xxl){
          
            font-size: rem(20);  margin-bottom: 6rem;
        }
        img{
            display: block;
            margin: 0 auto;
            transition: all .2s;
            border-radius: 50%;
        }
        .avatar{
            margin-bottom: 1rem;
        }
        h4{
            font-size: rem(22);
            color: #333;
            @include mq(md){
                font-size: rem(24);
            }
            @include mq(lg){
                font-size: rem(26);
            }
            @include mq(xl){
                font-size: rem(28);
            }
            @include mq(xxl){
              
                font-size: rem(30);
            }
        }

        &:hover{
            img{
                transform: scale(1.1);
            }
        }
    }
    .eng{
        text-align: center;
        margin-bottom: 2rem;
      
        @include mq(lg){
            position: fixed;
            right: 1rem;
            top: 300px;
            z-index: 100;  width: 90px;
        }
        a{
            display: inline-block;
            padding: 0 0;
            text-align: center;
            width: 40px;
            &.active{
                color: $color-accent;
                font-weight: bold;
            }
        }
    }
}

.page-team-detail{
    .s1{
        margin-bottom: 3rem;
        .pic{
            img{
                border-radius: 50%;
            }
        }
    .txt{
        color: #fff;
        max-width: none;
        padding-right: 7rem;
        .title{
            border: none;
        }
        .research{
            border-top: 1px #77b3f7 solid;
            margin-bottom: 2rem;
        }
    }
    .bg{
        position: absolute;
        bottom: 5rem;
        right: 7rem;
    }
}
.title1{
    border-bottom: 1px #eee solid;
    color: $color-primary;
    font-size: 1rem;
    padding-bottom: .6rem;
    @include mq(md){
        font-size: rem(18);
    }
    @include mq(lg){
        font-size: rem(20);
    }
    @include mq(xl){
        font-size: rem(22);
    }
    @include mq(xxl){
      
        font-size: rem(24);
    }
}
.s2{
    margin-bottom: 3rem;
    
}
.s3{
    ol{
        padding-left: 1rem;
        li{
            margin-bottom: 1rem;
        }
    }
}
}
.page-job{
    .joblist{
        border-top: 1px #eee solid;
        .item{
            border-bottom: 1px #eee solid;
            padding-top: 1.5rem;
            padding-bottom: 1.5rem;
            display: block;
            @include mq(md){
                padding-top: 2rem;
                padding-bottom: 2rem;
            }
            .pic{
                width: 90px;
                @include mq(md){
                    width: auto;
                }
            }
            .txt{
                h3{
                    font-size: rem(16);
                    color: #333;
                    @include mq(md){
                        font-size: rem(20);
                    }
                    @include mq(lg){
                        font-size: rem(22);
                    }
                    @include mq(xl){
                        font-size: rem(26);
                    }
                    @include mq(xxl){
                    
                        font-size: rem(30);
                    }
                }
                time{
                    color: $color-accent;
                }
            }
        }
    }
}

.page-job-detail{
    .s1{
            margin-bottom: 3rem;
            height: auto;
            background-color: #015ea5;
            .pic{
                text-align: center;
                img{
                    border-radius: 50%;
                }
            }
        .txt{
            color: #fff;
            max-width: none;
            padding-bottom: 1rem;
            @include mq(md){
                padding: 0 2rem 2rem;
            }
            @include mq(lg){
                padding-right: 6rem;    padding-top: 2rem;
                padding-bottom: 3rem;
            }
            
            .title{
                border: none;
            }
            .research{
                border-top: 1px #77b3f7 solid;
                text-align: justify;
                padding-top: 1rem;
              
            }
        }
        .bg{
            position: absolute;
            top: 1rem;
            right: 2rem;
            z-index: 1000;
        }
    }
    .box{
        margin-bottom: 2rem;
        @include mq(md){
            margin-bottom: 3rem;
        }
        @include mq(lg){
            margin-bottom: 4rem;
        }
        .title1{
            border-bottom: 1px #eee solid;
            color: $color-primary;
            font-size: 1rem;
            padding-bottom: .6rem;
            color: $color-accent;
            @include mq(md){
                font-size: rem(18);
            }
            @include mq(lg){
                font-size: rem(20);
            }
            @include mq(xl){
                font-size: rem(22);
            }
            @include mq(xxl){
              
                font-size: rem(24);
            }
        }
        p{
            text-align: justify;
        }
        ol{
            padding-left: 1rem;
        }
    }

}