extends includes/layout.pug

block title
    | 关于我们

block bkheader
    link(href='js/vendor/swiper/css/swiper.min.css', rel='stylesheet')


block content  
        
    .page.page-about
        section.s1
            .swiper-container
                .swiper-wrapper
                    .swiper-slide(style="background-image:url(img/banner/about.jpg)")
                        .container
                            .row.justify-content-end
                                .col-6
                                    .intro
                                        h1.title-page 公司简介
                                        p 期权星球是深圳市奇泉投资有限公司的品牌，公司致力于成为期权领域的专业交流平台，为期权领域的投资者、从业人员、资产管理机构、系统服务商打造一个互动空间。公司核心团队由金融工程博士、公募基金经理、资深实战派人士组成，专注于期权市场的研究和投教服务，拥有注册商标42个(类)，作品著作权130余件等知识产权。
                    
                    .swiper-slide(style="background-image:url(img/banner/about.jpg)")
                        .container
                            .row.justify-content-end
                                .col-6
                                    .intro
                                        h1.title-page 公司简介
                                        p 期权星球是深圳市奇泉投资有限公司的品牌，公司致力于成为期权领域的专业交流平台，为期权领域的投资者、从业人员、资产管理机构、系统服务商打造一个互动空间。公司核心团队由金融工程博士、公募基金经理、资深实战派人士组成，专注于期权市场的研究和投教服务，拥有注册商标42个(类)，作品著作权130余件等知识产权。
                    
                    .swiper-slide(style="background-image:url(img/banner/about.jpg)")
                        .container
                            .row.justify-content-end
                                .col-6
                                    .intro
                                        h1.title-page 公司简介
                                        p 期权星球是深圳市奇泉投资有限公司的品牌，公司致力于成为期权领域的专业交流平台，为期权领域的投资者、从业人员、资产管理机构、系统服务商打造一个互动空间。公司核心团队由金融工程博士、公募基金经理、资深实战派人士组成，专注于期权市场的研究和投教服务，拥有注册商标42个(类)，作品著作权130余件等知识产权。
                    



                .swiper-pagination
                .swiper-button-next
                    i.iconfont.icon-right
                .swiper-button-prev
                    i.iconfont.icon-left

                .num
                    span#total.total
                    | / 
                    span#ai.ai



        section.s3
            .title-section.wow.fadeInUp             
                h2.text-center 公司动态

            .row
                .col-md
                    .item 
                        a.pic(href="#")
                            img(src="img/temp/news_05.jpg", alt="")
                        h4 
                            a(href="news_detail.html") 一个神奇的“期权投资时钟”

                .col-md
                    .item 
                        a.pic(href="#")
                            img(src="img/temp/news_05.jpg", alt="")
                        h4 
                            a(href="news_detail.html") 一个神奇的“期权投资时钟”
                .col-md
                    .item 
                        a.pic(href="#")
                            img(src="img/temp/news_05.jpg", alt="")
                        h4 
                            a(href="news_detail.html") 一个神奇的“期权投资时钟”
                .col-md
                    .item 
                        a.pic(href="#")
                            img(src="img/temp/news_05.jpg", alt="")
                        h4 
                            a(href="news_detail.html") 一个神奇的“期权投资时钟”

        
            a.more.wow.fadeInUp(href="news2.html") 点击查看更多
            
             
        
        section.s2
            .container
                .row.justify-content-end
                    .col-md-5
                        .contact
                            h3.title  联系方式

                            .item
                                .icon
                                    i.iconfont.icon-tel
                                h4 联系电话
                                p 0755-88606948


                            .item
                                .icon
                                    i.iconfont.icon-address
                                h4 联系地址
                                p 深圳市福田区深南大道6009号NEO大厦B座18C
                    
        
        

        

block bkfooter

    script(src='js/vendor/swiper/js/swiper.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {          
            spaceBetween: 30,
            pagination: {
                el: '.swiper-pagination',
                type: 'progressbar',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            }
            
        });

    
        $('#total').text(swiper.slides.length);
        $('#ai').text(swiper.activeIndex + 1);

        swiper.on('slideChange', function () {
            $('#total').text(swiper.slides.length);
            $('#ai').text(swiper.activeIndex + 1);
        });

        $(function () {
            
  
        
        });


     
