extends includes/layout.pug

block title
    | 关于我们

block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    
    .page.page-about
        section.s1.container.pt-media-5.pb-media-8
            .bg.mb-media-7
                img.bg(src="img/SVG/about_bg.svg", alt="关于我们")
                h1.title.text46 优质智能化服务系统供应商
                .c1
                    img(src="img/SVG/dot.svg", alt="dot")
                
            .intro 
                .row.align-items-center
                    .col-md
                        .title-section.mb-media-4
                            h3.text30 公司概况
                        .des 
                            p “璞盛科技 PUSH-TECH”
                            p 集合创意与技术，用创新驱动服务变革，实现建筑空间服务模式、管理模式系统创新，进而促进不同建筑空间的转型升级。
                            p “璞”的本意为未琢之玉，“盛”则为兴盛，繁荣昌盛之意，结合着英文“PUSH” 则为推动，寓意着通过团队的力量助力所服务的客户取得更进一步的成就和辉煌。
                    
                    .col-md-auto
                        .logo
                            img(src="img/SVG/logo.svg", alt="logo")



        section.s2.pt-media-5.pb-media-5.mb-media-7  
            .container
                .row.align-items-center 
                    .col-md-auto
                        .title-section.pt-media-5.pb-media-5 
                            h3.text30 愿景及使命
                    .col-md 
                        p 推动建筑的智能化服务与绿色低碳排放的发展，与客户共创服务体验新时代。
           
        section.s3
            .container.pt-media-6.pb-media-9         
                img.c1(src="img/SVG/about_bg_1.svg", alt="c")
                .title-section.text-center                               
                    h2.text30 发展历程

                .years 
                    .row.justify-content-between
                        .col-auto
                            .year 现在                                
                        .col-auto
                            .year 2020                                
                        .col-auto 
                            .year 2019
                  
        
        section.s4.pt-media-5.pb-media-5 
            .container 
                .history.mb-media-7
                    .row.g-xxl-5 
                        .col-md-6.col-lg-4 
                            .item 
                                h3.title.text30 2021
                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                        .col-md-6.col-lg-4 
                            .item 
                                h3.title.text30 2020
                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                        .col-md-6.col-lg-4 
                            .item 
                                h3.title.text30 2019
                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝

                                .ev 
                                    .row 
                                        .col-auto 
                                            .mon 1月
                                        .col 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东逝


                .title-section.mb-media-4
                    h3.text30 创始团队
                .team 
                    .row.justify-content-between 
                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t1.png", alt="")
                                .txt 
                                    .name 盛南
                                    .job 创始人
                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t2.png", alt="")
                                .txt 
                                    .name 陈颀
                                    .job CEO

                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t3.png", alt="")
                                .txt 
                                    .name Jiayi Zhao
                                    .job CTO
                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t4.png", alt="")
                                .txt 
                                    .name 林双剑
                                    .job CGM

                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t5.png", alt="")
                                .txt 
                                    .name 李昕惠
                                    .job CFO
                        .col-auto 
                            .item 
                                .pic 
                                    img(src="img/1x/t6.png", alt="")
                                .txt 
                                    .name 黄剑波
                                    .job CMO

        section.s5.pt-media-5.pb-media-5
            .container 
                .title-section.mb-media-4
                    h3.text30 创始团队

                .swiper.mySwiper 
                    .swiper-wrapper
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/partner.png", alt="")
                                figcaption 璞盛科技
            

          
                    .swiper-pagination

        section.s6.pt-media-5.pb-media-5
            .container 
                .title-section.mb-media-4
                    h3.text30 资质认证

                .swiper.mySwiper2 
                    .swiper-wrapper
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                               
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                        
                        .swiper-slide
                            figure.item 
                                img(src="img/1x/cert-80.jpg", alt="")
                      

                    .swiper-pagination

        section.s7.pt-media-5.pb-media-5
            .container 
                .title-section.mb-media-4
                    h3.text30 售后服务
                
                h4.sub-title.text20.mb-media-3 普通售后
                .faq.mb-media-3 
                    .item.open 
                        .qheader 
                            h5.text20 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东？
                        .qbody
                            p 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。滚滚长江东逝水，浪花淘尽英雄。是非成败转头空，青山依旧在，几度夕阳红。白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢，古今多少事，都付笑谈中。是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。

                    .item 
                        .qheader 
                            h5 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东？
                        .qbody
                            p 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。滚滚长江东逝水，浪花淘尽英雄。是非成败转头空，青山依旧在，几度夕阳红。白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢，古今多少事，都付笑谈中。是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。

                    .item 
                        .qheader 
                            h5 滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东滚滚长江东逝水滚滚长江东逝水滚滚长江东逝水滚滚长江东滚滚长江东？
                        .qbody
                            p 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。滚滚长江东逝水，浪花淘尽英雄。是非成败转头空，青山依旧在，几度夕阳红。白发渔樵江渚上，惯看秋月春风。一壶浊酒喜相逢，古今多少事，都付笑谈中。是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长江东逝水，浪花淘尽英雄。 几度夕阳红。白发渔樵江渚上，都付笑谈中。

                h4.sub-title.text20.mb-media-3 定制售后
                .contact.mb-media-7
                    .row.g-xxl-5
                        .col-lg-6 
                            form.form-contact(action="#") 
                                .row 
                                    .col-md-6 
                                        .form-group 
                                            label.form-label(for="") 姓名*
                                            input.form-control(type="text", name="name")


                                    .col-md-6 
                                        .form-group 
                                            label.form-label(for="") 邮箱*
                                            input.form-control(type="email", name="email")
                                            

                                .row 
                                    .col-md-6 
                                        .form-group 
                                            label.form-label(for="") 电话*
                                            input.form-control(type="text", name="name")


                                    .col-md-6 
                                        .form-group 
                                            label.form-label(for="") 国家
                                            input.form-control(type="text", name="name")


                                .form-group 
                                    label.form-label(for="") 公司*
                                    input.form-control(type="text", name="name")

                                
                                .form-group 
                                    label.form-label(for="") 信息*                                 
                                    textarea.form-control(name="message", rows="2") 

                                .att
                                    .row.align-items-center
                                        .col-auto
                                            img(src="img/SVG/fujian.svg", style="width:40px;" alt="")
                                        .col 添加附件

                                button.btn.btn-primary.btn-radius(type="submit") 发送消息

                        .col-lg-6 
                            .row.g-xxl-5 
                                .col-md-auto 
                                    figure.qr 
                                        img(src="img/1x/qrcode1.png", alt="企业公众号")
                                        figcaption 企业公众号
                                    figure.qr 
                                        img(src="img/1x/qrcode2.png", alt="客服微信")
                                        figcaption 客服微信

                                .col-md
                                    #map-gaode.map-gaode 

                .join
                    .row.mb-media-4.align-items-center 
                        .col-md-4.col-lg-3
                            .title-section
                                h3.text30 加入我们
                        .col-md-8.col-lg-9
                            .des02.text30 Push yourself. Live boldly. Never settle！

                    .joblist
                        .row.justify-content-between
                            .col-md-6.col-lg-4.col-xl-3
                                .item 
                                    header.hd
                                        h4 校园招聘
                                        a.down(href="javascript:void(0);") 
                                            i.iconfont.icon-downarrow
                                    .list
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right

                            .col-md-6.col-lg-4.col-xl-3
                                .item 
                                    header.hd
                                        h4 社会招聘
                                        a.down(href="javascript:void(0);") 
                                            i.iconfont.icon-downarrow
                                    .list
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right

                            .col-md-6.col-lg-4.col-xl-3
                                .item 
                                    header.hd
                                        h4 海外招聘
                                        a.down(href="javascript:void(0);") 
                                            i.iconfont.icon-downarrow
                                    .list
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right
                                        .li.row
                                            .col 
                                                .text20 技术类
                                            .col-auto 
                                                a(href="job_detail.html") 查看岗位
                                                    i.iconfont.icon-right

                           

block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')
    script(src='https://webapi.amap.com/maps?v=1.4.15&key=1cacf315d4678f9f550379b274a06d7a',type="text/javascript")
   
    script.
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 40,
                },
                992: {
                    slidesPerView: 5,
                    spaceBetween: 50,
                },
                1400: {
                    slidesPerView: 6,
                    spaceBetween: 30,
                },
            },
        });

        var swiper2 = new Swiper(".mySwiper2", {
            slidesPerView: 1,
            spaceBetween: 10,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                    spaceBetween: 20,
                },
                768: {
                    slidesPerView: 3,
                    spaceBetween: 40,
                },
                992: {
                    slidesPerView: 4,
                    spaceBetween: 50,
                },
                1400: {
                    slidesPerView: 5,
                    spaceBetween: 30,
                },
            },
        });

       
 
        var map = new AMap.Map('map-gaode', {
            zoom:16,//级别
            center: [113.94705,22.530902],//中心点坐标
            viewMode:'3D', //使用3D视图
            //- lang: "en" 
        });

        var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});

        var marker = new AMap.Marker({
            position: new AMap.LngLat(113.94705,22.530902),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
            title: 'ealltech'
        });

        marker.content = 'PUSH';
        marker.on('click', markerClick);
        marker.emit('click', {target: marker});
        // 将创建的点标记添加到已有的地图实例：
        map.add(marker);

        function markerClick(e) {
            infoWindow.setContent(e.target.content);
            infoWindow.open(map, e.target.getPosition());
        }
    
        $(function () {
            $('.faq .item .qheader').click(function(e){
                $(this).next().slideToggle();

                $(this).closest('.item').toggleClass('open')
            });


            $('.joblist .item .hd').click(function(e){
                $(this).next().slideToggle();
                $(this).toggleClass('open')
            });
        
        });

     

      
       

     
