extends includes/layout.pug

block title
    | 关于我们

block bkheader
   link(href='js/vendor/mediaelement/mediaelementplayer.min.css', rel='stylesheet')


block content  
    .banner.banner-about(style="background-image:url(img/banner/about.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 公司简介
                ul.nav.wow.fadeInUp
                    li
                        a.active(href="about.html") 公司简介
                    li
                        a(href="qualification.html") 企业资质
                    li
                        a(href="culture.html") 品牌与文化
                

    .page-about
        section.s1(style="background-image:url(img/about_01.jpg)")
            .container
                .row
                    .col-lg
                        .intro 
                            .title-section.wow.fadeInRight
                                h2.text28 关于鼓润生物
                                h3.text20 ABOUT US
                            p.wow.fadeInRight 哈尔滨鼓润生物技术有限公司成立于2016年，注册资金1000万元，一期投入资金5000万元，二期计划投入5000万元，是一家集研发、生产、销售、服务于一体的医疗器械创新型企业，且获得了国家级高新技术企业称号。公司拥有四条现代化全自动生产线，自有技术研发中心，拥有48项自主研发的专利，其中，在研高端前沿医疗器械领域产品5项，已上市产品2项，此产品为颠覆性创新产品，已经申请41项国内专利（11项发明专利），同时，向美国、南非、菲律宾、印度、印度尼西亚、越南6个国家申请了PCT，并且通过巴黎公约途径向美国、欧洲、墨西哥、南非、巴西、泰国、马来西亚申请了国际外观专利。经官方检验机构及各医院临床验证，为现阶段全球最有效的解决微粒污染输液的手段，显著优于国际金标准。
                    .col-lg-auto
                        .pic.wow.fadeInLeft
                            img(src="img/about_02.jpg", alt="")
        section.s2
            img.wow.fadeInUp(src="img/about_03.jpg", alt="")

        section.s3
            .container
                .video-container
                    video(src="img/programmer.mp4", poster="img/about_04.jpg",  width="100%", height="100%",  controls="controls")
     

block bkfooter

    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')
    script.
        

        $(function () {
            //-  $('video, audio').mediaelementplayer();
                
        
        });


     
