extends includes/layout.pug

block title
    | 关于迈博

block bkheader



block content  
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/banners/about.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 博迈是谁？

    
    .page.page-about            
        section.s1.container-fluid.pt-media-9.pb-media-8
            .row
                .col-lg-3
                    .item
                        .row.align-items-center
                            .col-auto
                                .icon
                                    img(src="img/icon-time.png", alt="")
                            .col
                                .txt
                                    label 成立于
                                    .des 2012年

                    
                .col-lg-4
                    .item
                        .row.align-items-center
                            .col-auto
                                .icon
                                    img(src="img/icon-biulding.png", alt="")
                            .col
                                .txt
                                    label 设立
                                    .des 10+ 分子公司
                .col-lg-5
                    .item.last
                        .row.align-items-center
                            .col-auto
                                .icon
                                    img(src="img/icon-jian.png", alt="")
                            .col
                                .txt
                                    label 专注于
                                    .des 血管介入类高植耗材的研发创新

                        
        section.s2.wow.fadeInUp         
            .row.no-gutters.align-items-center
                .col-lg-6
                    .pic
                        img(src="img/temp/about_01.jpg", alt="")

                .col-lg-6
                    .txt
                        label.wow.fadeInUp 我们的使命
                        h3.text32.wow.fadeInUp 科技拥抱生命                        
                        p.wow.fadeInUp 博迈医疗集合全球的学者精英，在血管介入治疗领域不断的探索与开发，努力为全球患者提供更好的解决方案，与医生和社会一起合作，积极挽救患者生命和改善患者的生活质量，满足人们对美好生活的向往。
                
            .row.no-gutters.align-items-center
                .col-lg-6.order-lg-last
                    .pic
                        img(src="img/temp/about_02.jpg", alt="")

                .col-lg-6
                    .txt
                        label.wow.fadeInUp 我们的原景
                        h3.text32.wow.fadeInUp 做中国血管介入高值耗材行业的领军者、创国际知名的平台型医疗器械跨国集团              
                        p.wow.fadeInUp 博迈医疗集合全球的学者精英，在血管介入治疗领域不断的探索与开发，努力为全球患者提供更好的解决方案，与医生和社会一起合作，积极挽救患者生命和改善患者的生活质量，满足人们对美好生活的向往。
                
        section.s3.pb-media-3.pt-media-4
            .container
                p 作为广东省血管介入治疗及医疗器械工程技术中心，博迈医疗已拥有全球领先的球囊及介入导管类技术和多款全球独家，产品产品畅销包括中国、美国、日本、欧洲、中东、拉美在内的50多个国家和地区，以独特的创新技术、优异的性能和卓越的质量，倍受全球客户的好评和喜爱
                .pic
                    img(src="img/about_03.png", alt="map")    

block bkfooter


    script.       

        $(function () {
            $(window).scroll(function(){
                if (40 < $(window).scrollTop()) {
                    $(".about_bg").css({"opacity":"1"});  
                       
                }
            })
        
        });


     
