extends includes/layout.pug

block title
    | 关于我们

block content
    .banner.banner-about(style="background-image:url('img/temp/banner-about.jpg')")
        .container
            p.txt 让我们一起
                br
                | 看见更好
                br
                | 的未来
    


    .page.page-about
        section.s1.container
            .intro
                p HARBORY 是一家多元化企业，通过了TUV认证的ISO9001:2015严格的管理体系。我们致力以优质的产品服务全球工业客户，精益求精，我们生产的产品不断传承自匠心技艺并严格地遵守国际食品安全，压力容器，空气过滤等级等标准。以此更有保障的为客户提供过滤，分离以及净化的解决方案，同时我们也在不断改进和提升生产工艺和技术标准，为客户提供更高效更安全更经济的过滤产品，帮助客户实现生产过程中资源的循环利用，为打造绿色工业4.0而不断努力。
                p 与此同时，我们也积极致力于为全球汽车企业研发并提供优质的智能驾驶辅助系统，与众多国家区域市场优秀的T1合作了福特，铃木，三菱等项目，为客户提供了更安全更智能更环保的汽车电子产品。
                
        section.s2.container
            .row
                .col-lg-3
                    .txt
                        h1 我们的社会
                            br
                            | 以及环保
                            br
                            | 责任
                        
                        p 我们始终坚持企业的社会责任，通过减少自身以及客户生产工艺进程中以及包装运输等降低能源消耗和污染物排放，保护社会环境，将绿色理念融入企业，坚持可持续发展之道。
                .col-lg-9
                    .pic
                        img(src="img/about_01.jpg")
                    .shiming
                        .row.no-gutters
                            .col-md
                                h2 愿景
                                p 为客户提供更环保更智能的产品
                            .col-md
                                h2 使命
                                p 成就绿色，关爱世界
                
              


        
block bkfooter
    
