extends includes/layout.pug

block title
    | 企业介绍

block bkheader
   link(href='js/vendor/mediaelement/mediaelementplayer.min.css', rel='stylesheet')


block content  
    .banner.banner-about(style="background-image:url(img/banners/about.jpg)")
        .c
            img(src="img/banners/banner_c.png", alt="")

        .title
            img(src="img/title_about.png", alt="")
        .container       
            h1.text36 企业介绍
              

    .wrapper
        .page.page-about.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul.nav
                        li.active
                            a.active(href="about.html") 实验室简介
                        li
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right
                        li
                            a(href="team.html") 人才队伍
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-5.mt-n-30
                    .row
                        .col-lg-auto
                            .pic.wow.fadeInLeft
                                img(src="img/about_01.png", alt="")
                        .col-lg
                            .intro 松山湖材料实验室（以下简称“实验室”）坐落于粤港澳大湾区重要节点城市东莞，于2017年12月22日启动建设，2018年4月完成注册，是广东省第一批省实验室之一，布局有前沿科学研究、公共技术平台和大科学装置、创新样板工厂、粤港澳交叉科学中心四大核心板块，将形成“前沿基础研究→应用基础研究→产业技术研究→产业转化”的全链条创新模式，定位于成为成为有国际影响力的新材料研发南方基地、国家物质科学研究的重要组成部分、粤港澳交叉开放的新窗口。
                        
                section.s2
                    .pic
                        img.wow.fadeInUp(src="img/about_02.jpg", alt="")
                    h3.title 过渡办公场所：
                    p 松山湖大学创新城A1/C1/G2栋，共50000平方米

                section.s3
                    .pic
                        img(src="img/about_03.jpg", alt="")

                    h3.title 新址基建规划：
                    ul
                        li 总体规划：实验室位于广深科技创新走廊中部，紧邻散裂中子源，占地约1200亩。
                        li 建设理念：给科学家创造头脑风暴的汇聚点，给企业家提供创新产品的输出源，给公众打造普及科学知识的圣地。
                        li 工程进展：一期工程于2019年6月动工，计划于2020年底交付。未来，将建成一座占地面积近18万平方米，涵盖材料博物馆、多栋实验楼、会议中心等单体建筑的大型科学园区，并且整体设计将岭南建筑风格与现代理念相结合，为实验室开展各项材料科学研究、进行学术交流合作提供良好载体。


        



block bkfooter

    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')
    script.
        

        $(function () {
            //-  $('video, audio').mediaelementplayer();
                
        
        });


     
