extends includes/layout.pug

block title
    | About Us

block content
    .banner.banner-about(style="background-image:url(../img/temp/banner-about.jpg)")
        h1 About Us 
        
    .page.page-about
        section.container
            .row.justify-content-between
                .col-lg-5
                    .title-section-v1
                        h2 The Research Center for Computer-Aided Drug Discovery (CADD)                
                    .intro
                        p The Research Center for Computer-Aided Drug Discovery (CADD) was founded in June 2019. The member of Swiss Academy of Sciences and National Academy of Inventor (USA), Prof. Horst Vogel, joins full-time as chief scientist. The CADD research center combines computational biology, biochemistry, medicinal chemistry, pharmacology, biotechnology and others subjects together, aiming at building up a complete pipeline to advance modern new drug discovery and drug design in an ultimately efficient way by computational method. The members of CADD research center advanced two "first-in-class" drug molecules into clinical trial in three years via computational design, of which the world-wide patents were granted. Moreover, the members of CADD research center also invented a series of important biotechnology. In the future, the CADD research center will establish an international outstanding team, aiming at making milestone breakthrough in the areas of both drug discovery and biotechnology.
                                
                .col-lg-6
                    figure
                        img(src="img/about_01.jpg", alt="")

        
block bkfooter
    
