extends includes/layout.pug

block title
    | About Us

block content
    .container
        .breadcrumb 
            a(href="index.html") home
            |-ABOUT
        
    .page.page-about
        section.container
            .title-section-v3 
                h1 ABOUT US

            .title-section-v4
                h2 Premium Parts | About us
            main.intro
                p 
                    strong At
                    | Premium Part, our core competencies and focus revolves around quality service delivery. We strive to provide each and every client with a truly rapid manufacturing process that will yield premium, functional parts through the most cost-effective approach.
                p Premium Parts specializes in a wide array of services for both low-volume and mass production quantities. Our array of services include rapid prototyping, low-volume manufacturing, CNC Machining, 3D Printing, Urethane Casting, Rapid tooling, Sheet metal services, Aluminium extrusion and Injection molding. We serve a variety of industries including but not limited to automotive, aerospace, consumer products, lighting and electronics. 
                p We boast of a diverse team with a wealth of experience in variety of fields. Our services are well-grounded across international regions, local and foreign client bases. We also ensure that we offer affordable pricing, quick turnaround, faster lead-times, quality control, shipping and delivery options for both local and international customers. Premium Part specializes 
            
            .title-section-v4
                h2 Mission and Vision
            .box.mission(style={'background-image':'url(../img/bg_05.jpg)'})
                .txt
                    .txtwrap
                        h3 Our Mission
                        p To inspire and accelerate innovations through effective manufacturing practices that associates our company profile with the highest quality standards 
               
              
            .box.vision(style={'background-image':'url(../img/bg_06.jpg)'})
                .txt
                    .txtwrap
                        h3 Our Mission
                        p To inspire and accelerate innovations through effective manufacturing practices that associates our company profile with the highest quality standards 
               
              

        
block bkfooter
    
