extends includes/layout.pug

block title
    | 园所概况-关于我们

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about
        section.s1.container
            .row
                .col-md-4
                    .title-section.wow.fadeInLeft
                        h2 园所概况
                .col-md-8
                    .intro.wow.fadeInUp
                        header.title-section-v2
                            h3 Introduction
                            h4 园所概况

                        p 深圳市福田区金生幼儿园坐落在市中心香蜜湖片区，周边高端住宅林立，自然人文资源丰富，位置闹中取静，可谓得天独厚。幼儿园占地4000平方米，拥有户外游乐场2000平方米，室内建筑面积达8000平方米以上。我园致力为2-6岁学龄前儿童打造一所荟萃多元文化、高品质的双语国际幼儿园，计划于2020年9月正式开业。
                        p 我园将引进世界知名的国际课程，透过全浸式双语互动及超学科探究的方式组织教学。
                        p 我们相信，每个孩子都是独一无二的个体，他们应该得到充分的尊重。我园将践行适孩子年龄发展的探究课程，促使幼儿通过多感官积极探知周遭世界，从而发展多元视角和国际视野，与他人开展积极且富有意义的互动，在包容和理解中成长为具有国际情怀的终身学习者。
                        
                
              


        
block bkfooter
    
