extends includes/layout.pug

block title
    | 关于我们
    - var currentUrl = 'about.html'
block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-about
        img.bg(src="img/banners/about.jpg", alt="集团介绍")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text50 集团介绍
       

    
    section.page.page-about-s1.container.pt-media-6 
        .txt.text-center.text28 链接医药创新与商业化，把控产品全生命周期管理的开放式平台型企业，致力于提供有竞争力的产品和服务，满足中国尚未满足的医疗、健康与美的需求
       

    
    section.page.page-about-s2.pt-media-6.pb-media-6
        .container
            .row.align-items-center 
                .col-lg-7
                    .left_col 
                        .title-section.text-center
                            h2.text50 集团介绍
                            h3.text50 ABOUT US

                        p.text20 我们携手全球生物科技/制药公司，合作开发全球首创（FIC）、同类最优*（BIC）创新产品。我们负责创新产品临床开发和商业化，提升医药创新研发效率。
                        p.text20 我们拥有把控创新产品全生命周期关键节点的管理体系及专业团队，拥有多专业科室的专家网络，拥有对市场的深刻认知及充沛的自有现金流，可洞察与挖掘未被满足的临床需求，可高效推进创新产品中国临床开发和商业化进程，赋能科研成果向诊疗实践的持续转化，惠及更多患者。
                        p.text20 我们深耕专科领域，如心脑血管、消化、中枢神经、皮肤/医美、眼科、妇儿科等。在售产品已获得领先的市场地位。
                        p.text20 我们利用专科领域优势资源，通过专科线分拆独立运营提升规模效率，打造小专科领域的大龙头，推动高质量、可持续的健康发展。
                        p  
                            small *同类最优（BIC）：拥有创新制剂、创新给药方式等以达到同类治疗效果最佳、或最安全、或最具性价比的创新产品
                .col-lg-5.text-center
                    .right_col
                        .row 
                            .col-6 
                                .item.mb-media-4 
                                    .value.text36 92.3亿
                                    p.text20 销售收入*<br/>
                                        small *若全按药品销售收入计算

                                    
                            .col-6 
                                .item.mb-media-4 
                                    .value.text36 30.3亿
                                    p.text20 净利润

                            .col-6 
                                .item.mb-media-4 
                                    .value.text36 ~30款
                                    p.text20 款创新产品

                            .col-6 
                                .item.mb-media-4 
                                    .value.text36 5,292位
                                    p.text20 康哲集团员工
                            .col-6 
                                .item.mb-media-4 
                                    small 销售网络覆盖
                                    .value.text36 ~5万家
                                    p.text20 款创新产品

                            .col-6 
                                .item.mb-media-4 
                                    small 销售网络覆盖
                                    .value.text36 &gt;20万家
                                    p.text20 康哲集团员工

                        p 
                            small *相关数据均截至2021年12月31日
                
    section.page.page-about-s3.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6.order-lg-last 
                    .right_col.pb-media-6 
                        .title-section.mb-media-6 
                            h2.text60 使命
                            h3.text60 MISSION

                        .txt.text36 提供有竞争力的产品和服务，<br/>满足中国尚未满足的医疗、<br/>健康与美的需求

                .col-lg-6 
                    .pic 
                        img(src="img/about_5.jpg", alt="使命")

    section.page.page-about-s3.page-about-s4.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6
                    .right_col.pb-media-6 
                        .title-section.mb-media-6 
                            h2.text60 定位
                            h3.text60 POSITION

                        .txt.text36 链接医药创新与商业化，<br/>拥有产品全生命周期管理能力<br/>的开放型综合药企

                .col-lg-6 
                    .pic 
                        img(src="img/about_4.jpg", alt="定位")

    section.page.page-about-s3.page-about-s5.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6.order-lg-last 
                    .right_col.pb-media-6 
                        .title-section.mb-media-6 
                            h2.text60 核心价值观
                            h3.text60 CORE VALUE

                        .txt.text36 为客户创造价值、为社会承担责任创新与变革以奋斗者为本坚守道德与诚信的底线用专业的能力，进取的精神，不断实现挑战与超越

                .col-lg-6 
                    .pic 
                        img(src="img/about_6.jpg", alt="定位")

            
                   
                       

    


            
                


block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')

    script.
       
    
        $(function () {
            $('.item-header .open').click(function(e){
                
                e.preventDefault();
                $(this).toggleClass('up');
                // $(this).next().slideToggle();
                
                $(this).closest('.item-header').next().slideToggle();
            });
        
        });

     

      
       

     
