extends includes/layout.pug

block title
    | 关于我们

block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-blog.wow.fadeInUp
        img.bg(src="img/banners/about.jpg", alt="关于奥创")
        .txt
            .container            
                h1.wow.fadeInUp.text56 关于奥创
       

    .page.page-about
        section.s1.pt-media-6.pb-media-6
            .container 
                .title-section 
                    h2.text36 公司简介
                h3.text24.mb-media-2 用于工业和科学领域的超快激光器制造商
                p 杭州奥创光子技术有限公司成立于2018年6月，<br/>公司主要从事工业高功率飞秒激光器及其核心器件的研发、生产销售与应用。<br/>公司技术团队由中科院西安光学精密机械研究所国家重点实验室核心队伍及海归超快激光器工程化专家共同组成，<br/>是目前国内超快激光领域较为完善研发生产团队。<br/>经过多年的核心器件布局与商业化运作，已实现飞秒激光器量产。

        
         
        section.s2.pb-media-6
            .container
                .intro
                    .row.g-0
                        .col-lg-6
                            h2.title.text36 愿景和使命
                        .col-lg-6 
                            .txt 
                                h3.text24 超快激光领域领军企业
                                p 作为国内领先的激光技术供应商之一，奥创为客户提供各类超快激光光源和应用解决方案，具有从器件到整机的集成能力。致力于实现超快激光器上下游产业链的垂直整合。
                                
           
        section.s3.pt-media-6.pb-media-6.container              
            .title-section                           
                h2.text36 奥创荣誉

            .honor 
                .row.justify-content-between 
                    .col-lg-6 
                        ul.list 
                            li 2018“创客湾区”中山火炬光电信息技术创新创业大赛金奖
                            li “创客湾区”中山火炬光电信息技术创新创业大赛金奖
                            li “创客湾区”中山火炬光电信息技术创新创业大赛金奖
                            li 中山火炬光电信息技术创新创业大赛金奖
                            li “创客湾区”中山火炬光电信息技术创新创业大赛金奖
                            li “创客湾区”中山火炬光电信息技术创新创业大赛金奖
                            li 中山火炬光电信息技术创新创业大赛金奖
                            li “创客湾区”中山火炬光电信息技术创新创业大赛金奖
                    .col-lg-6.col-xl-5
                        img#honor-img(src="img/about_3.jpg", alt="")

        
        section.s4.pt-media-6.pb-media-6.container            
            .title-section                        
                h2.text36 加入奥创

            .job-list 
                .item.active
                    .item-header
                        .row.align-items-center
                            .col 
                                .title  光学工程师
                            .col-auto.d-none.d-md-block 
                                ul.note 
                                    li 工作地点：杭州    
                                    li 招聘人数：3人
                            .col-auto 
                                a.open(href="#") 
                                    i.iconfont.icon-top
                    .item-body 
                        h3 岗位职责
                        ol 
                            li 负责高功率光纤激光器的研发工作，包括高功率光纤激光器的设计、光路搭建、性能测试及优化改进等。
                            li 负责高功率光纤激光器中光学元器件的选型、测试以及检验标准的建立等。
                            li 负责高功率光纤激光器相关技术文件的编制工作。
                            li 负责处理高功率光纤激光器在设计、工艺、生产、测试、试验方面的技术问题和质量问题。
                        h3 任职要求
                        ol 
                            li 光学工程、光信息科学与技术、光电子、激光等相关专业本科及以上学历；
                            li 有光纤激光器研发设计相关工作经验；
                            li 熟悉超快光纤激光器的原理与结构；
                            li 有使用光纤熔接机的经验优先；
                            li 具有良好的团队协作精神，学习能力强，动手能力。
                        
                        p 简历投递至邮箱：zjj@ultronphotonics.com

                .item
                    .item-header
                        .row.align-items-center
                            .col 
                                .title  光学工程师
                            .col-auto.d-none.d-md-block  
                                ul.note 
                                    li 工作地点：杭州    
                                    li 招聘人数：3人
                            .col-auto 
                                a.open(href="#") 
                                    i.iconfont.icon-top
                    .item-body 
                        h3 岗位职责
                        ol 
                            li 负责高功率光纤激光器的研发工作，包括高功率光纤激光器的设计、光路搭建、性能测试及优化改进等。
                            li 负责高功率光纤激光器中光学元器件的选型、测试以及检验标准的建立等。
                            li 负责高功率光纤激光器相关技术文件的编制工作。
                            li 负责处理高功率光纤激光器在设计、工艺、生产、测试、试验方面的技术问题和质量问题。
                        h3 任职要求
                        ol 
                            li 光学工程、光信息科学与技术、光电子、激光等相关专业本科及以上学历；
                            li 有光纤激光器研发设计相关工作经验；
                            li 熟悉超快光纤激光器的原理与结构；
                            li 有使用光纤熔接机的经验优先；
                            li 具有良好的团队协作精神，学习能力强，动手能力。
                        
                        p 简历投递至邮箱：zjj@ultronphotonics.com

                .item
                    .item-header
                        .row.align-items-center
                            .col 
                                .title  光学工程师
                            .col-auto.d-none.d-md-block  
                                ul.note 
                                    li 工作地点：杭州    
                                    li 招聘人数：3人
                            .col-auto 
                                a.open(href="#") 
                                    i.iconfont.icon-top
                    .item-body 
                        h3 岗位职责
                        ol 
                            li 负责高功率光纤激光器的研发工作，包括高功率光纤激光器的设计、光路搭建、性能测试及优化改进等。
                            li 负责高功率光纤激光器中光学元器件的选型、测试以及检验标准的建立等。
                            li 负责高功率光纤激光器相关技术文件的编制工作。
                            li 负责处理高功率光纤激光器在设计、工艺、生产、测试、试验方面的技术问题和质量问题。
                        h3 任职要求
                        ol 
                            li 光学工程、光信息科学与技术、光电子、激光等相关专业本科及以上学历；
                            li 有光纤激光器研发设计相关工作经验；
                            li 熟悉超快光纤激光器的原理与结构；
                            li 有使用光纤熔接机的经验优先；
                            li 具有良好的团队协作精神，学习能力强，动手能力。
                        
                        p 简历投递至邮箱：zjj@ultronphotonics.com


                .item
                    .item-header
                        .row.align-items-center
                            .col 
                                .title  销售工程师
                            .col-auto.d-none.d-md-block  
                                ul.note 
                                    li 工作地点：杭州    
                                    li 招聘人数：3人
                            .col-auto 
                                a.open(href="#") 
                                    i.iconfont.icon-top
                    .item-body 
                        h3 岗位职责
                        ol 
                            li 负责高功率光纤激光器的研发工作，包括高功率光纤激光器的设计、光路搭建、性能测试及优化改进等。
                            li 负责高功率光纤激光器中光学元器件的选型、测试以及检验标准的建立等。
                            li 负责高功率光纤激光器相关技术文件的编制工作。
                            li 负责处理高功率光纤激光器在设计、工艺、生产、测试、试验方面的技术问题和质量问题。
                        h3 任职要求
                        ol 
                            li 光学工程、光信息科学与技术、光电子、激光等相关专业本科及以上学历；
                            li 有光纤激光器研发设计相关工作经验；
                            li 熟悉超快光纤激光器的原理与结构；
                            li 有使用光纤熔接机的经验优先；
                            li 具有良好的团队协作精神，学习能力强，动手能力。
                        
                        p 简历投递至邮箱：zjj@ultronphotonics.com

                .item
                    .item-header
                        .row.align-items-center
                            .col 
                                .title  固体激光工程师
                            .col-auto.d-none.d-md-block  
                                ul.note 
                                    li 工作地点：杭州    
                                    li 招聘人数：3人
                            .col-auto 
                                a.open(href="#") 
                                    i.iconfont.icon-top
                    .item-body 
                        h3 岗位职责
                        ol 
                            li 负责高功率光纤激光器的研发工作，包括高功率光纤激光器的设计、光路搭建、性能测试及优化改进等。
                            li 负责高功率光纤激光器中光学元器件的选型、测试以及检验标准的建立等。
                            li 负责高功率光纤激光器相关技术文件的编制工作。
                            li 负责处理高功率光纤激光器在设计、工艺、生产、测试、试验方面的技术问题和质量问题。
                        h3 任职要求
                        ol 
                            li 光学工程、光信息科学与技术、光电子、激光等相关专业本科及以上学历；
                            li 有光纤激光器研发设计相关工作经验；
                            li 熟悉超快光纤激光器的原理与结构；
                            li 有使用光纤熔接机的经验优先；
                            li 具有良好的团队协作精神，学习能力强，动手能力。
                        
                        p 简历投递至邮箱：zjj@ultronphotonics.com


            
                


block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')

    script.
       
    
        $(function () {
            $('.item-header .open').click(function(e){
                
                e.preventDefault();
                $(this).toggleClass('up');
                // $(this).next().slideToggle();
                
                $(this).closest('.item-header').next().slideToggle();
            });
        
        });

     

      
       

     
