extends includes/layout.pug

block title
    | 学术委员会
    
block bkheader
   

block content
    .banner.banner-academic(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 学术委员会
              

    .wrapper
        .page-academic.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav.active
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right
                            ul.subnav
                                li
                                    a(href="council.html") 理事会
                                li
                                    a(href="leadership.html") 实验室领导
                                li
                                    a.active(href="academic.html") 学术委员会
                            
                            
                        li
                            a(href="team.html") 人才队伍
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    .top
                        .row.align-items-center
                            .col-md-auto                         
                                .pic
                                    img(src="img/team/p18.jpg", alt="")                            

                            .col-md                            
                                .txt
                                    h3 赵忠贤
                                        small 院士

                                    .post 学术委员会主任
                                    .office 中科院物理所


                section.s2.mb-media-3
                    .title-section
                        h2.text36  副主任

                        
                    .list
                        .row
                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 陈和生
                                        small 院士

                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 高鸿钧
                                        small 院士

                                    p 中国科学院

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 张清杰
                                        small 院士

                                    p 武汉理工大学

                section.s2
                    .title-section
                        h2.text36  委员

                        
                    .list
                        .row

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 丁洪
                                        small 研究员
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 于杰
                                        small 教授
                                    p 哈尔滨工业大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王中林
                                        small 院士
                                    p 中科院纳米能源所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王玉鹏
                                        small 研究员
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王芳卫
                                        small 研究员
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王恩哥
                                        small 院士
                                    p 中国科学院/北京大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王雪华
                                        small 教授
                                    p 中山大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 王循理
                                        small 教授
                                    p 香港城市大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 方忠
                                        small 院士
                                    p 中科院物理所


                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 卢柯
                                        small 院士
                                    p 中科金属所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 成会明
                                        small 院士
                                    p 中科金属所/中山大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 吕坚
                                        small 教授
                                    p 香港城市大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 朱敏
                                        small 教授
                                    p 华南理工大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 汤超
                                        small 院士
                                    p 北京大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 李亚栋
                                        small 院士
                                    p 清华大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 汪卫华
                                        small 院士
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 沈保根
                                        small 院士
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 宋永华
                                        small 教授
                                    p 澳门大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 张翔
                                        small 教授
                                    p 香港大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 陈弘
                                        small 研究员
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 陈小龙
                                        small 研究员
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 陈东敏
                                        small 教授
                                    p 北京大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 陈立泉
                                        small 院士
                                    p 中科院物理所

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 俞大鹏
                                        small 院士
                                    p 南方科技大学

                            .col-6.col-md-4.col-lg-3
                                .item.wow.fadeInUp
                                    h3.title 戴希
                                        small 教授
                                    p 香港科技大学

                            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
