extends includes/layout.pug

block title
    | 管理团队-特色教育

block content
    .banner.banner-team.wow.fadeInUp(style="background-image:url('img/temp/banner-team.jpg')")
     
    .page.page-about.page-team
        section.s1.container         
            .row
                .col-md-4
                    .title-section.wow.fadeInLeft
                        h2 管理团队
                .col-md-8
                    .intro
                        header.title-section-v2
                            h3.wow.fadeInUp Management team
                            h4.wow.fadeInUp 管理团队

                        p.wow.fadeInUp 创办一所一流的国际化双语幼儿园，需要一个真正热爱教育事业的团队，需要他们坚定的决心和矢志不渝的付出，更加需要长期、持续的投入。将国际化、前沿、科学的教育理论付诸实践，真正落地中国本土是我们管理团队一致的目标。

                
        section.s2
            .container
                .title-section-v2
                    h3.wow.fadeInUp Management team
                    h4.wow.fadeInUp 专家成员
                .team-list
                    .row
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_01.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_02.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_03.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
        section.s2
            .container
                .title-section-v2
                    h3.wow.fadeInUp Members Of The Management
                    h4.wow.fadeInUp 管理成员
                .team-list
                    .row
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_01.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_02.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
                        .col-md-4
                            .item
                                .pic
                                    img.wow.fadeInUp(src="img/team_03.jpg", alt="")
                                .des
                                    .name Anli
                                    p 专业级管理员
                       
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
