extends includes/layout.pug

block title
    | 快消品牌数字化方案

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .site-path 
        .container 
            ol.breadcrumb 
                li 
                    a(href="index.html") 首页
                li  
                    a(href="application.html") 应用领域
                li  
                    a(href="app_detail2.html") 材料加工应用
                li.current 3C电子材料加工   

    
        
    .page.page-application-detail-2
        section.s1.pt-media-7.container
            .row.align-items-center 
                .col-lg-6                  
                    .pic                          
                        img(src="img/application/application_5.jpg", alt="")
                       
                .col-lg-6
                    .txt
                        .title-section-2.mb-media-2
                            h2.text36 玻璃焊接                       
                        p 随着3C行业的发展以及元器件的不断小型化，实现元器件之间的微连接，保证产品的高密度、高可靠性是行业内急须攻克的难题。目前激光已被广泛应用于焊接各种材料，但对于玻璃材料之间的微连接仍然面临挑战。飞秒激光与透明材料相互作用具有热效应小及非线性吸收的特点，非常适合透明材料的微焊接，同时保证足够的加工精度及焊接强度。

              
        section.s2.pt-media-5.mb-media-6.container   
            .title-section-2.mb-media-3
                h2.text36 集成电路芯片、半导体、晶圆切割划片
            .row.row-cols-2.row-cols-md-3
                .col
                    .pic 
                        img(src="img/application/application_6.jpg", alt="")
                .col
                    .pic 
                        img(src="img/application/application_7.jpg", alt="")
                .col
                    .pic 
                        img(src="img/application/application_6.jpg", alt="")

        section.s2.mb-media-5.container   
            .title-section-2.mb-media-3
                h2.text36 柔性屏、全面屏切割
            .images.pb-media-5
                .row.row-cols-2.row-cols-md-3
                    .col
                        .pic 
                            img(src="img/application/application_8.jpg", alt="")
                    .col
                        .pic 
                            img(src="img/application/application_9.jpg", alt="")
                    .col
                        .pic 
                            img(src="img/application/application_8.jpg", alt="")

        section.s3.pb-media-5.container   
            .title-section-2.mb-media-2 
                h2.text36 相关产品

            .products-common 
                .row 
                    .col-md-6.col-lg-3 
                        .item
                            a.pic(href="product_detail.html") 
                                img(src="img/products/p1.jpg", alt="")
                            .txt 
                                h4 Orientation系列
                                p 
                                    a(href="product_detail.html") 高能量工业飞秒激光器FS-50-IR

                    .col-md-6.col-lg-3 
                        .item
                            a.pic(href="product_detail.html") 
                                img(src="img/products/p1.jpg", alt="")
                            .txt 
                                h4 Orientation系列
                                p 
                                    a(href="product_detail.html") 高能量工业飞秒激光器FS-50-IR

                    .col-md-6.col-lg-3 
                        .item
                            a.pic(href="product_detail.html") 
                                img(src="img/products/p1.jpg", alt="")
                            .txt 
                                h4 Orientation系列
                                p 
                                    a(href="product_detail.html") 高能量工业飞秒激光器FS-50-IR
                    
                    .col-md-6.col-lg-3 
                        .item
                            a.pic(href="product_detail.html") 
                                img(src="img/products/p1.jpg", alt="")
                            .txt 
                                h4 Orientation系列
                                p 
                                    a(href="product_detail.html") 高能量工业飞秒激光器FS-50-IR

block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        


     

      
       

     
