extends includes/layout.pug

block title
    | Application

block bkheader
   

block content
    .banner.banner-about.wow.fadeInDown
        .container
            .title
                h1.text80.wow.fadeInUp Application
         

        
    .page.page-application.pt-media-5.pb-media-5
              
            .row.no-gutters.align-items-center
                .col-lg-5                   
                    .pic                        
                        img(src="img/app_1.jpg", alt="")
                    
                            
                .col-lg-7
                    .intro
                        .title-section
                            h2.text30 INSTRUMENTS AND METERS
                        .note
                            .row 
                                .col-md-6.col-lg-4.col-xl-5
                                    dl 
                                        dt Products:
                                        dd C62, C31, C21
                                .col-md-6.col-lg-8.col-xl-7
                                    dl 
                                        dt Application:
                                        dd 1. Widely used in reduction voltage products.
                                        dd 2. Carrier signal transmission circuit.



                        p As the global smart meters function is becoming more and more intelligent, long-term storage and display function is indispensable. The use of film capacitor can completely realize the function, and have more advantages than using battery capacity.
                        ol
                            li The film capacitor low equivalent series resistance (ESR), the Power Density (Power Density) is a lithium ion battery more than dozens of times, but also suitable for high current discharge can have a long life.
                            li Large current charge, charge and discharge time is short, easy to charging circuit requirement, no memory effect, the electric double layer metal film capacitor charging is physical process of charging and discharging or rapid and reversible chemical processes on the surface of the electrode material, can use large current charging, can in a few seconds to a few minutes to complete the charging process, is a real quick charge.



            
                

            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
