
extends includes/layout.pug

block title
    | 我的申请
    //- - var bodyClass = ['tzg-body home-body'];
block bkheader    

    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
    script(src='js/vendor/swiper/swiper-bundle.min.js')
block content  

    section.page-applied
        h2.section-title 导入您在其他网站的简历
        .card 
            .card-header 
                .row 
                    .col 
                        a(href="job_detail.html")  医药代表抗肿事业部
                    .col-auto 
                        .money 20K-40K
            .card-body 
                dl  
                    dd 安徽·合肥
                    dd 5-10年

            .card-footer 
                .row 
                    .col 
                        .department 营销部
                    .col-auto 
                        .date 2021-10-20

        .card 
            .card-header 
                .row 
                    .col 
                        a(href="job_detail.html")  医药代表抗肿事业部
                    .col-auto 
                        .money 20K-40K
            .card-body 
                dl  
                    dd 安徽·合肥
                    dd 5-10年

            .card-footer 
                .row 
                    .col 
                        .department 营销部
                    .col-auto 
                        .date 2021-10-20

        .card 
            .card-header 
                .row 
                    .col 
                        a(href="job_detail.html")  医药代表抗肿事业部
                    .col-auto 
                        .money 20K-40K
            .card-body 
                dl  
                    dd 安徽·合肥
                    dd 5-10年

            .card-footer 
                .row 
                    .col 
                        .department 营销部
                    .col-auto 
                        .date 2021-10-20


            
block bkfooter
    

    script.
        $(function () {
            
        
        });
      