extends includes/layout.pug

block title
    | 参观预约-申请入学

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about.page-school.page-application
        section.s1.container         
            .title-section.wow.fadeInLeft
                h2 参观预约
                
        section.s1.s2
            .container-fluid
                .row.item.align-items-center
                    .col-md-6
                        .pic.il
                            img.wow.fadeInLeft(src="img/app_02.jpg", alt="")
                    .col-md-6
                        .des
                            .title-section-v2
                                h3.wow.fadeInUp Visit The Appointment
                                h4.wow.fadeInUp 参观预约

                            p.wow.fadeInUp 欢迎您预约参观金生幼儿园！为确保每一组家庭都能获得最佳的参观体验，同时不影响在园幼儿的正常教学活动，我们仅接受提前预约参观。您可通过以下途径预约：
                            .goto.wow.fadeInUp
                                a.btn.btn-primary(href="#") 点击预约
                            .row.wow.fadeInUp.align-items-center
                                .col 致电我们：
                                .col-auto 
                                    .phone 0755-66666688
            
            
            
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
