extends includes/layout.pug

block title
    | 获奖

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(../img/temp/banner_research.jpg)")
        .container
            h1.title-page 科研概况
            nav.submenus 
                a(href="research_overview.html") 研究布局              
                a(href="research_projects.html") 科研项目             
                a(href="research_evolve.html") 科研进展
                a(href="papers.html") 论文
                a.active(href="awards.html") 获奖
       
        
    .page.page-awards.container
        .s1.section
            .pic.text-center
                img(src="img/award_01.png", alt="深港脑科学创新研究院")

            .title-section
                h2.text-center 深港脑科学创新研究院荣获


        .s2.row
            .col-md
                figure
                    img(src="img/temp/aw_01.jpg", alt="")
                    figcaption 广东省自然科学奖 一等奖（2018）
                
            .col-md
                figure
                    img(src="img/temp/aw_02.jpg", alt="")
                    figcaption 广东省自然科学奖 一等奖（2018）
            .col-md
                figure
                    img(src="img/temp/aw_03.jpg", alt="")
                    figcaption 广东省自然科学奖 一等奖（2018）

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
