extends includes/layout.pug

block title
    | Blog-Resource

block content
    .page_subnav
        .container
            .row.align-items-center
                .col-md
                    .title Resource

                .col-md-auto
                    nav.subnav
                        a(href="support.html") Technical Specification
                        a.active(href="blog.html") Blog
                        a(href="gallery.html") Gallery
                        a(href="FAQ.html") FAQs
            
        
    .page.page-blog       
        section.container
            figure.banner-blog
                img(src="img/temp/banner-blog.jpg", alt="")

            .s1
                .years
                    | TIME
                .blog-list
                    .item
                        .row.align-items-center
                            .col-md-4                
                                a.pic.wow.fadeInLeft(href="blog_detail.html")
                                    img(src="img/temp/blog1.jpg")
                            
                            .col-md-8
                                a.txt.wow.fadeInRight(href="blog_detail.html")  
                                    h3.title Creating a Successful Outsourcing Partnership
                                    p.des CNC machining is a computer numerical control machining. It is a subtractive manufacturing procedure where a variety of tools directed by a computer is used to systemically remove raw materials till a final product or production part is made. CNC machining processes specialized...
                                    .note
                                        time                                     
                                            | 2020-09-10  20:10
                                        span.category PREMIUM PARTS
                                    .more more

                    .item
                        .row.align-items-center
                            .col-md-4                
                                a.pic.wow.fadeInLeft(href="blog_detail.html")
                                    img(src="img/temp/blog1.jpg")
                            
                            .col-md-8
                                a.txt.wow.fadeInRight(href="blog_detail.html")  
                                    h3.title Creating a Successful Outsourcing Partnership
                                    p.des CNC machining is a computer numerical control machining. It is a subtractive manufacturing procedure where a variety of tools directed by a computer is used to systemically remove raw materials till a final product or production part is made. CNC machining processes specialized...
                                    .note
                                        time                                     
                                            | 2020-09-10  20:10
                                        span.category PREMIUM PARTS
                                    .more more

                    .item
                        .row.align-items-center
                            .col-md-4                
                                a.pic.wow.fadeInLeft(href="blog_detail.html")
                                    img(src="img/temp/blog1.jpg")
                            
                            .col-md-8
                                a.txt.wow.fadeInRight(href="blog_detail.html")  
                                    h3.title Creating a Successful Outsourcing Partnership
                                    p.des CNC machining is a computer numerical control machining. It is a subtractive manufacturing procedure where a variety of tools directed by a computer is used to systemically remove raw materials till a final product or production part is made. CNC machining processes specialized...
                                    .note
                                        time                                     
                                            | 2020-09-10  20:10
                                        span.category PREMIUM PARTS
                                    .more more

                    .item
                        .row.align-items-center
                            .col-md-4                
                                a.pic.wow.fadeInLeft(href="blog_detail.html")
                                    img(src="img/temp/blog1.jpg")
                            
                            .col-md-8
                                a.txt.wow.fadeInRight(href="blog_detail.html")  
                                    h3.title Creating a Successful Outsourcing Partnership
                                    p.des CNC machining is a computer numerical control machining. It is a subtractive manufacturing procedure where a variety of tools directed by a computer is used to systemically remove raw materials till a final product or production part is made. CNC machining processes specialized...
                                    .note
                                        time                                     
                                            | 2020-09-10  20:10
                                        span.category PREMIUM PARTS
                                    .more more

                footer.blog-footer       
                    ul.pagination
                        li.page-item.disabled
                            a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#') Next
                    

        
block bkfooter
    
