extends includes/layout.pug

block title
    | 品牌客户

block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-blog.wow.fadeInUp
        img.bg(src="img/1x/clients_bg-80.jpg", alt="我们的客户")
        h1.title.text40 我们的客户

    .menus-wrap
        ul.sub-menus 
            li.active 
                a(href="brand.html")  品牌客户
            li
                a(href="partner.html")  合作客户

               
        
    .page.page-brand.pt-media-9.pb-media-9
        section.s1.container    
            .title-section.mb-media-4 
                h2.text40 策信为众多一流企业提供优质服务
            .mb-media-6
                .p1 策信凭借卓越的服务，赢得了多家上市企业以及大型集团公司的认可和信赖。越来越多的企业选择策信作为常年的合作伙伴。          
                .p2 未来，我们将继续秉承“策知得失 信存有道”的理念，努力成为中国最具影响力的专业财税服务机构。降低客户财税风险，成就客户最大价值，帮助杰出的企业更为成功。    

            .brands
                .swiper.mySwiper
                    .swiper-wrapper
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-1.svg", alt="大参林")
                                figcaption 大参林                                   
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-2.svg", alt="海马汽车")
                                figcaption 海马汽车
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-3.svg", alt="深圳能源")
                                figcaption 深圳能源
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-4.svg", alt="格林美")
                                figcaption 格林美
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-5.svg", alt="中国航信")
                                figcaption 中国航信
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-6.svg", alt="万泽集团")
                                figcaption 万泽集团
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-7.svg", alt="海南椰岛")
                                figcaption 海南椰岛

                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-5.svg", alt="中国航信")
                                figcaption 中国航信
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-6.svg", alt="万泽集团")
                                figcaption 万泽集团
                        .swiper-slide
                            figure.item
                                img(src="img/SVG/brand-7.svg", alt="海南椰岛")
                                figcaption 海南椰岛


                .swiper-next 
                    i.iconfont.icon-next
                .swiper-prev 
                    i.iconfont.icon-prev
        


block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')
    script.
        var swiper1 = new Swiper('.mySwiper', {
            slidesPerView: 2,
            spaceBetween: 40,            
            navigation: {
                nextEl: ".swiper-next",
                prevEl: ".swiper-prev",
            },          
            breakpoints: {
                640: {
                    slidesPerView: 3,
                    spaceBetween: 30,
                },
                768: {
                    slidesPerView: 5,
                    spaceBetween: 30,
                },
                1024: {
                    slidesPerView: 7,
                    spaceBetween: 30,
                },
            },
        });

        


     

      
       

     
