extends includes/layout.pug

block title
    | 全国医院覆盖区域
    
block bkheader
   

block content
    .banner.banner-about(style="background-image:url(img/banner/data.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 数据中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="documents.html") 文献
                    li
                        a.active(href="branches.html") 全国医院覆盖区域
                    li
                        a(href="support.html") 专家支持


    .page-branches
        section.s1
            p.text20.wow.fadeInUp 静配中心可以提高环境洁净度，解决部分空气污染药液问题。鉴于我国大部分医院并未建立静配中心，药物配置还是在临床科室的治疗室完成，故尝试使用超净配药器替代静配中心完成洁净配药，不失为一种理想的解决方案。
            
        section.s2
            .container
                .title-section-v2.wow.fadeInUp
                    h2.text40 伊姿超净配药器全国医院覆盖区域   

                figure.wow.fadeInUp
                    img(src="img/map.png", alt="")
        section.s3
            .container
                .title-section.wow.fadeInUp
                    h2.text28 试机图片
                    h3.text20 PHOTO

                .photolist
                    .row
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p1.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p2.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p3.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p4.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p5.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/p6.jpg", alt="")



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
