extends includes/layout.pug

block title
    | 分支机构

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-blog.wow.fadeInUp
        img.bg(src="img/1x/branch_bg-80.jpg", alt="分支机构")
        h1.title.text40 分支机构

        
    .page.page-branch
        section.s1           
            picture
                source(srcset="img/1x/branch_bg_1-80.jpg", media="(min-width: 992px)")
                img.bg(src="img/2x/branch_bg_1_m@2x-80.jpg", alt="广东")

            .sheng                 
                picture
                    source(srcset="img/SVG/map_gd.svg", media="(min-width: 992px)")
                    img(src="img/SVG/map_gd_m.svg", alt="广东")
                .txt
                    h2 广 东
                    p GUANGDONG
            .main-txt
                .title 
                    h2.text24 深圳策信税务师事务所有限公司
                .des 深圳策信税务师事务所（执业证号：24075）是经国家税务总局批准设立的具有独立法人资格的税务服务与代理机构。本所创立于2006年，办公场所设于深圳市福田车公庙商业区。本所是策信服务机构在广东地区设立的核心事务所之一，也是深圳市最资深的税务师事务所之一。2014年，本所即评为AAA级税务师事务所；2017年，本所入选深圳市税务局涉税中介机构备选库和专家库。
        
        
        section.s1.s2       
            picture
                source(srcset="img/1x/branch_bg_2-80.jpg", media="(min-width: 992px)")
                img.bg(src="img/2x/branch_bg_2_m@2x-80.jpg", alt="海南")
            .sheng               
                picture
                    source(srcset="img/SVG/map_hn.svg", media="(min-width: 992px)")
                    img(src="img/SVG/map_hn_m.svg", alt="海南")
                .txt
                    h2 海 南
                    p HAINAN
            .main-txt
                .title 
                    h2.text24 海口策信税务师事务所有限公司
                .des 海口策信税务师事务所（执业证号：26042）是经国家税务总局批准设立的具有独立法人资格的税务服务与代理机构。本所成立于2009年，办公场所位于海口市龙华区。本所拥有审计鉴证、税务鉴证、代理服务等资格，同时也是策信服务机构在海南地区设立的核心事务所。

        section.s1
        
            picture
                source(srcset="img/1x/branch_bg_3-80.jpg", media="(min-width: 992px)")
                img.bg(src="img/2x/branch_bg_3_m@2x-80.jpg", alt="湖北")
            .sheng             
                picture
                    source(srcset="img/SVG/map_hb.svg", media="(min-width: 992px)")
                    img(src="img/SVG/map_hb_m.svg", alt="湖北")
                .txt
                    h2 湖 北
                    p HUBEI
            .main-txt
                .title 
                    h2.text24 武汉策信税务师事务所有限公司
                .des 武汉策信税务师事务所（执业证号： HB006）是经国家税务总局批准设立的具有独立法人资格的税务服务与代理机构，本所成立于2009年，办公场所位于武汉市武昌区。本所拥有审计鉴证、税务鉴证、代理服务等资格，同时也是策信服务机构在华中地区设立的核心事务所。
              


block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            grabCursor: true,
            centeredSlides: true,
            loop:true,
            // init: false,
             navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                slidesPerView: 2,
                spaceBetween: 30,
                },
                768: {
                slidesPerView: 2,
                spaceBetween: 60,
                },
             
            }
        });


     

      
       

     
