extends includes/layout.pug

block title
    | 科研进展

block content
    .banner.banner-news(style="background-image:url(img/banners/agent.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/agent_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title_agent_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_agent.png", alt="")
            .des(data-depth="0.8") 
                p 蓝源与一众世界知名品牌有着长期紧密的战略合作关系，携手打造无与伦比的技术组合，
                    br
                    | 向世界展示科技影响力。


        nav.nav-container
            menu.wow.fadeInDown
                a.active(href="brands.html") Skyworks
                a(href="brands.html") JDI
                a(href="brands.html") Micron
                a(href="brands.html") 群创
                a(href="brands.html") 华星
                a(href="brands.html") UNIC2
                a(href="brands.html") Inspur
                a(href="brands.html") RICOH




    .page.page-brands.pt-media-7.pb-media-7
        .container  
            .s1.mb-media-4
                .row
                    .col-md-4
                        .pic
                            img(src="img/temp/logo_agent.jpg", alt="Skyworks")
                    .col-md-8
                        .txt
                            h3.text28 美光	
                                span Micron
                            p 美光科技有限公司（Micron	Technology,	Inc.）是高级半导体解决方案的全球领先供应商之一，改变了世界资讯的使用方式。通过全球化的运营，美光，英瑞达与铂胜制造并向市场推出了行业内最为全面的产品市场，是当下唯一一家拥有DRAM, NAND, NOR与3D XPoint主要存储技术的公司。在过去的35年间，美光致力于开发世界上最具影响力的先进技术，推出了性能优化的存储产品与存储系统，产品应用领域广泛。通过坚定不移地探寻突破客户存储解决方案，美光研发团队正改变世界传递与管理数据的方式。
                            a(href="products.html") 查看产品 &gt;&gt;

            .s2.mb-media-4
                .pic
                    img(src="img/temp/a_photo.jpg", alt="")
                                            
                
            .s3.mb-media-4
                h3.title.text28.mb-media-3 产品分类
                    span PRODUCT CATEGORY

                .list
                    .row
                        .col-md-3
                            .item
                                img(src="img/temp/a1.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 服务器
                                        p SERVER

                        .col-md-3
                            .item
                                img(src="img/temp/a2.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 汽车
                                        p AUTOMOBILE

                        .col-md-3
                            .item
                                img(src="img/temp/a3.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 客户端
                                        p CLIENT

                        .col-md-3
                            .item
                                img(src="img/temp/a4.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 消费者
                                        p CONSUMER

                        .col-md-3
                            .item
                                img(src="img/temp/a5.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 服务器
                                        p SERVER

                        .col-md-3
                            .item
                                img(src="img/temp/a6.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 服务器
                                        p SERVER

                        .col-md-3
                            .item
                                img(src="img/temp/a7.jpg", alt="")
                                .txt-container
                                    .txt
                                        h3.text28 服务器
                                        p SERVER

                        
            section.s4
                .row
                    .col-md-auto
                        .pic
                            img(src="img/temp/a8.jpg", alt="")
                    .col-md
                        .txt
                            h3.text28 服务器
                                span SERVER
                            p 数据中心迅速朝大规模高效方向发展 — 这种转变由虚拟化、集中化和云计算推动。美光帮助您选择合适的内存和存储解决方案，从而充分利用您的数据中心。我们使您能够更轻松、高效地将数据转化为洞察力，从而实现超智能决策。
                            p 通过选择正确的内存和存储技术，使您能够更好地控制影响业务的关键系统，从而超越处理能力。我们帮助您扩展、简化、整合和自动化数据中心，以实现最大价值。适用产品包括企业级SSD、DDR4颗粒、NVDIMM、RDIMM、LRDIMM。

                                       
        
block bkfooter
    script.
        $(function(){
        
        })
