extends includes/layout.pug

block title
    | 校园招聘

block bkheader
   

block content
    .banner.banner-campus(style="background-image:url(img/banners/campus.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 校园招聘
                

    .page.page-campus.pt-media-7.pb-media-7
        .container 
            .row
                .col-lg-6
                    .leftcol
                        h3.title.text32 寻找改变世界的你，我们需要您
                        ul
                            li
                                i.iconfont.icon-ok
                                strong 研发类：
                                br
                                | 硕士、博士毕业，高分子材料、机械设计、材料工程、药学等相关专业
                            li
                                i.iconfont.icon-ok
                                strong 销售类：
                                br
                                | 本科毕业，药学、医学、市场营销等相关专业，英语良好或有医院背景
                            li
                                i.iconfont.icon-ok
                                strong 职能类：
                                br
                                | 财务、人力资源、临床医学、机械、工业工程等相关专业
                            li
                                i.iconfont.icon-ok
                                strong 素质要求：
                                br
                                | 较强的自主学习能力，成就动机、结果导向

                        

           
                .col-lg-6
                    .rightcol
                        .text24.mb-media-3 我们希望寻找那些热爱医疗行业，有能力和意愿提高我国医疗行业水平的优秀学子，伴随着市场大势，成就不一样的医疗事业与自我。                       
                        
                        .text24.mb-media-3 找的就是你呦！！！

                        .footer
                            a.btn.btn-primary(href="#") 
                                i.iconfont.icon-email
                                | dianapeng@brosmed.com

                            p 我们将会在1-2天内联系您

                
    

block bkfooter   
    
    script.
        $(function () {
           
        
        });

     
