extends includes/layout.pug

block title
    | 璞斐案例

block bkheader



block content  
    
       
    .page.page-cases
        .container

            section.s1.pt-media-7.mb-media-5
                .row.align-items-end
                    .col-lg
                        .title-section
                            h2.text70.wow.fadeInUp PROJECT
                                br 
                                | CASE
                                span .
                            h3.text28.wow.fadeInUp 璞斐案例
              
                    .col-lg-auto
                        ul.categories.wow.fadeInUp
                            li
                                a.active(href="#") ALL
                            li
                                a(href="#") 品牌设计
                            li
                                a(href="#") 品牌展示空间
                            li
                                a(href="#") 活动策划
                            li
                                a(href="#") 其他


            section.s2.pb-media-7
                .case-list
                    .row.no-gutters
                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/001.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/002.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/003.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/004.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/005.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计
                                    
                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/006.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/007.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计

                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/008.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计
                                    
                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/009.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计
                        
                        .col-md-6.col-lg-4
                            a.item.wow.fadeInUp(href="case_detail.html") 
                                img(src="img/cases/010.jpg", alt="")
                                .overly
                                    h3 前海十周年原创音乐征歌活动整体视觉形象设计


            section.s3.pb-media-7
                a.btn.btn-primary.wow.fadeInUp(href="#") MORE
                    
    



block bkfooter

    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')
    script.
        

        $(function () {
            //-  $('video, audio').mediaelementplayer();
                
        
        });


     
