extends includes/layout.pug

block title
    | 前海十周年原创音乐征歌活动整体视觉形象设计

block content
   
    .page.page-case-detail.pb-media-7
        .container.pb-media-5           
            .s1   
                .row
                    .col-lg-5     
                        h1.title-case.wow.fadeInUp 前海十周年原创音乐征歌活动
                    .col-lg-7
                        .txt 
                            p.mb-media-8 『湾区风来新时代，改革开放再出发』，2020年是深圳经济特区建立40周年，也是前海合作区成立10周年。为了进一步诠释和表现前海这片创业的热土，激励广大音乐爱好者创作一批歌颂前海十年来取得的丰硕成果，富有时代特征和号 召力、积极向上的优 秀原创歌曲，现开展“ 前海十周年原创音乐作品”征集活动。
                        
                        
                            ul.note
                                li 客户名称：深圳市前海深港现代服务业合作区管理局
                                li 服务内容：视觉形象设计、包装设计
                                li 完成时间：2020年8月
                                
            .s2
                
                figure.pic
                    img(src="img/temp/001.jpg", alt="")                
                            
                figure.pic
                    img(src="img/temp/002.jpg", alt="")

        .s3

            .row.no-gutters.align-items-center
                .col
                    a.allow.prev(href="case-detail.html")
                        .row
                            .col-auto
                                i.iconfont.icon-prev
                            .col
                                .title 上一篇 海岸娱乐视觉形象设计

                .col-auto
                    a.btn-close(href="cases.html") 
                        i.iconfont.icon-close
                .col
                    a.allow.next(href="case-detail.html")
                        .row                            
                            .col
                                .title 下一篇 海岸娱乐视觉形象设计
                            .col-auto
                                i.iconfont.icon-next
                

                

block bkfooter
    script.
        $(function(){
          
        })