extends includes/layout.pug

block title
    | Certificates

block bkheader
    

block content
    .site-path 
        .container
            a(href="index.html") Home 
            | &gt; 
            a(href="products.html") Company 
            | &gt; 
            span.current Certificates
              
        
    .page.page-overview.page-certificate.pb-media-7
        .banner
            img(src="img/banners/cert.jpg", alt="overview")
                  
        section.s1.container.mb-media-3
            .intro 
                h3.title.text30 Certificates &amp; Patents
                .des
                    p Din has established a complete quality management system according to ISO standards, and has passed third-party audits and approvals. Our products are tested and certified by CQC, UL, VDE, ENEC laboratories. According to IEC 60384, IEC 61071, other international standards and the special requirements of customers, we have established quality control standards and inspection items. Our R&amp;;D team is composed of experienced experts, professors, senior engineers and other professional technicians. Aiming at high current, high withstand voltage, ultra-high temperature, high energy storage density, high insulation resistance, high precision, low ESR, low ESL requirements, we have carried out special R&amp;D work with multiple teams and established a reliability laboratory according to R&amp;D requirements. In order to better understand the application of basic material innovation in capacitors, our R&amp;D team has cooperated with China’s Tsinghua University, Xi’an Jiaotong University, and Southern University of Science and Technology, and has obtained more than 10 national patents and China’s national high-tech enterprises
                    p Our R&amp;D team has experienced experts, professors, postdocs, senior engineers, and other professional technical personnels. Aiming at high current resistance, high voltage withstanding, ultra high temperature resistance, high energy storage density, high insulation resistance, high precision, low ESR, low ESL requirment to launch special research and development with multi-team . Based on the research and development requirements to set up the reliability laboratory.
                    p Our R&amp;D personnel deeply understand the base material innovation is the core of the capacitor, our R&amp;D team actively participate in the development of the base material together with Tsinghua university ,Xi 'an jiaoton university, Southern University of Science and Technology

 
        
        section.s2
            .container
                .r1
                    .row.align-items-center(style="margin-bottom:2rem;") 
                        .col-lg-3 
                            .row 
                                .col-12.col-md-6.col-lg-12
                                    figure(style="margin-bottom:1rem;")
                                        img(src="img/certs/c1.jpg", alt="cert")
                                .col-12.col-md-6.col-lg-12
                                    figure
                                        img(src="img/certs/c2.jpg", alt="cert")
                        .col-lg-9 
                            figure 
                                img(src="img/certs/c3.jpg", alt="cert")
                .r2 
                    .row.no-gutters
                        
                        .col-xl 
                            .row.no-gutters
                                .col-4.col-lg
                                    figure 
                                        img(src="img/certs/c4.jpg", alt="CQC")
                                        figcaption CQC
                                .col-4.col-lg 
                                    figure 
                                        img(src="img/certs/c5.jpg", alt="UL")
                                        figcaption UL
                                .col-4.col-lg 
                                    figure 
                                        img(src="img/certs/c6.jpg", alt="VDE")
                                        figcaption VDE
                                .col-4.col-lg 
                                    figure 
                                        img(src="img/certs/c7.jpg", alt="Environment Certification")
                                        figcaption Environment Certification
                                .col-4.col-lg 
                                    figure 
                                        img(src="img/certs/c8.jpg", alt="Quality Cerfication")
                                        figcaption Quality Cerfication

                        .col-xl-auto                
                            figure
                                img(src="img/certs/c9.jpg", alt="")
                                figcaption Product Quality


        section.s3 
            img(src="img/cert_1.jpg", alt="Quality assurance")
            .txt-container
                .txt    
                    h2.title.text30 Quality assurance
                    p Our quality assurance department has established a perfect quality management system according to ISO standards, and has been audited and approved by a third-party .Our products have passed CQC,UL,VDE,ENEC laboratory testing and obtained the certificates. According to IEC 60384, IEC 61071 and other international standards and customer special requirements, we establish quality control standards and inspection items. 
                    p Through the large amount of data collection ,we set up a complete model of capacitor failure analysis,can quickly help customers analyze the failure reasons


        section.s4.container.pt-media-4.pb-media-4
            .title-section 
                h2.text30 Our Production Process
            figure 
                img(src="img/cert_2.png", alt="Our Production Process")


block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
