extends includes/layout.pug

block title
    | 学术委员会
    
block bkheader
   

block content
    .banner.banner-academic(style="background-image:url(img/banners/bg.jpg)")        
        .container
            .title-section
                h2.text90.wow.fadeInUp PROFI 
                    br 
                    | PARTNER.
                   
                h3.text36.wow.fadeInUp 璞斐客户

    .page.page-clients.pt-media-5.pb-media-5
        .container
            .row
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/qh.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/hqc.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/hlha.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/sj.png", alt="前海")

                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/slx.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/baal.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/sgd.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/TCL.png", alt="前海")

                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/swax.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/hs.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/ylj.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/fsn.png", alt="前海")

                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/push.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/ha.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/rj.png", alt="前海")
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        img(src="img/clients/yps.png", alt="前海")


                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
