extends includes/layout.pug

block title
    | 临床应用

block content
    .banner.banner-clinical(style="background-image:url(img/banners/clinical.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 临床应用

    .page.page-clinical.pt-media-5.pb-media-6
       

        section.list.container
            
            .item
                .row.align-items-center.no-gutters
                    .col-md-auto
                        a.pic.wow.fadeInUp(href="clinical_detail.html")
                            img(src="img/temp/c1.jpg")     
                    .col-md
                        .txt.wow.fadeInUp                            
                            h3.text32
                                a(href="clinical_detail.html") 百亿级经导管介入心脏瓣膜市场，国产"C位" 突围记
                        
                            p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”	>>
                          

                                
            .item
                .row.align-items-center.no-gutters
                    .col-md-auto
                        a.pic.wow.fadeInUp(href="clinical_detail.html")
                            img(src="img/temp/c2.jpg")     
                    .col-md
                        .txt.wow.fadeInUp                            
                            h3.text32
                                a(href="clinical_detail.html") 百亿级经导管介入心脏瓣膜市场，国产"C位" 突围记
                        
                            p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”	>>
                          

            .item
                .row.align-items-center.no-gutters
                    .col-md-auto
                        a.pic.wow.fadeInUp(href="clinical_detail.html")
                            img(src="img/temp/c3.jpg")     
                    .col-md
                        .txt.wow.fadeInUp                            
                            h3.text32
                                a(href="clinical_detail.html") 百亿级经导管介入心脏瓣膜市场，国产"C位" 突围记
                        
                            p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”	>>
                          

            .item
                .row.align-items-center.no-gutters
                    .col-md-auto
                        a.pic.wow.fadeInUp(href="clinical_detail.html")
                            img(src="img/temp/c4.jpg")     
                    .col-md
                        .txt.wow.fadeInUp                            
                            h3.text32
                                a(href="clinical_detail.html") 百亿级经导管介入心脏瓣膜市场，国产"C位" 突围记
                        
                            p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”	>>
                          

       
   
            footer.quality-footer.wow.fadeInUp
                ul.pagination.text-center
                    li.page-item
                        a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                            i.iconfont.icon-previous
                            
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item.active(aria-current='page')
                        a.page-link(href='#')
                            | 2                          
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link.next(href='#') 
                            i.iconfont.icon-next
        
block bkfooter
    script.
        $(function(){
        
        })
