extends includes/layout.pug

block title
    | 百多安学院

block bkheader
   

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/college.jpg)")
        .container
            .title
                h1.wow.fadeInUp 百多安学院
                p.wow.fadeInUp 致力于与医护人员紧密联系，共同进步。

        
    .page.page-college.pt-media-5.pb-media-5
        .container             
            .row
                .col-lg-8
                    .item
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/coll_1.jpg", alt="")
                        .txt
                            h3.text24 海外留学人员新型冠状病毒肺炎防控
                            .date 2020.07.11  1小时前
                            
                .col-lg-4
                    .item
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/coll_3.jpg", alt="")
                        .txt
                            h3.text24 PICC长期护理手册
                            .date 2020.07.11  1小时前

            .row
                .col-lg-8.order-lg-last
                    .item
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/coll_2.jpg", alt="")
                        .txt
                            h3.text24 海外留学人员新型冠状病毒肺炎防控
                            .date 2020.07.11  1小时前
                            
                .col-lg-4
                    .item
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/coll_3.jpg", alt="")
                        .txt
                            h3.text24 PICC长期护理手册
                            .date 2020.07.11  1小时前

            .book_list
                .row
                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_4.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前
                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_5.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前

                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_6.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前
                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_4.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前
                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_5.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前

                    .col-md-6.col-lg-4
                        .item
                            .pic
                                a(href="news_detail.html") 
                                    img(src="img/temp/coll_6.jpg", alt="")
                            .txt
                                h3.text24 PICC长期护理手册
                                .date 2020.07.11  1小时前

                

            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
