extends includes/layout.pug

block title
    | 期权小白入门系列（训练营模式）

block bkheader


block content
    .banner.banner-about(style="background-image:url(img/banner/service.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 客服中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="FAQ.html") 常见问题
                    li
                        a(href="contact.html") 联系我们
                    li
                        a.active(href="comments.html") 留言专区  
        
    .page.page-comments(style="background-image:url(img/courses_03.jpg)")
        .formMessage 
            form(action="", method="post")
                .row.form-group.wow.fadeInUp
                    .col-lg-2
                        label(for="name") 联系人*
                    .col-lg-10
                        input.form-control(type="text")
                .row.form-group.wow.fadeInUp
                    .col-lg-2
                        label(for="name") 联系方式*
                    .col-lg-10
                        input.form-control(type="text")
                .row.form-group.wow.fadeInUp
                    .col-lg-2
                        label(for="name") 邮箱*
                    .col-lg-10
                        input.form-control(type="text")
                .row.form-group.wow.fadeInUp
                    .col-lg-2
                        label(for="name") 留言标题*
                    .col-lg-10
                        input.form-control(type="text")
                .row.form-group.wow.fadeInUp
                    .col-lg-2
                        label(for="name") 留言内容*
                    .col-lg-10
                        textarea#message.form-control(name="message", rows="5")

                .form-action.wow.fadeInUp
                    button.btn.btn-primary.btn-radius(type="submit") 提交
            
                  

        
block bkfooter


    script.
      
        $(function () {
      
        });
      
       

     
