extends includes/layout.pug

block title
    | 人才理念

block bkheader
   

block content
    .banner.banner-staff(style="background-image:url(img/banner/job.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 招贤纳士
                ul.nav.wow.fadeInUp
                    li
                        a.active(href="concept.html") 人才理念
                    li
                        a(href="jobs.html") 职位申请
    
              
    .page-concept
        .container
            section.s1.wow.fadeInUp
                p.text28 鼓润积极塑造“诚实、担责、学习”的价值观文化，并秉承“企业与员工共同成长”的人才理念，积极创新，共同打造更优秀的团队。
                        
                            

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
