extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content               

    .page.page-contact.pt-media-7.pb-media-5
        .container         
            .row
                .col-md
                    .title-section.mb-media-7
                        h2.text70.wow.fadeInUp CONTACT
                            br 
                            | US
                            span .
                        h3.text28.wow.fadeInUp 联系璞斐
                    .contact
                        ul.wow.fadeInUp              
                            li 地址：广东省深圳市南山区·TCL国际E城
                            li 微信号：profidesign
                            li E-mail：profidesign@profidesign.net

             
            
                .col-md-auto                    
                    .logo.wow.fadeInUp.mb-media-8
                        img(src="img/about_01.png", alt="璞斐设计")

                    .row.qr.no-gutters.wow.fadeInUp
                        .col
                            .pic.wow.fadeInUp
                                img(src="img/qrcode.png", alt="公众号")
                            p 公众号
                        .col
                            .pic.wow.fadeInUp
                                img(src="img/qrcode1.png", alt="官方微信")
                            p 官方微信
                           

block bkfooter


   
    
    script.
       


        $(function () {
        
  
        
        });

     



