extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content    
    .banner.banner-solution.wow.fadeInUp
        img.bg(src="img/banners/contact.jpg", alt="")       

        .txt-container
            .container
                .row 
                    .col-lg
                        .txt
                            h1.wow.fadeInUp.text70 客户支援
                            p.wow.fadeInUp 咨询不便事项，联系我们，我们将尽快为您解答，<br>我们将会成为时刻倾听客户心声的企业，<br>将通过持续的优化与发展，<br>不断创新和进取，不断提升公司的品牌价值和核心竞争力。
                            


    .container
        .sub_nav.wow.fadeInDown
            ul.menus              
                li
                    a(href="service.html") 服务文化
                li
                    a(href="network.html") 销售网络
                li.active  
                    a(href="contact.html") 联系我们
                li
                    a(href="FAQ.html") 常见问题与解答

    .page.page-contact.pt-media-9
        
        section.s1.mb-media-5
            aside.contact.pt-media-6.pb-media-6
                .txt-container
                    .title-section 
                        h2.text48 广东胜宇电缆实业有限公司
                    p.des.mb-media-2 感谢您访问胜宇电缆。<br/>胜宇电缆将始终成为倾听顾客声音的企业。<br/>如有不便事项或咨询事宜，请在此填写。<br/>我们将尽快予以处理。

                    h3.phone.text24 售后服务热线：400-0099-020 
               
        
            .form_main.pt-media-5.pb-media-5
                
                h3.title.text24 请填写您的要求
           
                
                form.form-message(action="#") 
                    .row 
                        .col-xl-6
                            .form-group
                                input.form-control(type="text",placeholder="姓名",required="required")  
                        .col-xl-6
                            .form-group
                                input.form-control(type="text",placeholder="电话",required="required")  
                        .col-xl-6
                            .form-group
                                input.form-control(type="text",placeholder="公司",required="required")  
                        .col-xl-6
                            .form-group
                                input.form-control(type="text",placeholder="邮箱",required="required")  
                     
                    .form-group                       
                        textarea.form-control(name="message", rows="4", placeholder="请填写您的合作需求",required="required")
                    
                   

                    button.btn-send.text24(type="submit") 
                        i.iconfont.icon-go
                        | 提交

        section.s2.container-1.pt-media-5.pb-media-5
            .contacts-common 
                .row.gx-5 
                    .col-md-6
                        .item.first 
                            h3.text24.mb-media-3 国内市场
                            dl 
                                dt 电话：
                                dd +86-13802758211(微信/方经理) <br/>+86-020-28982598
                            dl 
                                dt 传真：
                                dd +86-020-3216 0096
                            dl 
                                dt 邮箱：
                                dd info@SunwinCable.com
                    .col-md-6
                        .item 
                            h3.text24.mb-media-3 Global market 国际贸易部
                            dl 
                                dt Tel+:  
                                dd +86-013650891576(WhatsApp/Miss wu) <br/>+86-020-89613381
                            dl 
                                dt Fax:
                                dd +86-020-3216 0096
                            dl 
                                dt E-mail:
                                dd chloe@gdsycable.com
                            dl 
                                dt Skype:
                                dd shengyucable


        section.s3.pt-media-5.pb-media-9
            .address 
                h3.text24 地址：广州市经济开发区东区东枝路23号
            #map-gaode.map-gaode            
                          
                    
block bkfooter
    script(src='https://webapi.amap.com/maps?v=2.0&key=1cacf315d4678f9f550379b274a06d7a',type="text/javascript")
   
    script.
        var map = new AMap.Map('map-gaode', {
            zoom:16,//级别
            center: [113.486017,23.13986],//中心点坐标
            viewMode:'3D'//使用3D视图
        });

        var marker = new AMap.Marker({
            position: new AMap.LngLat(113.486017,23.13986),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
            title: '胜宇'
        });

        // 将创建的点标记添加到已有的地图实例：
        map.add(marker);
        $(function () {
        
  
        
        });

     



