extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content
         
    .page.page-contact(style="background-image:url(img/banner/contact.jpg)")
        section.s1.container-fluid
            h1.title-page.text28 联系我们

            .row
                .col-md
                    .item
                        ul
                            li 电话 (86) (21) 38954600
                            li 传真 (86) (21) 50801305
                .col-md
                    .item
                        address 上海市浦东新区张江科学城张东路1601号
                .col-md
                    .item
                        ul
                            li wcxt@microport.com
                            li 邮编 201203




block bkfooter


    script(src='http://api.map.baidu.com/api?v=3.0&ak=OBGqtysX9tHecbODIsmZO8UwmbqeFeAG',type="text/javascript")
    
    script.
        var map = new BMap.Map("baidumap");          
        map.addControl(new BMap.NavigationControl());    
        map.addControl(new BMap.ScaleControl());    
        map.addControl(new BMap.OverviewMapControl());    
        map.enableScrollWheelZoom(true);
        var point = new BMap.Point(113.934382,22.579212);  
        map.centerAndZoom(point, 16);                
        var marker = new BMap.Marker(point);        // 创建标注    
        map.addOverlay(marker);  

        $(function () {
        
  
        
        });

     
