extends includes/layout.pug

block title
    | 联系方式

block bkheader
   

block content               
    .banner.banner-clinical(style="background-image:url(img/banners/contact.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 联系方式

    .page.page-contact
        section.s1            
            img(src="img/contact_01.jpg", alt="")
            .txt-container
                .container    
                    .txt
                        h3.text32.company 广东博迈医疗器械有限公司     
                    
                        ul.wow.fadeInUp              
                            li 地址：东莞松山湖高新技术产业开发区工业北路中小科技企业创业园第15栋
                            li 电话：+ 86（769）2289 2018
                            li 邮箱：sales@brosmed.com
                            li 邮编：523808
                            li 传真：+ 86（769）2289 2016

        section.s2
            img(src="img/contact_02.jpg", alt="")
            .txt-container
                .container    
                    .txt
                        h3.text32.company BrosMed Medical B.V.（荷兰分公司）
                    
                        ul.wow.fadeInUp              
                            li 地址：Mgr. Buckxstraat 8,6134 AP Sittard The Netherlands
                            li 电话：+ 31 850 140 901
                            li 邮箱：cs@brosmed.com

                    
block bkfooter

   
    script.
        $(function () {
        
  
        
        });

     



