extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content    
    .banner.banner-blog.wow.fadeInUp
        img.bg(src="img/banners/contact.jpg", alt="联系我们")
        .txt
            .container
                h1.text56 联系我们
                  

    .page.page-contact.pt-media-6.pb-media-6       
        section.s1.mb-media-5.container
            .title-section-2.mb-media-2 
                h2.text36 联系方式
            .tab 
                .tab-header 
                    ul 
                        li.active 杭州奥创光子技术有限公司
                        li 杭州奥创光子技术有限公司2

                .tab-body 
                    .content.active 
                        .row 
                            .col-lg-5
                                aside.contact 
                                    dl.d1 
                                        dt 公司信息
                                        dd 
                                            i.iconfont.icon-phone
                                            | 0571-83680750w
                                        dd 
                                            i.iconfont.icon-email
                                            | sale@ultronphotonics.com
                                        dd 
                                            i.iconfont.icon-home
                                            | 浙江省杭州市萧山经济开发区鸿兴路117号
                                    dl.d1 
                                        dt 市场对接人员
                                        dd 
                                            i.iconfont.icon-phone
                                            | 张先生
                                        dd 
                                            i.iconfont.icon-mobile
                                            | 18652602609
                                        dd 
                                            i.iconfont.icon-email
                                            | zc@ultronphotonics.com


                            .col-lg-7
                                #map-gaode0.map-gaode

                    .content 
                        .row 
                            .col-lg-5
                                aside.contact 
                                    dl.d1 
                                        dt 公司信息
                                        dd 
                                            i.iconfont.icon-phone
                                            | 0571-83680750
                                        dd 
                                            i.iconfont.icon-email
                                            | sale@ultronphotonics.com
                                        dd 
                                            i.iconfont.icon-home
                                            | 浙江省杭州市萧山经济开发区鸿兴路117号
                                    dl.d1 
                                        dt 市场对接人员
                                        dd 
                                            i.iconfont.icon-phone
                                            | 张先生
                                        dd 
                                            i.iconfont.icon-mobile
                                            | 18652602609
                                        dd 
                                            i.iconfont.icon-email
                                            | zc@ultronphotonics.com


                            .col-lg-7
                                #map-gaode1.map-gaode
                    
                

        section.common-comment.pt-media-5.container
            .title-section-2 
                h2.text36 留言咨询

            .des 
                p 如果您有任何意见建议想对我们说，都可以通过下面的方式发送信息给我们。我们将非常乐意跟你畅快的交流！ 请留下您准确的联系方式，我们承诺对您的个人信息保密。
                
            img(src="img/temp/001.png", alt="")
                               
            
                    
block bkfooter
   
    script(src='https://webapi.amap.com/maps?v=1.4.15&key=1cacf315d4678f9f550379b274a06d7a',type="text/javascript")   
    script.
        function loadMap(divId){
            var map = new AMap.Map(divId, {
                zoom:14.7,//级别
                center: [109.013174,34.211564],//中心点坐标
                viewMode:'3D', //使用3D视图
                //- lang: "en" 
            });

            var infoWindow = new AMap.InfoWindow({offset: new AMap.Pixel(0, -30)});

            var marker = new AMap.Marker({
                position: new AMap.LngLat(109.013174,34.211564),   // 经纬度对象，也可以是经纬度构成的一维数组[116.39, 39.9]
                title: '奥创光子'
            });

            marker.content = '奥创光子';
            marker.on('click', markerClick);
            marker.emit('click', {target: marker});
            // 将创建的点标记添加到已有的地图实例：
            map.add(marker);

            function markerClick(e) {
                infoWindow.setContent(e.target.content);
                infoWindow.open(map, e.target.getPosition());
            }
        }
        
        loadMap('map-gaode0')

        $(function () {       
            $('.tab-header li').click(function(e){
                $(this).siblings().removeClass('active');
                $(this).addClass('active');
                $li = $(this).index();
                // alert($li );
                $('.tab-body .content').eq($li).siblings().removeClass('active');
                $('.tab-body .content').eq($li).addClass('active');
                loadMap('map-gaode' + $li)
            })
        
        });




