extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content
    .banner.banner-news(style="background-image:url(img/banners/contact.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/contact_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title-contact_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_contact.png", alt="")

        nav.nav-container
            menu.wow.fadeInDown
                a.active(href="contact.html") 联系我们
                a(href="join.html") 加入我们

                     

    .page.page-contact.pt-media-5.pb-media-5
        .container         
            .row
                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-sz.jpg", alt="深圳")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 深圳
                        .en.wow.fadeInUp SHENZHEN
            
                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-hk.jpg", alt="香港")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 香港
                        .en.wow.fadeInUp HONGKONG


                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-bj.jpg", alt="北京")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 北京
                        .en.wow.fadeInUp Bejing

                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-sh.jpg", alt="上海")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 上海
                        .en.wow.fadeInUp SHANGHAI

                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-sz.jpg", alt="印度")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 印度
                        .en.wow.fadeInUp india
            
                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-singapore.jpg", alt="新加坡")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 新加坡
                        .en.wow.fadeInUp SINGAPORE


                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-tw.jpg", alt="台湾")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 台湾
                        .en.wow.fadeInUp TAIWAN

                .col-6.col-md-4.col-lg-3
                    .item
                        .pic.wow.fadeInUp
                            img(src="img/city/city-japan.jpg", alt="日本")
                            .contact
                                dl
                                    dt 泽英有限公司
                                    dd 地址：香港九龙观塘鸿图道1号1817室
                                    dd 电话：852-24775899
                                    dd 传真：852-24775899

                        .city.text24.wow.fadeInUp 日本
                        .en.wow.fadeInUp JAPAN
               
        
                





block bkfooter


   
    
    script.
       


        $(function () {
        
  
        
        });

     



