extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content               
    .page.page-contact.pb-media-5
        .banner-contact 
            picture
                source(srcset="img/contact_1@2x.jpg", media="(min-width: 1921px)")
                img(src="img/contact_1.jpg", alt="Contact Us")

        .container.txt
            h1.text80 Contact Us
            p Founded in June 2001, a National high-tech production-oriented enterprise, Din has advanced production and testing equipment, with independent product reliability laboratory, on the basis of IEC, GB and other relevant standards to do related regular life test, our R&D team conducts tireless research and experiment on new materials and new technology, Strive to be in sync with international advanced level technically, and can interact well with customers to quickly design and produce cost-effective products. 
    
    
        .container.form-container
            .form-contact 
                .title-section 
                    h2.text30 ONLINE MESSAGE
                form(action="#", method="post") 
                    .row 
                        .col-lg-6 
                            .form-group 
                                .form-label.req NAME
                                input.form-control(type="text", required, name="name" placeholder="your name")
                            .form-group 
                                .form-label.req E-MAIL
                                input.form-control(type="email", required, name="email" placeholder="inten@123.com")
                            .form-group 
                                .form-label.req SUBJECT
                                input.form-control(type="text", required, name="subject" placeholder="hey there")
                        
                        .col-lg-6 
                            .form-group2
                                textarea.form-control-textarea(name="message", placeholder="Leave what you want to say…", required)

                    .action
                        button.btn.btn-yellow.btn-radius(type="submit") SEND MESSAGE

                .row.align-items-end
                    .col-lg 
                        ul.contact 
                            li 
                                i.iconfont.icon-marker
                                | Bld No C2, Mingzhuoxing Industrial Park, Guangming District, Shenzhen, China.
                            li 
                                i.iconfont.icon-phone
                                | 86-755-29948886/86-755-81727962/86-755-29948916                 
                            li 
                                i.iconfont.icon-email
                                | sales@ csdcapacitor.com

                

                    .col-lg-auto 
                        .info CONTACT US TO GET MORE INFOS

                          
                    
block bkfooter

   
    script.
        $(function () {
        
  
        
        });

     



