extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content               
    .banner1.wow.fadeInDown(style="background-image:url(img/banners/contact.jpg)")
        .container
            .title
                h1.wow.fadeInUp 联系我们

    .page.page-contact.pt-media-5.pb-media-5
        .container
            .row.align-items-center
                .col-lg-6
                    .pic
                        img(src="img/map_1.png", alt="")
                .col-lg-6              
                    .txt
                        address.text20.wow.fadeInUp
                            i.iconfont.icon-map 
                            | 德州市齐河县齐鲁高新技术开发区百多安生物科技园内    
                        ul.clist.wow.fadeInUp
                            li 邮箱：yancy@brandentech.com
                            li 电话：400-888-8888                       
                            li 联系方式（科研合作）：400-888-8888
                            li 联系方式（市场销售）：400-888-8888        

                    
block bkfooter

   
    script.
        $(function () {
        
  
        
        });

     



