extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content
    .banner.banner-about(style="background-image:url(img/banner/service.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 客服中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="FAQ.html") 常见问题
                    li
                        a.active(href="contact.html") 联系我们
                    li
                        a(href="comments.html") 留言专区      
                     
    .page.page-contact
        section.container
            .s1(style="background-image:url(img/ser02.jpg)")
                h3.text28.wow.fadeInUp 对产品专业知识有疑问、对加盟有意咨询代理事宜可联系：
                .text40.wow.fadeInUp 0451-87751236/87751238





block bkfooter


    script(src='http://api.map.baidu.com/api?v=3.0&ak=OBGqtysX9tHecbODIsmZO8UwmbqeFeAG',type="text/javascript")
    
    script.
        var map = new BMap.Map("baidumap");          
        map.addControl(new BMap.NavigationControl());    
        map.addControl(new BMap.ScaleControl());    
        map.addControl(new BMap.OverviewMapControl());    
        map.enableScrollWheelZoom(true);
        var point = new BMap.Point(113.934382,22.579212);  
        map.centerAndZoom(point, 16);                
        var marker = new BMap.Marker(point);        // 创建标注    
        map.addOverlay(marker);  

        $(function () {
        
  
        
        });

     
