extends includes/layout.pug

block title
    | 合作交流

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_cooperation.jpg)")
        .container
            h1.title-page 合作交流
            nav.submenus 
                a.active(href="cooperation.html") 国际合作
                a(href="cooperation.html") 国内合作
                a(href="cooperation.html") 合作项目
              

    .page.page-cooperation
        section.s1.container
            .title-section
                h3.text-center 积极吸引国际创新资源汇聚深圳：与Broad研究所签署合作备忘录，双方将在脑科学等领域建立深入合作

            .article
                p 2018年3月, Broad研究所Steve Hyman教授到访先进院脑所，并受到市委书记高自民的亲切接见2018年6月15日，樊建平院长与Steve Hyman教授于Broad研究所签订合作备忘录，王伟中书记见证
                figure
                    img(src="img/temp/coo_02.jpg", alt="")
                    figcaption 2018.3.13 Steve Hyman一行来访脑所



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
