extends includes/layout.pug

block title
    | 合作交流

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_cooperation.jpg)")
        .container
            h1.title-page 合作交流
            nav.submenus 
                a.active(href="cooperation.html") 国际合作
                a(href="cooperation.html") 国内合作
                a(href="cooperation.html") 合作项目
              

    .page.page-cooperation
        section.s1.container
            .title-section
                h2.text-center 国际合作

            .articlelist 
                .item
                    .row.align-items-center
                        .col-md-auto
                            a.pic(href="coo_detail.html")
                                img(src="img/temp/coo_01.jpg", alt="")
                        .col-md
                            a(href="coo_detail.html") 国际合作基因—MIT麦戈文脑研究所建设发展历程

                .item
                    .row.align-items-center
                        .col-md-auto
                            a.pic(href="coo_detail.html")
                                img(src="img/temp/coo_01.jpg", alt="")
                        .col-md
                            a(href="coo_detail.html") 积极吸引国际创新资源汇聚深圳：与Broad研究所签署合作备忘录，双方将在脑科学等领域建立深入合作

                .item
                    .row.align-items-center
                        .col-md-auto
                            a.pic(href="coo_detail.html")
                                img(src="img/temp/coo_01.jpg", alt="")
                        .col-md
                            a(href="coo_detail.html") 国际合作基因—MIT麦戈文脑研究所建设发展历程

                .item
                    .row.align-items-center
                        .col-md-auto
                            a.pic(href="coo_detail.html")
                                img(src="img/temp/coo_01.jpg", alt="")
                        .col-md
                            a(href="coo_detail.html") 国际合作基因—MIT麦戈文脑研究所建设发展历程




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
