extends includes/layout.pug

block title
    | 战略合作

block bkheader
    

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/cooperation.jpg)")
        .container
            .title
                h1.wow.fadeInUp 战略合作
                p.wow.fadeInUp 卓越无止境，创新无终点。
              
        
    .page.page-cooperation.pt-media-6.pb-media-5
        
        .container
            p 20多年来，百多安致力于提供能延长和重塑生命的可普惠化真善美方案，在神经调控、机器人、运动医学、医美、辅助生殖、眼科、可穿戴器械和康复等多个领域孵化项目30余个。这些孵化项目不仅获得了覆盖全生命周期的专业服务， 还与30余家外部基金建立了紧密合作，其中包括中信、华兴、中金、华泰证券等集团旗下的国内医疗产业基金，以及高瓴、清池、GIC等海外基金。它们以各种方式直接或间接地参与到了这种孵化机制中，并且已经取得或正在取得良好的收益。微创®孵化的第一家子公司，于2019年成功在科创板上市。 
            p 百多安在孵化项目期间，积累了丰富的新产品研发与商业化经验，成立了一系列可提供一站式全生命周期专业服务的专业服务平台，总结形成了微创®特有的孵化机制。在此基础上，微创®成立了奇迹点®孵化器。 
            p 奇迹点®孵化器拥有一套标准化、集约化和规模化的线站式孵化模式，前期以闭环式、差异化、大跨幅非线性快速迭代的方式，完成概念验证，确保解决方案满足用户需求；后期以开放式、同质化、多站点线性有序推进的方式，快速实现产品获证与批量生产，确保商业化成功。 
            p 欢迎全球创业者带着企业家精神和创新热情入驻奇迹点®孵化器！ 
            p 如果您有相关需求，请联系 
                a(href="mailto:Miraclepoints@microport.com") Miraclepoints@microport.com


block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
