extends includes/layout.pug

block title
    | 理事会
    
block bkheader
   

block content
    .banner.banner-council(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 实验室领导
              

    .wrapper
        .page.page-council.mt-n-30.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav.active
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right
                            ul.subnav
                                li
                                    a.active(href="council.html") 理事会
                                li
                                    a(href="leadership.html") 实验室领导
                                li
                                    a(href="academic.html") 学术委员会
                            
                            
                        li
                            a(href="team.html") 人才队伍
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    .row.no-gutters
                        .col-lg-auto.order-lg-last
                            .pic
                                img(src="img/team/p1.jpg", alt="")
                        .col-lg
                            .intro 
                                p 东风随春归，发我春上枝。广东省松山湖材料实验室乘着粤港澳大湾区建设的东风，成立于生意盎然的4月，致力打造具有新体制机制的材料研发与制造加工实验室、探索打通从基础研究到实现产业化最后一公里的规律。目前，在各级领导、社会各界的关心支持下、在实验室全体职工的共同努力下，已在基础研究、成果转化、人才引进、社会服务等方面取得了诸多骄人成果。
                                p 时序更替，梦想前行，希望有志之士与松山湖材料实验室一同成就一段佳话、造就一段故事，一同迎接实验室美好的未来。
                                p 我们将创造回忆，而不仅仅是材料！
                                .sig ——王恩哥 理事长
                        
                    
                section.s2.mb-media-3
                    .title-section
                        h2.text36 副理事长

                    .row
                        .col-md
                            .item
                                .pic
                                    img(src="img/team/p2.jpg", alt="")
                                .name.text24 刘  炜
                                .post 东莞市委常委、松山湖高新技术开发区党工委书记
                            
                        .col-md
                            .item
                                .pic
                                    img(src="img/team/p3.jpg", alt="")
                                .name.text24 文  亚
                                .post 中科院物理所党委书记、副所长
                            
                        .col-md
                            .item
                                .pic
                                    img(src="img/team/p4.jpg", alt="")
                                .name.text24 陈延伟
                                .post 中科院高能所副所长，东莞中子科学中心主任
                            
                            
                section.s2
                    .title-section
                        h2.text36 理事

                    .row
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p5.jpg", alt="")
                                .name.text24 欧阳南江
                                .post 松山湖高新区党工委副书记、管委会主任
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p6.jpg", alt="")
                                .name.text24 吕  兢
                                .post 东莞市副厅级干部，松山湖材料实验室建设工作领导小组副组长兼办公室主任
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p7.jpg", alt="")
                                .name.text24 卓  庆
                                .post 东莞市科技局局长
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p8.jpg", alt="")
                                .name.text24 王  标
                                .post 东莞市财政局副局长
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p9.jpg", alt="")
                                .name.text24 高  松
                                .post 华南理工大学校长
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p10.jpg", alt="")
                                .name.text24 成洪波
                                .post 东莞理工学院党委书记
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p11.jpg", alt="")
                                .name.text24 方  忠
                                .post 中科院物理所所长
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p12.jpg", alt="")
                                .name.text24 李  明
                                .post 中科院物理所党委副书记、纪委书记
                            
                        .col-md-4
                            .item
                                .pic
                                    img(src="img/team/p13.jpg", alt="")
                                .name.text24 冯国星
                                .post 中科院物理所所长特别助理、科技处处长
                            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
