extends includes/layout.pug

block title
    | 课程
    
block bkheader
   

block content
    .banner.banner-courses.wow.fadeInUp(style="background-image:url(img/banner/courses.jpg)")
        .container
            .row.align-items-center
                .col-md 
                    .txt
                        h1.title-page 为您精选课程
                        p 0基础小白轻松入门快速通过期权开户考试
                .col-auto                     
                    img(src="img/courses_01.jpg", alt="")

    .page.page-courses
        section.s1.container
            .row.item.align-items-center
                .col-md
                    .txt
                        h3.title 期权小白入门系列
                        p 0基础小白轻松入门快速通过期权开户考试
                        p.note 共7节课程
                        a.play(href="course_detail.html")
                            img(src="img/courses_02.png", alt="")
                .col-md-auto
                    a.pic(href="course_detail.html")
                        img(src="img/temp/courses_01.jpg", alt="")

            .row.item.align-items-center
                .col-md
                    .txt
                        h3.title 期权实战基础系列
                        p 包括期权入门基础、交易必备技能、买方实战案例等
                        p.note 共24节课程
                        a.play(href="course_detail.html")
                            img(src="img/courses_02.png", alt="")
                .col-md-auto
                    a.pic(href="course_detail.html")
                        img(src="img/temp/courses_02.jpg", alt="")


            .row.item.align-items-center
                .col-md
                    .txt
                        h3.title 期权进阶精通系列
                        p 详解期权卖方、组合策略和希腊字母，学会像保险公司一样长期稳定盈利。
                        p.note 共27节课程
                        a.play(href="course_detail.html")
                            img(src="img/courses_02.png", alt="")
                .col-md-auto
                    a.pic(href="course_detail.html")
                        img(src="img/temp/courses_03.jpg", alt="")

            .row.item.align-items-center
                .col-md
                    .txt
                        h3.title 专业机构系列
                        p 期权量化入门+波动率交易，从希腊字母到波动率交易构建
                        p.note 共27节课程
                        a.play(href="course_detail.html")
                            img(src="img/courses_02.png", alt="")
                .col-md-auto
                    a.pic(href="course_detail.html")
                        img(src="img/temp/courses_04.jpg", alt="")



            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
