extends includes/layout.pug

block title
    | 脑所党支部

block bkheader
   

block content
    
        
    .page.page-course-detail(style="background-image:url(img/courses_03.jpg)")
        .container  
            section.s1         
                .title-section
                    h2.text-center 期权小白入门系列（训练营模式）
                .type 直播课程
                  
            section.s2
                .row.no-gutters
                    .col-md-auto
                        .leftcol
                            p 共7节课程 | 共有 5000 人已学习
                            .price 
                                small ￥
                                strong 468
                            .status 课程已结束

                    .col-md
                        .rate
                            .row.justify-content-md-center
                                .col-auto
                                    .title 难度系数
                                .col-auto
                                    ul.list
                                        li 综合难度
                                        li 理论知识
                                        li 实战操作
                    .col-md-auto
                        .qr
                            img(src="img/courses_04.jpg", alt="")
                            p 扫一扫，立即报名期权星球


            section.s3
                header.tab-header
                    a.active(href="#") 课程介绍
                    a(href="#") 课程目录

                .box
                    .box-title
                        span //
                        h3 课程亮点
                        span //

                    .item 
                        .row
                            .col-auto
                                .t1 亮点 1
                            .col
                                .c1 5大实战场景和交易案例还原
                        .row
                            .col-auto
                                .t1 亮点 2
                            .col
                                .c1 6年实战经验总结
                        .row
                            .col-auto
                                .t1 亮点 3
                            .col
                                .c1 6年实战经验总结

                    .box-title
                        span //
                        h3 课程亮点
                        span //

                    .item1
                        .row.align-items-center
                            .col-auto
                                .t2 01
                            .col
                                .c2 点击加入学习后，手机端用户请用微信扫描或长按识别二维码进入课程（建议使用微信app登陆课程）；电脑端用户可使用手机验证码进入课程。
                    .item1
                        .row.align-items-center
                            .col-auto
                                .t2 01
                            .col
                                .c2 本课程为线上内容服务，购买后不支持退款、转让，望您知悉并理解。课程购买后，自购买日期起自动激活，有效期为一年，您可在有效期内重复听课。
                    .item1
                        .row.align-items-center
                            .col-auto
                                .t2 01
                            .col
                                .c2 期权星球保留随时对课程进行优化，调整的权利及课程内容的最终解释权。


            section.s4
                .title-section-v2
                    h3 猜你喜欢

                .list
                    .row
                        .col-md
                            .item
                                a.pic(href="#")
                                    img(src="img/courses_05.jpg", alt="")
                                h4
                                    a(href="#") 小白入门基础课程
                                p 买彩票、猜大小、埋地雷、滚雪球，轻松有趣的...
                                .row
                                    .col 共7节课程
                                    .col-auto
                                        .price ￥468

                        .col-md
                            .item
                                a.pic(href="#")
                                    img(src="img/courses_05.jpg", alt="")
                                h4
                                    a(href="#") 小白入门基础课程
                                p 买彩票、猜大小、埋地雷、滚雪球，轻松有趣的...
                                .row
                                    .col 共7节课程
                                    .col-auto
                                        .price ￥468

                        .col-md
                            .item
                                a.pic(href="#")
                                    img(src="img/courses_05.jpg", alt="")
                                h4
                                    a(href="#") 小白入门基础课程
                                p 买彩票、猜大小、埋地雷、滚雪球，轻松有趣的...
                                .row
                                    .col 共7节课程
                                    .col-auto
                                        .price ￥468

            section.s4
                .title-section-v2
                    h3 猜你喜欢

                ul.course-list
                    li  
                        span 第1课    
                        | 快涨&amp;慢涨行情下的合约选择
                    li  
                        span 第2课    
                        | 滚雪球策略应用技巧
                    li  
                        span 第3课    
                        | 什么是“埋地雷”策略
                    li  
                        span 第4课    
                        | 如何用好“买跨”策略
                    li  
                        span 第5课    
                        | 期权投资时钟——不同行情阶段的策略选择
                    li  
                        span 第6课    
                        | 期权交易中常见的误区
                    li  
                        span 第7课    
                        | 价值千金的经验总结
            


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
