extends includes/layout.pug

block title
    | 脑所党支部

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_culture.jpg)")
        .container
            h1.title-page 党建文化
            nav.submenus 
                a.active(href="culture.html") 脑所党支部             
                a(href="committee.html") 脑所分团委
                a(href="culture.html") 创新文化

       
        
    .page.page-projects.page-culture
        .s1.section.container           
            .title-section
                h2.text-center 脑所党支部
                    
            p 2016年4月19日，脑所党支部在联系委员许建国院长的见证下正式成立，成立之初有正式党员12人，选举产生第一届支委：书记王立平、宣传委员刘雪梅、组织纪律委员孟珍。
            p 脑所是先进院2014年11月筹建的第6个研究所，2016年11月正式去筹，2018年作为牵头单位获批建设深港脑科学创新研究院以及“脑解析与脑模拟”重大科技基础设施。当前，脑所面临新的机遇与新的挑战，为了进一步促进党建工作和科研工作的有机结合，充分发挥脑所党组织的战斗堡垒和党员的先锋模范带头作用，保障脑所的各项工作在党的领导下高效、科学、均衡的发展，脑所根据先进院党委的部署要求，在原党支部的基础上成立脑所党总支。总支书记王立平、总支宣传委员刘雪梅、总支组织纪律委员邓春山。
            p 脑所截止2019年12月共有党员77名，其中副研以上党员17人，根据部门分成2个支部，脑所第一党支部，由脑图谱中心与院办组成，共45人，一支部书记李翔、宣传委员任真、组织纪律委员刘畅；脑所第二党支部由脑智能中心、脑疾病中心、脑编辑中心以及诺奖实验室组成，共30人，二支部书记邓春山、宣传委员陈攀、组织纪律委员柏艳阳。



        .s2
            .container            
                .projectlist
                    .row
                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInLeft(href="culture_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

    


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
