extends includes/layout.pug

block title
    | 党群文化

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-culture(style="background-image:url(img/banners/dang.jpg)")        
        .container       
            h1.text36 党群文化

        
    .wrapper
        .page-culture.pb-media-5
            .container  
                .fixednav
                    h4  党群文化
                    ul.nav
                        li
                            a(href="dwork-list.html") 党建工作
                        li
                            a(href="gwork-list.html") 群团工作                             
                

                section.s1
                    .row
                        .col-lg
                            .box.box1
                                .box-header
                                    .row.align-items-center
                                        .col 
                                            h2.text36 党建工作
                                        .col-auto
                                            a.more(href="dwork-list.html") 更多
                                .box-body
                                    .list
                                        .item
                                            h3
                                                a(href="culture_detail.html") 松山湖材料实验室汽车租赁服务采购项目公开招标公告
                                            .note
                                                i.iconfont.icon-time
                                                | 2020-05-19

                                        .item
                                            h3
                                                a(href="culture_detail.html") 诚邀您参与丨深度势能-材料模拟应用交流讨论会
                                            .note
                                                i.iconfont.icon-time
                                                | 2020-05-19

                                        .item
                                            h3
                                                a(href="culture_detail.html") 松山湖材料实验室综合事务管理部关于采购数字智能档案室建设（50-100万）的征求意见公示
                                            .note
                                                i.iconfont.icon-time
                                                | 2020-05-19

                                        .item
                                            h3
                                                a(href="culture_detail.html") 松山湖材料实验室综合事务管理部关于采购数字智能档案室建设（50-100万）的征求意见公示
                                            .note
                                                i.iconfont.icon-time
                                                | 2020-05-19

                            .box.box1
                                .box-header
                                    .row.align-items-center
                                        .col 
                                            h2.text36 党群工作
                                        .col-auto
                                            a.more(href="gwork-list.html") 更多
                                .box-body
                                    .work-container.swiper-container
                                        .swiper-wrapper
                                            .swiper-slide 
                                                .row
                                                    .col-md-auto
                                                        a.pic(href="culture_detail.html")
                                                            img(src="img/temp/n001.jpg", alt="")
                                                    .col-md
                                                        .txt
                                                            a(href="culture_detail.html") 员工培训——“创新科研成果转化成败关键：欧美及台湾地区经验”刘江彬教授作主题演讲
                                                    
                                                        .note
                                                            i.iconfont.icon-time
                                                            | 2020-05-19

                                            .swiper-slide 
                                                .row
                                                    .col-md-auto
                                                        a.pic(href="culture_detail.html")
                                                            img(src="img/temp/n001.jpg", alt="")
                                                    .col-md
                                                        .txt
                                                            a(href="culture_detail.html") 员工培训——“创新科研成果转化成败关键：欧美及台湾地区经验”刘江彬教授作主题演讲
                                                    
                                                        .note
                                                            i.iconfont.icon-time
                                                            | 2020-05-19

                                            .swiper-slide 
                                                .row
                                                    .col-md-auto
                                                        a.pic(href="culture_detail.html")
                                                            img(src="img/temp/n001.jpg", alt="")
                                                    .col-md
                                                        .txt
                                                            a(href="culture_detail.html") 员工培训——“创新科研成果转化成败关键：欧美及台湾地区经验”刘江彬教授作主题演讲
                                                    
                                                        .note
                                                            i.iconfont.icon-time
                                                            | 2020-05-19
                                     
                                        .swiper-next
                                            i.iconfont.icon-next1
                                        .swiper-prev
                                            i.iconfont.icon-prev1
                                       



                        .col-lg-auto
                            .box.box2
                                .box-header
                                    .row.align-items-center
                                        .col 
                                            h2.text36 党建日签
                                        .col-auto
                                            a.more(href="riqian.html") 更多

                                .box-body
                                    .pic1
                                        img(src="img/cul_01.jpg", alt="")

                                    .riqian
                                        h3.title / 党建日签 / 
                                        .d1 ——  闰四月廿六  ——
                                        .d2.text40 06-17
                                        .d3 ——  June  周三  ——
                                        
                                        .summary
                                            .title
                                                img(src="img/yulu.png", alt="")
                                            p 青年一代有理想、有本领、有担当，国家就有前途，民族就有希望。

                                        main.content
                                            p 落实科技人员创新创业各项政策，将科技人员服务企业情况作为职称评审、岗位竞聘等重要内容，对与成效突出的优先推荐申报国家科技人才计划。抓紧落实赋予科研人员职务科技成果所有权或长期权试点。
                                            p ———《关于科技创新支撑复工复产和经济平稳运行的若干措施》
                                            .icon.text-right
                                                img(src="img/cul_02.png", alt="")

            section.s2.pt-media-3.pb-media-3
                .container
                    .header
                        .row.align-items-center
                            .col 
                                h2.text36 组织风采
                            .col-auto
                                a.more(href="mien.html") 更多

                    .box-wrap
                        .box-swiper.swiper-container
                            .swiper-wrapper
                                .swiper-slide 
                                    .item
                                        a.pic(href="culture_detail.html")
                                            img(src="img/temp/zz01.jpg", alt="")
                                        .title
                                            a(href="culture_detail.html") 党总支成立

                                .swiper-slide 
                                    .item
                                        a.pic(href="culture_detail.html")
                                            img(src="img/temp/zz02.jpg", alt="")
                                        .title
                                            a(href="culture_detail.html") 东莞战疫展示

                                .swiper-slide 
                                    .item
                                        a.pic(href="culture_detail.html")
                                            img(src="img/temp/zz03.jpg", alt="")
                                        .title
                                            a(href="culture_detail.html") 科学面对面
                                .swiper-slide 
                                    .item
                                        a.pic(href="culture_detail.html")
                                            img(src="img/temp/zz04.jpg", alt="")
                                        .title
                                            a(href="culture_detail.html") 一支部党员学习交流会
                                .swiper-slide 
                                    .item
                                        a.pic(href="culture_detail.html")
                                            img(src="img/temp/zz01.jpg", alt="")
                                        .title
                                            a(href="culture_detail.html") 东莞战疫展示


                        .swiper-next
                            i.iconfont.icon-next1
                        .swiper-prev
                            i.iconfont.icon-prev1

            section.s3.container.pt-media-3
                h2.text36.mb-media-3 学习链接

                .links
                    .row
                        .col-6.col-md-4.col-lg-3
                            a.item(href="#")
                                img(src="img/temp/link01.png", alt="")
                        .col-6.col-md-4.col-lg-3
                            a.item(href="#")
                                img(src="img/temp/link02.png", alt="")
                        .col-6.col-md-4.col-lg-3
                            a.item(href="#")
                                img(src="img/temp/link03.png", alt="")
                        .col-6.col-md-4.col-lg-3
                            a.item(href="#")
                                img(src="img/temp/link04.png", alt="")

                           

  

block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.work-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
         
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
        });
        var swiper1 = new Swiper('.box-swiper', {
            slidesPerView: 1,
            spaceBetween: 30,
            loop: true,
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
             breakpoints: {
            640: {
                slidesPerView: 2,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 3,
                spaceBetween: 40,
            },
            1024: {
                slidesPerView: 4,
                spaceBetween: 50,
            },
        }
        });
        $(function () {
        
  
        
        });
      
       

     
