extends includes/layout.pug

block title
    | 合作交流

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_cooperation.jpg)")
        .container
            h1.title-page 党建文化
            nav.submenus 
                a.active(href="culture.html") 脑所党支部             
                a(href="committee.html") 脑所分团委
                a(href="culture.html") 创新文化
              

    .page.page-culture-detail
        section.s1.container
            .title-section
                h3.text-center “通力合作 勇往直前”——脑所工会、一支部赴观澜举办主题团建活动
                .note 2019-12-24
            

            .article
                p 为不断创新党支部活动形式，规范组织生活，增强团队的凝聚力和战斗力，中国科学院深圳先进技术研究院脑认知与脑疾病研究所一支部联合脑图谱工会于12月7日在观澜湖大地生态艺术园组织了“通力合作 勇往直前”的主题团队建设活动。本次活动包括拓展训练、自助野炊等内容，共有57人参加。 

                p 当天上午，团队成员在教练的指导下进行热身与分组后，开始了正式的拓展训练。我们处在一个高度竞争的时代，从过去生产资料的竞争到现在高新科技的竞争，作为科学工作者，要想为祖国在高科技竞争中取得优势做出贡献，除了业务能力以外,必须具备有高效率的团队协作和沟通能力，因此，本次拓展训练着重培养组内成员间的合作能力。训练过程中成员们通力合作，不怕疼不怕累，在笑声与欢呼声中加深了互相的了解，增强了互相支持的团队精神和整体意识，对今后工作的顺利开展具有良好的促进作用。定向拓展活动后，一行人员来到烽火乡村进行“自己动手，丰衣足食”的简餐准备，成员们按照小组分工，就地取材，自助动手，协作完成了户外生存基本技能——野外用餐。 

                p 此次活动结束后，成员们均表示收获颇多。多个成员表示，这次“忆苦思甜”让他们更能体会到平时生活的珍贵，今后要更加感恩、团结、拼搏、创新，面对困难和失败勇于担当，将“通力合作勇往直前”的精神带到以后的工作和学习中。这种形式的团建活动能够有效提高团队成员间的沟通能力，激发出成员们强烈的责任感，对于形成积极协调的组织氛围，树立互相配合、互相支持的团队精神有着很强的促进作用。

                figure
                    img(src="img/temp/coo_02.jpg", alt="")
                    figcaption 2018.3.13 Steve Hyman一行来访脑所



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
