extends includes/layoutWithoutHeaderAndFooter.pug

block title
    | 定制产品

block bkheader
    

block content
    .wrapper-design 
        .leftCol
            header.logo 
                a(href="/") 
                    img(src="img/logo_red.svg", alt="logo")

            #toolbar.toolbar 
                .box.open.box1 
                    .box-header
                        h3.title 基本轴网设计 
                        i.iconfont.icon-arrow-down
                    .box-body 
                        a(href="#") 添加X轴
                        a(href="#") 添加Y轴

                .box.box2
                    .box-header
                        h3.title 交通模块 
                        i.iconfont.icon-arrow-down
                    .box-body 
                
                .box.box3
                    .box-header
                        h3.title 房间模块 
                        i.iconfont.icon-arrow-down
                    .box-body 

                .box.box4
                    .box-header
                        h3.title 表皮模块 
                        i.iconfont.icon-arrow-down
                    .box-body 

                .box.box5
                    .box-header
                        h3.title 机电模块 
                        i.iconfont.icon-arrow-down
                    .box-body 
                        
            footer.left-footer 
                .row 
                    .col 
                        img(src="img/floor.png", alt="")       
                    .col 
                        select.form-control(name="dr")                  
                            option(value="1") L1
                            option(value="2", selected) L2
                            option(value="3") L3
                        ul.des 
                            li 层高：3.5 M
                            li 层数：22 F
                            li 高度：77 m
            

        .mainContent
            header.main-header
                .row.align-items-center
                    .col 
                        h3.title L2 设计图纸
                    .col-auto
                        ul.actions 
                            li 
                                a.btn.btn-white.btn-default-outline.btn-radius(href="#") 预览平面信息
                            li 
                                a.btn.btn-radius.btn-gray(href="#") 导出图纸

            main.main-body
                .text-center 
                    img(src="img/temp/dr-design.png", alt="")

            
            .footer.main-footer 
                ul.actions 
                    li 
                        a.btn.btn-white.btn-default-outline.btn-radius(href="#") 调整平面轴网
                    li 
                        a.btn.btn-white.btn-default-outline.btn-radius(href="#") 调整建筑边界

                                
        
          

        aside.rightCol 
            header.title
                h3.title 产品指标
            .des
                .row.gx-0.align-items-center 
                    .col-4 总造价
                    .col-8 
                        input(type="range", id="slider-1", value="50", min="0", max="100", disabled)
                .row.gx-0.align-items-center 
                    .col-4 回收期
                    .col-8 
                        input(type="range", id="slider-1", value="96", min="0", max="100",  disabled)
                .row.gx-0.align-items-center 
                    .col-4 适合地段
                    .col-8 
                        input(type="range", id="slider-1", value="34", min="0", max="100",  disabled)

                .row.gx-0.align-items-center 
                    .col-4 目标客户
                    .col-8 
                        input(type="range", id="slider-1", value="89", min="0", max="100",  disabled)
                .row.gx-0.align-items-center 
                    .col-4 出租率
                    .col-8 
                        input(type="range", id="slider-1", value="67", min="0", max="100",  disabled)


           
            footer.text-center
                p.note L2: 22 F  X  3.5 M
                button.btn.btn-radius.btn-white 调整剖面分层
                button.btn.btn-radius.btn-white 调整剖面层高



block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
