extends includes/layout.pug

block title
    | 教师成长-特色教育

block content
    .banner.banner-team.wow.fadeInUp(style="background-image:url('img/temp/banner-team.jpg')")
     
    .page.page-about.page-team
        section.s1.container         
            .row
                .col-md-4
                    .title-section.wow.fadeInLeft
                        h2 教师成长
                .col-md-8
                    .intro
                        header.header-intro
                            h3.wow.fadeInUp Teacher Growth
                            h4.wow.fadeInUp 教师成长

                        p.wow.fadeInUp 在金生幼儿园学习者社区中，每一个人都需要不断学习，这已经成为我们共同的生活方式。我们鼓励老师们终身学习，为每一位老师提供有针对性的、持续的培训，不断促进其专业成长。
                        p.wow.fadeInUp 我们还将运用英国的课堂质量评估得分系统（Classroom Assessment Scoring System，CLASS，简称CLASS）作为师幼互动质量的观察性评估工具，对教师专业能力进行过程性评估，从而促进教师的专业成长。
                        figure.chart.wow.fadeInUp
                            img(src="img/team_04.jpg", alt="")

                
        
                       
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
