extends includes/layout.pug

block title
    | 社会责任
    - var currentUrl = 'about.html'
block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')

block content
    <div id="primary" class="page page-form">       


        <form id="acf-form" class="acf-form" action="" method="post">
            <div id="acf-form-data" class="acf-hidden">
                <input type="hidden" id="_acf_screen" name="_acf_screen" value="acf_form"><input type="hidden" id="_acf_post_id" name="_acf_post_id" value="new_post"><input type="hidden" id="_acf_validation" name="_acf_validation" value="1"><input type="hidden" id="_acf_form" name="_acf_form" value="SWxGQnArdTRHSW1vR1FlNjdkQUFSa2tBMzlSeTNGQWF0NXliMU9lbFBKVFhNS0tJU2lTcTZlcXkwMmJ1eXowelN6VXFQNGNya2tyVVFHNk9FdmdrM2RIMUNqMXVjdnR1T0ZlSU9DbkJJV3hGdjdhbkVZWTN5K2VUalE3NmREMDlDbHRSc3RlUWtzVUszNzNJOEpuamRybVlJb01FaVZIbUx3VlZwWkovcDZDUjByK0ZzRlVjU08xOW8wOVo3dUcwOGYyOEhsTVhFU0ZHSjJmcGZ5OUtHRk1pcDJWQ3Ivdzg0VUlIVEs4QnFDUjN1KzNiOHNYOEswZnV5RXdpSDlORWRQcHBFdHFvbkRSdFl0VFMwa1ZyQkVDSXVJTndQak5DcjRsUzBRYlJTWUFxc2lkZERlbnIxT2lYU2U5ZlNwNVYyUU5sbEw0V0lHOEt3SkdwdFNXblJqdmZEckpUSXk4a3hzQzJibmhKUFBRbmt6SlRLQVptbDQzUlNIa2xTK2lhZmF4Y25DZEd2NmxnNjRYb3U2SmxnK1dVRTNObWpGY2traTlmSy9vVWdSdkdvUnY2bzVxT1lTSkRFNG13VVVBcGFyL3NCc2pzQ3NvTUlnemlsbjBxMEJCdzlhcWdJN2o2SXV6NXcxTTNRK1Y1YjF4UkxCMWhhamc5dFQ1SlVOcFVDNmNlckYxaWQ5QzJGTUpBUzY1c0FEcjJ6aXNMbmRIdi9hWHRXQjg0NWg0S014RWNJR1BXdlVkWjEwbnVXbUM4T05DSkZxbHBDODE5cGNYbE1IVlFpbTQ4eTBNUnd3eGRMbjJPSVBWSSsxUE1ReUhidWhiMDNWa3h3TFZnYnlZUXltMjYwVlAxOXJrZ0pKTkZ2dU53ZnduQWZ6ejRKSUh3Vytub1R3b2pEMEJyVm5YK1hzY1d4aGdYWnMzMEdZL2pPUzNUbC82bEtYZkhqdXlNQ3lRcE4wNHlDRW4zUi9VcmtqT3FreEtSdmd6UjlkMzNheTUraUYyS1ZqQXZMQ0w4K1NIQTNUTXVMcFgxeWkzRGZKWlpBTXptVWZ6TFZsS1lhNmRpYjhLcUQ1WjZWdUNWWGZ6Q1RWSVRSUmJ1bkc5cWRnREMxdERlQjFiOGNWWVFtQTBSaVJSL2owZ1VTbVJqS3AzdTBrL2NNZmYwNzg2eTRONUp6Vm5kS2E2bzlsQjljVHlRcXRUMXR2dHZGZU1JZkRRa0IwNVdqUENqMno5T0pYL1Bid3pqbWhhM0liZmpUZWU5bEFVZ0F5bnlKL2NCa3JYRFlZMjZCSFZ5Sml6WUNiTC9nSFp0WVFWVUx0blpRNnVBVjJhT1RERzc3czQ4cE1NU2dtWXdnSTN5YVpsendjTVhFQ1o1QzNQdzBiWU8zNlFMLzRGTWdzcS9UeEIxcER0Q294M244SFViZGpXbUgxOWROR3pLNzZDYnZYOTFKS1B2Q1B0N09Fd2lKYUVGdndidVVrS3FHbnp2TU9mYlUvOEZTMlJoU1dMSnozd2EvVDd0WXJsU2x3MklkRW5ha29xZVZ0VFBMYUx5V3BtL2FOVzlxRWhjZkROSDJSWWpLNkNPci9va1V2ZEZlNnJHNXJrK1V6cWkvc0ZHUkkvSzJxclhoMjN3cHRERmxWVm9PNWhVTnc9PTo6mDeGxsB7j8x29M3b+N1IQQ=="><input type="hidden" id="_acf_nonce" name="_acf_nonce" value="09256a8b99"><input type="hidden" id="_acf_changed" name="_acf_changed" value="0">
            </div>
            <div class="acf-fields acf-form-fields -keft">
                <div class="acf-field acf-field-group acf-field-633a87b449445" data-name="基本信息" data-type="group" data-key="field_633a87b449445">
                    <div class="acf-label">
                        <label for="acf-field_633a87b449445">基本信息</label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-fields -top -border">
                            <div class="acf-field acf-field-text acf-field-633a9d7a895dc is-required" data-name="realname" data-type="text" data-key="field_633a9d7a895dc" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87b449445-field_633a9d7a895dc">姓名
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a87b449445-field_633a9d7a895dc" name="acf[field_633a87b449445][field_633a9d7a895dc]" required="required"></div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-text acf-field-633a9d90895dd is-required" data-name="mobile" data-type="text" data-key="field_633a9d90895dd" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87b449445-field_633a9d90895dd">手机号码
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a87b449445-field_633a9d90895dd" name="acf[field_633a87b449445][field_633a9d90895dd]" required="required"></div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-email acf-field-633a9da1895de is-required" data-name="email" data-type="email" data-key="field_633a9da1895de" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87b449445-field_633a9da1895de">电子出箱
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="email" id="acf-field_633a87b449445-field_633a9da1895de" name="acf[field_633a87b449445][field_633a9da1895de]" required="required"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acf-field acf-field-group acf-field-633a87f249446" data-name="教育经历" data-type="group" data-key="field_633a87f249446">
                    <div class="acf-label">
                        <label for="acf-field_633a87f249446">教育经历</label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-fields -top -border">
                            <div class="acf-field acf-field-select acf-field-633a9de43a384 is-required" data-name="education" data-type="select" data-key="field_633a9de43a384" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87f249446-field_633a9de43a384">最高学历
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <select id="acf-field_633a87f249446-field_633a9de43a384" class="" name="acf[field_633a87f249446][field_633a9de43a384]" data-ui="0" data-ajax="0" data-multiple="0" data-placeholder="选择" data-allow_null="0">
                                        <option value="博士">博士</option>
                                        <option value="硕士">硕士</option>
                                        <option value="本科" selected="selected" data-i="0">本科</option>
                                        <option value="大专">大专</option>
                                    </select>
                                </div>
                            </div>
                            <div class="acf-field acf-field-text acf-field-633a9e293a385 is-required" data-name="school" data-type="text" data-key="field_633a9e293a385" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87f249446-field_633a9e293a385">学校名称
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a87f249446-field_633a9e293a385" name="acf[field_633a87f249446][field_633a9e293a385]" required="required"></div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-text acf-field-633a9e4c3a386 is-required" data-name="major" data-type="text" data-key="field_633a9e4c3a386" data-required="1">
                                <div class="acf-label">
                                    <label for="acf-field_633a87f249446-field_633a9e4c3a386">专业名称
                                        <span class="acf-required">*</span>
                                    </label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a87f249446-field_633a9e4c3a386" name="acf[field_633a87f249446][field_633a9e4c3a386]" required="required"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acf-field acf-field-group acf-field-633a882249447" data-name="工作经历" data-type="group" data-key="field_633a882249447">
                    <div class="acf-label">
                        <label for="acf-field_633a882249447">工作经历</label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-fields -top -border">
                            <div class="acf-field acf-field-text acf-field-633a9e80c2f35" data-name="company" data-type="text" data-key="field_633a9e80c2f35">
                                <div class="acf-label">
                                    <label for="acf-field_633a882249447-field_633a9e80c2f35">公司名称</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a882249447-field_633a9e80c2f35" name="acf[field_633a882249447][field_633a9e80c2f35]"></div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-text acf-field-633a9e90c2f36" data-name="job" data-type="text" data-key="field_633a9e90c2f36">
                                <div class="acf-label">
                                    <label for="acf-field_633a882249447-field_633a9e90c2f36">职位</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-input-wrap"><input type="text" id="acf-field_633a882249447-field_633a9e90c2f36" name="acf[field_633a882249447][field_633a9e90c2f36]"></div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-date-picker acf-field-633a9e9fc2f37" data-name="dateStart" data-type="date_picker" data-key="field_633a9e9fc2f37">
                                <div class="acf-label">
                                    <label for="acf-field_633a882249447-field_633a9e9fc2f37">起始日期</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-date-picker acf-input-wrap" data-date_format="yy/mm/dd" data-first_day="1">
                                        <input type="hidden" id="acf-field_633a882249447-field_633a9e9fc2f37" name="acf[field_633a882249447][field_633a9e9fc2f37]" value="">
                                        <input type="text" class="input" value="">
                                    </div>
                                </div>
                            </div>
                            <div class="acf-field acf-field-date-picker acf-field-633a9f07c2f38" data-name="dateEnd" data-type="date_picker" data-key="field_633a9f07c2f38">
                                <div class="acf-label">
                                    <label for="acf-field_633a882249447-field_633a9f07c2f38">结束日期</label>
                                </div>
                                <div class="acf-input">
                                    <div class="acf-date-picker acf-input-wrap" data-date_format="yy/mm/dd" data-first_day="1">
                                        <input type="hidden" id="acf-field_633a882249447-field_633a9f07c2f38" name="acf[field_633a882249447][field_633a9f07c2f38]" value="">
                                        <input type="text" class="input" value="">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="acf-field acf-field-file acf-field-633aa1d58aa0e" data-name="uploadResume" data-type="file" data-key="field_633aa1d58aa0e">
                    <div class="acf-label">
                        <label for="acf-field_633aa1d58aa0e">上传简历</label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-file-uploader" data-library="all" data-mime_types="pdf,doc,xls" data-uploader="basic">
                            <input type="hidden" name="acf[field_633aa1d58aa0e]" value="" data-name="id">
                            <div class="show-if-value file-wrap">
                                <div class="file-icon">
                                    <img data-name="icon" src="" alt="">
                                </div>
                                <div class="file-info">
                                    <p>
                                        <strong data-name="title"></strong>
                                    </p>
                                    <p>
                                        <strong>文件名:</strong>
                                        <a data-name="filename" href="" target="_blank"></a>
                                    </p>
                                    <p>
                                        <strong>文件尺寸:</strong>
                                        <span data-name="filesize"></span>
                                    </p>
                                </div>
                                <div class="acf-actions -hover">
                                    <a class="acf-icon -cancel dark" data-name="remove" href="#" title="删除"></a>
                                </div>
                            </div>
                            <div class="hide-if-value">


                                <label class="acf-basic-uploader">
                                    <input type="file" name="acf[field_633aa1d58aa0e]" id="acf-field_633aa1d58aa0e" key="field_633aa1d58aa0e"><input type="hidden" name="acf[field_633aa1d58aa0e_file_nonce]" value="4759cc79c0">
                                </label>


                            </div>
                        </div>
                    </div>
                </div>
                <div class="acf-field acf-field-true-false acf-field-633abe874a7af is-required" data-name="terms" data-type="true_false" data-key="field_633abe874a7af" data-required="1" data-conditions="[[{&quot;field&quot;:&quot;field_633a9d7a895dc&quot;,&quot;operator&quot;:&quot;!=empty&quot;}]]">
                    <div class="acf-label">
                        <label for="acf-field_633abe874a7af">个人协议
                            <span class="acf-required">*</span>
                        </label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-true-false">
                            <input type="hidden" name="acf[field_633abe874a7af]" value="0">
                            <label>
                                <input type="checkbox" id="acf-field_633abe874a7af" name="acf[field_633abe874a7af]" value="1" class="" autocomplete="off" checked="checked">
                                <span class="message">我同意<a href="#">个人信息保护声明</a></span>
                            </label>
                        </div>
                    </div>
                </div>
                <div class="acf-field acf-field-text acf-field--validate-email" style="display:none !important;" data-name="_validate_email" data-type="text" data-key="_validate_email">
                    <div class="acf-label">
                        <label for="acf-_validate_email">Validate Email</label>
                    </div>
                    <div class="acf-input">
                        <div class="acf-input-wrap"><input type="text" id="acf-_validate_email" name="acf[_validate_email]"></div>
                    </div>
                </div>
            </div>
            <div class="acf-form-submit">
                <input type="submit" class="acf-button button button-primary button-large" value="创建">
                <span class="acf-spinner"></span>
            </div>
        </form>

        .overly
            .box
                a.btn-close(href="#") 
                    i.iconfont.icon-close
                .logo 
                    img(src="img/logo_info.svg", alt="logo")
                .info 
                    
                    h4 个人信息保护申明
                    p 最后更新日期：2020年8月
                    p 您在本平台自愿提供的个人信息均授权给本平台的所有人及其相关突体。作为微信公众号的访问者,您览、注册及登入本公号的行为视为您已完全理解和接受本声明的全部内容。图语天下 (北京)科技有限公司对本公众号提供技术支持。
                    h5 一、个人信息的范围
                    p 向您收集的个人信息系能够单独威者与其他信息结合识别您的个人身份的信息,包括但不限于您的姓名、性别、年龄、出生日 明、身份证号、住址、联系方式、爱好、职业、急联系人、相关账号、使用我们的服务的时间和地点等个人信息(“个人信 息?）。该等信息均是您自愿提供的。
                    p 当您访问本微信平台时，本公众号的服务器可能会自动或被动地录入您的因特网服务商名称、您的注用户数据、您的电脑或移动设备操作系统和宽器、您刘览本微信平台时的IP地址、您的日期、时间长度和次数、您实际测定的页面、您链接到本 信平台之前所在的网站等信息。该等信息虽然不是您主动提供给 我们的,但系基于您自愿访问本公众号从而使我们获得的信息， 亦视为您自愿提供的个人信息的一部分。
                    h5 二、信息的范围
                    p 向您收集的个人信息系能够单独威者与其他信息结合识别您的个人身份的信息,包括但不限于您的姓名、性别、年龄、出生日 明、身份证号、住址、联系方式、爱好、职业、急联系人、相关账号、使用我们的服务的时间和地点等个人信息(“个人信 息?）。该等信息均是您自愿提供的。
                    p 当您访问本微信平台时，本公众号的服务器可能会自动或被动地录入您的因特网服务商名称、您的注用户数据、您的电脑或移动设备操作系统和宽器、您刘览本微信平台时的IP地址、您的日期、时间长度和次数、您实际测定的页面、您链接到本 信平台之前所在的网站等信息。该等信息虽然不是您主动提供给 我们的,但系基于您自愿访问本公众号从而使我们获得的信息， 亦视为您自愿提供的个人信息的一部分。

            

   
    </div>

    

            
                


block bkfooter

    script(src='js/vendor/swiper/swiper-bundle.min.js')

    script.
       
    
        $(function () {
            $('.message a').click(function(e){                
                e.preventDefault();
                $('.page .overly').fadeIn();
       
            });
        
        });

     

      
       

     
