extends includes/layout.pug

block title
    | 导师介绍

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_education.jpg)")
        .container
            h1.title-page 研究生教育
            nav.submenus 
                a(href="education.html") 教育概况
                a(href="orientation.html") 学科方向
                a(href="admissions.html") 招生信息
                a(href="training.html") 联合培养 
                a(href="tutor.html") 导师介绍 
                a.active(href="edu_contact.html") 联系方式
        
    .page.page-edu-contact
        section.s1.container
            .title-section
                h2.text-center 联系方式

            p 咨询热线：88888888




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
