extends includes/layout.pug

block title
    | 校园环境-关于我们

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about.page-environment
        section.s1.container
            .env
                .row
                    .col-md-4
                        .title-section.wow.fadeInLeft
                            h2 校园环境
                    .col-md-8
                        .intro
                            header.header-intro
                                h3.wow.fadeInUp Campus Environment
                                h4.wow.fadeInUp 校园环境

                            p.wow.fadeInUp 著名的意大利教育家劳瑞兹•马古拉奇指出：教育是由复杂的互动关系所构成的，也只有“环境”中各个元素的参与，才是许多互动关系实现的决定性因素。环境是幼儿的第三任教师，幼儿在与环境的互动中主动学习，因此，为幼儿创造富有启发性、挑战性和趣味性的学习环境，是我们肩负的教育使命。

        section.s1.s2
            .container-fluid
                .row.item.align-items-center
                    .col-md-6
                        .pic.il
                            img.wow.fadeInLeft(src="img/about_01.jpg", alt="")
                    .col-md-6
                        .intro
                            header.header-intro
                                h3.wow.fadeInUp Novel And Unique Design Concept
                                h4.wow.fadeInUp 新颖独特的设计理念

                            p.wow.fadeInUp 我们力求园所的空间结构在满足教育功能的同时，还能体现建筑美学。自幼儿园设计伊始，我们就已经与海内外的建筑师、教育专家进行了数次广泛而深入的讨论，共同探讨如何在建筑美学中呈现平等、开放、多元、热诚的教育理念，融汇中西方文化精髓，让每一寸空间都能产生教育意义。
                            p.wow.fadeInUp 我们用曲线柔化墙体的棱角，模糊了室内外的边界，让首层走廊与户外活动场地融为一体，突破以往建筑单调乏味的垂直分割方式，转变成一个动感十足、与幼儿旺盛的生命力暗合的包容空间，激发他们无尽的探索欲及想象力。比起五颜六色的建筑和空间，自然的物料及氛围更适宜儿童的成长，因此我们放弃了刻意地堆砌很多材料和色彩，改为以混凝土和木材的自然基调为底，用光影来营造一个有礼、有序的空间氛围。一个温暖又不失庄严的学校环境，可以让孩子们的心灵沉静下来，并且对周围的人事物，自然地生出一种尊重与敬畏。
            
            .container-fluid    
                .row.item.align-items-center                
                    .col-md-6
                        .intro.tl
                            header.header-intro
                                h3.wow.fadeInUp Rich And Interesting Outdoor Playground
                                h4.wow.fadeInUp 丰富有趣的户外游乐场

                            p.wow.fadeInUp 孩子们天性热爱自然。幼儿园与周围环境融为一体，这种半围合式的设计能更自然地把毗邻的公园景观与自然界充沛的阳光引入园内。玩耍是孩子的天性，通过玩耍，孩子可以积极地从他们与自然世界和人类社会的互动中建构意义。我们为孩子提供了充满冒险、挑战和趣味性的户外空间，孩子们穿行其中，仿若置身不停变换的游乐场。这里容纳了他们最喜爱的游乐设备：趣味滑梯、攀爬绳网、自然沙水、惊险山丘，还有方便躲猫猫的不断变化的曲线墙体等等。您不必担心安全问题，因为我们的游乐设备均通过了德国TUV认证，符合世界最高级别的儿童游乐场安全标准。孩子们在这里可以尽情奔跑、嬉戏，享受阳光和雨露，探索大自然的一草一木、一沙一石，在玩耍中充分锻炼体魄，发展运动技能、平衡感和协调性，养成自信阳光的心态。
                    .col-md-6
                        .pic.ir
                            img.wow.fadeInRight(src="img/about_02.jpg", alt="")

            .container-fluid    
                .row.item.align-items-center
                    .col-md-6
                        .pic.il
                            img.wow.fadeInLeft(src="img/about_03.jpg", alt="")
                    .col-md-6
                        .intro.tr
                            header.header-intro
                                h3.wow.fadeInUp Warm And Elegant Classroom
                                h4.wow.fadeInUp 温馨雅致的教室

                            p.wow.fadeInUp 明亮的落地窗，光影穿透，随着时间变化让室内空间显得更有层次感，更好地将室外的自然景观引入室内。柔和淡雅的原木及米色调，使得自然的氛围得以融入并延续，为教室增添了几分温馨雅致。同时，我们的教师精心划分并设计了不同的学习区域，投放丰富的学习材料，创造邀请性的环境以吸引幼儿主动探究。

            .container-fluid     
                .row.item.align-items-center                
                    .col-md-6
                        .intro.tl.tabs
                            header.header-intro
                                h3.wow.fadeInUp Interesting Function Room
                                h4.wow.fadeInUp 趣味十足的功能室

                            dl.d1.wow.fadeInUp 
                                dt 水晶绘本馆
                                dd 如童话世界般的水晶绘本馆，阳光和绿荫肆意洒进，书香与诗意弥漫其中。这里是属于孩子的阅读天地，他们可以尽情享受阅读的快乐
                            dl.d1.wow.fadeInUp 
                                dt 创意美术天地
                                dd 孩子是天生的艺术家，在创意美术天地充满艺术张力的空间里，他们恣意挥洒创意，大胆自由创作，用艺术的语言表达内在的灵性，从小涵养美学生活方式
                            dl.d1.wow.fadeInUp 
                                dt STEAM科学实验室
                                dd 丰富多样的食材、小巧齐全的器皿，这是一个集艺术、营养、科学和礼仪为一体的跨学科综合实践活动场所，也是食育课程的重要载体之一。制作美食有如旅行，从细微处见惊喜，我们引导孩子学会取悦自己，热爱并享受生活
                            dl.d1.wow.fadeInUp 
                                dt 食育工作室
                                dd 宽敞明亮的空间，精心布置的舞台，孩子的世界是童话，美妙的童话即将在这里上演，梦想也马上就要起航。在童话小剧场，孩子们可以用一百种语言表达自己
                    .col-md-6
                        .pic.ir
                            img.wow.fadeInRight(src="img/about_04.jpg", alt="")
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){          
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            // $(this).next().slideToggle();
        })
        


     
