extends includes/layout.pug

block title
    | 评估课程-特色教育

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about.page-environment.page-evaluation
        section.s1.container         
            .title-section.wow.fadeInLeft
                h2 评估课程
                
        section.s1.s2
            .container-fluid
                .row.item.align-items-center
                    .col-lg-7
                        .pic.il
                            img.wow.fadeInLeft(src="img/enr_05.jpg", alt="")
                    .col-lg-5
                        .intro
                            header.title-section-v2
                                h3.wow.fadeInUp Evaluation Of Course
                                h4.wow.fadeInUp 评估课程

                            p.wow.fadeInUp 金生幼儿园为幼儿提供了一个鼓励探究、具备邀请性的学习环境，并通过专业的评估体系以及个性化的教学模式，确保每位幼儿均可以最大限度地发挥他/她的学习潜能。
                            p.wow.fadeInUp 我们将评估视为推动幼儿学习过程的核心，为教师如何制定教学目标，以及如何观察和表达对幼儿发展的专业见解提供了框架。我们深信评估必须有系统地、全方位融入教学策略中，成为课程的一部分，以便能够更好地设定下一步的教学计划及记录学习的进程。
            
            
            
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
