extends includes/layout.pug

block title
    | 发布主题

block bkheader
    link(rel="stylesheet", href="js/vendor/wangEditor/wangEditor.min.css")
 
 

block content
    .banner.banner-science(style="background-image:url(img/banners/core.jpg)")        
        .container       
            h1.text36 学术活动
       
        
    .wrapper
        .page-science-apply.pb-media-5
            .container  
                .fixednav
                    h4  核心板块
                    ul.nav
                        li
                            a.active(href="core.html") 前沿基础研究
                        li
                            a(href="platform.html") 公共技术平台和大科学装置                             
                        li
                            a(href="factory.html") 创新样板工厂
                        li.hasnav.active
                            a(href="science.html") 粤港澳交叉科学中心
                            ul.subnav
                                li
                                    a(href="science.html") 中心简介
                                li
                                    a.active(href="science_events.html") 学术活动
                                li
                                    a(href="applications.html") 项目申请


                section.s1                     
                    form.formbox(action="", method="post")                  
                        .box-header
                            h2.text24 蛋白质结构与动力学专题
                            p.date 2019年2月17日-2019年2月22日
                        
                        .box-body                            
                            
                            label.lbl(for="title") Title                              
                            .form-group
                                select.form-control(name="title")
                            
                            label.lbl(for="firstName") 
                                span * 
                                | First Name (in Chinese and English)                   
                            .form-group
                                input.form-control(type="text", name="firstName")

                            label.lbl(for="lastName") 
                                span * 
                                | Last Name ( in Chinese and English )    
                            .form-group
                                input.form-control(type="text", name="lastName")

                            label.lbl(for="gender") 
                                span * 
                                | Gender                              
                            .form-group
                                select.form-control(name="gender")

                            label.lbl(for="education") 
                                span * 
                                | Education                              
                            .form-group
                                select.form-control(name="education")


                            label.lbl(for="major") 
                                span * 
                                | Major             
                            .form-group
                                input.form-control(type="text", name="major")

                            label.lbl(for="affiliation") 
                                span * 
                                | Affiliation ( University / Institute / Company )             
                            .form-group
                                input.form-control(type="text", name="affiliation")

                            label.lbl(for="position") 
                                span * 
                                | Position / Grade             
                            .form-group
                                input.form-control(type="text", name="position")

                            label.lbl(for="phone") 
                                span * 
                                | Phone Number             
                            .form-group
                                input.form-control(type="text", name="phone")

                            label.lbl(for="email") 
                                span * 
                                | E-mail             
                            .form-group
                                input.form-control(type="text", name="email")

                            label.lbl(for="homepage")                          
                                | Web Page        
                            .form-group
                                input.form-control(type="text", name="homepage")

                            label.lbl(for="primarily")                          
                                | I am primarily a 
                            .form-group                              
                                .form-check
                                    input#primarily1.form-check-input(type="radio",name="primarily", value="Theorist", checked)
                                    label.form-check-label(for="primarily1") Theorist

                                .form-check
                                    input#primarily2.form-check-input(type="radio",name="primarily", value="Experimenter", checked)
                                    label.form-check-label(for="primarily2") Experimenter

                            
                            label.lbl(for="academic") 
                                span * 
                                | Academic Background and Research Experience
                            .form-group
                                input.form-control(type="text", name="academic")

                            label.lbl(for="nameAndEmail")                             
                                | Name and Email of your supervisor
                            .form-group
                                input.form-control(type="text", name="nameAndEmail")

                            label.lbl(for="yourCV")                               
                                | Please attach your CV
                            .form-group
                                input.form-control(type="text", name="yourCV")


                            //- label.lbl(for="yourCV")                               
                            //-     | Please attach your CV
                            .form-group
                                input(type="file", name="yourCV")
                                File formats: doc, dox, pdf; File size: no more than 3M



                            label.lbl(for="accomdation")                          
                                | Accomdation Choice
                            .form-group                              
                                .form-check
                                    input#accomdation1.form-check-input(type="radio",name="accomdation", value="1", checked)
                                    label.form-check-label(for="accomdation1") Shared Room: Doubie-bed room ( No Charge )

                                .form-check
                                    input#accomdation2.form-check-input(type="radio",name="accomdation", value="2", checked)
                                    label.form-check-label(for="accomdation2") Hotel Resevation:( The staff will book a room for you in a nearby hotel, expense will be borne by yourself )

                                .form-check
                                    input#accomdation3.form-check-input(type="radio",name="accomdation", value="3", checked)
                                    label.form-check-label(for="accomdation3") Arrange by yourself:( expense will be borne by yourself )
                            
           
                          

                        .box-footer

                            .form-group.text-center
                                button.btn.btn-primary.btn-radius(type="submit") Submit
                             

                

                
            
        

block bkfooter

    script(src="js/vendor/wangEditor/wangEditor.min.js")
    script.

        var E = window.wangEditor
        var editor2 = new E('#message');
         editor2.customConfig.uploadImgShowBase64 = true;
       //  editor2.customConfig.showLinkImg = false; 
        editor2.create()
       
        $(function () {
           
        });
      
       

     
