extends includes/layout.pug

block title
    | 技术交流

block bkheader



block content  
    .banner.banner-exchange.wow.fadeInUp(style="background-image:url(img/banners/innovate.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 技术交流
       
    .page.banner-exchange.pt-media-5.pb-media-7
        .container            
            
            h2.text24.wow.fadeInUp.mb-media-3 中国人也能造出好球囊---国产预扩球囊在CTO介入治疗中的应用

       
            .content.mb-media-4
                p.wow.fadeInUp 首次通过闭塞段球囊在慢性闭塞性病变中的作用主要是辅助导丝通过和扩张病变。近年来随着逆向导丝技术及经内膜下重入真腔技术的发展，一些小球囊及特殊用途球囊，如1.0mm（博迈医疗）、1.2mm（Mini Trek、Emerge）、1.25球囊（Tazuna）等，适于通过侧支血管，在内膜下扩张时不易造成穿孔。

                p.wow.fadeInUp 下面介绍常应用的首次通过CTO闭塞段的1.0mm球囊。
                p.wow.fadeInUp 我司生产的Artimes冠脉球囊导管已达到国际先进水平，经过多家临床试验中心使用和评估，Artimes球囊导管，特别是其1.0mm直径球囊在CTO介入过程中有出色的术中表现。

            .pic.wow.fadeInUp
                img(src="img/temp/n8.jpg", alt="")
                
    



block bkfooter

    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')
    script.
        

        $(function () {
            //-  $('video, audio').mediaelementplayer();
                
        
        });


     
