extends includes/layout.pug

block title
    | 常见问题-申请入学

block content
    .banner.banner-team.wow.fadeInUp(style="background-image:url('img/temp/banner-team.jpg')")
     
    .page.page-about.page-faq
        section.s1.container         
            .row
                .col-md-4
                    .title-section.wow.fadeInLeft
                        h2 常见问题
                .col-md-8
                    .faqlist                      
                        .box 
                            .title.wow.fadeInUp Q. 是否存在对选择幼儿园有一定的困惑？
                            p.answer.wow.fadeInUp 您可以直接登陆金生国际幼儿园Open Apply招生系统填写相应的信息为孩子递交入学申请，我们将在接到申请后一个工作日内联系您，请保持您的邮件、电话等通讯畅通。您在操作中有任何疑问，都可以直接联系我们。
                        .box 
                            .title.wow.fadeInUp Q. 是否存在对选择幼儿园有一定的困惑？
                            p.answer.wow.fadeInUp 您可以直接登陆金生国际幼儿园Open Apply招生系统填写相应的信息为孩子递交入学申请，我们将在接到申请后一个工作日内联系您，请保持您的邮件、电话等通讯畅通。您在操作中有任何疑问，都可以直接联系我们。
                        .box 
                            .title.wow.fadeInUp Q. 是否存在对选择幼儿园有一定的困惑？
                            p.answer.wow.fadeInUp 您可以直接登陆金生国际幼儿园Open Apply招生系统填写相应的信息为孩子递交入学申请，我们将在接到申请后一个工作日内联系您，请保持您的邮件、电话等通讯畅通。您在操作中有任何疑问，都可以直接联系我们。
                        .box 
                            .title.wow.fadeInUp Q. 是否存在对选择幼儿园有一定的困惑？
                            p.answer.wow.fadeInUp 您可以直接登陆金生国际幼儿园Open Apply招生系统填写相应的信息为孩子递交入学申请，我们将在接到申请后一个工作日内联系您，请保持您的邮件、电话等通讯畅通。您在操作中有任何疑问，都可以直接联系我们。
                        .box 
                            .title.wow.fadeInUp Q. 是否存在对选择幼儿园有一定的困惑？
                            p.answer.wow.fadeInUp 您可以直接登陆金生国际幼儿园Open Apply招生系统填写相应的信息为孩子递交入学申请，我们将在接到申请后一个工作日内联系您，请保持您的邮件、电话等通讯畅通。您在操作中有任何疑问，都可以直接联系我们。
              
                
        
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
