extends includes/layout.pug

block title
    | 常见问题-申请入学

block content
    .banner.banner-about(style="background-image:url(img/banner/service.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 客服中心
                ul.nav.wow.fadeInUp
                    li
                        a.active(href="FAQ.html") 常见问题
                    li
                        a(href="contact.html") 联系我们
                    li
                        a(href="comments.html") 留言专区   
     
    .page.page-faq
        section.s1.container         
          
            .faqlist                      
                .box.wow.fadeInUp
                    h3.text20 机器怎样保养和消毒？                            
                    p 按医院常规消毒方式擦拭主机及手柄，按时更换空气过滤器即可。
                .box.wow.fadeInUp
                    h3.text20 仪器放在哪里？     
                    p 仪器可以放置在科室的大小来决定仪器的摆放位置，在保证安全的情况下也可以进行悬挂，不影响人员的走动。
                .box.wow.fadeInUp
                    h3.text20 是否可以替代50ml溶药器？
                    p 可以，手工采用50ml溶药器抽吸药液非常吃力，使用机器抽取药液非常轻松。
                .box.wow.fadeInUp
                    h3.text20 针头是什么型号的，是否有其他型号？	                         
                    p 机器专用溶药器是20ml的，针头规格为1.6×30 CZ（侧孔）和1.6×30 XZ（斜面）两种。


    
          
        
                


        
block bkfooter
    script.
        $('.box a.title').click(function(e){  
            e.preventDefault();
            $(this).next().slideToggle()
            $(this).find('.icon').toggleClass('open');        
            //$(this).next().slideDown();
        })
        


     
