extends includes/layout.pug

block title
    | 常见问题-申请入学

block content
    .page_subnav
        .container
            .row.align-items-center
                .col-md
                    .title Resource

                .col-md-auto
                    nav.subnav
                        a(href="support.html") Technical Specification
                        a(href="blog.html") Blog
                        a(href="gallery.html") Gallery
                        a.active(href="FAQ.html") FAQs
     
    .page.page-faq
        section.s1.container         
            .title-section-v5
                h2 QUOTE
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
            .title-section-v5
                h2 Order
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
            .title-section-v5
                h2 Production
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
        
            .title-section-v5
                h2 Shipping
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
            .title-section-v5
                h2 Payment
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
            .title-section-v5
                h2 General
                img.line(src="img/line.png", alt="")
           
            .faqlist                      
                .box
                    a.title.wow.fadeInUp(href="#") 
                        span 1.
                        | How do I get a quote?
                        .icon.open                            
                            
                    p.answer(style={'display':'block'}) We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 2.
                        | What formats of the files can Premium Parts’ accept?
                        .icon                           
                            
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                .box 
                    a.title.wow.fadeInUp(href="#") 
                        span 3.
                        | Can I state I will supply my own materials for quote or production?
                        .icon                 
                    p.answer We can accept most of the 3D file formats like SolidWorks (.sldprt)/ ProE(.prt) / IGES(.igs) / STEP (.stp) / Parasolid (.x_t)/.stl. We can also use 2D drawing (.pdf) for quote against the parts with simple structure. All the other files formats are not listed above but can be read in SolidWorks/ProE/UG will be also fine. 
                
        
        
                


        
block bkfooter
    script.
        $('.box a.title').click(function(e){  
            e.preventDefault();
            $(this).next().slideToggle()
            $(this).find('.icon').toggleClass('open');        
            //$(this).next().slideDown();
        })
        


     
