extends includes/layout.pug

block title
    | 合作交流

block bkheader
   

block content
    .banner.banner-forum.wow.fadeInUp(style="background-image:url(img/forum_01.jpg)")
      

    .page.page-forum
        .container
            .item
                .row
                    .col-md-4
                        a(href="forum-detail.html")
                            img(src="img/temp/forum_01.jpg", alt="")
                    .col-md-8
                        .txt
                            h3.title 
                                a(href="forum-detail.html") 一个神奇的“期权投资时钟”
                            p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                            .userinfo
                                .row.align-items-center
                                    .col-auto
                                        img(src="img/temp/avatar.jpg", alt="")
                                    .col 每周一学
                            .note
                                .row
                                    .col
                                        time 2019/12/02  17:20
                                    .col-auto
                                        .view
                                            i.iconfont.icon-view
                                            | 2000
                                        .view.comment
                                            i.iconfont.icon-comment
                                            | 80
                                    


            .item
                .row
                    .col-md-4
                        a(href="forum-detail.html")
                            img(src="img/temp/forum_01.jpg", alt="")
                    .col-md-8
                        .txt
                            h3.title 
                                a(href="forum-detail.html") 一个神奇的“期权投资时钟”
                            p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                            .userinfo
                                .row.align-items-center
                                    .col-auto
                                        img(src="img/temp/avatar.jpg", alt="")
                                    .col 每周一学
                            .note
                                .row
                                    .col
                                        time 2019/12/02  17:20
                                    .col-auto
                                        .view
                                            i.iconfont.icon-view
                                            | 2000
                                        .view.comment
                                            i.iconfont.icon-comment
                                            | 80
                                    

            .item
                .row
                    .col-md-4
                        a(href="forum-detail.html")
                            img(src="img/temp/forum_01.jpg", alt="")
                    .col-md-8
                        .txt
                            h3.title 
                                a(href="forum-detail.html") 一个神奇的“期权投资时钟”
                            p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                            .userinfo
                                .row.align-items-center
                                    .col-auto
                                        img(src="img/temp/avatar.jpg", alt="")
                                    .col 每周一学
                            .note
                                .row
                                    .col
                                        time 2019/12/02  17:20
                                    .col-auto
                                        .view
                                            i.iconfont.icon-view
                                            | 2000
                                        .view.comment
                                            i.iconfont.icon-comment
                                            | 80
                                    
            .item
                .row
                    .col-md-4
                        a(href="forum-detail.html")
                            img(src="img/temp/forum_01.jpg", alt="")
                    .col-md-8
                        .txt
                            h3.title 
                                a(href="forum-detail.html") 一个神奇的“期权投资时钟”
                            p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                            .userinfo
                                .row.align-items-center
                                    .col-auto
                                        img(src="img/temp/avatar.jpg", alt="")
                                    .col 每周一学
                            .note
                                .row
                                    .col
                                        time 2019/12/02  17:20
                                    .col-auto
                                        .view
                                            i.iconfont.icon-view
                                            | 2000
                                        .view.comment
                                            i.iconfont.icon-comment
                                            | 80
                                    
            .item
                .row
                    .col-md-4
                        a(href="forum-detail.html")
                            img(src="img/temp/forum_01.jpg", alt="")
                    .col-md-8
                        .txt
                            h3.title 
                                a(href="forum-detail.html") 一个神奇的“期权投资时钟”
                            p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                            .userinfo
                                .row.align-items-center
                                    .col-auto
                                        img(src="img/temp/avatar.jpg", alt="")
                                    .col 每周一学
                            .note
                                .row
                                    .col
                                        time 2019/12/02  17:20
                                    .col-auto
                                        .view
                                            i.iconfont.icon-view
                                            | 2000
                                        .view.comment
                                            i.iconfont.icon-comment
                                            | 80
                                    




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
