extends includes/layout.pug

block title
    | 合作交流

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_future.jpg)")
        .container
            h1.title-page 脑未来资源
            nav.submenus 
                a.active(href="culture.html") 视频
                a(href="science.html") 科普
    
              
    .page.page-future
        section.s1.container
            .videolist
                .row
                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_01.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                             

                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_02.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                     

                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_03.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                          

                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_03.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                       
                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_03.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                          

                    .col-md-6.col-lg-4                       
                        a.item.wow.fadeInUp(href="project_detail.html")
                            .pic
                                img.thumb(src="img/temp/pro_03.jpg")
                                img.btnplay(src="img/play.png", alt="")
                            div.title 
                                h3 视频标题1
                            
        




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
