extends includes/layout.pug

block title
    | 常见问题-申请入学

block bkheader
    link(href='js/vendor/lightbox2/dist/css/lightbox.min.css', rel='stylesheet')

block content
    .page_subnav
        .container
            .row.align-items-center
                .col-md
                    .title Resource

                .col-md-auto
                    nav.subnav
                        a(href="support.html") Technical Specification
                        a(href="blog.html") Blog
                        a.active(href="gallery.html") Gallery
                        a(href="FAQ.html") FAQs
     
    .page.page-gallery
        section.gallery.container 
            .row                      
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="img/temp/p1.jpg", data-lightbox="roadtrip") 
                        .pic 
                            img(src="img/temp/p1.jpg", alt="")
                            .over                                 
                        .des bell surfaces and disc surfaces, nameplate

                        
        
block bkfooter
    script(src='js/vendor/lightbox2/dist/js/lightbox.min.js')
    script.
         lightbox.option({
            'resizeDuration': 200,
             'wrapAround': true
        })
        


     
