extends includes/layout.pug

block title
    | 参观预约-申请入学

block content
   
     
    .page.page-about
        section.s1.container         
            .pic
                img(src="img/bluiding.png", alt="")
            p.note 项目建设中，请稍后...
                
                    

        
block bkfooter


     
