extends includes/layout.pug

block title
    | 发展历程

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')


block content  
    .banner.banner-about(style="background-image:url(img/banners/about.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/banner_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title_about_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_about.png", alt="")
            .des(data-depth="0.8") 
                p 深圳市蓝源实业发展有限公司成立于2003年，公司一直致力于专业代理高端显示产品及存储类产品，已被授权为JDI显示产品中国区唯一代理，松下Panasonic	IPS显示产品代理，美光Micron存储产品中国区代理。	产品广泛应用于手机、电视、平板电脑、医疗、工控等产品系列。我们希望与客户共同成长，我们的目标是用我们的技术与产品服务客户，并伴随客户一起发展壮大、迎接未来。

        
        nav.nav-container
            menu.wow.fadeInDown
                a(href="about.html") 企业介绍
                a(href="culture.html") 企业文化
                a.active(href="history.html") 发展历程
                a(href="honor.html") 荣誉资质  
                

                    

    .page.page-history  
        section.s1
            .container.pt-media-5.pb-media-5
                .history-list
                    .swiper-container
                        .swiper-wrapper
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
                            .swiper-slide
                                .item.row.align-items-center
                                    .col
                                        .opendate 2003.9
                                    .col 
                                        .txt.text28 深圳市蓝源实业发展有限公司成立，注册资本300万。
 


block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            direction: 'vertical',
            mousewheel: true,
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            //- pagination: {
            //-     el: '.swiper-pagination',
            //-     clickable: true,
            //- },
        });

        $(function () {
            
  
        
        });


     
