extends includes/layout.pug

block title
    | 发展历程

block bkheader
   


block content  
    .banner.banner-about(style="background-image:url(img/banner/about.jpg)")
        .container-fluid
            .txt
                h1.title 关于心通
                ul.nav
                    li
                        a.active(href="about.html") 关于心通
                    li
                        a(href="history.html") 发展历程
                

    .page.page-history
        section.s1.container
            .history-list                
                .row
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 成立TAVI项目
                            .year 2010

                .row.justify-content-end
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 长期动物实验
                            .year 2012

                .row
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 首次人体植入
                            .year 2010
                            .pic
                                img(src="img/temp/his-1.jpg", alt="")

                .row.justify-content-end
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 长期动物实验
                            .year 2012

                .row
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 成立TAVI项目
                            .year 2010

                .row.justify-content-end
                    .col-md-6
                        .item
                            img.dot(src="img/dot01.png", alt="")
                            h3.text34 长期动物实验
                            .year 2012
                            .pic
                                img(src="img/temp/his-2.jpg", alt="")
        

        

block bkfooter

    
    script.
        

        $(function () {
            
  
        
        });


     
