extends includes/layout.pug

block title
    | 荣誉资质

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')


block content  
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/banners/honor.jpg)")
        .container
            .title
                h1.wow.fadeInUp 荣誉资质
              
        

    .page.page-honor.pt-media-5.pb-media-5    
        section.s1.container
            .row.mb-media-3
                .col-md-9
                    .years
                        .swiper-container.gallery-thumbs
                            .swiper-wrapper
                                .swiper-slide
                                    .year 
                                        .txt 2013
                                .swiper-slide
                                    .year 
                                        .txt 2014
                                .swiper-slide
                                    .year 
                                        .txt 2015
                                .swiper-slide
                                    .year 
                                        .txt 2016
                                .swiper-slide
                                    .year 
                                        .txt 2017
                                .swiper-slide
                                    .year 
                                        .txt 2018
                                .swiper-slide
                                    .year 
                                        .txt 2019
                                .swiper-slide
                                    .year 
                                        .txt 2020        
                
                .col-md-3.text-right
                    .swiper-prev
                        i.iconfont.icon-prev
                    .swiper-next
                        i.iconfont.icon-next
                    

            .swiper-container.gallery-top.chronicle
                .swiper-wrapper
                    .swiper-slide                      
                        ul.list
                            li 2019年度园区先进倍增企业
                            li 2019年度中国医疗及健康服务产业十大最佳医疗器械领域投资案例（投中产业榜）
                            li 东莞市第十三批上市后备企业
                            li 2019粤港澳大湾区生物科技创新企业50强
                            li 广东省高新技术产品
                    .swiper-slide                
                        ul.list
                            li
                      
                                | 获批国家级绿色工厂
                            li
                              
                                | 全资收购深圳市和光同诚科技有限公司

                    .swiper-slide                     
                        ul.list
                            li
                         
                                | 获批国家级绿色工厂
                            li
                    
                                | 全资收购深圳市和光同诚科技有限公司
                    .swiper-slide                    
                        ul.list
                            li
                       
                                | 获批国家级绿色工厂
                            li
                      
                                | 全资收购深圳市和光同诚科技有限公司
                    .swiper-slide     
                        ul.list
                            li
                   
                                | 获批国家级绿色工厂
                            li
                     
                                | 全资收购深圳市和光同诚科技有限公司
                    .swiper-slide                
                        ul.list
                            li
                         
                                | 获批国家级绿色工厂
                            li
                      
                                | 全资收购深圳市和光同诚科技有限公司

                    .swiper-slide                                                            
                    
                        ul.list
                            li
                      
                                | 获批国家级绿色工厂
                            li
                     
                                | 全资收购深圳市和光同诚科技有限公司
                    .swiper-slide                                                            
                 
                        ul.list
                            li
                     
                                | 获批国家级绿色工厂
                            li
                         
                                | 全资收购深圳市和光同诚科技有限公司
                        

                             

block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 2,
            // centeredSlides: true,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            breakpoints: {
                640: {
                slidesPerView: 3,
            
                },
                768: {
                slidesPerView: 4,
            
                },
                992: {
                slidesPerView: 5,
            
                },
                1200: {
                slidesPerView: 6,
            
                },
                1600: {
                slidesPerView: 6,
            
                },
            }
        });

       
        
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 0,     
            // loop:true,
            //loopedSlides: 5, //looped slides should be the same            
        
        });
       // galleryThumbs.slideTo($('.year').length,1000,false);
       // galleryTop.slideTo($('.year').length,1000,false);

        galleryThumbs.on('slideChange', function () {
            galleryTop.slideTo(galleryThumbs.activeIndex);
        });
    
