extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')
block content  
    .page.page-home  
        section.s1
            .swiper-container.home-sliders
                .swiper-wrapper
                    .swiper-slide
                        .item.silder_01                 
                            img(src="img/banners/home.jpg", alt="")  
                    .swiper-slide
                        .item.silder_02
                            img(src="img/banners/home.jpg", alt="")
                            
                    .swiper-slide
                        .item.silder_03

                            img(src="img/banners/home.jpg", alt="")

                    .swiper-slide
                        .item.silder_04

                            img(src="img/banners/home.jpg", alt="")

                    .swiper-slide
                        .item.silder_05
                            img(src="img/banners/home.jpg", alt="")


                .swiper-pagination              
                //- .swiper-next
                //-     i.iconfont.icon-next
                //- .swiper-prev
                //-     i.iconfont.icon-prev


        section.s2.pt-media-6.pb-media-9
            .container 
                .title-section 
                    h2.text36.text-center Our services
                
                .row 
                    .col-md-6.col-lg-3 
                        .item 
                            dl.list 
                                dt.text24 Website building
                                dd Corporate website
                                dd Listed company website
                                dd Foreign trade website
                                dd Brand website
                                dd Marketing website

                    .col-md-6.col-lg-3 
                        .item 
                            dl.list 
                                dt.text24 E-commerce
                                dd E-commerce website
                                dd Product E-commerce
                                dd Mobile e-commerce
                                dd P2P Finance
                                dd Website system platform

                    .col-md-6.col-lg-3 
                        .item 
                            dl.list 
                                dt.text24 WeChat Mini Program
                                dd WeChat Mini Program
                                dd H5 event webpage
                                dd WeChat Mall
                                dd Micro official website
                                dd WeChat marketing promotion

                    .col-md-6.col-lg-3 
                        .item 
                            dl.list 
                                dt.text24 Operation
                                dd SEO optimization
                                dd Brand Promotion
                                dd Website agent operation
                                dd WeChat Weibo Douyin operation
                                dd Advertising media delivery

        section.s3.pt-media-6.pb-media-3
            .container 
                .title-section.text-center.mb-media-5
                    h2.text36 eall tech website design
                    p Independent research and development of application technology, user experience and interactive planning

                .swiper-container.work-slider
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                img(src="img/home_04_1.png", alt="")                                
                        .swiper-slide
                            .item
                                img(src="img/home_04_1.png", alt="")
                                
                        .swiper-slide
                            .item
                                img(src="img/home_04_1.png", alt="")


                    //- .swiper-pagination              
                    .swiper-next
                        i.iconfont.icon-next
                    .swiper-prev
                        i.iconfont.icon-prev

        section.s4.pt-media-6.pb-media-6 
            .container
                .title-section.text-center.mb-media-5
                    h2.text36 Customer case
                    p Professionally empowers the growth of Internet sales of brands in various industries, and uses works to speak for strength
            .work-list 
                .swiper-container.case-sliders
                    .swiper-wrapper
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#27262a;") 
                                    img(src="img/works/w01.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#e40312;") 
                                    img(src="img/works/w02.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title                     
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#85c43c;") 
                                    img(src="img/works/w03.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#f3f3f3;") 
                                    img(src="img/works/w04.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#139891;") 
                                    img(src="img/works/w05.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#d4d7da;") 
                                    img(src="img/works/w06.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title                         
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#41a4f1;") 
                                    img(src="img/works/w07.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title                           
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title     
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title     
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title     
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title     
                        .swiper-slide
                            .item 
                                a.pic(href="work_detail.html", style="background-color:#804542;") 
                                    img(src="img/works/w08.png", alt="w01")
                                h3
                                    a(href="work_detail.html") Website case title     
                .nav

                    .swiper-prev2
                        i.iconfont.icon-prev
                    a(href="works.html") 
                        i.iconfont.icon-category-fill
                    .swiper-next2
                        i.iconfont.icon-next

            
                           

        section.s5             
            .row.no-gutters 
                .col-lg-6
                    .text-container 
                        .txt
                            h2.title.text60.wow.fadeInUp Eall Tech
                            h3.title2.text24.wow.fadeInUp The most creative online digital marketing solution
                            p.des.wow.fadeInUp We are Committed to build more and better Internet brands, provide professional Internet brand proposal and use high standards of design, create the brand route with a true sense of direction, unremitting our efforts to create the greatest value for our customers internet brand in the interactive marketing field. We have over seven years of efforts & experience, and with nearly a thousand of case experiences, Eall has already become a famous network marketing interactive and brand design and planning company in domestic China, with very high reputation and public praise.
                            a.more.text26.wow.fadeInUp(href="#") Read more
                .col-lg-6
                    img.pic(src="img/home_05.jpg", alt="")

        section.s6.container.pt-media-5.pb-media-6
            .title-section 
                h3.title.text32 The common choice of <strong>1000+</strong> brand customers
            
            .partners
                .swiper-container.partner-sliders
                    .swiper-wrapper
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner7.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner8.jpg", alt="")                              
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner9.jpg", alt="") 
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner10.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner11.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner12.jpg", alt="")                            
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner13.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner14.jpg", alt="")                              
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner15.jpg", alt="") 
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner16.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner17.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner18.jpg", alt="")  
                        .swiper-slide
                            .item         
                                img(src="img/partners/partner19.jpg", alt="")  

                .swiper-next1
                    i.iconfont.icon-next
                .swiper-prev1
                    i.iconfont.icon-prev
              
            
block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
       
     
        $(function () {        
            //- $('body').addClass('home-body');      
            // $('.num').counterUp({time: 2000,});

            var swiper1 = new Swiper('.home-sliders', {
               
                //- speed: 1000,
                //- mousewheel: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                //- navigation: {              
                //-     nextEl: '.swiper-next',
                //-     prevEl: '.swiper-prev',
                //- },
            });

            var swiper1 = new Swiper('.work-slider', {
               
                //- speed: 1000,
                //- mousewheel: true,
                //- pagination: {
                //-     el: '.swiper-pagination',
                //-     clickable: true,
                //- },
                navigation: {              
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev',
                },
            });

            var swiper = new Swiper(".case-sliders", {
                slidesPerView: 1,
                slidesPerColumn: 2,
                spaceBetween: 20,
                navigation: {              
                    nextEl: '.swiper-next2',
                    prevEl: '.swiper-prev2',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 20,
                    },
                    1024: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
            
                },
            });

            var swiper = new Swiper(".partner-sliders", {
                slidesPerView: 2,
                slidesPerColumn: 2,
                spaceBetween: 20,
                navigation: {              
                    nextEl: '.swiper-next1',
                    prevEl: '.swiper-prev1',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 20,
                    },
                    1201: {
                        slidesPerView: 6,
                        spaceBetween: 20,
                    },
                },
            });

      
                
        });


  