extends includes/layout.pug

block title
    | Home

block bkheader
    link(href='js/vendor/rateyo/min/jquery.rateyo.min.css', rel='stylesheet')
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')
    
block content
    section.sliders.swiper-container.wow.fadeInUp
        .swiper-wrapper
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")
                    
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")
                    
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")

        .dots
            .container
                .swiper-pagination
        
        .swiper-next
            i.iconfont.icon-next
        .swiper-prev
            i.iconfont.icon-prev

    .page.page-home  
        .s1
            video(autoplay, poster="img/about.jpg", id="videobg", loop)
                source(src="img/about.mp4", type="video/mp4")
                | Your browser does not support the video tag. I suggest you upgrade your browser.
 	
            .container
                .txt 
                    h2 At premium parts, 
                    p we ensure customer to receive, accurate, fast, on time, sufficient support and services
                    .row.actions.align-items-center
                        .col-auto
                            a(href="#") 
                                i.iconfont.icon-play
                        .col
                            a.quote(href="javascript:void(0);") Request A Quote
        
        section.s2            
            .container
                .title-section
                    h2 Research 
                        br
                        | Center
                
                
                .researchlist
                    .swiper-container.research-container
                        .swiper-wrapper
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE

                        .swiper-pagination                                   
                        .swiper-button-next
                        .swiper-button-prev
            
        

block bkfooter
    script(src='js/vendor/rateyo/min/jquery.rateyo.min.js')
    script(src='plugins/swiper/js/swiper.min.js')
    script.
        //Make sure that the dom is ready
        var swiper = new Swiper('.sliders', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
        });

        $(function () {
            $('body').addClass('home-body')
            $(".rateYo").rateYo();
        
        });
        var swiper = new Swiper('.research-container', {
            slidesPerView: 3,
            spaceBetween: 20,
              navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    
        var galleryTop = new Swiper('.swiper01', {
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            hashNavigation: {
                watchState: true,
            }
           
        });

        $(".tab-header .item").eq(galleryTop.activeIndex).addClass("active");
        galleryTop.on('slideChange', function () {
          
            $(".tab-header .active").removeClass("active");
            $(".tab-header .item").eq(this.activeIndex).addClass("active");
        });

     
