extends includes/layout.pug

block title
    | Home

block bkheader
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')
    
block content
    section.sliders.swiper-container.wow.fadeInUp
        .swiper-wrapper
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")
                    
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")
                    
            .swiper-slide
                img(src="img/temp/slider_01.jpg", alt="")

        .dots
            .container
                .swiper-pagination
        
        .swiper-next
            i.iconfont.icon-next
        .swiper-prev
            i.iconfont.icon-prev

    .page.page-home  
        section.s1.container
            .row
                .col-lg-5.order-last
                    .title-section
                        h2 Latest 
                            br
                            | News   
                            a.more(href="news.html") more
                .col-lg-7
                    nav.categores.wow.fadeInLeft
                        a.active(href="news.html") Industry
                        a(href="news.html") Scientific research
                        a(href="news.html") Academic report
                        a(href="news.html") Achievements transformation
 	
            .news-sliders
                .swiper-container.gallery-top
                    .swiper-wrapper
                        .swiper-slide(data-hash="sl01")
                            .row                  
                                .col-md-7
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n1.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                                        
                                .col-md-5
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n2.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                        .swiper-slide(data-hash="sl01")
                            .row                  
                                .col-md-7
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n1.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                                        
                                .col-md-5
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n2.jpg")
                                        h3.title Scientists Design Novel Algorithmic...

                        .swiper-slide(data-hash="sl01")
                            .row                  
                                .col-md-7
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n1.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                                        
                                .col-md-5
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n2.jpg")
                                        h3.title Scientists Design Novel Algorithmic...

                        .swiper-slide(data-hash="sl01")
                            .row                  
                                .col-md-7
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n1.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                                        
                                .col-md-5
                                    a.item(href="news_detail.html")
                                        img(src="img/temp/n2.jpg")
                                        h3.title Scientists Design Novel Algorithmic...
                    
                    .swiper-pagination
                    .swiper-next2
                        i.iconfont.icon-right
                    .swiper-prev2
                        i.iconfont.icon-left


        section.s2            
            .container
                .title-section
                    h2 Research 
                        br
                        | Center
                       
                
                .researchlist
                    .swiper-container.research-container
                        .swiper-wrapper
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_01.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_02.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE
                            .swiper-slide
                                a.item(href="research_detail.html")
                                    img(src="img/temp/re_03.jpg", alt="")
                                    .txt
                                        div.rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#fff",data-rateyo-normal-fill="#8dbbe1",data-rateyo-star-width="20px")
                                        h3 Talents Wanted at Hefei Institutes of Physical Science...
                                        p Biotechnology, also known as biotechnology, refers to the use of living organisms (cells containing animals, plants and microorganisms) to produce useful substances or improve processes, improve biological characteristics, reduce costs and create new species. Depending on the tools and applications, it often overlaps with the fields of bioengineering and biomedical engineering.
                                        .more MORE

                        //- .swiper-pagination                                   
                        //- .swiper-button-next
                        //- .swiper-button-prev
                        .dots
                            .container
                                .swiper-pagination
                        
                    .swiper-next1
                        i.iconfont.icon-right
                    .swiper-prev1
                        i.iconfont.icon-left


        section.s3.container
            .title-section
                h2 About 
                    br
                    | Center
                 
            video(src="img/ZPX_BG.mp4", poster="img/ZPX_BG.jpg"  controls="controls")

        

block bkfooter

    script(src='plugins/swiper/js/swiper.min.js')
    script.
        //Make sure that the dom is ready
        var swiper = new Swiper('.sliders', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
        });

        $(function () {
        
  
        
        });
        var swiper = new Swiper('.research-container', {
            slidesPerView: 3,
            spaceBetween: 20,
              navigation: {
                nextEl: '.swiper-next1',
                prevEl: '.swiper-prev1',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-next2',
                prevEl: '.swiper-prev2',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            hashNavigation: {
                watchState: true,
            }
           
        });

        $(".tab-header .item").eq(galleryTop.activeIndex).addClass("active");
        galleryTop.on('slideChange', function () {
          
            $(".tab-header .active").removeClass("active");
            $(".tab-header .item").eq(this.activeIndex).addClass("active");
        });

     
