extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')

block content
    section.sliders.swiper-container.wow.fadeInUp
        .swiper-wrapper
            .swiper-slide(style={'background-image':'url(img/temp/slider01.jpg)'})
                .container.txtlist
                    .txt
                        h2.title Education is a 
                            br
                            | global enterprise
                        h3.title2 教育是一份关乎全球发展的事业
                        p Education is a global enterprise
                    
            .swiper-slide(style={'background-image':'url(img/temp/slider01.jpg)'})
                .container.txtlist
                    .txt
                        h2.title Education is a 
                            br
                            | global enterprise
                        h3.title2 教育是一份关乎全球发展的事业
                        p Education is a global enterprise
                    
            .swiper-slide(style={'background-image':'url(img/temp/slider01.jpg)'})
                .container.txtlist
                    .txt
                        h2.title Education is a 
                            br
                            | global enterprise
                        h3.title2 教育是一份关乎全球发展的事业
                        p Education is a global enterprise

        .container.dots
            .swiper-pagination

        #godown.godown
            a.animated.infinite.fadeInDown.delay-0s(href="javascript:void(0);")
                i.iconfont.icon-down
               
        
        //- .swiper-button-next
        //- .swiper-button-prev

    .page.page-home  
        
        
        section.s2            
            .container
                .row
                    .col-md
                        .title-section.wow.fadeInLeft
                            h2 特色校园
                    .col-auto
                        .gallery-thumbs.wow.fadeInRight
                            a.link(href="#sl01") 特色教育
                            a.link(href="#sl02")  教师团队
                            a.link(href="#sl03") 安全管理
                            a.link(href="#sl04") 科学膳食
            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide(data-hash="sl01")
                        .row.no-gutters
                            .col-md
                                img.pic.wow.fadeInLeft(src="img/temp/h1.jpg", alt="特色教育")                                                       
                            .col-md-auto
                                .txt.wow.fadeInRight
                                    .icon
                                        img(src="img/temp/icon-001.png", alt="特色教育")
                                    .title
                                        img(src="img/temp/title-001.png", alt="特色教育")
                                    p 科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短不超过30个字
                    .swiper-slide(data-hash="sl02")
                        .row.no-gutters
                            .col-md
                                img.pic(src="img/temp/h2.jpg", alt="教师团队")
                            .col-md-auto
                                .txt
                                    .icon
                                        img(src="img/temp/icon-001.png", alt="教师团队")
                                    .title
                                        img(src="img/temp/title-001.png", alt="教师团队")
                                    p 科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短不超过30个字
                    .swiper-slide(data-hash="sl03")
                        .row.no-gutters
                            .col-md
                                img.pic(src="img/temp/h3.jpg", alt="安全管理")
                            .col-md-auto
                                .txt
                                    .icon
                                        img(src="img/temp/icon-001.png", alt="安全管理")
                                    .title
                                        img(src="img/temp/title-001.png", alt="安全管理")
                                    p 科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短不超过30个字
                    .swiper-slide(data-hash="sl04")
                        .row.no-gutters
                            .col-md
                                img.pic(src="img/temp/h1.jpg", alt="科学膳食")
                            .col-md-auto
                                .txt
                                    .icon
                                        img(src="img/temp/icon-001.png", alt="科学膳食")
                                    .title
                                        img(src="img/temp/title-001.png", alt="科学膳食")
                                    p 科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短介绍科学膳食剪短不超过30个字
                .navgo.wow.fadeInRight
                    .swiper-button-next
                    .swiper-button-prev
            

        section.s3
                .title-section.wow.fadeInUp
                    h2.text-center 最新资讯
                .row.no-gutters                    
                    .col-md-4
                        .item.wow.fadeInUp                           
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news01.jpg")
                            .des
                                .row.align-items-center
                                    .col
                                        .category 家园合作
                                    .col-auto
                                        time 2020.02.21
                                    
                                h3.title 
                                    a(href="news_detail.html") 韩国仁川涂料胶粘膜展 COATING  KOREA
                                    
                    
                    .col-md-4
                        .item.wow.fadeInUp                           
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news02.jpg")
                            .des
                                .row.align-items-center
                                    .col
                                        .category 家园合作
                                    .col-auto
                                        time 2020.02.21
                                    
                                h3.title 
                                    a(href="news_detail.html") 韩国仁川涂料胶粘膜展 COATING  KOREA
                    .col-md-4
                        .item.wow.fadeInUp                           
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news03.jpg")
                            .des
                                .row.align-items-center
                                    .col
                                        .category 家园合作
                                    .col-auto
                                        time 2020.02.21
                                    
                                h3.title 
                                    a(href="news_detail.html") 韩国仁川涂料胶粘膜展 COATING  KOREA
                    
                .text-center.wow.fadeInUp
                    a.more(href="news_detail.html") view all
                   
       
        
block bkfooter
    script(src='plugins/swiper/js/swiper.min.js')
    script.
        var swiper = new Swiper('.sliders', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            //- navigation: {
            //-     nextEl: '.swiper-button-next',
            //-     prevEl: '.swiper-button-prev',
            //- },
        });



         $("#godown").click(function(e) {
            e.preventDefault();
            var srcollto = $(window).height();

            $("html, body").animate({
                scrollTop: srcollto
            }, 600);
        })
        //- var galleryThumbs = new Swiper('.gallery-thumbs', {
        //-     spaceBetween: 0,
        //-     slidesPerView: 5,
        //-     freeMode: true,
        //-     watchSlidesVisibility: true,
        //-     watchSlidesProgress: true,
        //- });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            hashNavigation: {
                watchState: true,
            }
            //- thumbs: {
            //-     swiper: galleryThumbs
            //- }
        });

        $(".link").eq(galleryTop.activeIndex).addClass("active");
        galleryTop.on('slideChange', function () {
          
            $(".link.active").removeClass("active");
            $(".link").eq(this.activeIndex).addClass("active");
        });

     
