extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')
    
block content
    section.sliders.swiper-container.wow.fadeInUp
        .swiper-wrapper
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/banner_04.jpg", alt="")
                    
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/banner_04.jpg", alt="")
                    
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/banner_04.jpg", alt="")

       
        .swiper-pagination
        
        .swiper-button-next
            i.iconfont.icon-next
        .swiper-button-prev
            i.iconfont.icon-prev
       

    .page.page-home  
        section.s1.container
            .row
                .col-6.col-lg-3
                    .icon.wow.fadeInUp
                        img(src="img/icon-ser.png", alt="权威")
                    h3.wow.fadeInUp 权威
                    p.wow.fadeInUp 璞森配备了省内最权威
                        br
                        | 最专业的的师资团队

                .col-6.col-lg-3
                    .icon.wow.fadeInUp
                        img(src="img/icon-tag.png", alt="专业")
                    h3.wow.fadeInUp 专业
                    p.wow.fadeInUp 与官方机构和世界
                        br
                        | 名校的长期合作
                
                .col-6.col-lg-3
                    .icon.wow.fadeInUp
                        img(src="img/icon-mao.png", alt="学术")
                    h3.wow.fadeInUp 学术
                    p.wow.fadeInUp 独特的教学形式
                        br
                        | 满足学生个性需求

                .col-6.col-lg-3
                    .icon.wow.fadeInUp
                        img(src="img/icon-ser.png", alt="成果")
                    h3.wow.fadeInUp 成果
                    p.wow.fadeInUp 培养许多国内外顶尖
                        br
                        | 高校优秀青年学子
                
 	
           

        section.s2.section            
            .container
                .row.align-items-center.no-gutters
                    .col
                        .title-section.wow.fadeInUp
                            h2 EDUCATION PROGRAM
                            h3 学历项目

                    .col-auto
                        a.more(href="singapore_projects.html") 
                            i.iconfont.icon-next
                        
                            
                
                .courses.row
                    .col-md-6.col-lg
                        a.item(href="project3.html")
                            img(src="img/projects_15.jpg", alt="英国西伦敦大学音乐学院本科硕士班")
                            .overly
                                .des 
                                    .icon 
                                        i.iconfont.icon-next
                                    p 了解详情                  

                    .col-md-6.col-lg
                        a.item(href="project2.html")
                            img(src="img/projects_14.jpg", alt="新加坡莱弗士音乐学院")
                            .overly
                                .des 
                                    .icon 
                                        i.iconfont.icon-next
                                    p 了解详情

                    .col-md-6.col-lg
                        a.item(href="project1.html")
                            img(src="img/projects_13.jpg", alt="深圳大本预科班")
                            .overly
                                .des 
                                    .icon 
                                        i.iconfont.icon-next
                                    p 了解详情

                         


        section.s3.section
            .container           
                h2.title.wow.fadeInUp 录取流程优势 
                .row
                    .col-md-auto
                        .row.align-items-center.r1.wow.fadeInUp
                            .col-auto
                                .icon
                                    .iconfont.icon-time
                                    h3 简单快捷
                            .col
                                dl
                                    dd -无需高考成绩
                                    dd -无需雅思、托福成绩
                    .col-md-auto
                        .row.align-items-center.wow.fadeInUp
                            .col-auto
                                .icon
                                    .iconfont.icon-jiangbie
                                    h3 奖学金丰厚
                            .col
                                dl
                                    dd -每年2个全额奖学金名额

        section.s4
            .container           
                .title-section
                    h2 NEWS
                    h3 动态资讯

                .newslist
                    .row
                        .col-md-6.col-lg-3                        
                            a.item.wow.fadeInUp(href="news_detail.html")
                                img(src="img/temp/n1.jpg")
                                div.title 
                                    h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                                    time 
                                        i.iconfont.icon-time
                                        | 2020/1/21
                        .col-md-6.col-lg-3                        
                            a.item.wow.fadeInUp(href="news_detail.html")
                                img(src="img/temp/n2.jpg")
                                div.title 
                                    h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                                    time 
                                        i.iconfont.icon-time
                                        | 2020/1/21
                        .col-md-6.col-lg-3                     
                            a.item.wow.fadeInUp(href="news_detail.html")
                                img(src="img/temp/n3.jpg")
                                div.title 
                                    h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                                    time 
                                        i.iconfont.icon-time
                                        | 2020/1/21
                        .col-md-6.col-lg-3                  
                            a.item.wow.fadeInUp(href="news_detail.html")
                                img(src="img/temp/n4.jpg")
                                div.title 
                                    h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                                    time 
                                        i.iconfont.icon-time
                                        | 2020/1/21
                 
          

        

block bkfooter

    script(src='plugins/swiper/js/swiper.min.js')
    script.
        //Make sure that the dom is ready
        var swiper = new Swiper('.sliders', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
        });

        $(function () {
        
  
        
        });
        var swiper = new Swiper('.research-container', {
            slidesPerView: 3,
            spaceBetween: 20,
              navigation: {
                nextEl: '.swiper-next1',
                prevEl: '.swiper-prev1',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        });
    
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-next2',
                prevEl: '.swiper-prev2',
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            hashNavigation: {
                watchState: true,
            }
           
        });

        $(".tab-header .item").eq(galleryTop.activeIndex).addClass("active");
        galleryTop.on('slideChange', function () {
          
            $(".tab-header .active").removeClass("active");
            $(".tab-header .item").eq(this.activeIndex).addClass("active");
        });

     
