
extends includes/layout.pug

block title
    | 首页
    - var bodyClass = ['tzg-body home-body'];
    - var currentUrl = 'index.html'
block bkheader    
    link(href='js/vendor/fullpage/fullpage.min.css', rel='stylesheet')
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
    script(src='js/vendor/fullpage/fullpage.min.js')
    script(src='js/vendor/fullpage/fullpage.extensions.min.js')
    script(src='js/vendor/swiper/swiper-bundle.min.js')
block content  
    #fullpage.page.page-home
        section.s1.section
            .swiper.mySwiper01
                .swiper-wrapper
                    .swiper-slide(style='background-image:url(img/home-bg-s1.jpg)') 
                        .txt-container
                            .txt 
                                h2.text66 共<span>享</span> 共<span>建</span> 共<span>未来</span>
                                p.text30 热烈庆祝电源管理技术创新联盟成立！
                                a(class="btn btn-primary btn-radius", href="projects.html") 了解更多 
                                        
                    .swiper-slide(style='background-image:url(img/home-bg-s1-slide2.jpg)')  
                        .txt-container
                            .txt.txt2 
                                h2.text66 电源管理技术创新<span>联盟</span> （PMIC)
                                p.text22 浙江大学杭州国际科创中心电源联盟技术创新联盟（简称PMIC）的目标是在电源管理技术领域开展具有系统性、前瞻性的产学研联合研究，开发未来信息电源系统、新能源车电源系统的核心技术，助推我国电力电子产业的转型和升级同时培养创新型研究和工程技术人才。
                                a(class="btn btn-primary btn-radius", href="projects.html") 了解更多 
                    
                .swiper-pagination         
   
            

        section.s2.section
            .swiper.mySwiper02
                .swiper-wrapper
                    .swiper-slide
                        img.bg(src="img/home-s2-bg-1.jpg", alt="联合研究")
                        .txt-container
                            .txt 
                                .pic 
                                    img(src="img/home-icon-01.svg", alt="联合研究")
                                h2.text30 联合研究
                                p.name.text20 joint research
                                p.des.text20 在电源管理技术领域开展具有系统性/前瞻性的产学研联合研究，以及开展颠覆性的技术创新
                                        
                    .swiper-slide
                        img.bg(src="img/home-s2-bg-2.jpg", alt="技术创新")
                        .txt-container
                            .txt 
                                .pic 
                                    img(src="img/home-icon-02.svg", alt="技术创新")
                                h2.text30 技术创新
                                p.name.text20 technological innovation
                                p.des.text20 开发未来信息电源系统和新能源车电源系统的核心技术

                    .swiper-slide
                        img.bg(src="img/home-s2-bg-3.jpg", alt="转型升级")
                        .txt-container
                            .txt 
                                .pic 
                                    img(src="img/home-icon-03.svg", alt="转型升级")
                                h2.text30 转型升级
                                p.name.text20 Reforming promotion
                                p.des.text20 助推我国电力电子产业的转型和升级
                    .swiper-slide
                        img.bg(src="img/home-s2-bg-4.jpg", alt="培养人才")
                        .txt-container
                            .txt 
                                .pic 
                                    img(src="img/home-icon-04.svg", alt="培养人才")
                                h2.text30 培养人才
                                p.name.text20 produce e talents
                                p.des.text20 培养创新型研究和工程技术人才
                    
                .swiper-pagination         
                    

        section.s3.section(style="background-image:url(img/home-bg-s3.jpg)")
            
            .container
                .row.mb-media-3 
                    .col-6.col-md-3
                        .item 
                            .pic 
                                img(src="img/home-icon-05.svg", alt="")
                            .num 
                                strong.qu 3
                                span 位
                    .col-6.col-md-3
                        .item 
                            .pic 
                                img(src="img/home-icon-06.svg", alt="")
                            .num 
                                strong.qu 6
                                span 名

                    .col-6.col-md-3
                        .item 
                            .pic 
                                img(src="img/home-icon-07.svg", alt="")
                            .num 
                                strong.qu 30
                                span +
                    .col-6.col-md-3
                        .item 
                            .pic 
                                img(src="img/home-icon-08.svg", alt="")
                            .num 
                                strong.qu 10
                                span +

                .txt 
                    h2.text36 电源管理技术创新联盟（PMIC)
                    p 电源管理技术创新联盟（PMIC)是由浙江大学杭州国际科创中心与行业相关企事业单位自愿结成的跨行业、开放性的技术创新机构，旨在电源管理技术领域开展具有系统性、前瞻性的产学研联合研究与技术创新，开发未来信息电源系统、新能源车电源系统等核心技术，不断吸纳致力于电源管理新技术和新产品研发的国内外相关单位加盟创新联盟，为电力电子产业培养创新型研究和工程人才。平台上的各个产品根据市场的需求、规范要求的改变和各个公司技术的提升，不定期更新产品，改变现有设计的模式，让设计人员从基本的重复无效工作中得到释放。
                    p 联盟现有研究团队情况：联盟由三位学术带头人领衔，目前拥有6名工程师和30余位研究生（其中8名博士研究生）， 2021年度同步开展的研究课题数有10至12项。
               

        section.s4.section 
            .swiper.mySwiper03 
                .swiper-wrapper
                    .swiper-slide
                        a.item(href="news-detail.html")
                            img.bg(src="img/temp/n-1.jpg", alt="热烈庆祝电源管理技术创新联盟成立！")                           
                            .txt 
                                h2.text26 热烈庆祝电源管理技术创新联盟成立！
                                .date.text20 2021.12.18
                                p.text20.des 电源管理技术创新联盟2021年第三次会议将于2021年12月18日在 杭州博地中心丽筠酒店召开。
                                .text-right 
                                    span.btn.btn-white-outline.btn-radius 查看详情
                        
                                        
                    .swiper-slide
                        a.item(href="news-detail.html")
                            img.bg(src="img/temp/n-2.jpg", alt="热烈庆祝电源管理技术创新联盟成立！")                           
                            .txt 
                                h2.text26 从新能源、智能电网到数据中心！浙大杭州科创中心这场盛会，赋能电源管理技术新未来！
                                .date.text20 2020.04.20
                                p.text20.des 想要手机运行越来越高效吗？想要新能源汽车续航能力不断提升吗？一个前所未有的时代正在到来“能量+信息”将成为人类社会发展势不可挡的力量和能源革命同步兴起的是超级电气化而这背后也对电源管理技术提出了新挑战！
                                .text-right 
                                    span.btn.btn-white-outline.btn-radius 查看详情

                    .swiper-slide
                        a.item(href="news-detail.html")
                            img.bg(src="img/temp/n-3.jpg", alt="热烈庆祝电源管理技术创新联盟成立！")                           
                            .txt 
                                h2.text26 浙江大学杭州国际科创中心电源联盟技术创新联盟介绍
                                .date.text20 2020.04.18
                                p.text20.des 浙江大学杭州国际科创中心电源联盟技术创新联（简称PMIC），位于浙江省杭州市萧山区建设三路733号，联盟成立于2021年4月18日。PMIC是在自愿、平等、互利、合作的基础上，本着“互惠互利、优势互补、协同创新、共同发展、合作共赢”的宗旨...
                                .text-right 
                                    span.btn.btn-white-outline.btn-radius 查看详情
                .swiper-pagination
            

        section.s5.section(style="background-image:url(img/home-bg-s5.jpg)")
            .container
                .swiper.mySwiper04 
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/001.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/002.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/003.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/004.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/005.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/006.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/007.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/008.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/009.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/010.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/001.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/011.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/012.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/013.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/014.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/015.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/016.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/017.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/018.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/019.png", alt="001") 

                        .swiper-slide
                            .item
                                img.bg(src="img/partners/021.png", alt="001") 
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/022.png", alt="001") 
                                            
                        .swiper-slide
                            .item
                                img.bg(src="img/partners/023.png", alt="001") 

                    
                    .swiper-pagination

        section.s6.section(style="background-image:url(img/home-bg-s6.jpg)")
            .container
                .row.align-items-center 
                    .col-lg-7
                        .txt 
                            h2.text46 基础引领  开放众筹
                            p.des.text20 Foundation leads open crowdfunding
                    .col-lg-5
                        .contact 
                            .txt
                                h3.title.text36 联系我们 CONTACT US
                                ul 
                                    li 联系人：张兰
                                    li 联系电话：13750831250
                                    li 邮箱：2.l211401@zju.edu.cn
                                    li 地址：浙江省杭州市萧山区建设三路733号
                                
                                a.btn.btn-white-outline.btn-radius(href="contact.html") 联系我们




            
block bkfooter
    
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
        new fullpage('#fullpage', {
            //options here
            verticalCentered: true,
            //- autoScrolling:true,
            //- scrollHorizontally: true,
            licenseKey: "750A6298-E6DA42F7-9B37E662-7341082F",
            anchors: ['about', 'projects', 'portfolios', 'members', 'contact', 'footer'],
            autoScrolling:true,
            scrollHorizontally: true,
            slidesNavigation: true,     
            navigation:true,   
            navigationPosition: 'left',
            navigationTooltips: ['首页', '目标', '关于我们', '新闻', '联盟会员', '联系我们'],
        });
        var swiper1 = new Swiper('.mySwiper01', {           
            loop:true,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
        
        });
     
        var swiper2 = new Swiper(".mySwiper02", {
            slidesPerView: 1,
            spaceBetween: 0,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 2,
                 
                },
                992: {
                    slidesPerView: 3,                  
                },
                1200: {
                    slidesPerView: 4,                  
                },
            },
        });

        var swiper3 = new Swiper(".mySwiper03", {
            slidesPerView: 1,
            spaceBetween: 0,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 2,
                 
                },
                992: {
                    slidesPerView: 3,                  
                },
               
            },
        });

        var swiper4 = new Swiper(".mySwiper04", {
            slidesPerView: 2,
            grid: {
                rows: 3,
            },
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 3,
                 
                },
                992: {
                    slidesPerView: 4,                  
                },               
            },
        });
  