extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')
block content  

    .page-home  
        section.s1
            .swiper-container.home-sliders
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/banners/slider01.jpg", alt="")
                    .swiper-slide
                        img(src="img/banners/slider01.jpg", alt="")
                    .swiper-slide
                        img(src="img/banners/slider01.jpg", alt="")
                .swiper-pagination

           
        section.s2
            .container
                .row.align-items-center.mb-media-5
                    .col
                        .title-section.pt-media-5
                            h2.text70.wow.fadeInUp PROFI 
                                br 
                                | DESIGN
                                span .
                            h3.text28.wow.fadeInUp 璞斐设计
                    .col-auto
                        a.more.wow.fadeInUp(href="about.html")
                            i.iconfont.icon-next

                .txt
                    p.wow.fadeInUp 璞斐专注于视觉整合设计，始终追求以创意为核心，以设计的专业度为根本，以感悟、科学、超越为精神向导，立足前海自贸区，以成为国际一流的专业设计机构为终极目标。
                    p.wow.fadeInUp 璞斐设计经过科学定位，专注视觉及空间设计，包括企业形象设计、品牌策划设计、品牌空间设计、展览展示空间设计、包装设计、商业设计、广告创意设计、商业摄影、影视拍摄、产品形象推广、产品发布会及品牌活动策划等。我们针对品牌形象塑造和推广项目，成立专门的项目小组,为客户提供专业策化、创意设计服务，有助于品牌形象传播的及时性、延续性；以高品质服务，帮助客户建立独树一帜的市场形象，创造出良好的价值和绩效。
                    
                
        section.s3.pt-media-7.mb-media-5
            .container
                .row.align-items-end
                    .col-lg
                        .title-section
                            h2.text70.wow.fadeInUp PROJECT
                                br 
                                | CASE
                                span .
                            h3.text28.wow.fadeInUp 璞斐案例
              
                    .col-lg-auto
                        ul.categories.wow.fadeInUp
                            li
                                a.active(href="#") ALL
                            li
                                a(href="#") 品牌设计
                            li
                                a(href="#") 品牌展示空间
                            li
                                a(href="#") 活动策划
                            li
                                a(href="#") 其他


        section.s4.mb-media-5
            .case-list
                .row.no-gutters
                    .col-lg-6
                        a.item.first.wow.fadeInUp(href="case_detail.html") 
                            img(src="img/cases/001.jpg", alt="")
                            .overly
                                h3 前海十周年原创音乐征歌活动整体视觉形象设计
                    .col-lg-6
                        .row.no-gutters
                            .col-md-6
                                a.item.wow.fadeInUp(href="case_detail.html") 
                                    img(src="img/cases/002.jpg", alt="")
                                    .overly
                                        h3 前海十周年原创音乐征歌活动整体视觉形象设计

                            .col-md-6
                                a.item.wow.fadeInUp(href="case_detail.html") 
                                    img(src="img/cases/003.jpg", alt="")
                                    .overly
                                        h3 前海十周年原创音乐征歌活动整体视觉形象设计

                            .col-md-6
                                a.item.wow.fadeInUp(href="case_detail.html") 
                                    img(src="img/cases/004.jpg", alt="")
                                    .overly
                                        h3 前海十周年原创音乐征歌活动整体视觉形象设计

                            .col-md-6
                                a.item.wow.fadeInUp(href="case_detail.html") 
                                    img(src="img/cases/005.jpg", alt="")
                                    .overly
                                        h3 前海十周年原创音乐征歌活动整体视觉形象设计
                            

                .row.no-gutters                    
                    .col-md-4.col-lg-3
                        a.item.wow.fadeInUp(href="case_detail.html") 
                            img(src="img/cases/006.jpg", alt="")
                            .overly
                                h3 前海十周年原创音乐征歌活动整体视觉形象设计

                    .col-md-4.col-lg-3
                        a.item.wow.fadeInUp(href="case_detail.html") 
                            img(src="img/cases/007.jpg", alt="")
                            .overly
                                h3 前海十周年原创音乐征歌活动整体视觉形象设计

                    .col-md-4.col-lg-3
                        a.item.wow.fadeInUp(href="case_detail.html") 
                            img(src="img/cases/008.jpg", alt="")
                            .overly
                                h3 前海十周年原创音乐征歌活动整体视觉形象设计
                                
                    .col-md-4.col-lg-3
                        a.item.wow.fadeInUp(href="case_detail.html") 
                            img(src="img/cases/009.jpg", alt="")
                            .overly
                                h3 前海十周年原创音乐征歌活动整体视觉形象设计
                    
                  

                        
        section.s5.mb-media-5
            .container
                .row.align-items-center.mb-media-5
                    .col
                        .title-section.pt-media-5
                            h2.text70.wow.fadeInUp PROFI 
                                br 
                                | PARTNER
                                span .
                            h3.text28.wow.fadeInUp 璞斐客户
                    .col-auto
                        a.more(href="clients.html")
                            i.iconfont.icon-next
                .clientlist
                    .row
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/qh.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/hqc.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/hlha.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/sj.png", alt="前海")

                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/slx.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/baal.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/sgd.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/TCL.png", alt="前海")

                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/swax.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/hs.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/ylj.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/fsn.png", alt="前海")

                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/push.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/ha.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/rj.png", alt="前海")
                        .col-6.col-md-4.col-lg-3
                            .item.wow.fadeInUp
                                img(src="img/clients/yps.png", alt="前海")


        

       
       
            
block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
       
        var swiper = new Swiper('.home-sliders', {
            loop:true,
             autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
            },
        });

        $(function () {        
            $('body').addClass('home-body');            
        });

  