extends includes/layout.pug

block title
    | 首页

block bkheader
    
    
block content
    .page-home  
        section.s1
            .container
                .txt
                    h3.title 期权星球
                    h3.title2 构建专业期权生态圈
                    p.des 我们致力于成为期权领域内的专业交流平台，为期权领域的从业人员、投资者、资产管理机构、系统服务商打造一个提高期权投资水平、交流期权资讯、分享投资经验和策略的互动空间。
               
                    a.btn-warning(href="#") 了解我们
            

                           

        section.s2            
            .title-section
                h3.text-center  当月认购
            .content
                img(src="img/home_02.png", alt="")
                            

        section.s3
            .container
                .row.align-items-center
                    .col-md
                        .txt
                            h4 期权课程
                            h3.title 为您精选课程
                            p 0基础小白轻松入门快速通过期权开户考试
                            p.note 共7节课程

                            .row.no-gutters
                                .col-auto
                                    a.all(href="#") 所有课程
                                .col-auto
                                    a(href="#")
                                        img(src="img/courses_02.png", alt="")

                    .col-md-auto
                        .item.item1
                            a(href="#")
                                img(src="img/temp/courses_01.jpg", alt="")
                        .item
                            a(href="#")
                                img(src="img/temp/courses_02.jpg", alt="")

        section.s4
            .container
                .header-section
                    .row
                        .col
                            ul.tab-header
                                li.active(data-tab="#tab1") 最新资讯
                                li(data-tab="#tab2") 公司动态
                            
                        .col-auto
                            a.more(href="news.html") 所有资讯
                                i.iconfont.icon-arrow-right
                
                #tab1.tab-body.active
                    .row
                        .col-md-auto
                            .pic
                                img(src="img/temp/n1.jpg", alt="")
                                
                        .col-md
                            .box.active
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2019/12
                                            .date 01
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                #tab2.tab-body
                    .row
                        .col-md-auto
                            .pic
                                img(src="img/temp/n1.jpg", alt="")
                                
                        .col-md
                            .box.active
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2019/12
                                            .date 01
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立123
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                        
                            .box
                                .row
                                    .col-auto
                                        .datetime
                                            .month 2020/04
                                            .date 23
                                    .col
                                        a.item(href="news_detail.html")  
                                            h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                            .des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                                              
                            
                        

                  

        section.s5
            img(src="img/home_bot.jpg", alt="")        

block bkfooter


    script.
        //Make sure that the dom is ready
      
        $(function () {        
            $('body').addClass('home-body');     
            $(".tab-header li").click(function(e){
                var id =  $(this).attr("data-tab");

                $(this).addClass("active").siblings().removeClass("active");
                $(".tab-body.active").removeClass("active");
                $(id).addClass("active");
            });
        });

        
     
