
extends includes/layout.pug

block title
    | 首页
    //- - var bodyClass = ['tzg-body home-body'];
    - var currentUrl = 'index.html'
block bkheader    

    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
    script(src='js/vendor/swiper/swiper-bundle.min.js')
block content  
    .page.page-home
        section.s1.section
            .swiper.mySwiper01                
                .swiper-wrapper
                    .swiper-slide
                        img.bg(src="img/banners/slider_1.jpg", alt="")
                        .txt-container
                            .container
                                .txt 
                                    h2.text60 行动带来改变
                                    h3.text30 Positive change through action
                                    p.text24 “我们以实际行动推进积极改变保护地球环境与自然生态”
                                    a.more.text28(class="btn btn-white", href="#") 订阅我们获取最新消息
                                       

                    .swiper-slide
                        img.bg(src="img/banners/slider_1.jpg", alt="")
                        .txt-container
                            .container
                                .txt 
                                    h2.text60 行动带来改变
                                    h3.text30 Positive change through action
                                    p.text24 “我们以实际行动推进积极改变保护地球环境与自然生态”
                                    a.more.text28(class="btn btn-white", href="#") 订阅我们获取最新消息
                                        
                                        
                    .swiper-slide
                        img.bg(src="img/banners/slider_1.jpg", alt="")
                        .txt-container
                            .container
                                .txt 
                                    h2.text60 行动带来改变
                                    h3.text30 Positive change through action
                                    p.text24 “我们以实际行动推进积极改变保护地球环境与自然生态”
                                    a.more.text28(class="btn btn-white", href="#") 订阅我们获取最新消息
                                       
                    
                .swiper-next
                    i.iconfont.icon-next
                .swiper-prev
                    i.iconfont.icon-prev
                .swiper-pagination         
   
            img.overly(src="img/slider-overly.svg", alt="遮层")

        section.s2.section.container.pt-media-6.pb-media-6
            .title-section 
                h2.text50 我们持续关注本土及全球环境议题
                p.text26 以不同项目推动实际改变

            .row.g-xxl-5
                .col-md-6.col-lg-4
                    .item
                        .pic 
                            img(src="img/home_1.jpg" srcset="img/home_1@2x.jpg 2x, img/home_1.jpg 1x" , alt="气候与能源")
                                        
                        .txt 
                            h3.title.text30 气候与能源
                            p 气候变化是人类有史以来面临的最大的环境威胁和挑战。中国承受着气候变化带来的严重影响，同时也已经成为全球最大的温室气体排放国，每年消费全球一半的煤炭。绿色和平气候与能源项目在中国的工作主要是推动中国摆脱对煤炭的过度依赖、倡导可再生能源革命，以助力中国在全球的应对气候变化和低碳发展进程中发挥更重要的作用。

                .col-md-6.col-lg-4
                    .item
                        .pic 
                            img(src="img/home_2.jpg" srcset="img/home_2@2x.jpg 2x, img/home_2.jpg 1x" , alt="保护生物多样性")
                                        
                        .txt 
                            h3.title.text30 保护生物多样性
                            p 绿色和平致力于保存、守护与修复地球上最宝贵的生态系统。万物繁茂的森林，生机勃勃的海洋，是生物多样性的依存所在、更能帮助人类对抗气候危机，对世界的福祉至关重要。绿色和平的森林与海洋保护项目在中国的工作主要是帮助推进关键生态系统的保护、修复与可持续管理，助力中国陆地与海洋生物多样性下降的趋势得到遏制并逐渐恢复，并助力中国为全球生物多样性保护做出切实贡献。我们尝试讲述一个人与自然和谐共存的故事，让更多的人珍视地球的蓬勃生命力，并能从中受益。

                .col-md-6.col-lg-4
                    .item
                        .pic 
                            img(src="img/home_3.jpg" srcset="img/home_3@2x.jpg 2x, img/home_3.jpg 1x" , alt="可持续生活")
                                        
                        .txt 
                            h3.title.text30 可持续生活
                            p 人类的福祉与环境和自然的健康密不可分。绿色和平想要探寻，如何在尊重自然资源与生态阈值的限度之内，实现可持续生产、有度消费、重新定义美好生活。我们通过原创的影像记录、科学的调研报告、面对面的公众倡导，与大家共同构建一个更绿色、更公平、更和平的未来。在中国，绿色和平开展一系列项目，一方面抗击污染行为、推动环境治理、保护公众的健康；一方面倡导可持续消费、减少浪费、提升城市废弃物管理。探索公众发挥点滴力量、参与生态文明建设的路径。

        section.s3.section.pb-media-6.container.mb-media-7    
            .title-section 
                h2.text50 我们的行动正在发生
                p.text26 了解绿色和平最新项目成果及故事        
           
            .news-list.mb-media-3
                .row.g-4.g-lg-5.g-xxl-6
                    .col-md-6
                        a.item(href="news-detail.html" title="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比") 
                            .pic 
                                img(src="img/temp/n01.jpg", alt="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比")
                            .txt 
                                .dt
                                    .date.text50 18
                                    .month 2022.01
                                h3.text24 最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比
                                p 2022年1月18日，北京——国际环保机构绿色和平与中华环保联合会今日共同发布报告《转型与挑战——零排放汽车转型如何助力中国汽车领域碳达峰和碳减排》（下称报告）...
                                
                                .tags 
                                    span #气候与能源
                                    span #新闻
                    .col-md-6
                        a.item.ood(href="news-detail.html" title="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比") 
                            .pic 
                                img(src="img/temp/n02.jpg", alt="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比")
                            .txt 
                                .dt
                                    .date.text50 18
                                    .month 2022.01
                                h3.text24 最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比
                                p 2022年1月18日，北京——国际环保机构绿色和平与中华环保联合会今日共同发布报告《转型与挑战——零排放汽车转型如何助力中国汽车领域碳达峰和碳减排》（下称报告）...
                                
                                .tags 
                                    span #气候与能源
                                    span #新闻

                    .col-md-6
                        a.item(href="news-detail.html" title="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比") 
                            .pic 
                                img(src="img/temp/n01.jpg", alt="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比")
                            .txt 
                                .dt
                                    .date.text50 18
                                    .month 2022.01
                                h3.text24 最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比
                                p 2022年1月18日，北京——国际环保机构绿色和平与中华环保联合会今日共同发布报告《转型与挑战——零排放汽车转型如何助力中国汽车领域碳达峰和碳减排》（下称报告）...
                                
                                .tags 
                                    span #气候与能源
                                    span #新闻

                    .col-md-6
                        a.item.ood(href="news-detail.html" title="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比") 
                            .pic 
                                img(src="img/temp/n02.jpg", alt="最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比")
                            .txt 
                                .dt
                                    .date.text50 18
                                    .month 2022.01
                                h3.text24 最新研究：汽车领域碳达峰后减排乏力，需大幅提高零排放汽车销量占比
                                p 2022年1月18日，北京——国际环保机构绿色和平与中华环保联合会今日共同发布报告《转型与挑战——零排放汽车转型如何助力中国汽车领域碳达峰和碳减排》（下称报告）...
                                
                                .tags 
                                    span #气候与能源
                                    span #新闻
                    
            footer.bt.text-center 
                a.more.text30(href="news.html") 了解更多故事


        section.s4
            img.overly(src="img/slider-overly.svg", alt="遮层")
            .container
                .c1.mb-media-4
                    h3.text36 守护地球50载<br/>感谢有你
                    p 绿色和平的环境保护之旅自1971年正式启航,每一个为环境带来积极改变的成就的发生都源于你的关注与支持。

                .row 
                    .col-lg-4 
                        .sidebar
                            
                            .mb-media-6    
                                ul.years 
                                    li 1969
                                    li.active 1970
                                    li 1971

                            h2.title.text50.mb-media-3 反核的起点
                            p 绿色和平伴随着国际反核运动而诞生、发展。1970年代，我们通过非暴力直接行动，迫使美国放弃了阿拉斯加安其卡岛的核试验基地，迫使法国结束了在南太平洋地区的大气核试验，并最终在1996年成功推动联合国采纳了全面禁止核试验的公约。
                
                    .col-lg-8
                        figure.pic.text-right 
                            img(src="img/home_4.png", alt="守护地球50载感谢有你") 

               
                        
                    

        section.s5
            img.overly(src="img/section-overly.svg", alt="遮层")
            video.bg(src="img/video-bg.mp4" loop autoplay muted playsinline) 
            .c2
                .container
                    .c3
                        h2.text50.mb-media-2 我们相信公众力量
                        p.text20.mb-media-5 汇聚多元凝聚力，环境由你来改变
                        .row 
                            .col 
                                a.text28(href="#") 加入绿色和平
                            .col
                                a.text28.m1(href="#") 成为志愿者
                                
                    
                




        

            
block bkfooter
    
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
       
        var swiper1 = new Swiper('.mySwiper01', {           
            loop:true,
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            navigation: {
                nextEl: ".swiper-next",
                prevEl: ".swiper-prev",
            },
        
        });
     
        var swiper2 = new Swiper(".mySwiper02", {
            slidesPerView: 1,
            spaceBetween: 30,
            navigation: {
                nextEl: ".swiper-next",
                prevEl: ".swiper-prev",
            },
            pagination: {
                el: ".swiper-pagination",
                type: "progressbar",
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 2,
                 
                },
                992: {
                    slidesPerView: 3,                  
                },
              
            },
        });

        var swiper3 = new Swiper(".mySwiper03", {
            slidesPerView: 1,
            spaceBetween: 0,
            pagination: {
            el: ".swiper-pagination",
            clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 2,
                 
                },
                992: {
                    slidesPerView: 3,                  
                },
               
            },
        });

        var swiper4 = new Swiper(".mySwiper04", {
            slidesPerView: 2,
            grid: {
                rows: 3,
            },
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 3,
                 
                },
                992: {
                    slidesPerView: 4,                  
                },               
            },
        });

        $(function(){
            $(".list .li").hover(function(){
                $(this).addClass('active').siblings().removeClass('active');
                current_img = $(this).attr('data-id');
                $('#'+current_img).fadeIn().siblings().fadeOut();
            })

            $(".re-list li").hover(function(){
                $(this).addClass('active').siblings().removeClass('active');
                current_img = $(this).attr('data-id');
                $('#'+current_img).fadeIn().siblings().fadeOut();

            })

             
        })
  