extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')
block content  
    .page.page-home
        section.s1.container
            .c1 
                img(src="img/SVG/c1.svg", alt="")
                .c2 
                .c3

            
            .txt-container 
                .container
                    .txt
                        h1.text60.mb-media-2.wow.fadeInUp Push yourself Live boldly Never settle！
                        ul.list.wow.fadeInUp 
                            li 医疗服务 
                            li 场馆服务
                            li 公共服务
                        ul.list.list1.wow.fadeInUp
                            li 安居服务 
                            li 剧场服务
                            li 校园服务 
                        .btns.text30.wow.fadeInUp                     
                            | 智能化服务体验
                 
            img.down(src="img/SVG/icon-down.svg", alt="向下")
        section.s2
            .container
                h2.title.text30 应用场景
                .pic                        
                    img.wow.fadeInUp(src="img/SVG/app.svg", alt="应用场景")
                       
                h2.title.text30 方案优势
            
           
                .youshi
                    .row.g-xxl-5 
                        .col-md-6.col-lg-4
                            .item 
                                .num.text50 01
                                dl.list
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。

                        .col-md-6.col-lg-4
                            .item 
                                .num.text50 02
                                dl.list
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。

                        .col-md-6.col-lg-4
                            .item 
                                .num.text50 03
                                dl.list
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。
                                    dt.text20 实现高效且低成本智能化升级；
                                    dd 省去大量弱电线和控制机房，提供大面积高密度低延迟的无线解决方案。

                h2.title.text30 合作流程

                .pic2   
                    img.lc(src="img/SVG/hzlc.svg", alt="合作流程")
                    img.ok(src="img/SVG/ok.svg", alt="ok")
                

            
block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
       
     
        $(function () {        
            //- $('body').addClass('home-body');      
            // $('.num').counterUp({time: 2000,});

            var swiper1 = new Swiper('.home-sliders', {
               
                //- speed: 1000,
                //- mousewheel: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                //- navigation: {              
                //-     nextEl: '.swiper-next',
                //-     prevEl: '.swiper-prev',
                //- },
            });

 

            var swiper = new Swiper(".case-sliders", {
                slidesPerView: 1,            
                spaceBetween: 20,
                loop:true,
                navigation: {              
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    992: {
                        slidesPerView: 3,
                        spaceBetween: 20,
                    },
                    1201: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
            
                },
            });

            var swiper = new Swiper(".partner-sliders", {
                slidesPerView: 2,
                slidesPerColumn: 2,
                spaceBetween: 20,
                navigation: {              
                    nextEl: '.swiper-next1',
                    prevEl: '.swiper-prev1',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 20,
                    },
                    1201: {
                        slidesPerView: 6,
                        spaceBetween: 20,
                    },
                },
            });

      
                
        });


  