extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')
block content  
    .page.page-home  
        section.s1
            img.bg(src="img/banners/home.jpg", srcset="img/banners/home@2x.jpg 2x" alt="智能时代门店提升消费者黏性和转化的数字运营手段")
            .txt-container 
                .container
                    h1.text60.mb-media-2 智能时代门店提升消费者黏性和转化的数字运营手段
                    p.text20.mb-media-4 用传感器和物联网重构人、货、场，用智能化算法将购物和运营流程自动化，用数字化手段将商品和消费者全方位互通互联
                    .btns 
                        a.a1(href="#") 了解如何构建和运营数字化触点
                        a.a2(href="#") 试用触点运营工具


        section.s2
            .top 
                .container 
                    .row.align-items-center 
                        .col-md-auto 
                            img(src="img/home-1.svg", alt="艾瑞咨询")
                        .col-md
                            .des.text20 艾瑞咨询在《中国人工智能产业研究报告Ⅲ》中将云拿科技列为人工智能标杆企业
                        .col-md-auto 
                            a.more.text20(href="#") 阅读报告


            .fea.container.pt-media-6.pb-media-6                
                .row 
                    .col-md-6.col-lg-4
                        .item 
                            .icon 
                                img(src="img/home-2.svg", alt="数字运营化")
                            .txt
                                h3.text24 数字运营化
                                p 用传感器和物联网实现物体、设备、仪器的数字化升级，通过应用软件的互联互通，彻底改变传统运营方式

                    .col-md-6.col-lg-4
                        .item 
                            .icon 
                                img(src="img/home-3.svg", alt="流程自动化")
                            .txt
                                h3.text24 流程自动化
                                p 用人工智能技术代替简单、机械、重复的流程，提高效率，降低成本

                    .col-md-6.col-lg-4
                        .item 
                            .icon 
                                img(src="img/home-4.svg", alt="")
                            .txt
                                h3.text24 服务智能化
                                p 利用数据和算法打造智能化服务与体验，提升顾客黏性，进而达到高转化的经营目的

        section.s3.pt-media-6.pb-media-6
            .container 
                .title-section.text-center.mb-media-3
                    h2.text36 云拿数智化方案应用场景
                    p 以独有的计算机视觉、机器学习和多传感融合技术，构建前所未有的“人、货、场”四维空间数据集，在此基础上利用算法获得全方位、多维度的洞察，创造更多颠覆人们工作、生活方式的人工智能应用与产品
                    p 云拿能够为您提供高效提升ROI的技术以及解决方案

                .apps
                    .swiper-container.case-sliders
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    .pic
                                        img(src="img/home-5.jpg", alt="") 
                                    .txt 
                                        h3.text22 数智化实体零售
                                        p 利用人工智能和大数据技术提升消费者的购物体验，提高零售商的运营决策效率，帮助品牌商建立感知、触达消费者的渠道                                    
                                        a.more(href="#") 了解更多

                            .swiper-slide
                                .item
                                    .pic
                                        img(src="img/home-6.jpg", alt="") 
                                    .txt 
                                        h3.text22 自动化仓储管理
                                        p 借助机器学习算法自动识别货物品类，实时计算并更新存货流通状态，实现仓库少人化乃至去人化的高效管理与运营                                  
                                        a.more(href="#") 了解更多
                                    
                            .swiper-slide
                                .item
                                    .pic
                                        img(src="img/home-7.jpg", alt="智能服务") 
                                    .txt 
                                        h3.text22 智能服务
                                        p 依托智能化工具和算法提供人机结合式的服务，自动识别服务步骤，确保SOP有效执行，进一步提升服务品质                                  
                                        a.more(href="#") 了解更多

                            .swiper-slide
                                .item
                                    .pic
                                        img(src="img/home-8.jpg", alt="工业及制造") 
                                    .txt 
                                        h3.text22 工业及制造
                                        p 运用传感器、物联网以及智能化算法代替简单、机械、重复的人力工作，提高生产效率，降低错误率                                 
                                        a.more(href="#") 了解更多


                    //- .swiper-pagination              
                    .swiper-next
                        i.iconfont.icon-next
                    .swiper-prev
                        i.iconfont.icon-prev

        section.s4.pt-media-9.pb-media-9(style="background-image:url(img/home-9.jpg);")
            .container
                .row.align-items-center
                    .col-lg-7
                        .vid
                            video(src="#",poster="img/home-10.jpg") 
                    .col-lg-5 
                        .txt 
                            h3.text36.mb-media-3 在充满挑战的后疫情时代助力德国线下零售智慧升级
                            p.mb-media-3 德国数一数二的零售品牌如何以数智化技术为消费者提供无接触式购物体验？如何灵活部署、快速实现场景化落地？
                            a.more(href="#") 查看更多客户成功案例视频
                

            
                           

        section.s5.pt-media-6.pb-media-6(style="background-image:url(img/home-11.jpg);") 
            .container
                .txt
                    h2.title.text36.wow.fadeInUp 体验云拿产品及解决方案            
                    p.text20.wow.fadeInUp 试用云拿系统，一起感受数智化技术带来的工作、服务方式转变
                    a.more.wow.fadeInUp.text20(href="#") 获得产品经理1对1讲解 
                        span or 
                        | 申请试用Smart零售SaaS运营后台
           

        section.s6
            img.pic(src="img/home-12.jpg", alt="")
            .txt-container 
                .container      
                    .txt  
                        h2.title.text36.mb-media-2 企业影响力 — 媒体评价
                        p.mb-media-4 云拿是人工智能和数字化技术领域的领军企业，具有一定的全球影响力云拿曾在2018年被《财富》杂志评选为最具创新力的企业：“用人的创造力结合机器算法和计算力来创造人机结合的新产品和新技术，将是未来云拿独树一帜的创新风格。”
                        .row.mb-media-3
                            .col 
                                .item 
                                    .num.text100 90
                                        span.unit.text40 %
                                    p.text22 产品及服务续约

                            .col
                                .item 
                                    .num.text100 100
                                        span.unit.text40 +
                                    p.text22 全球合作伙伴和客户
                        a.more.text20(href="#") 阅读更多报道
            
        section.s7
            img.pic(src="img/home-13.jpg", alt="")
            .txt-container 
                .container      
                    .txt  
                        p 免费电子书下载 产品使用
                        h2.title.text36.mb-media-2 产品使用手册：如何用数字化手段实现智能化实体零售运营
                        p.mb-media-4 这是一本信息覆盖最全的电子书，产品使用者必读，可帮助你的零售业态更加快速高效地实现数智化转型
           
                        a.more.text20(href="#") 下载电子书
              
            
block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
       
     
        $(function () {        
            //- $('body').addClass('home-body');      
            // $('.num').counterUp({time: 2000,});

            var swiper1 = new Swiper('.home-sliders', {
               
                //- speed: 1000,
                //- mousewheel: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
                //- navigation: {              
                //-     nextEl: '.swiper-next',
                //-     prevEl: '.swiper-prev',
                //- },
            });

 

            var swiper = new Swiper(".case-sliders", {
                slidesPerView: 1,            
                spaceBetween: 20,
                loop:true,
                navigation: {              
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 3,
                        spaceBetween: 20,
                    },
                    1024: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
            
                },
            });

            var swiper = new Swiper(".partner-sliders", {
                slidesPerView: 2,
                slidesPerColumn: 2,
                spaceBetween: 20,
                navigation: {              
                    nextEl: '.swiper-next1',
                    prevEl: '.swiper-prev1',
                },
                 breakpoints: {
                    640: {
                        slidesPerView: 2,
                        spaceBetween: 20,
                    },
                    768: {
                        slidesPerView: 4,
                        spaceBetween: 20,
                    },
                    1024: {
                        slidesPerView: 5,
                        spaceBetween: 20,
                    },
                    1201: {
                        slidesPerView: 6,
                        spaceBetween: 20,
                    },
                },
            });

      
                
        });


  