extends includes/layoutForHome.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')
    link(href='js/vendor/fullPage/fullpage.min.css', rel='stylesheet')
block content  
    #fullpage.page-home  
        section.section.s1.banner.banner-news
           
            #aniels.aniels
                .c(data-depth="0.2")
                    img(src="img/banners/product_c.png", alt="")
            
                .title(data-depth="0.4")                    
                    img(src="img/title_innovation.png", alt="")

                .lc(data-depth="0.6") 
                    p COOPERATION 合作
                .rc(data-depth="0.6") 
                    p PARTICIPATE 分享
          
            video#myVideo.vid(playsinline, autoplay, muted, loop, poster="img/banners/home.jpg")
                source(src="img/home.mp4", type="video/mp4")

            .cover(style="background-image:url('img/banners/home_cover.png');")
            


        section.section.s2(style="background-image:url(img/banners/about_home.jpg)")
            .content
                .c
                    img(src="img/banners/about_home_c.png", alt="")
                .txt-container
                    .tc-box.pt-media-5
                        .title_cn.animated(data-animate="fadeInLeft")
                            img(src="img/title_about_cn.png", alt="")
                        .title.mb-media-5.animated(data-animate="fadeInRight")
                            img(src="img/title_about.png", alt="")
                        .des.animated(data-animate="fadeInLeft")
                            p 我们是先进的科技产品服务商，是连接
                                br
                                | 上游供应商和客户的桥梁

                        .go.animated(data-animate="fadeInRight")
                            a(href="about.html")
                                img(src="img/go.svg", alt="")


        section.section.s2.s3(style="background-image:url(img/banners/product_home.jpg)")
            .content
                .c
                    img(src="img/banners/product_home_c.png", alt="")
                .txt-container
                    .tc-box.pt-media-5
                        .title_cn.animated(data-animate="fadeInLeft")
                            img(src="img/title_product_cn.png", alt="")
                        .title.mb-media-5.animated(data-animate="fadeInRight")
                            img(src="img/title_product.png", alt="")
                        .des.animated(data-animate="fadeInLeft")
                            p 数码
                                br
                                | DIGITAL

                        .go.animated(data-animate="fadeInRight")
                            a(href="categories.html")
                                img(src="img/go.svg", alt="")

                        
        section.section.s2.s4(style="background-image:url(img/banners/news_home.jpg)")
            .content
                .c
                    img(src="img/banners/news_home_c.png", alt="")
                .txt-container
                    .tc-box.pt-media-5
                        .title_cn.animated(data-animate="fadeInLeft")
                            img(src="img/title_news_cn.png", alt="")
                        .title.mb-media-5.animated(data-animate="fadeInRight")
                            img(src="img/title_news.png", alt="")
                        .des.animated(data-animate="fadeInLeft")
                            p.newstitle
                                a(href="news_detail.html") 美光科技推出业界首款基于领先的 64 层 3D NAND技术构建的企业级 SATA 固态硬盘

                        .go.animated(data-animate="fadeInRight")
                            a(href="news_detail.html")
                                img(src="img/go.svg", alt="")


        section.section.s2.s5(style="background-image:url(img/banners/agent_home.jpg)")
            .content
                .c
                    img(src="img/banners/agent_home_c.png", alt="")
                .txt-container
                    .tc-box.pt-media-5
                        .title_cn.animated(data-animate="fadeInLeft")
                            img(src="img/title_agent_cn.png", alt="")
                        .title.mb-media-5.animated(data-animate="fadeInRight")
                            img(src="img/title_agent.png", alt="")
                        .des.animated(data-animate="fadeInLeft")
                            p.newstitle
                                a(href="products.html") 
                                    strong.text24 Panasonic
                                    | 世界制造业500强全球性电子厂商

                        .go.animated(data-animate="fadeInRight")
                            a(href="products.html")
                                img(src="img/go.svg", alt="")


           


        section.section.s2.s6(style="background-image:url(img/banners/join_home.jpg)")
            .content
                .c
                    img(src="img/banners/join_home_c.png", alt="")
                .txt-container
                    .tc-box.pt-media-5
                        .title_cn.animated(data-animate="fadeInLeft")
                            img(src="img/title_join_cn.png", alt="")
                        .title.mb-media-5.animated(data-animate="fadeInRight")
                            img(src="img/title_join.png", alt="")
                        .des.animated(data-animate="fadeInLeft")
                            p 我们是先进的科技产品服务商，是连接
                                br
                                | 上游供应商和客户的桥梁

                        .go.animated(data-animate="fadeInRight")
                            a(href="join.html")
                                img(src="img/go.svg", alt="")

        section.section.fp-auto-height
            include includes/footerForHome.pug

            
block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script(src='js/vendor/fullPage/fullpage.min.js')
    script.
       

        $(function () {        
            $('body').addClass('home-body');     
            //- var scene1 = document.getElementById('aniels1');
            //- if(scene1){
            //-     var parallaxInstance = new Parallax(scene1);
            //- }
            //- var scene2 = document.getElementById('aniels2');
            //- if(scene2){
            //-     var parallaxInstance = new Parallax(scene2);
            //- }

            //- var scene3 = document.getElementById('aniels3');
            //- if(scene3){
            //-     var parallaxInstance = new Parallax(scene3);
            //- }

            //- var scene4 = document.getElementById('aniels4');
            //- if(scene4){
            //-     var parallaxInstance = new Parallax(scene4);
            //- }

            //- var scene5 = document.getElementById('aniels5');
            //- if(scene5){
            //-     var parallaxInstance = new Parallax(scene5);
            //- }

            $('#fullpage').fullpage({
                 //options here
                licenseKey: "750A6298-E6DA42F7-9B37E662-7341082F",
            //    sectionsColor: ['#000', '#000', '#000', '#000', '#000'],
            //    anchors: ['firstPage', 'secondPage', 'thirdPage', 'fourthPage', 'lastPage'],
            //    menu: '#myMenu',
            //    fadingEffect: true,
            //    fadingEffectKey: 'YWx2YXJvdHJpZ28uY29tXzAzN1ptRmthVzVuUldabVpXTjBiNXo=',

                afterLoad: function (origin, destination, direction) {
                     // var loadedSection = this;
                     // console.log(loadedSection);
                     // console.log(destination.item);
                    var orEls = $(origin.item).find(".animated");               
                    orEls.each(function () {

                        var orEffect = $(this).attr("data-animate");
                        var orDelay = "delay-" + $(this).attr("data-delay");

                        $(this).removeClass(orEffect);
                        if (orDelay) {
                            $(this).removeClass(orDelay);
                        }

                    });

                    var els = $(destination.item).find(".animated");
                    els.each(function () {
                        var effect = $(this).attr("data-animate");
                        var delay = "delay-" + $(this).attr("data-delay");

                        $(this).addClass(effect);
                        if (delay) {
                            $(this).addClass(delay);
                        }

                    });

            //        $("#pass").removeClass('m' + origin.index).addClass("m" + destination.index);
            //        $("#senum").text(destination.index + 1);
            //        //  alert(destination.index);
            //        //  alert(origin.index);
                    if (destination.index == 0) {
                        var x = document.getElementById("myVideo");
                         x.play();
                        function playVid() {
                            x.play();
                        }

                        function pauseVid() {
                            x.pause();
                        }

                    } 


            //        setTimeout(function () {
            //            //   $("#s" + (origin.index + 1)).addClass('second').css({ 'transition': 'all 1s' })
            //            $("#s" + (destination.index + 1)).css({ 'transition': 'none' });
            //            $(document).mousemove(function (event) {
            //                var maxdeg = 7;
            //                // $("span").text(event.pageX + ", " + event.pageY);
            //                var x = (event.pageX - w / 2) / (w / 2) * maxdeg;
            //                var y = (event.pageY - h / 2) / (h / 2) * maxdeg;

            //                document.getElementById("s" + (destination.index + 1)).style.transform = "rotateX(" + -y + "deg) rotateY(" + x + "deg)  scale(1.4)  translateZ(-15vw)";

            //                // console.log("rotateX("+ x +"deg) rotateY("+ y +"deg)");
            //            });
            //        }, 1000);


               }
            });
            
        });

  