extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='js/vendor/swiper/css/swiper.min.css', rel='stylesheet')
    
block content
    section.sliders.swiper-container.wow.fadeInUp
        .swiper-wrapper
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/slider01.jpg", alt="")
                    
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/slider01.jpg", alt="")
                    
            .swiper-slide
                a(href="singapore_projects.html")
                    img(src="img/temp/slider01.jpg", alt="")
       
        .swiper-pagination       

    .page-home  
        section.s1.container          
             
            .ann-title
                img(src="img/logo.png", alt="logo")
                h3.wow.fadeInUp 通知公告 
                    i.iconfont.icon-right

    
            .ann-last
                .ann-sliders.swiper-container.wow.fadeInUp
                    .swiper-wrapper
                        .swiper-slide
                            .item
                                time 2020-01-07
                                a(href="ann_detail.html") 中科院深圳先进技术研究院实验室净化空调及通风系统维保服务项目中标公示
                                
                        .swiper-slide
                            .item
                                time 2020-01-07
                                a(href="ann_detail.html") 中科院深圳先进技术研究院实验室净化空调及通风系统维保服务项目中标公示
                                
                        .swiper-slide
                            .item
                                time 2020-01-07
                                a(href="ann_detail.html") 中科院深圳先进技术研究院实验室净化空调及通风系统维保服务项目中标公示
                
                .swiper-button-next
                    i.iconfont.icon-next
                .swiper-button-prev
                    i.iconfont.icon-prev

                           

        section.s2
            .container
                .title-section.wow.fadeInUp
                    h2.text-center 热点新闻
                    a.more(href="news.html") 了解更多
                 
                .laster.swiper-container.wow.fadeInUp
                    .swiper-wrapper
                        .swiper-slide
                            a.item(href="news_detail.html")
                                .pic
                                    img(src="img/temp/n4.jpg", alt="")
                                .des 
                                    h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                    time 2020-01-07

                        .swiper-slide
                            a.item(href="news_detail.html")
                                .pic
                                    img(src="img/temp/n4.jpg", alt="")
                                .des 
                                    h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                    time 2020-01-07
                        .swiper-slide
                            a.item(href="news_detail.html")
                                .pic
                                    img(src="img/temp/n4.jpg", alt="")
                                .des 
                                    h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                    time 2020-01-07
                        .swiper-slide
                            a.item(href="news_detail.html")
                                .pic
                                    img(src="img/temp/n4.jpg", alt="")
                                .des 
                                    h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                    time 2020-01-07
                        .swiper-slide
                            a.item(href="news_detail.html")
                                .pic
                                    img(src="img/temp/n4.jpg", alt="")
                                .des 
                                    h3 深港脑科学创新研究院SIAT-UBC院士工作站正式揭牌成立
                                    time 2020-01-07

                    .swiper-pagination       

                    .swiper-button-next
                        i.iconfont.icon-next
                    .swiper-button-prev
                        i.iconfont.icon-prev
                        
                         

        section.s3
            .container  
                .content         
                    .title-section.wow.fadeInUp
                        h2 汇聚英才    招贤纳士

                    p 脑院秉承“近者悦，远者来”：引进比自己学术能力强、威望高、影响力大的人才；帮扶年轻人尽快腾飞。各核心研究方向研究队伍进一步壮大、优化。
                    .row
                        .col-auto
                            .val
                                .num 183
                                .title 脑院员工总人数
                                
                        .col-auto
                            .val
                                .num 80
                                .title 正高级序列人数
                                .col
                        .col-auto
                            .val
                                .num 103
                                .title 副高级序列人数

                    a.more(href="team.html") 了解更多


        section.s4
            .researches.swiper-container.wow.fadeInUp
                .swiper-wrapper       
                    .swiper-slide
                        .item(style="background-image:url('img/home_bg1.jpg');")
                            img(src="img/icon_naogongneng.png", alt="")
                            h4.title 脑功能图谱与行为
                                br 
                                | 研究中心
                    .swiper-slide
                        .item(style="background-image:url('img/home_bg2.jpg');")
                            img(src="img/icon_naorenzhi.png", alt="")
                            h4.title 脑认知与类脑智能
                                br 
                                | 研究中心
                    .swiper-slide
                        .item(style="background-image:url('img/home_bg3.jpg');")
                            img(src="img/icon_shenjingfayu.png", alt="")
                            h4.title 神经发育与退行性脑疾病
                                br 
                                | 研究中心
                    .swiper-slide
                        .item(style="background-image:url('img/home_bg4.jpg');")
                            img(src="img/icon_jiyinbianji_.png", alt="")
                            h4.title 基因编辑脑疾病动物模型
                                br 
                                | 研究中心
                    .swiper-slide
                        .item(style="background-image:url('img/home_bg5.jpg');")
                            img(src="img/icon_neiershenjing.png", alt="")
                            h4.title 内尔神经可塑性
                                br 
                                | 诺奖实验室

                .swiper-button-next
                        i.iconfont.icon-next
                .swiper-button-prev
                    i.iconfont.icon-prev

        section.s5
            .container
                .content
                    .title-section.wow.fadeInUp
                        h2 合作交流

                    p 吸引国际同行，发出国际声音，站到人类科技命运共同体的高度，共谋脑科学未来发展。                  

                    a.more(href="team.html") 了解更多

                 
          

        

block bkfooter

    script(src='js/vendor/swiper/js/swiper.min.js')
    script.
        //Make sure that the dom is ready
        var swiper = new Swiper('.sliders', {
            pagination: {
                el: '.swiper-pagination',
                clickable: true
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            }
        
        });

        var swiper1 = new Swiper('.ann-sliders', {
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            }
        });
        var swiper2 = new Swiper('.laster', {
            slidesPerView: 3,
            spaceBetween: 30,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
             pagination: {
                el: '.swiper-pagination',
                clickable: true,
            },
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            breakpoints: {
            640: {
                slidesPerView: 1,
                spaceBetween: 20,
            },
            768: {
                slidesPerView: 2,
                spaceBetween: 30,
            },
            1024: {
                slidesPerView: 3,
                spaceBetween: 30,
            },
        }
        });

        var swiper3 = new Swiper('.researches', {
            slidesPerView: 5,
            spaceBetween:0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        
            autoplay: {
                delay: 2500,
                disableOnInteraction: false,
            },
            breakpoints: {
            640: {
                slidesPerView: 2,
              
            },
            768: {
                slidesPerView: 3,
            
            },
            1024: {
                slidesPerView: 4,
       
            },
            1600: {
                slidesPerView: 4,
       
            },
        }
        });

        $(function () {        
            $('body').addClass('home-body');        
        });

        //- var swiper = new Swiper('.research-container', {
        //-     slidesPerView: 3,
        //-      spaceBetween: 30,
        //-       navigation: {
        //-         nextEl: '.swiper-next1',
        //-         prevEl: '.swiper-prev1',
        //-     },
        //-     pagination: {
        //-         el: '.swiper-pagination',
        //-         clickable: true,
        //-     },
        //- });
    
        //- var galleryTop = new Swiper('.gallery-top', {
        //-     spaceBetween: 0,
        //-     navigation: {
        //-         nextEl: '.swiper-next2',
        //-         prevEl: '.swiper-prev2',
        //-     },
        //-     pagination: {
        //-         el: '.swiper-pagination',
        //-         clickable: true
        //-     },
        //-     hashNavigation: {
        //-         watchState: true,
        //-     }
           
        //- });

        //- $(".tab-header .item").eq(galleryTop.activeIndex).addClass("active");
        //- galleryTop.on('slideChange', function () {
          
        //-     $(".tab-header .active").removeClass("active");
        //-     $(".tab-header .item").eq(this.activeIndex).addClass("active");
        //- });

     
