extends includes/layout.pug

block title
    | 首页

block bkheader
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')

block content
    

    .page.page-home  
        .s1
            .container
                .txt 
                    h2 At premium parts, 
                    p we ensure customer to receive, accurate, fast, on time, sufficient support and services
                    .row.actions.align-items-center
                        .col-auto
                            a(href="#") 
                                i.iconfont.icon-play
                        .col
                            a.quote(href="javascript:void(0);") Request A Quote
        
        section.s2            
            .container
                .row.align-items-center
                    .col-md-auto
                        .pic.wow.fadeInLeft
                            img(src="img/about_01.jpg", alt="")
                    .col-md
                        .intro
                            .title-section.wow.fadeInUp
                                h2 ABOUT US
                            p At  Premium Part, our core competencies and focus revolves around quality service delivery. We strive to provide each and every client with a truly rapid manufacturing process that will yield premium, functional parts through the most cost-effective approach.
                            p Premium Parts specializes in a wide array of services for both low-volume and mass production quantities. Our array of services include rapid prototyping, low-volume manufacturing, CNC Machining, 3D Printing, Urethane ...
                            a.btn.btn-primary-outline(href="about.html") MORE

        section.s3
                .title-section.wow.fadeInUp
                    h2.text-center What we can do?
                .row.no-gutters                    
                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_01.jpg")
                            .des      
                                h3.title CNC Machining
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE
                                    
                    
                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_02.jpg")
                            .des      
                                h3.title Sheet Metal
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE


                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_03.jpg")
                            .des      
                                h3.title Cast Urethane
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_04.jpg")
                            .des      
                                h3.title Aluminum Extrusion
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_05.jpg")
                            .des      
                                h3.title Rapid Tooling
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_06.jpg")
                            .des      
                                h3.title Plastic Injection Molding
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_07.jpg")
                            .des      
                                h3.title Die Casting
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_08.jpg")
                            .des      
                                h3.title 3D printing
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE

                    .col-md-4
                        a.item.wow.fadeInUp(href="news_detail.html")
                            .pic
                                img(src="img/temp/news_09.jpg")
                            .des      
                                h3.title Post machining surface finishing service
                                p CNC Machining CNC Machining CNC Machining
                                .btn.btn-default-outline MORE
                    
        .section.s4
            .container
                .title-section-v2.wow.fadeInUp
                    h2.text-center Why choose premium parts?
                    p.text-center Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.
                    
                .tab-header.wow.fadeInUp
                    .row
                        .col-4.col-md-2
                            a.item.active(href="#sl01")
                                .icon
                                    img(src="img/icon-01.png", srcset="img/icon-01.png,img/icon-01@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities
                        .col-4.col-md-2
                            a.item(href="#sl02")
                                .icon
                                    img(src="img/icon-02.png", srcset="img/icon-02.png,img/icon-02@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities
                        .col-4.col-md-2
                            a.item(href="#sl03")
                                .icon
                                    img(src="img/icon-03.png", srcset="img/icon-03.png,img/icon-03@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities
                        .col-4.col-md-2
                            a.item(href="#sl04")
                                .icon
                                    img(src="img/icon-04.png", srcset="img/icon-04.png,img/icon-04@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities
                        .col-4.col-md-2
                            a.item(href="#sl05")
                                .icon
                                    img(src="img/icon-05.png", srcset="img/icon-05.png,img/icon-05@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities
                        .col-4.col-md-2
                            a.item(href="#sl06")
                                .icon
                                    img(src="img/icon-06.png", srcset="img/icon-06.png,img/icon-06@2x.png 2x" alt="Manufacturing capabilities")
                                .txt Manufacturing 
                                    br
                                    | capabilities

            .swiperel.wow.fadeInUp
                .container
                    .swiper01.swiper-container
                        .swiper-wrapper
                            .swiper-slide(data-hash="sl01")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”

                            .swiper-slide(data-hash="sl02")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”
                            .swiper-slide(data-hash="sl03")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”
                            .swiper-slide(data-hash="sl04")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”
                            .swiper-slide(data-hash="sl05")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”
                            .swiper-slide(data-hash="sl06")
                                .item(style={'background-image':'url(../img/bg_02.jpg)'})
                                    .txt
                                        .txtwrap
                                            h3 Quick Turnaround
                                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain long-term cooperation.”
                .swiper-button-next
                .swiper-button-prev
            
        section.s5
            .row.no-gutters
                .col-6.col-md-3.col-xl-2
                    a.item.material.wow.fadeInUp(href="material.html") 
                        .module Select the material
                .col-6.col-md-3.col-xl-2
                    a.item.blog.wow.fadeInUp(href="blog.html") 
                        .module BLOG
                .col-md-6.col-xl-8
                    a.item.faq.wow.fadeInUp(href="faq.html") 
                        .des 
                            h3 FAQs
                            p Premium parts has the best team, which brings us good profits and attracts a large number of people Loyal customers,We will maintain 
                            .more more



block bkfooter
    script(src='plugins/swiper/js/swiper.min.js')
    script.
    

    
        var galleryTop = new Swiper('.swiper01', {
            spaceBetween: 0,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            hashNavigation: {
                watchState: true,
            }
           
        });

        $(".tab-header .item").eq(galleryTop.activeIndex).addClass("active");
        galleryTop.on('slideChange', function () {
          
            $(".tab-header .active").removeClass("active");
            $(".tab-header .item").eq(this.activeIndex).addClass("active");
        });

     
