
extends includes/layout.pug

block title
    | 首页
    //- - var bodyClass = ['tzg-body home-body'];
    - var currentUrl = 'index.html'
block bkheader    

    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
    script(src='js/vendor/swiper/swiper-bundle.min.js')
block content  
    .banner.banner-video
        video#vid(poster="img/poster.jpg")
            source(src="img/video-2.m4v" type="video/mp4")

        a#btnPlay.play(href="javascript:void(0)") 
            img(src="img/icon-play.svg", alt="播放")

    .toolbar-search 
        .row.g-0 
            .col 
                #jobList.form-control.fc01
                    i.iconfont.icon-rili 
                    sapn.name 职能与推广
                    i.iconfont.icon-arrow-down
                    //- select#jobList(name="job") 
                    //-     option(value="") 职能
            .col 
                #cityList.form-control.fc02 
                    i.iconfont.icon-jianzhu 
                    span.name 城市
                    i.iconfont.icon-arrow-down
                    //- select#cityList(name="city") 
                    //-     option(value="") 城市
            .col
                #btnEnter.form-control.last
                    i.iconfont.icon-search 
                    span.name 搜索
                    i.iconfont.icon-arrow-down
                 

    #searchbox.searchbox 
        input#keyword(type="search", name="keyword", placeholder="关键字")
        button#btnSearch(type="button")
            i.iconfont.icon-search
    section.page-home-s1 
        .job-list
            .card 
                .card-header 
                    .row 
                        .col 
                            a(href="job_detail.html")  医药代表抗肿事业部
                        .col-auto 
                            .money 20K-40K
                .card-body 
                    dl  
                        dd 安徽·合肥
                        dd 5-10年

                .card-footer 
                    .row 
                        .col 
                            .department 营销部
                        .col-auto 
                            .date 2021-10-20

            .card 
                .card-header 
                    .row 
                        .col 
                            a(href="job_detail.html")  医药代表抗肿事业部
                        .col-auto 
                            .money 20K-40K
                .card-body 
                    dl  
                        dd 安徽·合肥
                        dd 5-10年

                .card-footer 
                    .row 
                        .col 
                            .department 营销部
                        .col-auto 
                            .date 2021-10-20

            .card 
                .card-header 
                    .row 
                        .col 
                            a(href="job_detail.html")  医药代表抗肿事业部
                        .col-auto 
                            .money 20K-40K
                .card-body 
                    dl  
                        dd 安徽·合肥
                        dd 5-10年

                .card-footer 
                    .row 
                        .col 
                            .department 营销部
                        .col-auto 
                            .date 2021-10-20





                            
                    
                




        

            
block bkfooter
    
    //- script(src='js/libs/gsap.min.js')
    //- script(src='js/libs/MotionPathPlugin.min.js')
    //- script(src='js/libs/MotionPathHelper.min.js')
   
    //- //script(src='js/vendor/waypoints/lib/jquery.waypoints.min.js')
    //- //script(src='js/vendor/jquery.counterup/jquery.counterup.min.js')
    script.
        var x = document.getElementById("vid");
        $("#btnPlay").click(function(e){
            x.play();
            $(this).fadeOut();
        })
        
        var swiper4 = new Swiper(".mySwiper04", {
            slidesPerView: 2,
            grid: {
                rows: 3,
            },
            spaceBetween: 30,
            pagination: {
                el: ".swiper-pagination",
                clickable: true,
            },
            breakpoints: {
                640: {
                    slidesPerView: 2,
                 
                },
                768: {
                    slidesPerView: 3,
                 
                },
                992: {
                    slidesPerView: 4,                  
                },               
            },
        });

        var picker1El = document.getElementById('jobList');
        var data1 = [
            {
            text: '剧毒',
            value: 1
            }, {
            text: '蚂蚁',
            value: 2
            },
            {
            text: '幽鬼',
            value: 3
            },
            {
            text: '主宰',
            value: 4
            },
            {
            text: '卡尔',
            value: 5
            },
            {
            text: '宙斯',
            value: 6
            },
            {
            text: '巫医',
            value: 7
            }, {
            text: '巫妖',
            value: 8
            },
            {
            text: '神谕者',
            value: 9
            },
            {
            text: '撼地神牛',
            value: 10
            },
            {
            text: '蓝胖子',
            value: 11
            },
            {
            text: '水晶室女',
            value: 12
            },
            {
            text: '莉娜',
            value: 13
            },
            {
            text: '斯拉克',
            value: 14
            },
            {
            text: '斯拉达',
            value: 15
            }
        ];
        var picker1 = new Picker({
            data: [data1]
        });

        picker1.on('picker.select', function (selectedVal, selectedIndex) {
            children = picker1El.querySelector('.name');
            children.innerText = data1[selectedIndex[0]].text;
        });

        picker1.on('picker.change', function (index, selectedIndex) {
            console.log(index);
        });

        picker1.on('picker.valuechange', function (selectedVal, selectedIndex) {
            console.log(selectedVal);
        });

        picker1El.addEventListener('click', function () {
            picker1.show();
        });


        $(function(){
            $(".list .li").hover(function(){
                $(this).addClass('active').siblings().removeClass('active');
                current_img = $(this).attr('data-id');
                $('#'+current_img).fadeIn().siblings().fadeOut();
            })

            $(".re-list li").hover(function(){
                $(this).addClass('active').siblings().removeClass('active');
                current_img = $(this).attr('data-id');
                $('#'+current_img).fadeIn().siblings().fadeOut();

            });
            jQuery('#btnEnter').click(function(e){
                e.preventDefault();
                jQuery('#searchbox').slideToggle();
            });

             
        })
  