extends includes/layout.pug

block title
    | 机构设置

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_about.jpg)")
        .container
            h1.title-page 关于我们
            nav.submenus 
                a(href="about.html") 院况简介              
                a(href="leadership.html") 现任领导             
                a.active(href="institutions.html") 机构设置
       
        
    .page.page-institutions.container
        section.s1
            .title-section.wow.fadeInUp             
                h2.text-center 深港脑科学创新研究院（筹）-  组织管理架构（拟）
            figure.pic.wow.fadeInUp           
                img(src="img/about_05.png", alt="机构")

        
        

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
