extends includes/layout.pug

block title
    | 新闻动态

block content
    .banner2(style="background-color:#0F2351;height:150px;")
        
   
    .page.page-investor-detail.pt-media-5.pb-media-6
        .container
            .row 
                .col-lg-9 
                    article.one_article
                        h1.title.text32.wow.fadeInUp 发展互联网医疗服务 解决病人多看病难问题
                        .row.wow.fadeInUp.mb-media-3
                            .col 
                                .date 2020.07.11  1小时前   
                            .col-auto
                                a.down(href="#")  公告原文件下载地址: 
                                    i.iconfont.icon-download
                            
                        main#artContent.content.wow.fadeInUp
                            
                            figure.pic
                                img(src="img/temp/inv_1.png", alt="")
                          
                .col-lg-3                
                    .pagenav.wow.fadeInUp                  
                        a.news-nav(href="news_detail.html")                  
                            | 上一篇：发展互联网医疗服务 解决病人多看病难问题
                        a.news-nav(href="news_detail.html")                    
                            | 下一篇：解决病人多看病难问题
                   
          

block bkfooter
    script.
        