extends includes/layout.pug

block title
    | 链接管理

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-job.jpg')")  

    .page.page-jobs.container
        .title-section.wow.fadeInUp
            h2 青青子衿，悠悠我心


        section.joblist
            .item.wow.fadeInUp
                .row
                    .col.col-md-4 海外销售                        
                    .col-3.address 广州
                    .col-3.part 海外市场部
                    .col-auto.col-m-2 
                        a.opendetail(href="javascript:void(0);")
                            | 查看 
                            i.iconfont.icon-allow-down
                main.detail
                    ul.addpart
                        li 地址：广州
                        li 部门：海外市场部
                    .row
                        .col-md-6
                            h3 岗位职责
                            ol
                                li 根据方案图制作生产图。
                                li 售前技术支持，技术交流以及投标。 
                                li 设计产品的现场问题解决。 
                                li 参与新产品开发。 
                                li 部门主管指派的其它工作。
                        .col-md-6
                            h3 岗位要求
                            ol
                                li 从事压力容器或过滤设备设计两年以上，会系统管路设计优先。 
                                li 熟悉压力容器标准规范，熟悉 ASME，PED 规范更佳。 
                                li 熟练操作 Auto-CAD 和 Solid-works 软件。 
                                li 英语四级以上，能读懂英文标准及相关资料,听说能力好优先。
                                li 有良好的沟通和协调能力。
                                li 学习能力强。
            .item.wow.fadeInUp
                .row
                    .col.col-md-4 海外销售                        
                    .col-3.address 广州
                    .col-3.part 海外市场部
                    .col-auto.col-m-2 
                        a.opendetail(href="javascript:void(0);")
                            | 查看 
                            i.iconfont.icon-allow-down
                main.detail
                    ul.addpart
                        li 地址：广州
                        li 部门：海外市场部
                    .row
                        .col-md-6
                            h3 岗位职责
                            ol
                                li 根据方案图制作生产图。
                                li 售前技术支持，技术交流以及投标。 
                                li 设计产品的现场问题解决。 
                                li 参与新产品开发。 
                                li 部门主管指派的其它工作。
                        .col-md-6
                            h3 岗位要求
                            ol
                                li 从事压力容器或过滤设备设计两年以上，会系统管路设计优先。 
                                li 熟悉压力容器标准规范，熟悉 ASME，PED 规范更佳。 
                                li 熟练操作 Auto-CAD 和 Solid-works 软件。 
                                li 英语四级以上，能读懂英文标准及相关资料,听说能力好优先。
                                li 有良好的沟通和协调能力。
                                li 学习能力强。
            .item.wow.fadeInUp
                .row
                    .col.col-md-4 海外销售                        
                    .col-3.address 广州
                    .col-3.part 海外市场部
                    .col-auto.col-m-2 
                        a.opendetail(href="javascript:void(0);")
                            | 查看 
                            i.iconfont.icon-allow-down
                main.detail
                    ul.addpart
                        li 地址：广州
                        li 部门：海外市场部
                    .row
                        .col-md-6
                            h3 岗位职责
                            ol
                                li 根据方案图制作生产图。
                                li 售前技术支持，技术交流以及投标。 
                                li 设计产品的现场问题解决。 
                                li 参与新产品开发。 
                                li 部门主管指派的其它工作。
                        .col-md-6
                            h3 岗位要求
                            ol
                                li 从事压力容器或过滤设备设计两年以上，会系统管路设计优先。 
                                li 熟悉压力容器标准规范，熟悉 ASME，PED 规范更佳。 
                                li 熟练操作 Auto-CAD 和 Solid-works 软件。 
                                li 英语四级以上，能读懂英文标准及相关资料,听说能力好优先。
                                li 有良好的沟通和协调能力。
                                li 学习能力强。
            .item.wow.fadeInUp
                .row
                    .col.col-md-4 海外销售                        
                    .col-3.address 广州
                    .col-3.part 海外市场部
                    .col-auto.col-m-2 
                        a.opendetail(href="javascript:void(0);")
                            | 查看 
                            i.iconfont.icon-allow-down
                main.detail
                    ul.addpart
                        li 地址：广州
                        li 部门：海外市场部
                    .row
                        .col-md-6
                            h3 岗位职责
                            ol
                                li 根据方案图制作生产图。
                                li 售前技术支持，技术交流以及投标。 
                                li 设计产品的现场问题解决。 
                                li 参与新产品开发。 
                                li 部门主管指派的其它工作。
                        .col-md-6
                            h3 岗位要求
                            ol
                                li 从事压力容器或过滤设备设计两年以上，会系统管路设计优先。 
                                li 熟悉压力容器标准规范，熟悉 ASME，PED 规范更佳。 
                                li 熟练操作 Auto-CAD 和 Solid-works 软件。 
                                li 英语四级以上，能读懂英文标准及相关资料,听说能力好优先。
                                li 有良好的沟通和协调能力。
                                li 学习能力强。

                        
            
block bkfooter
    script.
        $('.joblist .opendetail').click(function(e){
            //e.preventdefault();
            $(this).closest(".row").next('.detail').slideToggle();
            $(this).toggleClass('active');
        })
