extends includes/layout.pug

block title
    | 医药代表

block bkheader
   

block content  
    .banner.banner-video.banner-detail
        video#vid(poster="img/poster.jpg")
            source(src="img/video-2.m4v" type="video/mp4")

        a#btnPlay.play(href="javascript:void(0)") 
            img(src="img/icon-play.svg", alt="播放")

        .job-des 
            .row
                .col
                    .title 医药代表
                .col-auto
                    .xinshui 20K-40K
            ul.city 
                li 安徽·合肥
                li 5-10年

            .row.note
                .col 
                    i.iconfont.icon-rili
                    | 医药推广
                .col-auto 
                    .date 
                        i.iconfont.icon-shijian
                        | 2021-10-20




    .page.page-job-detail
        ul.tab-header
            li.active 职位详情
            li 部门/公司介绍
            li 相关职位
               

        section.tab-body 
            .content.active     
                h4 市场拓展：
                p 负责区域内重点医院医生拓展，增加平台医生注册量，协助目标医生在平台上建立线上诊室。
                h4 日常拜访：
                p 严格执行公司考勤制度坚持出勤，保证客户拜访频率，撰写工作总结和计划。
                h4 客户管理：
                p 根据公司制度完成客户学术交流进展计划及目标，同时与客户建立良好关系，维护公司形象。

            .content
                p 礼来中国药物发展及医学事务中心，  集上市前药物研发和上市后医学事务于一体， 以创新的药物新的药物和新的药物和和以客户为中心的医疗解决方案为己任，  致力于抗击重大疾病，引领行业。
                p 礼来中国药物发展及医学事务中心，  集上市前药物研发和上市后医学事务于一体， 以创新的药物新的药物和新的药物和和以客户为中心的医疗解决方案为己任，  致力于抗击重大疾病，引领行业。
                        
            .content

                .card 
                    .card-header 
                        .row 
                            .col 
                                a(href="job_detail.html")  医药代表抗肿事业部
                            .col-auto 
                                .money 20K-40K
                    .card-body 
                        dl  
                            dd 安徽·合肥
                            dd 5-10年

                    .card-footer 
                        .row 
                            .col 
                                .department 营销部
                            .col-auto 
                                .date 2021-10-20

                .card 
                    .card-header 
                        .row 
                            .col 
                                a(href="job_detail.html")  医药代表抗肿事业部
                            .col-auto 
                                .money 20K-40K
                    .card-body 
                        dl  
                            dd 安徽·合肥
                            dd 5-10年

                    .card-footer 
                        .row 
                            .col 
                                .department 营销部
                            .col-auto 
                                .date 2021-10-20



    footer.apply
        a.btn.btn-primary.btn-block.btn-radius(href="apply.html") 申请职位

block bkfooter


   
    
    script.
        $(function () {
        
            $('.tab-header li').click(function(e){
                $(this).addClass('active').siblings().removeClass('active');
                let li_index = $(this).index();
                $('.tab-body .content').eq(li_index).addClass('active').siblings().removeClass('active');


            })
        
        });

     
