extends includes/layout.pug

block title
    | 社会招聘

block bkheader
   

block content
    .banner1.wow.fadeInDown(style="background-image:url(img/banners/jobs.jpg)")
        .container
            .title
                h1.wow.fadeInUp 社会招聘
                p.wow.fadeInUp 期待我们一起成长
                

    .page.page-jobs.pt-media-5.pb-media-5
        .container      
            section.s1.container.mb-media-3
                .title-section
                    h2.text24 诚聘职位

                .thead
                    .row
                        .col.col-lg-5
                            h3 招聘岗位
                        .col.col-lg-3.c1
                            h3 工作地点
                        .col.col-lg-3.c2
                            h3 发布时间
                        .col.col-lg-1.c3
                            h3 操作

                .item
                    .job-header
                        .row.align-items-center
                            .col.col-lg-5
                                .title 招商经理
                            .col.col-lg-3.c1
                                .address 广州科学城
                            .col.col-lg-3.c2
                                .date 2020-12-03
                            .col.col-lg-1.c3
                                .action 展开
                    .job-body
                        article
                            h4 岗位职责
                            ol
                                li 根据公司发展方向及年度销售指标制定营销策略及细则并落实到位；
                                li 按公司招商流程及工作制度全面开拓招商工作；
                                li 建立客户拜访机制，积累资源并维持良好的合作关系；
                                li 负责协助招商客户办理相关经营手续及相关证件；
                                li 积极开展市场调查、分析和预测，为公司及时提供有效的商业信息及数据；
                                li 积极完成上级交办的其他工作。

                            h4 岗位要求
                            ol
                                li 年龄要求：28-40岁；
                                li 学历要求：大专以上学历；
                                li 专业要求：临床、生物、检验、病理、医药等相关专业；
                                li 工作经验：五年以上招商或销售相关工作经验，如有相关工作经验可放宽专业要求；
                                li 个人素质：思路清晰，沟通能力强，综合素质高；有肿瘤科、病理科、检验科等科室代理商资源优先考虑。

                            h4 公司福利
                            ol
                                li 依法享受国家规定的五险一金；
                                li 依法享受国家规定的所有法定假期、有薪年假； 
                                li 本科或以上学历的应届毕业生可办理户口及档案接收； 
                                li 上下班提供交通车接送；

                        a.btn.btn-primary.btn-radius(href="mailto:info@surexam.com") 发送邮件: info@surexam.com
                        
                .item
                    .job-header
                        .row.align-items-center
                            .col.col-lg-5
                                .title 招商经理
                            .col.col-lg-3.c1
                                .address 广州科学城
                            .col.col-lg-3.c2
                                .date 2020-12-03
                            .col.col-lg-1.c3
                                .action 展开
                    .job-body
                        article
                            h4 岗位职责
                            ol
                                li 根据公司发展方向及年度销售指标制定营销策略及细则并落实到位；
                                li 按公司招商流程及工作制度全面开拓招商工作；
                                li 建立客户拜访机制，积累资源并维持良好的合作关系；
                                li 负责协助招商客户办理相关经营手续及相关证件；
                                li 积极开展市场调查、分析和预测，为公司及时提供有效的商业信息及数据；
                                li 积极完成上级交办的其他工作。

                            h4 岗位要求
                            ol
                                li 年龄要求：28-40岁；
                                li 学历要求：大专以上学历；
                                li 专业要求：临床、生物、检验、病理、医药等相关专业；
                                li 工作经验：五年以上招商或销售相关工作经验，如有相关工作经验可放宽专业要求；
                                li 个人素质：思路清晰，沟通能力强，综合素质高；有肿瘤科、病理科、检验科等科室代理商资源优先考虑。

                            h4 公司福利
                            ol
                                li 依法享受国家规定的五险一金；
                                li 依法享受国家规定的所有法定假期、有薪年假； 
                                li 本科或以上学历的应届毕业生可办理户口及档案接收； 
                                li 上下班提供交通车接送；
                        a.btn.btn-primary.btn-radius(href="mailto:info@surexam.com") 发送邮件: info@surexam.com

                .item
                    .job-header
                        .row.align-items-center
                            .col.col-lg-5
                                .title 招商经理
                            .col.col-lg-3.c1
                                .address 广州科学城
                            .col.col-lg-3.c2
                                .date 2020-12-03
                            .col.col-lg-1.c3
                                .action 展开
                    .job-body
                        article
                            h4 岗位职责
                            ol
                                li 根据公司发展方向及年度销售指标制定营销策略及细则并落实到位；
                                li 按公司招商流程及工作制度全面开拓招商工作；
                                li 建立客户拜访机制，积累资源并维持良好的合作关系；
                                li 负责协助招商客户办理相关经营手续及相关证件；
                                li 积极开展市场调查、分析和预测，为公司及时提供有效的商业信息及数据；
                                li 积极完成上级交办的其他工作。

                            h4 岗位要求
                            ol
                                li 年龄要求：28-40岁；
                                li 学历要求：大专以上学历；
                                li 专业要求：临床、生物、检验、病理、医药等相关专业；
                                li 工作经验：五年以上招商或销售相关工作经验，如有相关工作经验可放宽专业要求；
                                li 个人素质：思路清晰，沟通能力强，综合素质高；有肿瘤科、病理科、检验科等科室代理商资源优先考虑。

                            h4 公司福利
                            ol
                                li 依法享受国家规定的五险一金；
                                li 依法享受国家规定的所有法定假期、有薪年假； 
                                li 本科或以上学历的应届毕业生可办理户口及档案接收； 
                                li 上下班提供交通车接送；
                        a.btn.btn-primary.btn-radius(href="mailto:info@surexam.com") 发送邮件: info@surexam.com

                .item
                    .job-header
                        .row.align-items-center
                            .col.col-lg-5
                                .title 招商经理
                            .col.col-lg-3.c1
                                .address 广州科学城
                            .col.col-lg-3.c2
                                .date 2020-12-03
                            .col.col-lg-1.c3
                                .action 展开
                    .job-body
                        article
                            h4 岗位职责
                            ol
                                li 根据公司发展方向及年度销售指标制定营销策略及细则并落实到位；
                                li 按公司招商流程及工作制度全面开拓招商工作；
                                li 建立客户拜访机制，积累资源并维持良好的合作关系；
                                li 负责协助招商客户办理相关经营手续及相关证件；
                                li 积极开展市场调查、分析和预测，为公司及时提供有效的商业信息及数据；
                                li 积极完成上级交办的其他工作。

                            h4 岗位要求
                            ol
                                li 年龄要求：28-40岁；
                                li 学历要求：大专以上学历；
                                li 专业要求：临床、生物、检验、病理、医药等相关专业；
                                li 工作经验：五年以上招商或销售相关工作经验，如有相关工作经验可放宽专业要求；
                                li 个人素质：思路清晰，沟通能力强，综合素质高；有肿瘤科、病理科、检验科等科室代理商资源优先考虑。

                            h4 公司福利
                            ol
                                li 依法享受国家规定的五险一金；
                                li 依法享受国家规定的所有法定假期、有薪年假； 
                                li 本科或以上学历的应届毕业生可办理户口及档案接收； 
                                li 上下班提供交通车接送；
                        a.btn.btn-primary.btn-radius(href="mailto:info@surexam.com") 发送邮件: info@surexam.com                            
                
                .item
                    .job-header
                        .row.align-items-center
                            .col.col-lg-5
                                .title 招商经理
                            .col.col-lg-3.c1
                                .address 广州科学城
                            .col.col-lg-3.c2
                                .date 2020-12-03
                            .col.col-lg-1.c3
                                .action 展开
                    .job-body
                        article
                            h4 岗位职责
                            ol
                                li 根据公司发展方向及年度销售指标制定营销策略及细则并落实到位；
                                li 按公司招商流程及工作制度全面开拓招商工作；
                                li 建立客户拜访机制，积累资源并维持良好的合作关系；
                                li 负责协助招商客户办理相关经营手续及相关证件；
                                li 积极开展市场调查、分析和预测，为公司及时提供有效的商业信息及数据；
                                li 积极完成上级交办的其他工作。

                            h4 岗位要求
                            ol
                                li 年龄要求：28-40岁；
                                li 学历要求：大专以上学历；
                                li 专业要求：临床、生物、检验、病理、医药等相关专业；
                                li 工作经验：五年以上招商或销售相关工作经验，如有相关工作经验可放宽专业要求；
                                li 个人素质：思路清晰，沟通能力强，综合素质高；有肿瘤科、病理科、检验科等科室代理商资源优先考虑。

                            h4 公司福利
                            ol
                                li 依法享受国家规定的五险一金；
                                li 依法享受国家规定的所有法定假期、有薪年假； 
                                li 本科或以上学历的应届毕业生可办理户口及档案接收； 
                                li 上下班提供交通车接送；

                        a.btn.btn-primary.btn-radius(href="mailto:info@surexam.com") 发送邮件: info@surexam.com
                    
            section.s2.container.mb-media-3
                .title-section
                    h2.text24 公司地址及联系方式

                .contact 
                    address.text20 
                        i.iconfont.icon-map
                        | 德州市齐河县齐鲁高新技术开发区百多安生物科技园内

                    ul.con 
                        li 联系人：闫老师
                        li 联系电话：17615780222
                        li 联系邮箱：yancy@brandentech.com

                
    

block bkfooter


   
    
    script.
       


        $(function () {
            $(".item .job-header").click(function(e){
                $(this).next().slideToggle();
                $(this).closest('.item').toggleClass('active');
            })
  
        
        });

     
