extends includes/layout.pug

block title
    | 职全申请

block bkheader
   

block content
    .banner.banner-jobs(style="background-image:url(img/banners/jobs.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 职全申请

                

    .page.page-jobs.pt-media-7.pb-media-7
        .container.joblist            
            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 质量保证高级经理
                        .col-auto
                            .address 工作地点：
                                strong 东莞
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。

            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 财务经理
                        .col-auto
                            .address 工作地点：
                                strong 东莞
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。

            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 供应商质量管理工程师
                        .col-auto
                            .address 工作地点：
                                strong 山东
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。

            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 研发工程师（项目）
                        .col-auto
                            .address 工作地点：
                                strong 山东
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。
            
            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 质量保证高级经理
                        .col-auto
                            .address 工作地点：
                                strong 东莞
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。

            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 财务经理
                        .col-auto
                            .address 工作地点：
                                strong 东莞
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。

            .item
                .job-header
                    .row.align-items-center
                        .col
                            .title.text24 供应商质量管理工程师
                        .col-auto
                            .address 工作地点：
                                strong 山东
                        .col-auto
                            .iconfont.icon-plus
                .job-body
                    .row
                        .col-md
                            .content
                                h3 岗位职责：
                                ol 
                                    li 根据公司下达的目标任务，按计划完成收入任务；
                                    li 负责客户拓展，完成发现需求、客户跟踪、商务洽谈、合约签订等过程；
                                    li 完成所属客户的关系维护，为客户提供服务支撑。

                        .col-md
                            .content
                                h3 任职资格：
                                ol 
                                    li 本科及以上学历，1年以上互联网或运营商、大型高科技产品公司产品等销售经验；
                                    li 熟悉产品销售管理的系统和程序流程；
                                    li 思维敏捷，目标感强，良好的应变及抗压能力。


                
    

block bkfooter


   
    
    script.
       


        $(function () {
            $(".item .job-header").click(function(e){
                $(this).next().slideToggle();
                $(this).closest('.item').toggleClass('active');
            })
  
        
        });

     
