extends includes/layout.pug

block title
    | 联系我们

block bkheader
   

block content
    .banner.banner-news(style="background-image:url(img/banners/contact.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/contact_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title-contact_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_contact.png", alt="")

        nav.nav-container
            menu.wow.fadeInDown
                a(href="contact.html") 联系我们
                a.active(href="join.html") 加入我们

                     

    .page.page-job-detail.pt-media-7.pb-media-7
        article.container
            header
                h1.text20.wow.fadeInUp 解决方案应用工程师
                .note.wow.fadeInUp(data-wow-delay="0.5s")
                    time 2020-04-21
                   
            main.content.wow.fadeInUp(data-wow-delay="1s")
                .add.mb-media-5 工作地点：深圳 人数：5人 学历：大专以上
                h3.mb-media-3 岗位职责：
                p 1、协助代理商拜访医院科室，展示公司产品，讲解产品知识；
                    br                    
                    | 2、向护士演示产品、让护士熟练掌握产品操作技巧；
                    br                    
                    | 3、对医院信息进行统计汇总；
                    br                    
                    | 4、建立及维护客户关系，对客户市场专员进行相关技能培训；
                    br                    
                    | 5、建立及维护公司的专业形象；
                    br                    
                    | 6、培训全国各地区代理商专员，产品相关知识、机器使用方法及如何和代理商及院领导进行沟通。
                p.mb-media-3 晋升空间：初级市场专员（100000+）→高级市场专员（150000+）→主管（200000+）→经理（300000+）
                h3.mb-media-3 任职要求：
                p 1、年龄：30岁以下，统招大专以上学历，专业不限；
                    br                    
                    | 2、限女性，相貌品行端正；
                    br                    
                    | 3、拥有与公司共同的价值观，诚实、担责、学习；
                    br                    
                    | 4、勇于接受挑战，动手操作能力强；
                    br                    
                    | 5、语言表达能力强，学习分析能力强；
                    br                    
                    | 6、初级市场专员有无工作经验均可。

                p.email 简历请投递至（邮件主题请注明应聘职位+姓名）： HR@cn-lanyuan.com
             
            .action
                a.gomail(href="mailto:HR@cn-lanyuan.com") 投递简历
        
                





block bkfooter


   
    
    script.
       


        $(function () {
        
  
        
        });

     
