extends includes/layout.pug

block title
    | 重点实验室

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_platform.jpg)")
        .container
            h1.title-page 科研平台
            nav.submenus 
                a(href="platform.html") 研究中心             
                a(href="facilities.html") 脑设施             
                a.active(href="lab.html") 重点实验室             
                a(href="support.html") 科研支撑
         
        
    .page.page-labs
        .container
            .row
                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="lab_1.html")
                        .pic
                            img(src="img/platform_04.jpg", alt="中国科学院脑联结解析与调控重点实验室")
                        h4 中国科学院脑联结解析与调控重点实验室

                .col-md-6.col-lg-4
                    a.item.wow.fadeInUp(href="lab_2.html")
                        .pic
                            img(src="img/platform_05.jpg", alt="广东省脑连接图谱重点实验室")
                        h4 广东省脑连接图谱重点实验室
            


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
