extends includes/layout.pug

block title
    | 广东省脑连接图谱重点实验室

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_platform.jpg)")
        .container
            h1.title-page 科研平台
            nav.submenus 
                a(href="platform.html") 研究中心             
                a(href="facilities.html") 脑设施             
                a.active(href="lab.html") 重点实验室             
                a(href="support.html") 科研支撑
         
        
    .page.page-lab-detail
        .container
            .title-section
                h2.text-center 广东省脑连接图谱重点实验室

            p.p1 广东省脑连接图谱重点实验室于2017年经广东省科技厅批准筹建，实验室依托于中国科学院深圳先进技术研究院，瞄准国际神经科学研究发展的前沿，聚焦于对跨物种大脑内神经环路结构和功能图谱特征及其在认知障碍性疾病模型中变异规律和调控机制的研究，以期阐明大脑的工作原理。
            
            .c1
                img.bg(src="img/platform_06.jpg" alt="")
                .box
                    h3 整体研究目标
                    p 跨物种的理解“自上而下”与“自下而上”信息相互调控的神经环路结构和功能图谱特征及其在认知障碍性疾病（自闭症、AD、药物成瘾等）模型中变异规律和调控机制。
            
                .box
                    h3  重点研究方向
                    ol
                        li 围绕本能情绪的“自上而下”与“自下而上”信息相互调控的神经环路结构和功能图谱解析；
                        li 中枢神经系统通过交感／副交感神经系统与外周脏器相互调控的神经图谱解析；
                        li 非人灵长类和啮齿类脑疾病动物模型的发展；
                        li 神经调控和环路示踪新工具的研发。

            .c2
                h3.title 广东省脑连接图谱重点实验室组建的学术委员会
            

                .memberlist
                    .row
                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员

                        .col-6.col-md-4.col-lg-3
                            a.item(href="team_detail.html")
                                .avatar
                                    img(src="img/team/chenpeihua.jpg", alt="陈培华")
                            
                                h4 陈培华
                                .post 副研究员
                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
