extends includes/layout.pug

block title
    | 中国科学院脑联结解析与调控重点实验室

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_platform.jpg)")
        .container
            h1.title-page 科研平台
            nav.submenus 
                a(href="platform.html") 研究中心             
                a(href="facilities.html") 脑设施             
                a.active(href="lab.html") 重点实验室             
                a(href="support.html") 科研支撑
         
        
    .page.page-lab-detail
        .container
            .title-section.wow.fadeInUp
                h2.text-center 中国科学院脑联结解析与调控重点实验室

            p.p1 2019年，脑认知与脑疾病研究所获批“ 中科院脑联结解析与调控重点实验室 ”。该重点实验室的成立将 充分整合粤港澳大湾区脑联结组学研究的优势团队的研究力量，弥补国内在此研究领域创新载体建设的 “空白”；依托此创新载体，通过与国际一流研究团队的深入合作，充分整合国际创新资源，在脑认知 的基本规律和脑疾病的发生机制、干预靶点和新药研发等领域获得原创性的成果；提升大湾区此研究领 域的研究能力、加大人才培养的力度、提升国际影响力，促进优化产业结构，增强产业核心技术竞争力。
            
        section.s1
            .container
                .c3                
                    img.bg.wow.fadeInUp(src="img/platform_07.jpg" alt="")
                    .box.wow.fadeInUp
                        h3 实验室定位与建设目标
                        p 本重点实验室团队瞄准脑科学与脑疾病重大问题，致力于研发神经环路解析与调控研究的关键技术，通 过从脑联结层面系统揭示脑基本功能和重大疾病的环路机制，为智力和意识本源、脑疾病的防治提供理 论基础。 我们的目标是建成脑联结组学领域国际一流的创新研究平台，人才培养和学术交流基地，与生物医药企 业共享开放的、有国际影响力的创新载体。

                .c4
                    .title-section.wow.fadeInUp
                        h3.text-center 实验室组织构架
                    figure.wow.fadeInUp 
                        img(src="img/platform_09.png", alt="")
            
        section.s2.container
            .title-section.wow.fadeInUp
                h3.text-center 研究方向和内容

            .row.no-gutters
                .col-md-6.col-lg-4
                    .zib.wow.fadeInUp
                        h3.title 脑联结组结构解析与功能调控
                        h4 研究内容：
                        ol
                            li 本能行动的脑联结组学。
                            li 习得行为、学习的记忆的脑联结组学。
                            li 注意的脑联结组学基础和特征。
                            li 神经元网络回响和学习记忆的调节机制。

                .col-md-6.col-lg-4
                    .zib.ood.wow.fadeInUp
                        h3.title 脑联结组动态变化与脑功能异常
                        h4 研究内容：
                        ol
                            li 突触可塑性变化中的联结组学及新型表观机制。
                            li 自闭症、应激相关疾病、成瘾的联结组变化及调控机制。
                            li 阿尔茨海默症的联结组特征，新型标志物鉴定及新型干预靶点研究。
                            li 非人灵长类脑疾病模型创制及药物与干预手段研发。

                .col-md-6.col-lg-4
                    .zib.wow.fadeInUp
                        h3.title 脑联结组解析与调控的新技术及新工具
                        h4 研究内容：
                        ol
                            li 新型神经环路示踪技术、神经元亚型环路研究。
                            li 高时空精准光遗传学工具研发，柔性光遗传调控技术，柔性神经电信号检测技术研发。
                            li 大尺度快速全脑光成像系统，样品处理系统，可扩展的脑图谱绘制与分析技术研发。
                            li 非人灵长类神经环路干预技术研发。

        
        section.s3
            .memberlist.container
                .title-section
                    h3.text-center 本科学重点实验室人员结构
                .row
                    .col-6.col-md
                        a.item.wow.fadeInUp(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md
                        a.item.wow.fadeInUp(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md
                        a.item.wow.fadeInUp(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                .title-section
                    h3.text-center 学术委员会成员
                .row
                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员
                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员
                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员
                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                    .col-6.col-md-4.col-lg-3
                        a.item(href="team_detail.html")
                            .avatar
                                img(src="img/team/chenpeihua.jpg", alt="陈培华")
                        
                            h4 陈培华
                            .post 副研究员

                   
                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
