extends includes/layout.pug

block title
    | 实验室领导
    
block bkheader
   

block content
    .banner.banner-leaership(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 实验室领导
              

    .wrapper
        .page-leaership.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav.active
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right
                            ul.subnav
                                li
                                    a(href="council.html") 理事会
                                li
                                    a.active(href="leadership.html") 实验室领导
                                li
                                    a(href="academic.html") 学术委员会
                            
                            
                        li
                            a(href="team.html") 人才队伍
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    .row
                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p11.jpg", alt="")
                                    .col
                                        .txt
                                            h3 方  忠
                                            .post 法人代表

                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p14.jpg", alt="")
                                    .col
                                        .txt
                                            h3 汪卫华
                                            .post 主任

                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p15.jpg", alt="")
                                    .col
                                        .txt
                                            h3 陈东敏
                                            .post 常务副主任

                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p16.jpg", alt="")
                                    .col
                                        .txt
                                            h3 张广宇
                                            .post 副主任
                                
                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p17.jpg", alt="")
                                    .col
                                        .txt
                                            h3 黄学杰
                                            .post 副主任

                        .col-md-6.col-lg-4
                            .item
                                .row.align-items-center
                                    .col-auto
                                        .pic
                                            img(src="img/team/p12.jpg", alt="")
                                    .col
                                        .txt
                                            h3 副主任
                                            .post 副主任
                    
                
                            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
