extends includes/layout.pug

block title
    | Scientists Design Novel Algorithmic Framework for Alzheimer's Disease Prediction.

block content
    .banner.banner-staff(style="background-image:url(img/banner/staff.jpg)")        
        .txt
            .nav-container
                h1.text28 员工专区
                ul.nav
                    li
                        a(href="training.html") 培训系统
                    li
                        a.active(href="leisure.html") 休闲专区
 

    .page.page-leisure-detail
        
        article.container
            header
                h1.title.text28.wow.fadeInUp 20年集体骑行出游全记录
                .note
                    time 2020-04-21 08:00
                    author 来自 微信公众号

            main.content.wow.fadeInUp
                
                p 2020年2月26日，鼓润全体工作人员齐聚滨海，始发地点位于美丽的南运海边，一家房地产开发商开发——“金领国际”的售楼处前。我们到达那里时已经是旗幡招展，号带飘扬，锣鼓喧天，鞭炮齐鸣，那阵势那真是相当的大呀！许多捐款大户已经排成了方阵，其中竞速组的车手们排在最前列，他们装束整齐，设备精良，外型酷毙！让我们羡慕不已，叹为观止。

                
                figure
                    img(src="img/temp/sa01.jpg", alt="")
                p 9点鸣枪，竞速组的车手们如离弦之箭一般冲了出去。然后是万豪酒店方阵、肯德基方阵、麦当劳方阵、巴特勒方阵等等，我们几次要冲到前面去，都被人骂了回来。终于，我们被安排在夕阳红老年骑行队的后面出发了。由于漫天大雾，路况不清，出来不到5分钟，张闻宇和李京峰同学就销声匿迹了。我们剩下的同志化悲愤为力量，继续前行。
                p 开始还有赛会组织的导引人员指挥行进路线，到后来就看不见信号树了。有几位国际友人迷失了方向，向我求助。凭着我多年四处游荡的经验和发扬崇高的国际主义精神，伸出援助之手指点迷津，使他们迷途知返找到了组织。我们速度不慢，很快就追上了巴特勒方阵，并且结识了焦树新同志，大家志同道合，相见恨晚，可惜不能把酒言欢。当骑到北安桥的时候，前面变了红灯，巴特勒的同志们毫不犹豫地冲了过去，我们就这样分手了。


          

            //- footer.row.justify-content-center.wow.fadeInUp
            //-     .col-auto
            //-         a.news-nav(href="news-detail.html") 上一篇资讯
            //-     .col-auto
            //-         a.news-nav(href="news-detail.html") 下一篇资讯
          

block bkfooter
    script.
        $(function(){
          
        })