extends includes/layout.pug

block title
    | 导师介绍

block bkheader
   

block content
    .banner.banner-staff(style="background-image:url(img/banner/staff.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 员工专区
                ul.nav.wow.fadeInUp
                    li
                        a(href="training.html") 培训系统
                    li
                        a.active(href="leisure.html") 休闲专区

        
    .page.page-leisure
        section.s1.container
            .title-section.wow.fadeInUp
                h2.text28 员工分享
                h3.text20 MOMENTS

            .artlist
                .row
                    .col-md-4
                        a.item.wow.fadeInUp(href="leisure_detail.html")
                            .pic
                                img(src="img/temp/sh01.jpg", alt="")
                            .txt
                                h2.text20 员工分享
                                p 团队盛夏出游小记录
                                .time 2019.8.15

                    .col-md-4
                        a.item.wow.fadeInUp(href="leisure_detail.html")
                            .pic
                                img(src="img/temp/sh02.jpg", alt="")
                            .txt
                                h2.text20 员工分享
                                p 团队盛夏出游小记录
                                .time 2019.8.15

                    .col-md-4
                        a.item.wow.fadeInUp(href="leisure_detail.html")
                            .pic
                                img(src="img/temp/sh03.jpg", alt="")
                            .txt
                                h2.text20 员工分享
                                p 团队盛夏出游小记录
                                .time 2019.8.15


        section.s2
            .container
                .title-section.wow.fadeInUp
                    h2.text28 相关图片
                    h3.text20 PHOTO

                .photolist
                    .row
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share01.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share02.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share03.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share04.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share05.jpg", alt="")
                        .col-6.col-md-4
                            .item.wow.fadeInUp
                                img(src="img/temp/share06.jpg", alt="")





block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
