extends includes/layout.pug

block title
    | 管理团队-特色教育

block content  
     
    .page.page-material
        section.s1.container         
            .row
                .col-md-3
                    aside.list
                        a.active.item(href="#")
                            img(src="img/temp/m1.jpg", alt="")
                            .des 
                                .title CNC Metal
                        a.item(href="#")
                            img(src="img/temp/m2.jpg", alt="")
                            .des 
                                .title CNC Plastic
                        a.item(href="#")
                            img(src="img/temp/m3.jpg", alt="")
                            .des 
                                .title Injection Plastic
                        a.item(href="#")
                            img(src="img/temp/m4.jpg", alt="")
                            .des 
                                .title Sheet Metal
                        a.item(href="#")
                            img(src="img/temp/m5.jpg", alt="")
                            .des 
                                .title Others (CNC)
                .col-md-9
                    .table-container
                        table.table
                            thead
                                tr
                                    th(colspan="2",style={'background-color':'#d44038','width':'28%'}) Material
                                    th(style={'background-color':'#000','width':'18%'}) Aluminum 1050
                                    th(style={'background-color':'#000','width':'18%'}) Aluminum 1060
                                    th(style={'background-color':'#000','width':'18%'}) Aluminum 2024-T3/T4     
                                    th(style={'background-color':'#000','width':'18%'}) Aluminum 5052-H32
                            tbody
                                tr
                                    th(rowspan="3",style={'background-color':'#d44038','width':'120px'}) Typicsl Phydicsl Propsrtes
                                    th(style={'background-color':'#d44038','width':'120px'}) Elastic Modulus (GPa)
                                    td -
                                    td 69
                                    td 72.4
                                    td 70
                                tr                                   
                                    th(style={'background-color':'#d44038'})  Tensile Strength(MPa)
                                    td 35-126
                                    td 110-136
                                    td 485/470   
                                    td 230
                                tr                               
                                    th(style={'background-color':'#d44038'}) Yeild Strenght(Mpa)
                                    td 75
                                    td 35
                                    td 345/325 
                                    td 195
                                tr                               
                                    th(colspan="2",style={'background-color':'#d44038'}) Attributes
                                    td 
                                        ul
                                            li Malleable (Excellent) 
                                            li Corrosion resistance  
                                            li Weldability 
                                            li Conductivity  

                                    td 
                                        ul
                                            li Malleable (Excellent) 
                                            li Corrosion resistance  
                                            li Weldability 
                                            li Conductivity  
                                    td
                                        ul 
                                            li Strength
                                            li Fatigue resistance
     
                                    td 
                                        ul
                                            li Corrosion resistance     
                                            li Weldability
                                            li Medium strength    

                                tr                               
                                    th(colspan="2",style={'background-color':'#d44038'}) Application
                                    td 
                                        p  Chemical instruments, sheet metal parts, deep drawing or spinning concave vessels, welding parts, heat exchangers, bell surfaces and disc surfaces, nameplates, kitchen utensils, ornaments, reflective devices, etc.
                                            

                                    td 
                                        p  Lithium battery, decorations, lamps, electronic aluminum gasket, aluminum furniture base material, chemical, etc.  
                                    td
                                        p  Military, aerospace, mold. etc.
     
                                    td 
                                        p  Sheet metals, oil pipe, traffic vehicles, ships, instruments, lamp bracket and rivets, hardware, electrical shell, etc   
                              
                                tr                               
                                    th(colspan="2",style={'background-color':'#d44038'}) Thickness(mm)
                                    td 0.2-60 
                                    td 0.2-60
                                    td 8-120     
                                    td 0.5-80  
                              
        
        footer.container.material-footer       
                ul.pagination
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1', aria-disabled='true') <
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item.active(aria-current='page')
                        a.page-link(href='#')
                            | 2                          
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') >
                
        section.s2
            .container
                .title-section-v4
                    h2 Request a quote
                    
                include includes/quoteform.pug
                       
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
