extends includes/layout.pug

block title
    | 动脉粥样硬化

block content   


    .page.page-medical-detail.pb-media-5
        section.s1
            img(src="img/temp/m5.jpg", alt="")
            .title
                .container
                    h1.text36.wow.fadeInUp 动脉粥样硬化

        section.s2.container        
            article.content
                p 具体为通过微创介入方式进入血管，取栓或置入支架来恢复血供，是大部分动脉系统血栓性疾病的常用治疗方式之一。外周血管病就是指冠状动脉以外的主动脉及其分支的一个狭窄或者闭塞或者瘤样扩张的一个疾病
                h3.text28 主要包括
                ol
                    li 动脉系统疾病，动脉粥样硬化、闭塞性动脉硬化、下肢动脉血栓、主动脉瘤等；
                    li 静脉系统疾病，静脉曲张、静脉炎、下肢静脉血栓等；外周血管疾病发病机制复杂多样，目前认为与环境、遗传、免疫、动脉粥样硬化等危险因素有关。
                

                //- footer.row.justify-content-center.wow.fadeInUp
                //-     .col-auto
                //-         a.news-nav(href="news-detail.html") 上一篇资讯
                //-     .col-auto
                //-         a.news-nav(href="news-detail.html") 下一篇资讯
          

block bkfooter
    script.
        $(function(){
          $("#btnSM").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-lg').addClass("font-sm");
          });
           $("#btnMe").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-lg').removeClass("font-sm");
          });
          $("#btnLG").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-sm').addClass("font-lg");
          });
        })