extends includes/layout.pug

block title
    | 医用术语

block content
    .banner.banner-medical(style="background-image:url(img/banners/medical.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 医用术语

    .page.page-medical.pt-media-5.pb-media-5
       
        .container
            .row
                .col-lg-auto
                    aside.leftcol
                        header.text24.title 医用术语
                        h3
                            i.iconfont.icon-bingdu
                            | 疾病
                        ul.categories
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                            li
                                a(href="medical_detail.html") 冠状动脉粥样硬化性心脏病
                            li
                                a(href="medical_detail.html") 周围动脉疾病PAD
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                        h3                            
                            i.iconfont.icon-yiliaoqixie
                            | 器械
                        ul.categories
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                            li
                                a(href="medical_detail.html") 冠状动脉粥样硬化性心脏病
                            li
                                a(href="medical_detail.html") 周围动脉疾病PAD
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                            li
                                a(href="medical_detail.html") 动脉粥样硬化
                                
                .col-lg

                    section.list
                        
                        .item
                            .row.align-items-center.no-gutters
                                .col-md-5
                                    a.pic.wow.fadeInUp(href="clinical_detail.html")
                                        img(src="img/temp/m1.jpg")     
                                .col-md-7
                                    .txt.wow.fadeInUp                            
                                        h3.text32
                                            a(href="clinical_detail.html") 动脉粥样硬化
                                    
                                        p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”	>>
                                        p 
                                            a(href="clinical_detail.html") 了解更多
                                                i.iconfont.icon-next

                                            
                        .item
                            .row.align-items-center.no-gutters
                                .col-md-5
                                    a.pic.wow.fadeInUp(href="clinical_detail.html")
                                        img(src="img/temp/m2.jpg")     
                                .col-md-7
                                    .txt.wow.fadeInUp                            
                                        h3.text32
                                            a(href="clinical_detail.html") 冠状动脉粥样硬化性心脏病
                                    
                                        p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”...
                                        p 
                                            a(href="clinical_detail.html") 了解更多
                                                i.iconfont.icon-next

                        .item
                            .row.align-items-center.no-gutters
                                .col-md-5
                                    a.pic.wow.fadeInUp(href="clinical_detail.html")
                                        img(src="img/temp/m3.jpg")     
                                .col-md-7
                                    .txt.wow.fadeInUp                            
                                        h3.text32
                                            a(href="clinical_detail.html") 周围动脉疾病PAD
                                    
                                        p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”...
                                        p 
                                            a(href="clinical_detail.html") 了解更多
                                                i.iconfont.icon-next

                        .item
                            .row.align-items-center.no-gutters
                                .col-md-5
                                    a.pic.wow.fadeInUp(href="clinical_detail.html")
                                        img(src="img/temp/m4.jpg")     
                                .col-md-7
                                    .txt.wow.fadeInUp                            
                                        h3.text32
                                            a(href="clinical_detail.html") 经皮冠状动脉介入治疗
                                    
                                        p.des 据TCT（美国经导管心血管治疗会议）预测，2025年，主动脉瓣膜的经济价值将超越冠脉支架。瓣膜，已经成为心血管高值耗材领域，继冠脉支架之后新的“英雄地”...
                                        p 
                                            a(href="clinical_detail.html") 了解更多
                                                i.iconfont.icon-next

                
            
                        footer.quality-footer.wow.fadeInUp
                            ul.pagination.text-center
                                li.page-item
                                    a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                        i.iconfont.icon-previous
                                        
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item.active(aria-current='page')
                                    a.page-link(href='#')
                                        | 2                          
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link.next(href='#') 
                                        i.iconfont.icon-next
        
block bkfooter
    script.
        $(function(){
            $(".leftcol h3").click(function(e){
                $(this).toggleClass("openav");
                $(this).next().toggleClass("openav");
            })
        })
