extends includes/layout.pug

block title
    | 里程碑

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')


block content  
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/banners/milestone.jpg)")
        .container
            .title
                h1.wow.fadeInUp 公司介绍
                p 为患者提供最好的临床方案，是我们不断突破创新的动力。

    .page.page-milestone
        .container
            .swiper-container
                .swiper-wrapper
                    .swiper-slide   
                        .item 
                            .txt 
                                h3.year.text30 2003
                                p 公司注册在山东奇河经济开发区，同年3月开工建设。

                    .swiper-slide   
                        .item.ood 
                            .txt 
                                h3.year.text30 2004
                                p 公司获得第一产品注册证，产品正式投产。

                    .swiper-slide   
                        .item 
                            .txt 
                                h3.year.text30 2005
                                p 通过自主创新立项新一代涂层可降解心脏药物支架系统和经外周中心静脉导管项目，标志企业开始进军医学高技术产品研发和产品化领域。

                    .swiper-slide   
                        .item.ood 
                            .txt 
                                h3.year.text30 2006
                                p 通过美国FDA和日本厚生省质量体质认证，同时拥有欧盟、美国和日本三大产品体系认证。

                    .swiper-slide   
                        .item 
                            .txt 
                                h3.year.text30 2007
                                p 通过自主创新立项新一代涂层可降解心脏药物支架系统和经外周中心静脉导管项目，标志企业开始进军医学高技术产品研发和产品化领域。

                    .swiper-slide   
                        .item.ood 
                            .txt 
                                h3.year.text30 2008
                                p 通过美国FDA和日本厚生省质量体质认证，同时拥有欧盟、美国和日本三大产品体系认证。

                    .swiper-slide   
                        .item 
                            .txt 
                                h3.year.text30 2009
                                p 通过自主创新立项新一代涂层可降解心脏药物支架系统和经外周中心静脉导管项目，标志企业开始进军医学高技术产品研发和产品化领域。

                    .swiper-slide   
                        .item.ood 
                            .txt 
                                h3.year.text30 2010
                                p 通过美国FDA和日本厚生省质量体质认证，同时拥有欧盟、美国和日本三大产品体系认证。

                    .swiper-slide   
                        .item 
                            .txt 
                                h3.year.text30 2011
                                p 通过自主创新立项新一代涂层可降解心脏药物支架系统和经外周中心静脉导管项目，标志企业开始进军医学高技术产品研发和产品化领域。

                    .swiper-slide   
                        .item.ood 
                            .txt 
                                h3.year.text30 2012
                                p 通过美国FDA和日本厚生省质量体质认证，同时拥有欧盟、美国和日本三大产品体系认证。

            .swiper-pagination
            
            .swiper-prev 
                .iconfont.icon-prev
            .swiper-next
                .iconfont.icon-next
        

        
        
block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 10,
            // init: false,
            pagination: {
                el: '.swiper-pagination',
                type: 'fraction',
            },
             navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                slidesPerView: 2,
                spaceBetween: 20,
                },
                768: {
                slidesPerView: 4,
                spaceBetween: 30,
                },
                992: {
                slidesPerView: 5,
                spaceBetween: 40,
                },
                1200: {
                slidesPerView: 6,
                spaceBetween: 50,
                },
            }
        });
