extends includes/layout.pug

block title
    | 我的主题

block bkheader
   

block content
    .page.page-member
        .container
            .row
                .col-md-auto
                    aside.leftcol
                        .userinfo
                            .avatar
                                img(src="img/member/user.jpg", alt="")
                            p.name 欢迎您，182***0023

                        ul.usernav
                            li
                                a(href="profile.html") 个人信息
                            li.active
                                a(href="mypost.html") 我的论坛



                        a.loginout(href="#") 退出登录


                .col-md
                    main.content.content1
                        .pheader
                            .row
                                .col
                                    h3.title-box1 我的论坛
                                .col-auto
                                    a.btn-publish(href="publish.html") 发布主题

                        table.table
                            thead
                                tr
                                    th 主题
                                    th 浏览
                                    th 回复
                                    th 发布时间
                                    th 操作
                            tbody
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除

                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除
                                tr
                                    td 一个神奇的“期权投资时钟”
                                    td 342
                                    td 45
                                    td 2020.12.12 17:50
                                    td 删除

                        footer.news-footer.wow.fadeInUp
                            ul.pagination.text-center
                                li.page-item
                                    a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                        i.iconfont.icon-arrow-left
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item.active(aria-current='page')
                                    a.page-link(href='#')
                                        | 2                          
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link.next(href='#') 
                                        i.iconfont.icon-arrow-right

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
