extends includes/layout.pug

block title
    | 新闻

block content
    .banner.banner-news(style="background-image:url(../img/temp/banner-news.jpg)")
        h1 News
   
    .page.page-news          
        nav.s1.container 
            a.active(href="news.html") industry
            a(href="news.html") scientific research
            a(href="news.html") academic report
            a(href="news.html") Achievements transformation

        section.s2.container
            .newslist
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-4.col-lg-4.order-last
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/n1.jpg")
                        
                        .col-md-7.col-lg-7
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title Scientists Design Novel Algorithmic...
                                .row.note
                                    .col-auto 23 January 2020
                                    .col DR.Shuguan Yuan
                                p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                                span.btn.btn-default-outline MORE
                
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-4.col-lg-4                
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/n2.jpg")
                        
                        .col-md-7.col-lg-7
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title Scientists Propose New Nanocomposites for EMI Shielding Materials
                                .row.note
                                    .col-auto 23 January 2020
                                    .col DR.Shuguan Yuan
                                p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                                span.btn.btn-default-outline MORE
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-4.col-lg-4.order-last
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/n3.jpg")
                        
                        .col-md-7.col-lg-7
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title Scientists Design Novel Algorithmic...
                                .row.note
                                    .col-auto 23 January 2020
                                    .col DR.Shuguan Yuan
                                p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                                span.btn.btn-default-outline MORE
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-4.col-lg-4                
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/n4.jpg")
                        
                        .col-md-7.col-lg-7
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title Scientists Design Novel Algorithmic...
                                .row.note
                                    .col-auto 23 January 2020
                                    .col DR.Shuguan Yuan
                                p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                                span.btn.btn-default-outline MORE
                    
          
       
        footer.news-footer 
            button.btn.btn-default-outline view more
                
                //- ul.pagination
                //-     li.page-item.disabled
                //-         a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
                //-     li.page-item
                //-         a.page-link(href='#') 1
                //-     li.page-item.active(aria-current='page')
                //-         a.page-link(href='#')
                //-             | 2                          
                //-     li.page-item
                //-         a.page-link(href='#') 3
                //-     li.page-item
                //-         a.page-link(href='#') Next
        
block bkfooter
    script.
        $(function(){
        
        })
