extends includes/layout.pug

block title
    | 新闻动态

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/news-detail.jpg)")
        .news-header
            .container           
                h1.wow.fadeInUp 发展互联网医疗服务 解决病人多看病难问题
                .note.wow.fadeInUp 
                    span.date 2020.07.11  1小时前   
                    span.author 发布者：熊猫
   
    .page.page-news-detail.pt-media-3.pb-media-6
        
        article.container    
            main#artContent.content.wow.fadeInUp
                
                p 正义网北京3月5日电(记者 曹烨琼)李克强总理今天上午在作政府工作报告时指出,“优化营商环境就是解放生产力、提高竞争力,要破障碍、去烦苛、筑坦途,为市场主体添活力,为人民群众增便利。”全国人大代表、山东百多安医疗器械有限公司董事长、首席科学家,生物医用材料改性技术国家地方联合工程实验室主任张海军对此深有感触,他说,“我们的企业既像一个小社会,又是一个大家庭。为了企业能得到更好的发展,我们非常需要司法机关的法治支持,让更多职工提高法治意识、增强法治观念,帮助他们在实际工作中贯彻合法、合规理念。”
                p 据介绍,近年来,山东省德州市检察机关联合纪工委等部门,组织召开城区优化环境建设座谈会,形成服务企业的联动合作机制,监督促进企业资产保值增值,共同为企业发展创造良好的发展环境。与此同时,严把招投标关口,为企业公平参与市场竞争提供了有力的司法保障。
                p 全国人大代表、陕西步长集团董事长、民建陕西省委会副主委赵超说,“5年来,检察机关在服务非公企业工作中不懈努力,各项措施不只出现在文件上,更是落到实处,取得良好效果。”赵超介绍道,检察机关定期开展检察开放日、交流座谈会等活动,形式不断创新,及时把国家发布的最新政策、法律法规信息带到企业中。
                p 陕西省检察院、省工商联组织召开保障和促进非公有制经济发展座谈会,听取非公有制企业家代表的意见建议。随后,该院研究制定了《关于依法保障和促进非公有制经济健康发展的意见》,并与陕西省工商业联合会联合印发了《关于在保障和促进非公有制经济发展中加强协作配合的意见》,找准了检察工作保障和促进非公有制经济发展的切入点和结合点。赵超说,“检察机关和工商联等相关部门联合发力,为非公经济发展插上了法治的‘翅膀’。”
                figure.pic
                    img(src="img/temp/n_01.jpg", alt="")
                p 正义网北京3月5日电(记者 曹烨琼)李克强总理今天上午在作政府工作报告时指出,“优化营商环境就是解放生产力、提高竞争力,要破障碍、去烦苛、筑坦途,为市场主体添活力,为人民群众增便利。”全国人大代表、山东百多安医疗器械有限公司董事长、首席科学家,生物医用材料改性技术国家地方联合工程实验室主任张海军对此深有感触,他说,“我们的企业既像一个小社会,又是一个大家庭。为了企业能得到更好的发展,我们非常需要司法机关的法治支持,让更多职工提高法治意识、增强法治观念,帮助他们在实际工作中贯彻合法、合规理念。”
                p 陕西省检察院、省工商联组织召开保障和促进非公有制经济发展座谈会,听取非公有制企业家代表的意见建议。随后,该院研究制定了《关于依法保障和促进非公有制经济健康发展的意见》,并与陕西省工商业联合会联合印发了《关于在保障和促进非公有制经济发展中加强协作配合的意见》,找准了检察工作保障和促进非公有制经济发展的切入点和结合点。赵超说,“检察机关和工商联等相关部门联合发力,为非公经济发展插上了法治的‘翅膀’。”

            footer.pagenav.wow.fadeInUp                  
                a.news-nav(href="news_detail.html")                  
                    | 上一篇：发展互联网医疗服务 解决病人多看病难问题
                a.news-nav(href="news_detail.html")                    
                    | 下一篇：解决病人多看病难问题
                   
          

block bkfooter
    script.
        