extends includes/layout.pug

block title
    | 媒体中心

block bkheader
    link(href='js/vendor/swiper/swiper-bundle.min.css', rel='stylesheet')
block content
    .banner.banner-news.wow.fadeInUp
        img(src="img/1x/banner-news-80.jpg", alt="News")      

    .page.page-news.container.pt-media-6.pb-media-6
        section.s1.mb-media-7 
            .row.align-items-end 
                .col-lg-3
                    .header-news
                        h2 社会报道
                        .links
                            .row.justify-content-between.align-items-center                                
                                .col-auto
                                    a.more(href="list.html") 查看全部
                                        i.iconfont.icon-right
                                .col-auto
                                    .swiper-prev
                                        i.iconfont.icon-prev
                                    .swiper-next
                                        i.iconfont.icon-next
                                        
                .col-lg-9
                    .swiper.mySwiper 
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item 
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic  
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go

                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go


        section.s1.s2 
            .row.align-items-end 
                .col-lg-3.order-lg-last
                    .header-news
                        h2 社会报道
                        .links
                            .row.justify-content-between.align-items-center 
                                
                                .col-auto.order-lg-last
                                    a.more(href="list.html") 查看全部
                                        i.iconfont.icon-right

                                .col-auto
                                    .swiper-prev2
                                        i.iconfont.icon-prev
                                    .swiper-next2
                                        i.iconfont.icon-next
                                        
                .col-lg-9
                    .swiper.mySwiper2 
                        .swiper-wrapper
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go

                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                            .swiper-slide
                                .item
                                    .pic 
                                        img(src="img/1x/thumb-80.jpg", alt="")
                                    .date 2021年01月01日
                                    h3.title 
                                        a(href="news_detail.html") 是非成败转头空，青山依旧在，惯看秋月春......
                                    p.des 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多少事，滚滚长......
                                    a.more(href="news_detail.html") 
                                        i.iconfont.icon-go
                        
                                                
                                    
                    
                                                
               


            
        
block bkfooter
    script(src='js/vendor/swiper/swiper-bundle.min.js')
    script.
        var swiper = new Swiper(".mySwiper", {
            slidesPerView: "auto",
            spaceBetween: 0,
            navigation: {              
                    nextEl: '.swiper-next',
                    prevEl: '.swiper-prev',
                },
           
        });
        var swiper2 = new Swiper(".mySwiper2", {
            slidesPerView: "auto",
            spaceBetween: 0,
            navigation: {              
                    nextEl: '.swiper-next2',
                    prevEl: '.swiper-prev2',
                },
           
        });

        