extends includes/layout.pug

block title
    | 新闻

block content

   
    .page.page-news     
        section.s1.container         
            .title-section.wow.fadeInLeft
                h2 校园活动

        section.s2.container
            .newslist
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-5.col-lg-6                 
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/news02.jpg")
                        
                        .col-md-7.col-lg-5
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title 德国科隆过滤与分离技术设备工业展览会FILTECH
                                p.des 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心，为他们带来个性化、有创意的教学内容，并与与家长保持密切的沟通。
                                time                                     
                                    | 2020.03.09
                
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-5.col-lg-6                 
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/news02.jpg")
                        
                        .col-md-7.col-lg-5
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title 德国科隆过滤与分离技术设备工业展览会FILTECH
                                p.des 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心，为他们带来个性化、有创意的教学内容，并与与家长保持密切的沟通。
                                time                                     
                                    | 2020.03.09
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-5.col-lg-6                 
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/news02.jpg")
                        
                        .col-md-7.col-lg-5
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title 德国科隆过滤与分离技术设备工业展览会FILTECH
                                p.des 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心，为他们带来个性化、有创意的教学内容，并与与家长保持密切的沟通。
                                time                                     
                                    | 2020.03.09
                .item
                    .row.justify-content-between.align-items-center
                        .col-md-5.col-lg-6                 
                            a.pic.wow.fadeInLeft(href="news_detail.html")
                                img(src="img/temp/news02.jpg")
                        
                        .col-md-7.col-lg-5
                            a.txt.wow.fadeInRight(href="news_detail.html")  
                                h3.title 德国科隆过滤与分离技术设备工业展览会FILTECH
                                p.des 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心，为他们带来个性化、有创意的教学内容，并与与家长保持密切的沟通。
                                time                                     
                                    | 2020.03.09
                    
          
       
        footer.news-footer 
            button.btn.btn-default-outline more
                
                //- ul.pagination
                //-     li.page-item.disabled
                //-         a.page-link(href='#', tabindex='-1', aria-disabled='true') Previous
                //-     li.page-item
                //-         a.page-link(href='#') 1
                //-     li.page-item.active(aria-current='page')
                //-         a.page-link(href='#')
                //-             | 2                          
                //-     li.page-item
                //-         a.page-link(href='#') 3
                //-     li.page-item
                //-         a.page-link(href='#') Next
        
block bkfooter
    script.
        $(function(){
            $('body').addClass("newsbody");
            $("#logo").attr('src','img/logo_black.png');
        })
