extends includes/layout.pug

block title
    | 新闻动态

block content
    .banner.banner-news.wow.fadeInUp
        img(src="img/banners/news.jpg", alt="News")   


    .page.page-news-detail.pt-media-6.pb-media-8                 
        
        article.container
            .news-header                
                    h1.text26.wow.fadeInUp Eall is a Shenzhen web design company offering cost effective
                    .date.wow.fadeInUp 2020/07/11
            main#artContent.content.wow.fadeInUp
                
                p Eall is a Shenzhen web design company offering cost effective, comprehensive design solutions for foreign and domestic companies in Shenzhen and Hong Kong, China who wish to expand their customer base by extending their reach into the international marketplace via the web.
                
                figure.pic
                    img(src="img/temp/nd01.jpg", alt="")

                p n fact, it is easy to remember Eall (Easy-All) of all simple, you only need to give us your requirement, such as business web site, enterprise software or business advertising, All the other to do it to us. One-stop service at any time to meet your business needs.
                p With our solutions and services, combined with professional knowledge and understanding, we are committed to provide three easy (3E) of the Internet application services:

            footer.pagenav.wow.fadeInUp
                .row.justify-content-between
                    .col-auto
                        a.news-nav.prev(href="news_detail.html")
                            i.iconfont.icon-prev
                            | Previous: Eall is a Shenzhen web design company offering cost effective
                    .col-auto
                        a.news-nav.next(href="news_detail.html")                               
                            | Next：Eall is a Shenzhen web design company offering
                            i.iconfont.icon-next
                   
          

block bkfooter
    script.
        