extends includes/layout.pug

block title
    | Scientists Design Novel Algorithmic Framework for Alzheimer's Disease Prediction.

block content

    .page.page-news-detail
        
        article.container
            header
                h1.title-news.wow.fadeInUp 期权“策略笔记”第8篇：蓄势上攻，速度战胜时间仍然存疑20190912
                .row.note.justify-content-md-center
                    .col-auto 2020-04-21 08:00
                    .col-auto 发布者：熊猫邮局
            main.content.wow.fadeInUp
                figure
                    img(src="img/temp/news_detail_01.jpg", alt="")
                p 2019年3月23日，中国科学院深圳先进技术研究院（简称：深圳先进院）与UBC的布瑞恩·麦克维卡等脑科学领域六位加拿大院士共同组建的“深港脑科学创新研究院SIAT-UBC院士工作站”正式揭牌成立。揭牌仪式在深圳先进院举行，中国科学院副院长张亚平院士、深圳市副市长王立新、中国科学院前沿科学与教育局局长徐涛院士、中国科学院国际合作局局长曹京华、深圳先进院院长樊建平、党委书记杨建华等出席揭牌仪式。
                p “深圳是一座适合发展转化医学的城市，脑研究院和脑设施的规划内容高度契合了我们在神经、精神疾病等重大脑疾病方面的研究，希望脑研究院和脑设施建成后能够为我们双方提供长期合作所需要的硬件及软件基础，推动相关药物在深研制生产，促进学术研究与产业充分融合。”布瑞恩·麦克维卡院士在致辞中表示。
                p 深圳先进院党委书记杨建华表示，“加强开放合作，融入全球创新网络，是深圳先进院脑科学团队一贯的定位；我们希望藉此汇聚脑科学领域全球优势创新资源，依托此研究平台，相信未来会有更多、更优秀的国际科研人才聚集深圳，为粤港澳大湾区乃至国际上在脑科学领域的基础研究和前沿突破做出贡献。”
                p “深港脑科学创新研究院SIAT-UBC院士工作站”是来自加拿大UBC的六位脑科学领域院士团队与深圳先进院脑科学青年科研人员“组队”，双方将建立长期的合作关系，围绕脑科学前沿问题和转化研究联合攻关。
                p 此次建立合作的UBC六位加拿大院士在神经系统疾病机制研究及转化医学研究领域积累了丰富的研究经验并取得了杰出的研究成果。据悉，院士工作站主要人员包括6名UBC院士、深圳先进院8名以上高级研究员，未来规划总数将达到60人。
                p 双方将集中在神经、精神疾病的基础与转化研究方面开展合作，促进深圳先进院在神经科学领域的基础和转化研究，提升深圳在脑科学领域的国际影响力；并将开展研究生联合培养、加强人员互访、定期互派访问学者等。
                figure
                    img(src="img/temp/news_detail_02.jpg", alt="")

                p 2019年3月23日，中国科学院深圳先进技术研究院（简称：深圳先进院）与UBC的布瑞恩·麦克维卡等脑科学领域六位加拿大院士共同组建的“深港脑科学创新研究院SIAT-UBC院士工作站”正式揭牌成立。揭牌仪式在深圳先进院举行，中国科学院副院长张亚平院士、深圳市副市长王立新、中国科学院前沿科学与教育局局长徐涛院士、中国科学院国际合作局局长曹京华、深圳先进院院长樊建平、党委书记杨建华等出席揭牌仪式。
                p “深圳是一座适合发展转化医学的城市，脑研究院和脑设施的规划内容高度契合了我们在神经、精神疾病等重大脑疾病方面的研究，希望脑研究院和脑设施建成后能够为我们双方提供长期合作所需要的硬件及软件基础，推动相关药物在深研制生产，促进学术研究与产业充分融合。”布瑞恩·麦克维卡院士在致辞中表示。
                p 深圳先进院党委书记杨建华表示，“加强开放合作，融入全球创新网络，是深圳先进院脑科学团队一贯的定位；我们希望藉此汇聚脑科学领域全球优势创新资源，依托此研究平台，相信未来会有更多、更优秀的国际科研人才聚集深圳，为粤港澳大湾区乃至国际上在脑科学领域的基础研究和前沿突破做出贡献。”
                p “深港脑科学创新研究院SIAT-UBC院士工作站”是来自加拿大UBC的六位脑科学领域院士团队与深圳先进院脑科学青年科研人员“组队”，双方将建立长期的合作关系，围绕脑科学前沿问题和转化研究联合攻关。
                
            footer.row.justify-content-md-center.wow.fadeInUp
                .col-auto
                    a.news-nav(href="news-detail.html") 上一篇资讯
                .col-auto
                    a.news-nav(href="news-detail.html") 下一篇资讯
          

block bkfooter
    script.
        $(function(){
          
        })