extends includes/layout.pug

block title
    | 媒体中心
block content
    .banner.banner-news.wow.fadeInUp
        img(src="img/banners/news.jpg", alt="News")      

    .page.page-news.container.pt-media-6.pb-media-6
        .row 
            .col-md-8.col-lg-9
                .news-list
                    .item
                        .row 
                            .col-md-4
                                .pic 
                                    a(href="news_detail.html") 
                                        img(src="img/temp/n1.jpg", alt="")
                            .col-md-8
                                .txt
                                    .row 
                                        .col-9 
                                            h3
                                                a(href="news_detail.html") Eall is a Shenzhen web design company offering cost effective
                                        .col-3 
                                            .date.wow.fadeInUp 2021/05/12
                                    p.des.wow.fadeInUp Eall is a Shenzhen web design company offering cost effective, comprehensive design solutions for foreign and domestic companies in Shenzhen and Hong Kong, China who wish to expand their customer base by extending their reach ...
                                    a.more.wow.fadeInUp(href="news_detail.html") SEE MORE 
                                        i.iconfont.icon-right

                    .item
                        .row 
                            .col-md-4
                                .pic 
                                    a(href="news_detail.html") 
                                        img(src="img/temp/n2.jpg", alt="")
                            .col-md-8
                                .txt
                                    .row 
                                        .col-9 
                                            h3
                                                a(href="news_detail.html") Eall is a Shenzhen web design company offering cost effective
                                        .col-3 
                                            .date.wow.fadeInUp 2021/05/12
                                    p.des.wow.fadeInUp Eall is a Shenzhen web design company offering cost effective, comprehensive design solutions for foreign and domestic companies in Shenzhen and Hong Kong, China who wish to expand their customer base by extending their reach ...
                                    a.more.wow.fadeInUp(href="news_detail.html") SEE MORE 
                                        i.iconfont.icon-right

                    .item
                        .row 
                            .col-md-4
                                .pic 
                                    a(href="news_detail.html") 
                                        img(src="img/temp/n3.jpg", alt="")
                            .col-md-8
                                .txt
                                    .row 
                                        .col-9 
                                            h3
                                                a(href="news_detail.html") Eall is a Shenzhen web design company offering cost effective
                                        .col-3 
                                            .date.wow.fadeInUp 2021/05/12
                                    p.des.wow.fadeInUp Eall is a Shenzhen web design company offering cost effective, comprehensive design solutions for foreign and domestic companies in Shenzhen and Hong Kong, China who wish to expand their customer base by extending their reach ...
                                    a.more.wow.fadeInUp(href="news_detail.html") SEE MORE 
                                        i.iconfont.icon-right

                    .item
                        .row 
                            .col-md-4
                                .pic 
                                    a(href="news_detail.html") 
                                        img(src="img/temp/n4.jpg", alt="")
                            .col-md-8
                                .txt
                                    .row 
                                        .col-9 
                                            h3
                                                a(href="news_detail.html") Eall is a Shenzhen web design company offering cost effective
                                        .col-3 
                                            .date.wow.fadeInUp 2021/05/12
                                    p.des.wow.fadeInUp Eall is a Shenzhen web design company offering cost effective, comprehensive design solutions for foreign and domestic companies in Shenzhen and Hong Kong, China who wish to expand their customer base by extending their reach ...
                                    a.more.wow.fadeInUp(href="news_detail.html") SEE MORE 
                                        i.iconfont.icon-right
                                                
                                    
                    
                                                
                            
                footer.quality-footer.wow.fadeInUp
                    ul.pagination.text-center
                        li.page-item
                            a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                i.iconfont.icon-prev
                                
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link.next(href='#') 
                                i.iconfont.icon-next


            .col-md-4.col-lg-3
                aside.right-col
                    h3.title.text22.wow.fadeInUp Latest News
                    ul.list 
                        li.wow.fadeInUp 
                            .pic 
                                a(href="news_detail.html") 
                                    img(src="img/temp/n7.jpg", alt="")
                            h3 
                                a(href="news_detail.html")  Eall is a Shenzhen web design...

                        li.wow.fadeInUp 
                            .pic 
                                a(href="news_detail.html") 
                                    img(src="img/temp/n5.jpg", alt="")
                            h3 
                                a(href="news_detail.html")  Eall is a Shenzhen web design...

                        li.wow.fadeInUp 
                            .pic 
                                a(href="news_detail.html") 
                                    img(src="img/temp/n6.jpg", alt="")
                            h3 
                                a(href="news_detail.html")  Eall is a Shenzhen web design...

                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
                        li.txt 
                            a(href="news_detail.html")  Eall is a Shenzhen web design...
        
block bkfooter
    script.
        $(function(){
        
        })
