extends includes/layout.pug

block title
    | 新闻

block content

   
    .page.page-news          
        nav.s1.container 
            .row.align-items-center
                .col-md
                    .title-section.wow.fadeInUp
                        h2 NEWS
                        h3 动态资讯
                .col-md-auto
                    a.active(href="news.html") 所有
                    a(href="news.html") 活动
                    a(href="news.html") 资讯
                

        section.s2.container
            .newslist
                .row
                    .col-md-6.col-lg-3                        
                        a.item.wow.fadeInLeft(href="news_detail.html")
                            img(src="img/temp/n1.jpg")
                            div.title 
                                h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                    .col-md-6.col-lg-3                        
                        a.item.wow.fadeInLeft(href="news_detail.html")
                            img(src="img/temp/n2.jpg")
                            div.title 
                                h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                    .col-md-6.col-lg-3                     
                        a.item.wow.fadeInLeft(href="news_detail.html")
                            img(src="img/temp/n3.jpg")
                            div.title 
                                h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
                    .col-md-6.col-lg-3                  
                        a.item.wow.fadeInLeft(href="news_detail.html")
                            img(src="img/temp/n4.jpg")
                            div.title 
                                h3 是非成败转头空，青山依旧在，惯看秋月春风。一壶浊酒喜相逢，古今多
          
       
            footer.news-footer 
                .row.align-items-center
                    div.col
                        ul.pagination                         
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item.active(aria-current='page')
                                a.page-link(href='#')
                                    | 2                          
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link(href='#') 4
                    .col-auto
                        a.page-link.icon(href='#', tabindex='-1', aria-disabled='true') 
                            i.iconfont.icon-prev
                        a.page-link.icon(href='#') 
                            i.iconfont.icon-next
        
block bkfooter
    script.
        $(function(){
        
        })
