extends includes/layout.pug

block title
    | 新闻动态

block content
   
    .page.page-news-detail.pt-media-6.pb-media-6
        
        article.container
            header.art-header.mb-media-3
                h1.text32.wow.fadeInUp 期权“策略笔记”第8篇：蓄势上攻，速度战胜时间仍然存疑20190912
                .note.wow.fadeInUp
                    .author 发布作者：
                    .val 博迈医疗
                    time 2020-04-21    

            main#artContent.content.wow.fadeInUp
                figure.pic
                    img(src="img/temp/n7.jpg", alt="")
                p 博迈医疗05月27日公告： 10个血管介入器械配件产品于近日取得了CE证书和ISO证书，这是公司今年继Alveo冠脉高压小球囊，Wedge NC冠脉导丝刻痕高压球囊扩张导管和Tri-Wedge（特威致）三金属丝球囊扩张导管后获得的第四张CE证书，为公司打开欧盟市场奠定了坚实的基础，提高了公司产品的综合优势。
                p 博迈配件产品获得了CE证书这一欧洲市场的“准入证”，意味着博迈不仅主产品已走向国际舞台，连配件也全面开始服务于全球客户。博迈在全力注重于冠脉和外周球囊扩张导管产品的同时，也大力发展配件产品，结合大量研发投入，响应市场需求和法规要求，最终产品顺利通过CE认证。博迈在配件的研发设计时综合考虑了市场需求，为每个配件都配置了不同的规格，设计更加地人性化，除了满足手术中最基本的需求，而且能有效地配合医生的使用，最大程度减轻患者的痛苦，成为医生信赖的产品。
                p 随着这些配件产品获得CE证书，标志着博迈医疗向打造技术领先的血管介入治疗器械平台的目标迈出的坚实的一步，对于博迈医疗有着非常深远的意义，得到了欧盟的认可，让博迈更加全面地踏入国际市场。未来，博迈还将继续砥砺前行，乘风破浪，服务全球，为医生和患者提供越来越优质的产品，为健康保驾护航！

            footer.pagenav.wow.fadeInUp                  
                a.news-nav(href="news_detail.html")
                    i.iconfont.icon-previous
                    | 上一篇资讯                  
                a.news-nav(href="news_detail.html")                    
                    | 下一篇资讯
                    i.iconfont.icon-next
          

block bkfooter
    script.
        $(function(){
          $("#btnSM").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-lg').addClass("font-sm");
          });
           $("#btnMe").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-lg').removeClass("font-sm");
          });
          $("#btnLG").click(function(e){
              $(this).addClass("active").siblings().removeClass('active');
              $("#artContent").removeClass('font-sm').addClass("font-lg");
          });
        })