extends includes/layout.pug

block title
    | 媒体中心
block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/media.jpg)")
        .container
            .title
                h1.wow.fadeInUp 媒体中心
                p.wow.fadeInUp 与你分享我们的一点一滴。

    .page.page-news.pb-media-5
        .newslist
            .item
                .container
                    h3.text32.wow.fadeInUp
                        a(href="news_detail.html") 海外留学人员新型冠状病毒肺炎防控
                    p.des.wow.fadeInUp 百多安生产发货情况说明自从疫情发生以来，山东百多安医疗器械股份有限公司（以下称公司）紧急承担部分政府计划性指标供应，除夕前已经安排24小时加班生产，同时紧急开发了5个系列10个防护产品，低价供应市场，另外公司也为防疫捐献近百万防护用品，赢得政府领...
                    .date.wow.fadeInUp 2020.07.11  1小时前
                                    
                               
            .item
                .container
                    h3.text32.wow.fadeInUp
                        a(href="news_detail.html") 发展互联网医疗服务 解决病人多看病难问题
                    p.des.wow.fadeInUp 百多安生产发货情况说明自从疫情发生以来，山东百多安医疗器械股份有限公司（以下称公司）紧急承担部分政府计划性指标供应，除夕前已经安排24小时加班生产，同时紧急开发了5个系列10个防护产品，低价供应市场，另外公司也为防疫捐献近百万防护用品，赢得政府领...
                    .date.wow.fadeInUp 2020.01.12  3月前

                        
            .item
                .container
                    h3.text32.wow.fadeInUp
                        a(href="news_detail.html") 发展互联网医疗服务 解决病人多看病难问题
                    p.des.wow.fadeInUp 百多安生产发货情况说明自从疫情发生以来，山东百多安医疗器械股份有限公司（以下称公司）紧急承担部分政府计划性指标供应，除夕前已经安排24小时加班生产，同时紧急开发了5个系列10个防护产品，低价供应市场，另外公司也为防疫捐献近百万防护用品，赢得政府领...
                    .date.wow.fadeInUp 2020.07.11  1小时前
                                    
                               
            .item
                .container
                    h3.text32.wow.fadeInUp
                        a(href="news_detail.html") 发展互联网医疗服务 解决病人多看病难问题
                    p.des.wow.fadeInUp 百多安生产发货情况说明自从疫情发生以来，山东百多安医疗器械股份有限公司（以下称公司）紧急承担部分政府计划性指标供应，除夕前已经安排24小时加班生产，同时紧急开发了5个系列10个防护产品，低价供应市场，另外公司也为防疫捐献近百万防护用品，赢得政府领...
                    .date.wow.fadeInUp 2020.01.12  3月前
                                           
                      
        footer.quality-footer.wow.fadeInUp
            ul.pagination.text-center
                li.page-item
                    a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                        i.iconfont.icon-prev
                        
                li.page-item
                    a.page-link(href='#') 1
                li.page-item.active(aria-current='page')
                    a.page-link(href='#')
                        | 2                          
                li.page-item
                    a.page-link(href='#') 3
                li.page-item
                    a.page-link.next(href='#') 
                        i.iconfont.icon-next
                                       
        
block bkfooter
    script.
        $(function(){
        
        })
