extends includes/layout.pug

block title
    | 资讯

block content
    
    .page.page-news          
        section.s1.container
            .title-section
                h2.text-center 资讯中心
            
            nav.categories.wow.fadeInUp
                a.active(href="news.html") 全部
                a(href="news.html") 每周一学
                a(href="news.html") 3分钟学期权
                a(href="news.html") 选择&amp;未来
                a(href="news.html") 权面解读
                a(href="news.html") 策略笔记
                

        section.s2.container
            .newslist
                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-auto 
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_01.jpg")     
                        .col-md
                            .txt 
                                .row.top
                                    .col-auto
                                        time 2019/12/02
                                    .col 
                                        .cate 每周一学
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-auto 
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_02.jpg")     
                        .col-md
                            .txt 
                                .row.top
                                    .col-auto
                                        time 2019/12/02
                                    .col 
                                        .cate 每周一学
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-auto 
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_03.jpg")     
                        .col-md
                            .txt 
                                .row.top
                                    .col-auto
                                        time 2019/12/02
                                    .col 
                                        .cate 每周一学
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。


                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-auto 
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_01.jpg")     
                        .col-md
                            .txt 
                                .row.top
                                    .col-auto
                                        time 2019/12/02
                                    .col 
                                        .cate 每周一学
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-auto 
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_01.jpg")     
                        .col-md
                            .txt 
                                .row.top
                                    .col-auto
                                        time 2019/12/02
                                    .col 
                                        .cate 每周一学
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。


       
   
                footer.news-footer.wow.fadeInUp
                    ul.pagination.text-center
                        li.page-item
                            a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                i.iconfont.icon-arrow-left
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link.next(href='#') 
                                i.iconfont.icon-arrow-right
        
block bkfooter
    script.
        $(function(){
        
        })
