extends includes/layout.pug

block content
    
        

    
    .page.page-news-detail
        .top_pic.wow.fadeInUp(style="background-image:url('img/temp/news_top.jpg')")
        article.container
            header
                h1.title-news.wow.fadeInUp 你喜欢什么样的音乐，就会拥有什么样的灵魂。
                time.wow.fadeInUp                   
                    | 2020.03.25

            main.wow.fadeInUp
                p 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心。
                p 幼儿园——原称勘儿园，是几百年前从普鲁士引进的体制。旧称蒙养园、幼稚园，为一种学前教育机构，用于对幼儿集中进行保育和教育，通常接纳三至六周岁的幼儿。可以说幼儿园是小朋友的快乐天地，可以帮助孩子们健康快乐地度过童年时光，不仅可以学到知识，而且还能从小接触集体生活。幼儿园教育作为整个教育体系基础的基础，是对儿童进行预备教育（性格完整健康、行为习惯良好、初步的自然与社会常识）。
                p 游戏——幼儿运用一定的知识和语言，借助各种物品，通过身体和心智的活动，反映并探索周围世界的一种活动，是幼儿最基本的活动。在不同时期，对于游戏的认识不尽相同，我个人觉得《幼儿园游戏组织与指导》这本书在儿童游戏方面的介绍是很全面的，很值得一看。记得前两天看优慕课时，丁海东教授说过“聪明的孩子爱玩，爱玩的孩子聪明”这句话是事实，游戏是儿童认识世界探索世界最简单最基本而又最高效的一种活动！

                figure.wow.fadeInUp
                    img(src="img/temp/news_body.jpg")

                p 在金生，教师不仅仅是一份工作，更是一份责任，我们尊重幼儿的个体差异，因材施教，我们不仅传道授业，而且用心守护幼儿的健康成长。个人的力量是有限的，而团队的力量不可估量的。金生国际幼儿园拥有一支极具凝聚力的教师队伍，我们富有激情，坚持以幼儿为中心。
                p 幼儿园——原称勘儿园，是几百年前从普鲁士引进的体制。旧称蒙养园、幼稚园，为一种学前教育机构，用于对幼儿集中进行保育和教育，通常接纳三至六周岁的幼儿。可以说幼儿园是小朋友的快乐天地，可以帮助孩子们健康快乐地度过童年时光，不仅可以学到知识，而且还能从小接触集体生活。幼儿园教育作为整个教育体系基础的基础，是对儿童进行预备教育（性格完整健康、行为习惯良好、初步的自然与社会常识）。
                p 游戏——幼儿运用一定的知识和语言，借助各种物品，通过身体和心智的活动，反映并探索周围世界的一种活动，是幼儿最基本的活动。在不同时期，对于游戏的认识不尽相同，我个人觉得《幼儿园游戏组织与指导》这本书在儿童游戏方面的介绍是很全面的，很值得一看。记得前两天看优慕课时，丁海东教授说过“聪明的孩子爱玩，爱玩的孩子聪明”这句话是事实，游戏是儿童认识世界探索世界最简单最基本而又最高效的一种活动！
