extends includes/layout.pug

block title
    | 资讯

block content
    
    .page.page-news          
        section.s1.container
            .title-section
                h2.text-center 公司动态
            

        section.s2.container
            .newslist
                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-4
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_05.jpg")     
                        .col-md-8
                            .txt.txt1
                               
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                 
                                .pubdate
                                    time 2019/12/02 17:20
                                    
                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-4
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_05.jpg")     
                        .col-md-8
                            .txt.txt1
                               
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                 
                                .pubdate
                                    time 2019/12/02 17:20

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-4
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_05.jpg")     
                        .col-md-8
                            .txt.txt1
                               
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                 
                                .pubdate
                                    time 2019/12/02 17:20

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-4
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_05.jpg")     
                        .col-md-8
                            .txt.txt1
                               
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                 
                                .pubdate
                                    time 2019/12/02 17:20

                .item.wow.fadeInUp
                    .row.align-items-center
                        .col-md-4
                            a.pic(href="news_detail.html")
                                img(src="img/temp/news_05.jpg")     
                        .col-md-8
                            .txt.txt1
                               
                                h3 
                                    a(href="news_detail.html") 一个神奇的“期权投资时钟”
                                p.des 定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍期权知识和交易技巧定位通俗易懂，系统性地介绍。
                                 
                                .pubdate
                                    time 2019/12/02 17:20

       
   
                footer.news-footer.wow.fadeInUp
                    ul.pagination.text-center
                        li.page-item
                            a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                i.iconfont.icon-arrow-left
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link.next(href='#') 
                                i.iconfont.icon-arrow-right
        
block bkfooter
    script.
        $(function(){
        
        })
