extends includes/layout.pug

block content
    .banner.banner-news(style="background-image:url('img/temp/banner-news.jpg')")
        .container
            p.txt NEWS
                br
                | 新闻

    
    .page.page-news-detail
        article.container
            header
                h1.title-news 韩国仁川涂料胶粘膜展COATING  KOREA
                time 
                    i.iconfont.icon-time
                    | 2020.03.25 ~ 27

            main
                p 韩国涂料胶粘剂薄膜展COATING KOREA是韩国国内专注于胶粘剂、涂料、薄膜片材、涂层、及相关化学原料的国际性展会。此展会由韩国涂料协会主办，得到了韩国化学商协会等多家协会机构的支持。每年一届，2018年3月成功举办的2018届展览会再次证明了韩国涂料、胶粘剂、薄膜展是代表韩国产业的展览会。中国、印度等12个国家与地区，200余家企业参加了展览会，包括俄罗斯、加拿大、日本、伊朗、埃及、法国等全球20个国家的约800余名买家，有19,000多名观众了参加本展览会，与参展企业进行了商务洽谈。国内外涂料、胶粘、薄膜相关产业主要需求方的很多买家访问了韩国涂料、胶粘剂、薄膜展，并与参展企业进行了商务交流及合作。韩国首届COATING SURFACE国际会议“SURFCOAT KOREA”及2019年国际表面处理、电镀工业、涂装展。全球20多个国家300余名专家和产业相关人士将出席此次会议，并对各领域40多个主题的新技术进行发表，提供产业间信息交流的机会。

                figure
                    img(src="img/temp/news04.jpg")

        