extends includes/layout.pug

block title
    | 海外精英人才招聘

block bkheader
   

block content
    .banner.banner-overseas(style="background-image:url(img/banners/overseas.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 海外精英人才招聘

                

    .page.page-overseas.pt-media-7.pb-media-7
        .container 
            .row
                .col-lg-6
                    .leftcol
                        .text24.mb-media-3 在这里您将与国家千人、海归精英、行业牛人、攻克行业难题、创建行业标准，我们期待您：                        
                        .text24.mb-media-3.t1 有科技报国的意愿与使命和把不可能变成可能的能力立志用科技改变人们的生活质量，解决医疗行业难题
                        .text24.mb-media-3 来吧，加入我们，用自己的聪明才智，不断探索与创新，用科技拥抱生命

                        .footer
                            a.btn.btn-primary(href="#") 
                                i.iconfont.icon-email
                                | dianapeng@brosmed.com

                            p 我们将会在1-2天内联系您

           
                .col-lg-6
                    .rightcol
                        h3.title.text32 我们需要您
                        ul
                            li
                                i.iconfont.icon-ok
                                | 专注于冠脉血管、外周血管、神经血管、消化道领域的有源医疗器械、无源医疗器械行业专家与骨干人才
                            li
                                i.iconfont.icon-ok
                                | 在新材料、表面处理、传感器、电子设计、光学技术、神经科学有深入研究并取得一定的成果的科研型人才
                            li
                                i.iconfont.icon-ok
                                | 优秀应届毕业生，化学、材料学、高分子、材料成型与控制、机械等专业硕士以上毕业生

                
    

block bkfooter   
    
    script.
        $(function () {
           
        
        });

     
