extends includes/layout.pug

block title
    | 论文

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(../img/temp/banner_research.jpg)")
        .container
            h1.title-page 科研概况
            nav.submenus 
                a(href="research_overview.html") 研究布局              
                a(href="research_projects.html") 科研项目             
                a(href="research_evolve.html") 科研进展
                a.active(href="papers.html") 论文
                a(href="awards.html") 获奖
       
        
    .page.page-papers.container
        .s1.section
            nav.years
                a.active(href="pagers.html") 所有
                a(href="pagers.html") 2019
                a(href="pagers.html") 2018
                a(href="pagers.html") 2017
                a(href="pagers.html") 2016
                a(href="pagers.html") 2015
                a(href="pagers.html") 2014


        .s2
            .pagerlist
                .item.wow.fadeInUp
                    .row
                        .col-md-auto             
                            .pic
                                img(src="img/pager_01.png")
                        .col-md
                            .txt
                                p Kuikui Zhou, Yingjie Zhu*. The paraventricular thalamic nucleus: A key hub of neural circuits underlying drug addiction. Pharmacological Research. 2019,142:70-76.[PDF]
                                .actions
                                    a(href="#") 打开PDF
                                    a(href="#") 下载PDF
                                    a(href="#") 跳转网站

                .item.wow.fadeInUp
                    .row
                        .col-md-auto             
                            .pic
                                img(src="img/pager_01.png")
                        .col-md
                            .txt
                                p Kuikui Zhou, Yingjie Zhu*. The paraventricular thalamic nucleus: A key hub of neural circuits underlying drug addiction. Pharmacological Research. 2019,142:70-76.[PDF]
                                .actions
                                    a(href="#") 打开PDF
                                    a(href="#") 下载PDF
                                    a(href="#") 跳转网站

                .item.wow.fadeInUp
                    .row
                        .col-md-auto             
                            .pic
                                img(src="img/pager_01.png")
                        .col-md
                            .txt
                                p Kuikui Zhou, Yingjie Zhu*. The paraventricular thalamic nucleus: A key hub of neural circuits underlying drug addiction. Pharmacological Research. 2019,142:70-76.[PDF]
                                .actions
                                    a(href="#") 打开PDF
                                    a(href="#") 下载PDF
                                    a(href="#") 跳转网站

                .item.wow.fadeInUp
                    .row
                        .col-md-auto             
                            .pic
                                img(src="img/pager_01.png")
                        .col-md
                            .txt
                                p Kuikui Zhou, Yingjie Zhu*. The paraventricular thalamic nucleus: A key hub of neural circuits underlying drug addiction. Pharmacological Research. 2019,142:70-76.[PDF]
                                .actions
                                    a(href="#") 打开PDF
                                    a(href="#") 下载PDF
                                    a(href="#") 跳转网站

                .item.wow.fadeInUp
                    .row
                        .col-md-auto             
                            .pic
                                img(src="img/pager_01.png")
                        .col-md
                            .txt
                                p Kuikui Zhou, Yingjie Zhu*. The paraventricular thalamic nucleus: A key hub of neural circuits underlying drug addiction. Pharmacological Research. 2019,142:70-76.[PDF]
                                .actions
                                    a(href="#") 打开PDF
                                    a(href="#") 下载PDF
                                    a(href="#") 跳转网站

                   

                footer.pager-footer       
                    ul.pagination.text-center
                        li.page-item.disabled
                            a.page-link(href='#', tabindex='-1', aria-disabled='true') 上一页
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link(href='#') 下一页


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
