extends includes/layout.pug

block title
    | 创新研究
    - var currentUrl = 'research.html'
block bkheader
    

block content
    .banner.banner-team
        img.bg(src="img/banners/research.jpg", alt="研发模式")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text60 研发模式

    section.page.page-partners-s1.container.pt-media-6
        .title-section.text-center
            h2.text28 股权投资海外Biotech
            p.text20 主要合作伙伴及合作产品列表

        .partners 
            .row.g-4.g-xxl-5 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-1.png", alt="专注于开发和商业化胃肠道疾病相关产品") 
                        .des 专注于开发和商业化胃肠道疾病相关产品
                        h4 主要产品
                        dl 
                            dt 亚甲蓝肠溶缓释片                            
                            dd 增强结直肠癌或癌前病变诊断敏感性的口服亚甲蓝缓释制剂 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-2.png", alt="在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品") 
                        .des 在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品
                        h4 主要产品
                        dl 
                            dt 甲氨蝶呤注射液（预充式）                            
                            dd 有望成为中国首个皮下给药治疗银屑病和RA的MTX预充式注射剂
                        dl 
                            dt 膀胱灌注用卡介苗                         
                            dd 欧洲上市二十年，多国唯一可用的膀胱内治疗用卡介苗制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="发现、开发、生产和销售广泛的医疗保健疗法") 
                        .des 发现、开发、生产和销售广泛的医疗保健疗法
                        h4 主要产品
                        dl 
                            dt 德度司他片                            
                            dd 专利保护的新分子实体，口服HIF-PHI，用于治疗CKD患者的贫血

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-4.png", alt="专注于创新的疗法与给药方式") 
                        .des 专注于创新的疗法与给药方式
                        h4 主要产品
                        dl 
                            dt 紫杉醇注射浓缩混悬液                            
                            dd 无蓖麻油和白蛋白，实现一步稀释且无需预处理的新型紫杉醇纳米分散体制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-2.png", alt="专注于开发和商业化胃肠道疾病相关产品") 
                        .des 专注于开发和商业化胃肠道疾病相关产品
                        h4 主要产品
                        dl 
                            dt 亚甲蓝肠溶缓释片                            
                            dd 增强结直肠癌或癌前病变诊断敏感性的口服亚甲蓝缓释制剂 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品") 
                        .des 在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品
                        h4 主要产品
                        dl 
                            dt 甲氨蝶呤注射液（预充式）                            
                            dd 有望成为中国首个皮下给药治疗银屑病和RA的MTX预充式注射剂
                        dl 
                            dt 膀胱灌注用卡介苗                         
                            dd 欧洲上市二十年，多国唯一可用的膀胱内治疗用卡介苗制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="发现、开发、生产和销售广泛的医疗保健疗法") 
                        .des 发现、开发、生产和销售广泛的医疗保健疗法
                        h4 主要产品
                        dl 
                            dt 德度司他片                            
                            dd 专利保护的新分子实体，口服HIF-PHI，用于治疗CKD患者的贫血

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-4.png", alt="专注于创新的疗法与给药方式") 
                        .des 专注于创新的疗法与给药方式
                        h4 主要产品
                        dl 
                            dt 紫杉醇注射浓缩混悬液                            
                            dd 无蓖麻油和白蛋白，实现一步稀释且无需预处理的新型紫杉醇纳米分散体制剂

    section.page.page-partners-s1.container.pt-media-6.pb-media-6
        .title-section.text-center
            h2.text28 全球Biopharma战略合作
            p.text20 主要合作伙伴及合作产品列表

        .partners 
            .row.g-4.g-xxl-5 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-1.png", alt="专注于开发和商业化胃肠道疾病相关产品") 
                        .des 专注于开发和商业化胃肠道疾病相关产品
                        h4 主要产品
                        dl 
                            dt 亚甲蓝肠溶缓释片                            
                            dd 增强结直肠癌或癌前病变诊断敏感性的口服亚甲蓝缓释制剂 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-2.png", alt="在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品") 
                        .des 在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品
                        h4 主要产品
                        dl 
                            dt 甲氨蝶呤注射液（预充式）                            
                            dd 有望成为中国首个皮下给药治疗银屑病和RA的MTX预充式注射剂
                        dl 
                            dt 膀胱灌注用卡介苗                         
                            dd 欧洲上市二十年，多国唯一可用的膀胱内治疗用卡介苗制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="发现、开发、生产和销售广泛的医疗保健疗法") 
                        .des 发现、开发、生产和销售广泛的医疗保健疗法
                        h4 主要产品
                        dl 
                            dt 德度司他片                            
                            dd 专利保护的新分子实体，口服HIF-PHI，用于治疗CKD患者的贫血

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-4.png", alt="专注于创新的疗法与给药方式") 
                        .des 专注于创新的疗法与给药方式
                        h4 主要产品
                        dl 
                            dt 紫杉醇注射浓缩混悬液                            
                            dd 无蓖麻油和白蛋白，实现一步稀释且无需预处理的新型紫杉醇纳米分散体制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-2.png", alt="专注于开发和商业化胃肠道疾病相关产品") 
                        .des 专注于开发和商业化胃肠道疾病相关产品
                        h4 主要产品
                        dl 
                            dt 亚甲蓝肠溶缓释片                            
                            dd 增强结直肠癌或癌前病变诊断敏感性的口服亚甲蓝缓释制剂 
                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品") 
                        .des 在肿瘤，泌尿外科和自身免疫疾病领域提供独特产品
                        h4 主要产品
                        dl 
                            dt 甲氨蝶呤注射液（预充式）                            
                            dd 有望成为中国首个皮下给药治疗银屑病和RA的MTX预充式注射剂
                        dl 
                            dt 膀胱灌注用卡介苗                         
                            dd 欧洲上市二十年，多国唯一可用的膀胱内治疗用卡介苗制剂

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-3.png", alt="发现、开发、生产和销售广泛的医疗保健疗法") 
                        .des 发现、开发、生产和销售广泛的医疗保健疗法
                        h4 主要产品
                        dl 
                            dt 德度司他片                            
                            dd 专利保护的新分子实体，口服HIF-PHI，用于治疗CKD患者的贫血

                .col-md-6.col-lg-3 
                    .item 
                        .icon 
                            img(src="img/partners/logo-4.png", alt="专注于创新的疗法与给药方式") 
                        .des 专注于创新的疗法与给药方式
                        h4 主要产品
                        dl 
                            dt 紫杉醇注射浓缩混悬液                            
                            dd 无蓖麻油和白蛋白，实现一步稀释且无需预处理的新型紫杉醇纳米分散体制剂
                  

                

block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
