extends includes/layout.pug

block title
    | 合作客户

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-about(style="background-image:url(img/banners/partner.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/partner_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title_partner_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_partner.png", alt="")
            .des(data-depth="0.8") 
                p 蓝源与主要合作伙伴建立了紧密的联系和长期战略合作关系。

        

    .page.page-partners   
        section.item
            img.bg(src="img/logos/logo-oppo-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-oppo.png", alt="oppo")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.oppo.com") 前往官网 &gt;&gt;

        section.item
            img.bg(src="img/logos/logo-vivo-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-vivo.png", alt="vivo")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.vivo.com") 前往官网 &gt;&gt;

        section.item
            img.bg(src="img/logos/logo-byd-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-byd.png", alt="byd")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.byd.com") 前往官网 &gt;&gt;

        section.item
            img.bg(src="img/logos/logo-mindray-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-mindray.png", alt="mindray")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.mindray.com") 前往官网 &gt;&gt;

        section.item
          
            .logo-container
                .logo
                    img(src="img/logos/logo-jt.png", alt="小天才")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.jt.com") 前往官网 &gt;&gt;

        section.item
            img.bg(src="img/logos/logo-geely-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-geely.png", alt="geely")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.geely.com") 前往官网 &gt;&gt;
            
        section.item
            img.bg(src="img/logos/logo-lenovo-bg.jpg", alt="")
            .logo-container
                .logo
                    img(src="img/logos/logo-lenovo.png", alt="lenovo")
                .txt
                    p.intro vivo为一个专注于智能手机领域的手机品牌，vivo和追求乐趣、充满活力、年轻时尚的群体一起打造拥有卓越外观、专业级音质、极致影像、愉悦体验的智能产品，并将敢于追求极致、持续创造惊喜作为vivo的坚定追求。
                        a(href="http://www.lenovo.com") 前往官网 &gt;&gt;
                        

                             

block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 10,
            slidesPerView: 5,
            centeredSlides: true,
            loop: true,
            freeMode: true,
            loopedSlides: 5, //looped slides should be the same
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 10,
            loop: true,
            loopedSlides: 5, //looped slides should be the same
            navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            thumbs: {
                swiper: galleryThumbs,
            },
        });
        $(function () {
        
  
        
        });
      
       

     
