extends includes/layout.pug

block title
    | 患者关爱

block bkheader
   

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/care.jpg)")
        .container
            .title
                h1.wow.fadeInUp 患者关爱
                p.wow.fadeInUp “健康所系，性命相托”是每个中国医学生的誓言，也是百多安的初心所在。

        
    .page.page-patient.pt-media-5.pb-media-5
        .container 
            .item
                .row.no-gutters
                    .col-lg
                        .pic
                            img(src="img/temp/care_1.jpg", alt="")
                    .col-lg-auto
                        .txt
                            h3.text24 合作探索新的基因调控疗法
                            p 诺华已与Sangamo Therapeutics建立研发合作关系，共同探索针对神经发育疾病的潜在基因调控疗法。
                            .note
                                .date 2020.07.11  1小时前
                                i.iconfont.icon-jiantou

            .item
                .row.no-gutters
                    .col-lg.order-lg-last
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/care_2.jpg", alt="")
                    .col-lg-auto
                        .txt
                            h3.text24 
                                a(href="news_detail.html") 合作探索新的基因调控疗法
                            p 诺华已与Sangamo Therapeutics建立研发合作关系，共同探索针对神经发育疾病的潜在基因调控疗法。
                            .note
                                .date 2020.07.11  1小时前
                                i.iconfont.icon-jiantou

            .item
                .row.no-gutters
                    .col-lg
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/care_3.jpg", alt="")
                    .col-lg-auto
                        .txt
                            h3.text24 
                                a(href="news_detail.html")  合作探索新的基因调控疗法
                            p 诺华已与Sangamo Therapeutics建立研发合作关系，共同探索针对神经发育疾病的潜在基因调控疗法。
                            .note
                                .date 2020.07.11  1小时前
                                i.iconfont.icon-jiantou

            .item
                .row.no-gutters
                    .col-lg.order-lg-last
                        .pic
                            a(href="news_detail.html") 
                                img(src="img/temp/care_4.jpg", alt="")
                    .col-lg-auto
                        .txt
                            h3.text24 
                                a(href="news_detail.html") 合作探索新的基因调控疗法
                            p 诺华已与Sangamo Therapeutics建立研发合作关系，共同探索针对神经发育疾病的潜在基因调控疗法。
                            .note
                                .date 2020.07.11  1小时前
                                i.iconfont.icon-jiantou
                        

                

            footer.quality-footer.wow.fadeInUp
            ul.pagination.text-center
                li.page-item
                    a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                        i.iconfont.icon-prev
                        
                li.page-item
                    a.page-link(href='#') 1
                li.page-item.active(aria-current='page')
                    a.page-link(href='#')
                        | 2                          
                li.page-item
                    a.page-link(href='#') 3
                li.page-item
                    a.page-link.next(href='#') 
                        i.iconfont.icon-next



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
