extends includes/layout.pug

block title
    | 创新研究
    - var currentUrl = 'research.html'
block bkheader
    

block content
    .banner.banner-team
        img.bg(src="img/banners/research.jpg", alt="创新管线")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text60 创新管线

    section.page.page-pipline-s1.container.pt-media-6
        .title-section.text-center
            h2.text28 海外已上市/上市审核中
   
        .table-container
            table.table 
                thead 
                    tr 
                        th(rowspan="2") 产品
                        th(rowspan="2") 权利区域
                        th(rowspan="2") 适应症
                        th(rowspan="2") 临床批准
                        th(rowspan="2") 注册性<br/>临床试验
                        th(rowspan="2") 上市申请
                        th(rowspan="2") 已上市
                        th(colspan="4") 主要获批地区
                    tr
                        th 中国
                        th 美国
                        th 欧洲
                        th 日本
                tbody 
                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") 地西泮鼻喷雾剂
                        td(rowspan="2") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 六岁及以上癫痫患者的间歇性、刻板性癫痫频繁发作活动（即癫痫丛集性发作、急性反复性癫痫发作）
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") 
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") 
                        td(rowspan="2") 
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:67%;")
                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") 替瑞奇珠单抗注射液（原：替拉珠单抗）（生物制剂）
                        td(rowspan="2") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 中重度斑块状银屑病
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") <span>√</span>
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:67%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="4") 甲氨蝶呤注射液（预充式）
                        td(rowspan="4") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 严重、顽固、致残性银屑病和其它自身免疫性疾病
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") 
                        td(rowspan="2")  
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2")  
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:67%;")

                    tr       
                        td(style="width:250px;text-align:left;" rowspan="2") 成人类风湿关节炎    
                        td(colspan="4") 
                            .progress

                        td(rowspan="2") 
                        td(rowspan="2") 
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") 
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:45%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") 0.09%环孢素滴眼液
                        td(rowspan="2") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 增加干燥性角膜结膜炎（干眼）患者泪液分泌
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") 
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") 
                        td(rowspan="2") 
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:45%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") 亚甲蓝肠溶缓释片
                        td(rowspan="2") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 作为诊断剂，用于在接受筛查或结肠镜检查监测的成人患者中增强结直肠病变的可视化
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") 
                        td(rowspan="2") 
                        td(rowspan="2") <span>√</span>
                        td(rowspan="2") 
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:45%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") 德度司他片
                        td(rowspan="2") 
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 慢性肾病患者的贫血
                        td(colspan="4") 
                            .progress
                    
                        td(rowspan="2") 
                        td(rowspan="2") 
                        td(rowspan="2") 
                        td(rowspan="2") 
                    tr 
                        td(colspan="4") 
                            .progress_cn(style="width:45%;")

        p *2022年3月，德度司他片新药上市申请在印度获批<br/>*膀胱灌注用卡介苗产品权利区域不包括台湾


    section.page.page-pipline-s1.container.pt-media-6.pb-media-6
        .title-section.text-center
            h2.text28 在研阶段
   
        .table-container
            table.table 
                thead 
                    tr 
                        th 产品
                        th 权利区域
                        th 适应症
                        th 临床前
                        th 临床试验批准
                        th Ⅰ期
                        th Ⅱ期
                        th Ⅲ期
                        th Ⅳ期
                        th 上市申请

      
                tbody 
                    tr 
                        td(style="width:220px;text-align:center;") SDN - 037
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 白内障手术后的疼痛和炎症
                        td(colspan="7") 
                            .progress(style="width:70%;")

                    tr 
                        td(style="width:220px;text-align:center;") PDP - 716
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 降低开角型青光眼或高眼压患者的眼内压升高
                        td(colspan="7") 
                            .progress(style="width:70%;")

                    tr 
                        td(style="width:220px;text-align:center;") CF101
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 银屑病
                        td(colspan="7") 
                            .progress(style="width:70%;")
                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") ACT017<br/>（生物制剂）
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 急性缺血性脑卒中
                        td(colspan="7" rowspan="2") 
                            .progress(style="width:70%;")
                    tr 
                        td
                            img(src="img/flag_oz.png", alt="亚洲指定区域")
                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") CF102
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 肝细胞癌
                        td(colspan="7") 
                            .progress(style="width:70%;")
                    tr 
                       
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 非酒精性脂肪性肝病/非酒精性脂肪性肝炎
                        td(colspan="7") 
                            .progress(style="width:70%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") XF - 73
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 预防术后金黄色葡萄球菌感染
                        td(colspan="7") 
                            .progress(style="width:70%;")
                    tr 
                       
                        td
                            img(src="img/flag_oz.png", alt="亚洲指定区域")
                        td(style="width:250px;text-align:left;") 感染类疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") BB2603
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 甲真菌病和足藓
                        td(colspan="7" rowspan="2") 
                            .progress(style="width:70%;")
                    tr 
                        td
                            img(src="img/flag_oz.png", alt="欧洲")

                    tr 
                        td(style="width:220px;text-align:center;" rowspan="2") VXM01<br/>（生物制剂）
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;" rowspan="2") 复发性胶质母细胞瘤
                        td(colspan="7" rowspan="2") 
                            .progress(style="width:70%;")
                    tr 
                        td
                            img(src="img/flag_oz.png", alt="欧洲")


                    tr 
                        td(style="width:220px;text-align:center;") 全人源抗SA HIa抗体新药（生物制剂）
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 拟用干预防SA定植高危人群的疾病进展，以及治疗由SA，特别是MRSA引起的肺炎、菌血症或中毒性休克等疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") 全人源抗HCMV抗体新药（生物制剂）
                        td
                            img(src="img/flag_zh.png", alt="中国")
                        td(style="width:250px;text-align:left;") 预防人巨细胞病毒感染
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") 全人源抗新冠病毒抗体新药（生物制剂）
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 拟用于预防和治疗新冠病毒感染
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") 全人源抗狂犬病毒抗体新药（生物制剂）
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 拟用于狂犬或其他狂犬病毒易感动物咬伤、抓伤员者的迅速被动免疫
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") CMS — D001
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 自身免疫系统类疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") CMS — D002
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 妇科类疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") CMS — D003
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 心脑血管类疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")

                    tr 
                        td(style="width:220px;text-align:center;") CMS — D004
                        td
                            img(src="img/flag_earth.png", alt="全球")
                        td(style="width:250px;text-align:left;") 中枢神经类疾病
                        td(colspan="7") 
                            .progress_cn(style="width:14%;")
        
        .row 
            .col-6.col-md-4.col-lg-3 
                .row.align-items-center 
                    .col-auto 
                        img(src="img/flag_earth.png", alt="全球")
                    .col 全球
            .col-6.col-md-4.col-lg-3 
                .row.align-items-center 
                    .col-auto 
                        img(src="img/progress_blue.png", alt="海外")
                    .col 海外

        .row 
            .col-6.col-md-4.col-lg-3 
                .row.align-items-center 
                    .col-auto 
                        img(src="img/flag_oz.png", alt="亚洲指定区域")
                    .col 亚洲指定区域
            .col-6.col-md-4.col-lg-3 
                .row.align-items-center 
                    .col-auto 
                        img(src="img/progress_yellow.png", alt="中国")
                    .col 中国

        .row 
            .col-6.col-md-4.col-lg-3 
                .row.align-items-center 
                    .col-auto 
                        img(src="img/flag_zh.png", alt="中国大陆、港、澳、台")
                    .col 中国大陆、港、澳、台



                

block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
