extends includes/layout.pug

block title
    | 公共技术平台和大科学装置

block bkheader
   link(href='js/vendor/mediaelement/mediaelementplayer.min.css', rel='stylesheet')


block content  
    .banner.banner-platform(style="background-image:url(img/banners/core.jpg)")        
        .container       
            h1.text36 公共技术平台和大科学装置
              

    .wrapper
        .page.page-platform.pb-media-5
            .container  
                .fixednav
                    h4  核心板块
                    ul.nav
                        li
                            a(href="core.html") 前沿基础研究
                        li.active
                            a(href="platform.html") 公共技术平台和大科学装置                             
                        li
                            a(href="factory.html") 创新样板工厂
                        li
                            a(href="science.html") 粤港澳交叉科学中心
                

                section.s1.mb-media-3.mt-n-30                   
                    .row.align-items-center
                        .col-lg-auto
                            .pic.wow.fadeInLeft
                                img(src="img/about_01.png", alt="")
                        .col-lg
                            .intro 
                                h2.text24 公共技术平台和大科学装置：系统的、国际一流的、综合性用户开放平台
                                p 公共技术平台是实验室的重要组成部分，针对材料设计、制备、加工、表征、测量、模拟，建设系统的、国际一流的、综合性用户开放平台，包括种子科学平台、材料制备与表征平台、微加工与器件平台、材料计算与数据库平台，以及“材料智造”为目标的大科学装置（将在二期进行建设）。
                                p 平台将为粤港澳周边大学、科研机构、企业提供通用性技术服务，为国家材料科学重大领域的研究和关键技术的创新突破提供稳定的、专业的、先进的科学技术支撑。

                section.s2
                    .row.no-gutters
                        .col-6.col-md-4.col-lg
                            a.item(href="platform_detail.html") 
                                img(src="img/plat01.jpg", alt="")
                                .box
                                    .txt
                                        h3.text26 中子科学平台
                                        .arrow
                                            i.iconfont.icon-arrow-right
                        .col-6.col-md-4.col-lg
                            a.item(href="platform_detail.html") 
                                img(src="img/plat02.jpg", alt="")
                                .box
                                    .txt
                                        h3.text26 材料制备与表征子平台
                                        .arrow
                                            i.iconfont.icon-arrow-right
                        .col-6.col-md-4.col-lg
                            a.item(href="platform_detail.html") 
                                img(src="img/plat04.jpg", alt="")
                                .box
                                    .txt
                                        h3.text26 微加工与器件子平台

                                        .arrow
                                            i.iconfont.icon-arrow-right
                        .col-6.col-md-4.col-lg
                            a.item(href="platform_detail.html") 
                                img(src="img/plat05.jpg", alt="")
                                .box
                                    .txt
                                        h3.text26 材料计算与数据库子平台
                                        .arrow
                                            i.iconfont.icon-arrow-right
                        .col-6.col-md-4.col-lg
                            a.item(href="platform_detail.html") 
                                img(src="img/plat06.png", alt="")
                                .box
                                    .txt
                                        h3.text26 大科学装置（筹建中）
                                      

                        
        



block bkfooter

    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')
    script.
        

        $(function () {
            //-  $('video, audio').mediaelementplayer();
                
        
        });


     
