extends includes/layout.pug

block title
    | 材料制备与表征平台

block content
    .banner.banner-core(style="background-image:url(img/banners/core.jpg)")        
        .container       
            h1.text36 公共技术平台和大科学装置
              

    .wrapper
        .page-core-detail.page-platform-detail.pb-media-5
            .container  
                .fixednav
                    h4  核心板块
                    ul.nav
                        li
                            a(href="core.html") 前沿基础研究
                        li.active
                            a(href="platform.html") 公共技术平台和大科学装置                             
                        li
                            a(href="factory.html") 创新样板工厂
                        li
                            a(href="science.html") 粤港澳交叉科学中心

    
            
                .s1        
                    h1.title-news.wow.fadeInUp.text36 材料制备与表征平台
                    .profile
                        .row.no-gutters
                            .col-md-auto
                                .pic
                                    img(src="img/temp/photo02.jpg", alt="")
                                    .name.text20 团队负责人：吴克辉
                            .col-md
                                .box
                                    .top
                                        .row.no-gutters
                                            .col-md
                                                .txt.line
                                                    h3.title 职务职称
                                                    p 中国科学院物理研究所研究员，博士生导师，松山湖材料实验室公共技术平台台长。
                                            .col-md
                                                .txt
                                                    h3.title 研究方向
                                                    p 主要研究方向为低维量子材料的分子束外延(MBE)，基于扫描隧道显微镜/扫描隧道谱（STM/STS）的物性分析与调控研究。

                                    .bot                                       
                                        .row.no-gutters
                                            .col-md
                                                .txt.line
                                                    h3.title 主要成果
                                                    p 发表SCI论文120多篇，SCI总引用超过5800次。
                                            .col-md
                                                .txt
                                                    h3.title 荣誉
                                                    p 曾获北京市科技奖一等奖、中国科学院杰出科技成就奖，国家杰出青年基金获得者，科技部中青年创新领军人才，中组部科技创新领军人才，北京市科技奖一等奖。

                .s2
                    h2.title-v1.text36 团队成员
                    .pic
                        img(src="img/temp/core_06.jpg", alt="")        
                
                    ul
                        li 负责人：吴克辉、陆兴华
                        li 研究员：于国强、陈海龙、王文洪、张颖
                        li 工程师：张连昌、何小月、李秀、何小川、胡斯桂、王晓晖、陈鹏、张晓芳、郭腾宇、位兵伟、池祥、林小欢、许星
                        li 助理：陈嘉莹、吴慧
                        li 博士后：崔宝山、宋创业、黄嘉伟

                .s3.mb-media-3
                    h2.title-v1.text36 平台简介
                    p.mb-media-3 材料制备与表征平台拟依托松山湖材料实验室，打造齐全顶尖材料制备与表征设备，建设一流的材料制备、显微结构、力热光电综合表征平台。平台提供全面开放的测试服务，各仪器设备都配备装置专职专业的技术负责人员，拟从科研人员视角提供专业、有深度的样品测试表征及解析服务，推动基础科研和实际应用的融合发展。
                        
                    .subplatform
                        .item
                            .row.align-items-center
                                .col-md
                                    h3.text24 材料制备平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item.odd
                            .row.align-items-center
                                .col-md
                                    h3.text24 电子显微镜平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item
                            .row.align-items-center
                                .col-md
                                    h3.text24 扫描探针显微镜平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item.odd
                            .row.align-items-center.no-gutters
                                .col-md
                                    h3.text24 光谱测量平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item
                            .row.align-items-center
                                .col-md
                                    h3.text24 电学测量与调控平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item.odd
                            .row.align-items-center
                                .col-md
                                    h3.text24 磁性材料与器件检测平台
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                        .item
                            .row.align-items-center.no-gutters
                                .col-md
                                    h3.text24 机加工中心
                                .col-md-auto
                                    .row.no-gutters
                                        .col
                                            a(href="#", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col-auto
                                                        i.iconfont.icon-yuyue
                                                    .col
                                                        span 我要预约
                                        .col
                                            a(href="platform-sub.html", target="_blank") 
                                                .row.align-items-center.no-gutters
                                                    .col
                                                        span 查看详情
                                                    .col-auto
                                                        i.iconfont.icon-right1

                .s4
                    .qr
                        img(src="img/qrcode_03.png", alt="")
                        .title.text24 关注微信公众号
                    

block bkfooter
    script.
        $(function(){
          
        })