extends includes/layout.pug

block title
    | 产品中心

block bkheader
    link(href='js/vendor/mediaelement/mediaelementplayer.min.css', rel='stylesheet')

block content
    .banner.banner-safety(style="background-image:url(img/banner/product01.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 产品中心
                ul.nav.wow.fadeInUp
                    li
                        a.active(href="product.html") 静配中心补充
                    li
                        a(href="product1.html") 微型可移动静配中心
                    li
                        a(href="product2.html") 护士安全
                    li
                        a(href="product3.html") 高效配置
               

    
    .page.page-product
        section.s1
            .container
                img.wow.fadeInUp(src="img/pro_01.png", alt="")

        section.s2
            .container
                .pic
                    img.wow.fadeInUp(src="img/pro_02.png", alt="")

                .txt.text24.wow.fadeInUp 超净配药器是针对静脉药物调配过程中的空气接触污染和手接触污染两大问题而开发的专业配药设备，它与专用耗材（空气过滤器、一次性使用无菌无芯杆溶药注射器）联合打造了一个微型可移动静配中心，是一种全面且彻底的解决方案，可调配各种针剂（粉针剂、水针剂），创建无菌配药新模式。

        section.s3
            .container
                .row.align-items-center
                    .col-lg
                        .box
                            h3.title.text28.wow.fadeInUp 伊姿超净配药器4s即可达到系统自净创造静态百级
                            .txt
                                .row.no-gutters.wow.fadeInUp
                                    .col.col-md-auto
                                        .item.first
                                            h4.text28 0.22μm
                                            p 聚四氟乙烯滤膜
                                    .col.col-md-auto
                                        .item
                                            h4.text28 4s
                                            p 达到系统自净
                                    .col-md-auto
                                        .item.last
                                            h4.text28 密闭百级
                                            p 独特刀口密封型设计

                            p.wow.fadeInUp 伊姿超净配药器开机吹出正压风，经过气路管到达手柄，手柄前端有0.22微米聚四氟乙烯滤膜，可以完全滤除掉空气中的微粒及微生物，经过过滤的持续洁净气流4s即可达到系统自净创造静态百级，创建洁净配药环境为安装溶药器做准备。
                            p.wow.fadeInUp 安装溶药器过程中，持续洁净气流靶向性保护溶药器尾端达到动态百级，有深圳安士亚太做的空气流体动力仿真分析验证；安装完毕后，独特刀口密封型设计使溶药器尾端与高效过滤器紧密衔接，达到密闭百级；溶药器出厂时预留满管洁净空气，只需单向排出部分洁净空气预留部分洁净空气置换药液，彻底解决空气污染问题，从而净化更彻底。
                            
                                      
                           
                    .col-lg-auto
                        .pic
                            img.wow.fadeInUp(src="img/pro_03.png", alt="")

        section.s4
            .container
                .txt
                    h3.text28.wow.fadeInUp 强强结合超越国际金标准
                    p.wow.fadeInUp 针对我国现在配药现状，国际金标准是设立静配中心，解决空气污染的问题。我国卫生部、中医药管理局颁布的《医疗机构药事管理暂行规定》第29条规定“医疗机构要根据临床需要逐步建立全胃肠外营养和肿瘤化疗药物等静脉液体配置中心（室）实行集中配置和供应”。中国医院协会药事管理专业委员会在《静脉用药调配质量管理规范》中规定，医疗机构凡开展肠外营养疗法，临床使用危害药物的，应建立肠道外营养液或危害药物静脉用药调配中心（室），实行集中调配和供应。普通输液静脉用药的调配是否采用集中调配和供应，应根据各医疗机构实际情况而定，但应改变开放式的加药混合调配方法，都应在洁净或清洁环境下的层流台内进行调配操作。
                    a.btn.btn-primary.btn-radius.wow.fadeInUp(href="#") 查看详情


        section.s5.container
            .title-section.wow.fadeInUp
                h2 相关视频
                h3 VIDEOS
       
            .vid 
                video.wow.fadeInUp(poster="img/poster.jpg", 
                id="videobg",controls,
                 width="100%" height="100%" 
                preload="auto", x5-playsinline,playsinline,
                webkit-playsinline, data-setup="{}")
                    source(src="img/programmer.mp4", type="video/mp4")
                    | Your browser does not support the video tag. I suggest you upgrade your browser.

                
block bkfooter
    script(src='js/vendor/mediaelement/mediaelement-and-player.min.js')

    script.
       
        $(function () {        
            //- $('video, audio').mediaelementplayer();
        });


