extends includes/layout.pug

block bkheader
    script(src='js/vendor/ckeditor/ckeditor.js')

block content
    .banner.banner-news(style="background-image:url('img/temp/banner-products.jpg')")
        .container
            p.txt PRODUCTS
                br
                | 产品


    
    .page.page-products
        .container
            .row
                .col-md-auto.productnav
                    aside.leftcol
                        ul.leftnav
                            li
                                a(href="products.html") 空气过滤
                            li.hasnav
                                label 流体过滤
                                dl.subnav
                                    dd
                                        a(href="products.html") 过滤袋
                                    dd
                                        a(href="products.html") 过滤器                                    
                                    dd
                                        a(href="products.html") 滤芯
                                    dd
                                        a(href="products.html") 针刺毡
                                    dd
                                        a(href="products.html") 原配件
                            li
                                a(href="products.html") 汽车电子
                .col-md
                    header.h-products
                        .row.align-items-center
                            .col-md
                                h2.title 过滤袋
                            .col-md-auto
                                form(action="products.html", method="get")
                                    .p-searchbox
                                        input#keyword(type="search", name="keyword")
                                        button(type="submit")
                                            i.iconfont.icon-Search
                    .productlist
                        .row
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)
                            .col-md-6.col-lg-4
                                a.item(href="product_detail.html")
                                    .pic
                                        img(src="img/temp/product01.jpg")
                                    h3 针刺毡滤袋(POS/PES)





                
            
            

