extends includes/layout.pug

block title
    | 产品中心

block bkheader
    

block content
    .banner.banner-about.wow.fadeInDown
        .container
            .title
                h1.text80.wow.fadeInUp Products
       
    

    .page.page-products.pb-media-7
        .site-path 
            .container
                a(href="index.html") Home 
                | &gt; 
                a(href="products.html") Products 
                | &gt; 
                span.current Metallized Polypropylene Film Capacitors 
        .category 
            .container
                h2.text36 Metallized Film/Foil Capacitors
                p High frequency and high current endurance，high stability，Low ESR；Widely used in high pulse and high current loading circuit. We can provide high quality metallized Special Film Capacitors in good price.

        section.s1.container.pb-media-3   
            .row 
                .col-lg-3
                    aside.categories 
                        ul.list
                            li.active
                                a(href="products.html") Metallized Polypropylene Film Capacitors
                            li
                                a(href="products.html") DC-Link Capacitors
                            li
                                a(href="products.html") Resonance Capacitors
                            li
                                a(href="products.html") PFC Capacitors
                            li
                                a(href="products.html") Super Capacitors
                            li
                                a(href="products.html") Snubber Capacitors
                            li
                                a(href="products.html") AC-filter capacitors

                
                .col-lg-9
                    .products
                        .row 
                            .col-6.col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro1.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C20
                                        p High frequency and low dissipation factor, Low temperature rise inside;Widely used in all kinds of filter, suppression noise and low impulse circuit

                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro2.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C21
                                        p High frequency and low dissipation factor, Low temperature rise inside;Widely used in high frequency DC, AC and pulse circuit, Filtering circuit after rectified.
                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro3.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C24
                                        p Withstand high excess voltage shocks,Widely used in high frequency DC, AC and pulse circuit, Filtering circuit after rectified.
                                        
                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro7.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C28
                                        p Withstand high excess voltage shocks,Widely used in high voltage , high frequency and pulse circuit,Snubber and SCR commutating circuits.

                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro6.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C12
                                        p Very high pulse strength,Widely used in high pulse and high current loading circuit.
                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro4.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C13
                                        p Very small loss even at high frequency,Excellent frequency and temperature characteristics;Widely used in high pulse and high current loading circuit.
                                        a.inquiry(href="#") INQUIRY

                            .col-6.col-md-6.col-lg-4
                                .item 
                                    a.pic(href="product-detail.html")
                                        img(src="img/products/pro5.jpg", alt="")
                                    .txt 
                                        h3.t1 
                                            a(href="product-detail.html") C14
                                        p Low dissipation factor ,Low temperature rise inside;Widely used in high pulse and high current loading circuit.

                                        a.inquiry(href="#") INQUIRY
                                    

              
                
       


            
            
                

                  



block bkfooter


    script.
        
        $(function () {
            $('.box-header').click(function(e){
                $(this).next('.box-body').slideToggle();
                $(this).find('.iconfont').toggleClass('icon-plus').toggleClass('icon-minus');
            }) 
        
        });
      
       

     
