extends includes/layout.pug

block content
    .banner.banner-news.wow.fadeInUp(style="background-image:url('img/temp/banner-p-detail.jpg')")
        .container
            p.txt PRODUCTS
                br
                | 产品
   
   
    .page.page-product-detail
        section.s1.container
            .productPhotos
                h1.title.wow.fadeInUp 多袋式过滤器（SMBF）
                .row
                    .col
                        .photo.wow.fadeInUp
                            img#prophoto(src="img/temp/p01.jpg")
                    .col-auto
                        .pics.wow.fadeInUp
                            a(href='javascript:void(0)',data-p="img/temp/p01.jpg")
                                img(src="img/temp/thumb01.png")
                            a(href='javascript:void(0)',data-p="img/temp/thumb01.png")
                                img(src="img/temp/thumb01.png")
                            a(href='javascript:void(0)',data-p="img/temp/p01.jpg")
                                img(src="img/temp/thumb01.png")
                            a(href='javascript:void(0)',data-p="img/temp/thumb01.png")
                                img(src="img/temp/thumb01.png")
                            
                            
            .intro
                h3.wow.fadeInUp 产品描述：
                p.wow.fadeInUp 多袋式过滤器为了提高过滤效率，采用多袋式设计结构，满足客户对高容量大流量的过滤的要求。采用侧入底出的过滤设计，顶盖螺栓紧固闭合时配合优质的密封圈，压紧滤袋环口，过滤液体从高处平稳流向低位，渗透过所需要精度等级的滤袋即能获得合格的滤液。滤器中滤袋数量从2袋可增加至24袋。设计上满足ASME和CE的标准。
              
        section.s2.container
            header.tab-header
                ul.wow.fadeInUp
                    li 产品特征
                    li.active 技术参考
                    li 行业应用
                    li 产品代码
                    li 资料下载
            .tab-body
                .item  
                    p 填写资料
                .item.active  
                    .table-container
                        table.table
                            thead
                                tr
                                    th 产品型号
                                    th 滤袋数量
                                    th 滤袋尺寸
                                    th 最大流量
                                    th 最大操作压力
                                    th 最高操作温度
                                    th 进出口口径
                            tbody
                                tr
                                    td SMBF-0202
                                    td 2
                                    td 2
                                    td 80 m3/h
                                    td 10 bar
                                    td 120 ℃
                                    td DN50
                                tr
                                    td SMBF-0202
                                    td 2
                                    td 2
                                    td 80 m3/h
                                    td 10 bar
                                    td 120 ℃
                                    td DN50
                                tr
                                    td SMBF-0202
                                    td 2
                                    td 2
                                    td 80 m3/h
                                    td 10 bar
                                    td 120 ℃
                                    td DN50
                                tr
                                    td SMBF-0202
                                    td 2
                                    td 2
                                    td 80 m3/h
                                    td 10 bar
                                    td 120 ℃
                                    td DN50
                                tr
                                    td SMBF-0202
                                    td 2
                                    td 2
                                    td 80 m3/h
                                    td 10 bar
                                    td 120 ℃
                                    td DN50

                .item  
                    p 填写资料
                .item  
                    p 填写资料
                .item  
                    p 填写资料


block bkfooter
    script.
        $(".pics a").click(function(e){
           // e.preventDefault();
            var imgsrc = $(this).attr("data-p");
        
            $("#prophoto").attr("src",imgsrc)
        })
        $('.tab-header ul li').click(function(e){
           
            // e.preventDefault();
            // $(this).closest(".row").next('.detail').slideToggle();
            $(this).addClass('active').siblings().removeClass('active');
            var i = $(this).index();          
            $('.tab-body .item').removeClass('active').eq(i).addClass('active')
        })


