extends includes/layout.pug

block content
    .banner.banner-safety(style="background-image:url(img/banner/product01.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 产品中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="product.html") 静配中心补充
                    li
                        a(href="product1.html") 微型可移动静配中心
                    li
                        a(href="product2.html") 护士安全
                    li
                        a.active(href="product3.html") 高效配置
                 
   
    .page.page-product3
        section.s1.container
            .title-section.wow.fadeInUp
                h2 高效配置
                h3 EFFICIENT CONFIGURATION
            .row.align-items-center
                .col-lg
                    .pic.wow.fadeInUp
                        img.wow.fadeInUp(src="img/pro_10.png")
                .col-lg
                    .content
                        .row.box
                            .col-md
                                .txt.wow.fadeInUp
                                    h3.title.text28 伊姿
                                    p 按键轻巧，机械动力替代手工推拉，持续高效，不疲劳。
                                    .row.align-items-center
                                        .col-auto 
                                            img(src="img/time.png", alt="")
                                        .col ≥345袋

                            .col-md
                                .txt.wow.fadeInUp
                                    h3.title.text28 手工
                                    p 工作强度大，持续配药，效率逐渐下降，易疲劳。

                        .box                         
                            .txt.wow.fadeInUp
                                h3.title.text28 安瓿瓶
                                p 20ml单只配药时间≤2.5，10ml两支配药时间≤3.5秒，5ml四支配药时间≤5.5秒，2ml十支配药时间≤9.22秒。
                                .pic1
                                    img(src="img/pro_11.png", alt="")
                            
                        .row.box
                            .col-md-auto
                                .txt.wow.fadeInUp
                                    h3.title.text28 西林瓶
                                    p 普通西林瓶单瓶配药时间<3秒。
                                    .pic1
                                        img(src="img/pro_12.png", alt="")
                                       

                            .col-md
                                .txt.wow.fadeInUp
                                    h3.title.text28 难溶药
                                    p 采用气源驱动，动力强劲，快速打散药粉，使其与溶媒充分接触，加快溶解速度。
                        
                            
          
       


block bkfooter
    script.
        


