extends includes/layout.pug

block title
    | 心血管介入

block bkheader
    

block content
    .banner.banner-product.wow.fadeInUp(style="background-image:url(img/banners/product.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 心血管介入

       

    .page.page-product
        a.item(href="product_detail.html")
            .pic
                img.wow.fadeInRight(src="img/temp/p1.png", alt="")            
            .txt
                .container                
                    h3.text32.wow.fadeInLeft Apollo™ 阿波罗
                    p.text28.wow.fadeInLeft 非顺应性冠状动脉球囊扩张导管


        a.item.ood(href="product_detail.html")
            .pic
                img.wow.fadeInLeft(src="img/temp/p2.png", alt="")  
            .txt
                .container                
                    h3.text32.wow.fadeInRight Atrimes™ 速越
                    p.text28.wow.fadeInRight 半顺应性冠状动脉球囊扩张导管

        a.item(href="product_detail.html")
            .pic
                img.wow.fadeInRight(src="img/temp/p3.png", alt="")            
            .txt
                .container                
                    h3.text32.wow.fadeInLeft Ultratimes™ 优游
                    p.text28.wow.fadeInLeft 半顺应性冠状动脉球囊扩张导管


        a.item.ood(href="product_detail.html")
            .pic
                img.wow.fadeInLeft(src="img/temp/p4.png", alt="")  
            .txt
                .container                
                    h3.text32.wow.fadeInRight Ultratimes™NC 优游
                    p.text28.wow.fadeInRight 非顺应性高压冠状动脉球囊扩张导管
        
            

                  



block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
