extends includes/layout.pug

block bkheader
    script(src='js/vendor/ckeditor/ckeditor.js')

block content
    .banner.banner-safety(style="background-image:url(img/banner/product01.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 产品中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="product.html") 静配中心补充
                    li
                        a.active(href="product1.html") 微型可移动静配中心
                    li
                        a(href="product2.html") 护士安全
                    li
                        a(href="product3.html") 高效配置
                 


    
    .page.page-product1
        section.s1.container
            .title-section.wow.fadeInUp
                h2 建立微型可移动静配中心
                h3 ESTABLISH A PIVAS

            .row.align-items-center
                .col-lg
                    p.txt.wow.fadeInUp 国家比较关注院感的问题，所以每家医院都设有专门的院感科。输液不良反应也是一直困扰临床的难题。院感和输液不良反应的发生会大幅增加患者治疗费用、造成医疗资源的浪费、国家医疗支出的增加。而药物配置是引发院感、输液不良反应的主要原因之一。药物配置的主要影响因素为：配药环境和配药方式。我国大部分医院还是在普通的治疗室进行配药，溶药器抽吸不洁净的空气会污染药液，同时还是使用传统的手工配药，手会接触溶药器芯杆，从而污染溶药器内壁进而污染药液。而国际通用的国际金标准的解决方案是设立静配中心，来解决空气污染的问题。静配中心可以提高环境洁净度，解决部分空气污染药液问题。鉴于我国大部分医院并未建立静配中心，药物配置还是在临床科室的治疗室完成，故尝试使用超净配药器替代静配中心完成洁净配药，不失为一种理想的解决方案。
                    
                .col-lg-auto
                    .pic.wow.fadeInUp
                        img(src="img/pro_04.jpg", alt="")

        section.s2.container
            .title-section.wow.fadeInUp
                h2 静脉用药调配中心(室)工作流程
                h3 PROCESS
            
            .row.processes
                .col-md
                    .process
                        .title.wow.fadeInUp
                            img(src="img/pro_05.jpg", alt="")

                        .item.wow.fadeInUp
                            p 临床医师开具静脉输液治疗处方或用药医嘱→用药医嘱信息传递→药师审核→打印标签→贴签摆药→核对→混合调配→输液成品核对→输液成品包装→分病区放置于密闭容器中、加锁或封条→由工人送至病区→病区药疗护士开锁(或开封)核对签收→给患者用药前护士应当再次与病历用药医嘱核对→给患者静脉输注用药。
                            .num 1
                        .item.wow.fadeInUp
                            p 封闭场所，洁净环境
                            .num 2

                        .item.wow.fadeInUp
                            p 药师审方、监督合理用药及配伍禁忌
                            .num 3

                        .item.wow.fadeInUp
                            p 专人配药、责任到人、提高配液质量、减少配药风险
                            .num 4

                        .item.wow.fadeInUp
                            p 传统的手工配药，配药人员手卫生不合格，在频繁接触物品外包装时污染双手，在推拉芯杆过程中，污染物可脱落、附着于内壁随活塞运动会污染药液
                            .num 5

                        .item.wow.fadeInUp
                            p 超净工作台可以做到静态百级，但是在人员操作过程中手的运动会破坏层流，百级环境变为动态万级或十万级环境
                            .num 6

                        .item.wow.fadeInUp
                            p 传统手工配药易疲劳，引发职业病，影响配药速度
                            .num 7


                .col-md
                    .process
                        .title.wow.fadeInUp
                            img(src="img/pro_06.jpg", alt="")

                        .item.wow.fadeInUp
                            p 临床医师开具静脉输液治疗处方或用药医嘱→用药医嘱信息传递→审核→打印标签→贴签摆药→核对→混合调配→输液成品核对→交予输液护士→双方核对签字→给患者用药前护士再次与病历用药医嘱核对→给患者静脉输注用药
                            .num 1
                        .item.wow.fadeInUp
                            p 配药期间，封闭治疗室，避免人员流动，保证治疗室洁净度
                            .num 2

                        .item.wow.fadeInUp
                            p 护士审核常规用药、配伍禁忌
                            .num 3

                        .item.wow.fadeInUp
                            p 专人配药，责任到人，提高配液质量，减少配药风险
                            .num 4

                        .item.wow.fadeInUp
                            p 配药用溶药器采用无芯杆设计，洁净气源动力代替手工推拉，从根源上杜绝手污染，从而解决传统配药所引发的风险
                            .num 5

                        .item.wow.fadeInUp
                            p 使用超净配药器配药，为所含溶药器创建密闭百级洁净环境，不受外部环境影响，提高药液配置安全
                            .num 6

                        .item.wow.fadeInUp
                            p 机械动力替代手工推拉，配置高效：一个半小时配置约345袋，大大提高了护士的工作效率，把时间还给护士的护理工作
                            .num 7

        
        section.container
            .s3
                .pic.wow.fadeInUp
                    img(src="img/pro_07.png", alt="")
                .txt
                    p.wow.fadeInUp 超净配药器利用超净工作台原理，通过实现局部百级空气洁净环境，以洁净气体为动力源，替代手工推拉溶药器芯杆进行配药，避免了溶药器内壁在环境中暴露，大幅降低了配药环境和手工操作对药液的影响。
                    p.wow.fadeInUp 因此，在配药时封闭治疗室，由专职配药人员使用超净配药器进行配药操作，所有流程与静配中心相同，可以完成静配中心所有的职能。只是配药环境无法达到静配中心的环境洁净度，但是我们的产品可以不受外界环境影响，在Ⅰ类环境中1～15μｍ各组别不溶性微粒数与Ⅲ类环境比较，差异均无统计学意义 （均 Ｐ＞0.05）；20～100μｍ不溶性微粒数检测均为0 ，所以超净配药器可以在治疗室创建微型可移动静配中心，达到无菌配药。

            
        section.container.s4
            .title-section.wow.fadeInUp
                h2 责任制护士与配药制护士的相容性
                h3 CAMPATIBILITY
            
            .txt
                ol.wow.fadeInUp
                    li 符合国家政策（鼓励建立静配中心，独立建立配药制）
                    li 责任制护士的理念是护理工作的责任到患者，目的是提高护理质量。如果能再实行精细化管理，建立配药制护士，就可以把配药护士的责任落实到药，有效降低配药风险；同时，也可以把更多的时间还给护理，从而提高护理效率，提升护理质量。
                p.wow.fadeInUp 综上所述，在治疗室建立微型可移动静配中心，可以有效减少输液不良反应，减少院感的发生，从而降低患者治疗费用、减少医疗资源浪费、节省国家医疗支出。
            
            

