extends includes/layout.pug

block title
    | 产品中心

block bkheader
    

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/product.jpg)")
        .container
            .title
                h1.wow.fadeInUp 产品中心
                p.wow.fadeInUp 致力于为医疗专业人士提供最优化的临床方案。
       

    .page.page-products.pt-media-5.pb-media-7
        section.s1.container.mb-media-3 
            h2.title.text30 主要产品
            .brand_list 
                .row 
                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathicord.png", alt="")                            
                            p 经外周中心静脉导管
                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathisoft.png", alt="")                            
                            p 神经外科引流产品

                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/pupunch.png", alt="")                            
                            p 外科引流系列

                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathiway.png", alt="")                            
                            p 抗菌超滑导尿管

                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathioptic.png", alt="")                            
                            p 泪道导管
                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathitrach.png", alt="")                            
                            p 经皮气管旋切组套
                    .col-md-6.col-lg-4 
                        a.item(href="product_1.html")
                            img(src="img/brands/cathicord.png", alt="")                            
                            p 一次性使用肛肠套扎器
        section.s2.container
            h2.title.text30 主要产品
        
            .box.active 
                .box-header 
                    h3.text24 神经外科(康舒) 
                    i.iconfont.icon-minus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  微创引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  微创引流系统

            .box
                .box-header 
                    h3.text24 外科引流(邦琦）
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 呼吸道护理(康通)
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 全身麻醉
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 泌尿系统疾病管理(康路)
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 心率管理
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 血管通路/肿瘤学疾病管理
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 心血管介入
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 泪道引流系列 康目舒
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统


            .box
                .box-header 
                    h3.text24 专业医用耗材
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 医疗防护
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统

            .box
                .box-header 
                    h3.text24 自定义方案
                    i.iconfont.icon-plus

                .box-body 
                    ul.row.list 
                        li.col-md-4.col-lg-3 
                            a.active(href="#") 持续腰椎引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  硬膜外引流系统
                        li.col-md-4.col-lg-3 
                            a(href="#")  脑室外引流系统
           


            
            
                

                  



block bkfooter


    script.
        
        $(function () {
            $('.box-header').click(function(e){
                $(this).next('.box-body').slideToggle();
                $(this).find('.iconfont').toggleClass('icon-plus').toggleClass('icon-minus');
            }) 
        
        });
      
       

     
