extends includes/layout.pug

block bkheader
    script(src='js/vendor/ckeditor/ckeditor.js')

block content
    .banner.banner-safety(style="background-image:url(img/banner/product01.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 产品中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="product.html") 静配中心补充
                    li
                        a(href="product1.html") 微型可移动静配中心
                    li
                        a.active(href="product2.html") 护士安全
                    li
                        a(href="product3.html") 高效配置
                 


    
    .page-product2
        section.s1.container
            .title-section.wow.fadeInUp
                h2 安全防护
                h3 PROTECTION
            .row
                .col-lg
                    .intro
                        p.wow.fadeInUp 药物在配置过程中，因护士配药工作量大时间紧，不可避免地会出现“前喷后漏”现象，导致药物小液滴分散在空气中，形成含有毒性微粒的药物气溶胶，它们长期漂浮、存在于治疗室环境中，可通过眼、皮肤、呼吸道、消化道等多种途径进入人体，对配药人员及进出配药环境的其他人员均会造成危害，如：长期低剂量的吸入抗生素气溶胶，会导致人体出现药物耐受性；抗肿瘤药物气溶胶的吸入，对人体会有致癌致畸致突变的风险。因此，药物气溶胶会对护士造成不可忽视的危害！
                        p.p2.wow.fadeInUp 伊姿超净配药器点按后退键的操作能够有效平衡压差，避免前喷的现象。伊姿专用溶药器采用高精密的热流道模具进行注塑，出厂即更圆、壁更厚，不易变形；气源驱动，活塞作用力均衡，不会引起活塞或溶药器外套形变，避免后漏的现象。有辽宁省医疗器械检验检测院的检验报告 证明器身密合性良好，正压不漏气不漏液负压不漏气。 因此，在配置药物过程中，伊姿超净配药器能有效的起到安全防护作用。
                        p.wow.fadeInUp 参考文献：
                        | br
                        | [1]试验报告.辽医械试字（2017）第029号                    
                    
                .col-lg
                    .pic
                        img.wow.fadeInUp(src="img/pro_08.jpg", alt="")

        section.s2.container
            .txt
                .row.align-items-center
                    .col-md
                        .pic.wow.fadeInUp
                            img(src="img/pro_09.jpg", alt="")
                    .col-md
                        .txt
                            .title-section.wow.fadeInUp
                                h2 职业防护
                                h3 OCCUPATIONAL PROTECTION
                            p.wow.fadeInUp 护士长期高度集中配药，强度大，易产生老茧及腱鞘炎。
                            p.wow.fadeInUp 伊姿超净配药器采用ABS材质，光滑细腻，避免磨出老茧；手柄轻盈，采用人体工程学设计，持握轻松舒适；机械动力代替手工推拉，避免过度劳损，减少腱鞘炎的发生。
                            p.wow.fadeInUp 所以伊姿超净配药器能够很好的做到对护士的安全防护与职业防护，保证护士安全。


        
                
            
            

