extends includes/layout.pug

block title
    | C20

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-products.wow.fadeInUp
        img.bg(src="img/banners/products.jpg", srcset="img/banners/products@2x.jpg 2x", alt="")
        .breadcrumb
            .container
                ul.map-path
                    li
                        a(href="index.html")  首页                     
                    li.current 产品矩阵

        .txt-container
            .container
                .txt
                    h1.wow.fadeInUp.text60.mb-media-3 云拿产品矩阵
                    p.wow.fadeInUp.text20 以智能软硬件，颠覆人们的工作与生活方式

    
    .two-level-nav
        .container 
            nav.sub-nav
                a.active(href="#") 云拿AI智能无人店
                a(href="#") 云拿视觉贩售机
                a(href="#") 云拿数字货架
                a(href="#") 云拿魔箱Moby Mart
          

    .page.page-product 
        section.s1
            .container
                .item.pt-media-6.pb-media-5
                    .row.align-items-center.gx-5
                        .col-lg-6
                            .pic
                                img.wow.fadeInLeft(src="img/pro-1.png", srcset="img/pro-1@2x.png 2x", alt="")
                            
                        .col-lg-6
                            .txt
                                .title-section.mb-media-3 
                                    h2.text36.wow.fadeInUp.mb-media-2 云拿AI智能无人店
                                    p.wow.fadeInUp 以AI算法取代机械、重复的人工收银，免去排队等候，店员也得以投身更多高价值的顾客服务中去
                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 无感支付系统
                                    p.wow.fadeInUp 基于计算机视觉、深度学习、多传感融合技术，精准识别购物行为和商品信息，走出闸机自动完成结算
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 智能营销系统
                                    p.wow.fadeInUp 结合顾客历史消费记录及逛店期间的拿放动作，通过条形屏等数字化触点实时推送优惠折扣等信息，打造个性化购物体验
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多
                                
                                .txt-box
                                    h3.text24.wow.fadeInUp 会员管理系统
                                    p.wow.fadeInUp 进店即会员，有利于打造私域流量池，同时能借助线上商城实现更高的复购率、客单价等
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                .item.pt-media-3.pb-media-3
                    .row.align-items-center.gx-5
                        .col-lg-6.order-lg-last
                            .pic
                                img.wow.fadeInRight(src="img/pro-2.png", srcset="img/pro-2@2x.png 2x", alt="")
                            
                        .col-lg-6
                            .txt
                                .title-section.mb-media-3 
                                    h2.text36.wow.fadeInUp.mb-media-2 云拿视觉贩售机
                                    p.wow.fadeInUp 用无处不在的零售终端触达更广泛的消费者，满足“最后10米”的即时性消费诉求
                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 自动结算系统
                                    p.wow.fadeInUp 扫码/刷卡开门，关门自动结算，准确识别拿放行为，让购物更便捷
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 精准选品引擎
                                    p.wow.fadeInUp 结合销售数据洞察消费偏好，精选SKU，使柜体空间价值最大化
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多


                .item.pt-media-6.pb-media-5
                    .row.align-items-center.gx-5
                        .col-lg-6
                            .pic
                                img.wow.fadeInLeft(src="img/pro-3.png", srcset="img/pro-3@2x.png 2x", alt="")
                            
                        .col-lg-6
                            .txt
                                .title-section.mb-media-3 
                                    h2.text36.wow.fadeInUp.mb-media-2 云拿数字货架
                                    p.wow.fadeInUp 门店导购水平参差不齐？导致销售转化率低？数字货架可以大大降低对人的依赖

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 商品研究引擎
                                    p.wow.fadeInUp 结合商品拿放数据、库存数据、纯净度数据等，实现新品调研反馈、商品受欢迎度分析……
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 用户研究引擎
                                    p.wow.fadeInUp 通过AI摄像头识别、历史消费数据沉淀等方式，实现多维度的用户研究，为后续经营提供决策依据
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多
                                
                                .txt-box
                                    h3.text24 投放优化引擎
                                    p.wow.fadeInUp 根据用户营销属性调整策略，支持实时、远程优化广告投放
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多


                .item.pt-media-3.pb-media-3(style="border:none;")
                    .row.align-items-center.gx-5
                        .col-lg-6.order-lg-last
                            .pic
                                img.wow.fadeInRight(src="img/pro-4.png", srcset="img/pro-4@2x.png 2x", alt="")
                            
                        .col-lg-6
                            .txt
                                .title-section.mb-media-3 
                                    h2.text36.wow.fadeInUp.mb-media-2 云拿魔箱Moby Mart
                                    p.wow.fadeInUp 集装箱尺寸的AI智能无人店，以灵活的部署方式落地各类场景
                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 自动化运营
                                    p.wow.fadeInUp 无需人工收银、值守，可借助商户平台远程控店，支持7×24小时全天候营业
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 个性化营销
                                    p.wow.fadeInUp 魔箱内部及外立面均可配置各类多媒体营销设备，基于AI系统实现千人千面的线下营销
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多

                                .txt-box.mb-media-2
                                    h3.text24.wow.fadeInUp 灵活化应用
                                    p.wow.fadeInUp 适用于各行业，可组合不同的货架货柜，可拼接多个箱体，支持整箱运输
                                    p.wow.fadeInUp 
                                        a(href="#") 了解更多
                                
        section.s2(style="background-image:url(img/pro-5.jpg)").pt-media-6.pb-media-6
            .container                    
                .row.align-items-center 
                    .col-lg 
                        .title-section 
                            h2.title.text36.wow.fadeInUp 云拿产品部署方案
                            p.wow.fadeInUp 硬件层面实现模块化安装、极速化部署，软件层面将数据安全存储于云端，无论身在何处，皆可随时访问

                    .col-lg-auto 
                        .wow.fadeInUp                       
                            a.more(href="#") 深入了解软硬件部署方式
                    
        section.s3.pt-media-6.pb-media-9
            .container
                .title-section.text-center.mb-media-5 
                    h2.title.text36.wow.fadeInUp.mb-media-2 云拿产品之我见
                    p.wow.fadeInUp 了解其他公司如何使用云拿产品开启数字化变革
                
                .row 
                    .col-md-4 
                        .item 
                            .pic.wow.fadeInUp
                                img.bg(src="img/pro-6.jpg", srcset="img/pro-6@2x.jpg 2x",alt="")
                                .icon 
                                    img(src="img/icons/play2.svg", alt="play")
                            .txt 
                                h3.text22.wow.fadeInUp Shop.box——以无接触式购物迎战后疫情时代 
                                p.wow.fadeInUp 无需排队、无人收银，提供“100%无接触”服务，同时佩戴口罩也不会对识别造成干扰，保证与疫情前无差别的购物体验。
                                a.more2.wow.fadeInUp(href="#") 了解详情

                    .col-md-4 
                        .item 
                            .pic.wow.fadeInUp
                                img.bg(src="img/pro-7.jpg", srcset="img/pro-7@2x.jpg 2x",alt="")
                                .icon 
                                    img(src="img/icons/play2.svg", alt="play")
                            .txt 
                                h3.text22.wow.fadeInUp Tech Friendly CU——对平衡效率和体验的又一次探索
                                p.wow.fadeInUp “No counter,No wait,Just shopping.”即使在早午餐高峰期，三星生物制药员工也能进店随心随购，与日常生活的快节奏保持同频。
                                a.more2.wow.fadeInUp(href="#") 了解详情

                    .col-md-4 
                        .item 
                            .pic.wow.fadeInUp
                                img.bg(src="img/pro-8.jpg", srcset="img/pro-8@2x.jpg 2x",alt="")
                                .icon 
                                    img(src="img/icons/play2.svg", alt="play")
                            .txt 
                                h3.text22.wow.fadeInUp Cheers——以智慧零售应对老龄化趋势下的两难
                                p.wow.fadeInUp Cheers在无人零售领域的成功经验将帮助FairPrice打破人力限制，不用再担心用工难尤其夜间轮班人员招聘难等问题。
                                a.more2.wow.fadeInUp(href="#") 了解详情
            
        
        section.section-common.pt-media-9.pb-media-9(style="background-image:url(img/home-11.jpg);") 
            .container
                .txt
                    h2.title.text36.wow.fadeInUp 准备好用数智化技术来降本增效了吗？
                    a.more.wow.fadeInUp.text20(href="#") 试用云拿产品 
                        span or 
                        |  与云拿产品专家1对1沟通


block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper(".thumb-sliders", {
            loop: true,
            spaceBetween: 10,
            slidesPerView: 3,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
        });
        var swiper2 = new Swiper(".product-sliders", {
            loop: true,
            spaceBetween: 10,
            navigation: {
            nextEl: ".swiper-button-next",
            prevEl: ".swiper-button-prev",
            },
            thumbs: {
            swiper: swiper,
            },
        });

       
        $(function () {
            
  
        
        });
      
       

     
