extends includes/layout.pug

block title
    | 产品中心

block bkheader
    

block content
    .banner.banner-news(style="background-image:url(img/banners/product.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/product_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title_product_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_product.png", alt="")
            .des(data-depth="0.8") 
                p 蓝源拥有JDI显示产品中国区唯一代理，松下Panasonic	IPS显示产品代理，美光Micron存储产品中国区代理的权利，产品广泛应用于手机、电视、平板电脑、医疗、工控等产品系列。

        nav.nav-container
            menu.wow.fadeInDown
                a.active(href="products.html") 品牌分类
                a(href="categories.html") 产品分类
         

    .page-brand-products.pt-media-7.pb-media-5
        .container
            section.s1.mb-media-7
                .row
                    .col-md-4
                        .pic
                            img(src="img/temp/logo_agent.jpg", alt="Skyworks")
                    .col-md-8
                        .txt
                            h3.text28 美光	
                                span Micron
                            p 美光科技有限公司（Micron	Technology,	Inc.）是高级半导体解决方案的全球领先供应商之一，改变了世界资讯的使用方式。通过全球化的运营，美光，英瑞达与铂胜制造并向市场推出了行业内最为全面的产品市场，是当下唯一一家拥有DRAM, NAND, NOR与3D XPoint主要存储技术的公司。
                           
            section.s2
                ul.categories
                    li
                        a.active(href="product-list.html") 全部
                    li
                        a(href="product-list.html") 存储
                    li
                        a(href="product-list.html") 显示
                    li
                        a(href="product-list.html") 服务器

                .row.productList.pt-media-3
                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p1.jpg", alt="")
                            .title DRAM
                            p 产品：SDRAM / DDR / DDR2 /DDR3 / DDR4 / LPDDR /LPDDR2 / LPDDR3 / LPDDR4 /LPDDR5 / GDDR5 / GDDR6

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p2.jpg", alt="")
                            .title NOR FLASH
                            p 产品：SPI NOR Flash / 并行NORFlash / Xccela™ Flash

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p3.jpg", alt="")
                            .title NAND FLASH
                            p 产品：SLC NAND / MLC NANDTLC NAND / 3D NAND / SPINAND

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p4.jpg", alt="")
                            .title 存储卡
                            p 产品：工业级microSD卡 / 工业级SD卡


                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p5.jpg", alt="")
                            .title eMMC
                            p 产品：2GB~128GB eMMC

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p6.jpg", alt="")
                            .title UFS
                            p 产品：32GB~256GB UFS

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p7.jpg", alt="")
                            .title MCP
                            p 产品：NAND MCP / eMCP / UMCP

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p8.jpg", alt="")
                            .title 内存条
                            p 产品：LRDIMM / Mini -DIMM /NVDIMM / RDIMM / SODIMM /SORDIMM / UDIMM / VLPMini-DIMM / VLPPRDIMM / VLPUDIMM

                    .col-6.col-md-4.col-lg-3
                        .item.mb-media-5
                            .pic
                                img(src="img/temp/p9.jpg", alt="")
                            .title SSD
                            p 产品：客户端 SSD / 企业级 PCIeNVMe SSD / 企业级 SAS SSD /企业级 SATA SSD



block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
