extends includes/layout.pug

block title
    | Apollo™ 阿波罗

block bkheader
    

block content
    .page.page-product-detail.pb-media-5
        .s1.wow.fadeInUp
            .pic
                img(src="img/temp/p5.jpg", alt="")
            .txt
                .container                    
                    h1.text48.wow.fadeInUp Apollo™ 阿波罗
                    h3.text36.wow.fadeInUp 非顺应性冠状动脉球囊扩张导管

        .s2.container
            .item.pt-media-5.pb-media-5.wow.fadeInUp
                .row 
                    .col-md-3 
                        label.title.text32 产品介绍
                    .col-md-9
                        p Apollo™阿波罗是高压非顺应性球囊扩张导管，超低顺应性球囊材料和先进的生产工艺，造就了其卓越的精准扩张和高压非顺应性能，从公称压到额定爆破压，球囊的轴向伸长率和直径扩张变化率极低。
        

            .item.pt-media-5.pb-media-5.wow.fadeInUp
                .row 
                    .col-md-3 
                        label.title.text32 适用范围
                    .col-md-9
                        p 冠状动脉血管的严重钙化病变以及支架的后扩
        
        
            .item.pt-media-5.pb-media-5.wow.fadeInUp
                .row 
                    .col-md-3 
                        label.title.text32 产品特点
                    .col-md-9
                        ul
                            li 超高额定爆破压达22ATM
                            li 从公称压到额定爆破压，轴向伸长率仅为3%
                            li 径向扩张控制比仅为0.55%
                            li 优秀的操控扩张性
        
            .item.pt-media-5.pb-media-5.wow.fadeInUp
                .row 
                    .col-md-3 
                        label.title.text32 技术指标
                    .col-md-9
                        .row
                            .col-md
                                dl
                                    dt 球囊直径(mm）
                                    dd 2.0,2.25,2.52.0,2.25,2.52.0,2.25,2.52.0,2.25,2.52.0
                                dl
                                    dt 球囊长度(mm）
                                    dd 2.0,2.25,2.5
                                dl
                                    dt 公称压
                                    dd 12atm
                                dl
                                    dt 导引导管兼容性
                                    dd 兼容
                                dl
                                    dt 涂成
                                    dd Apollo 阿波罗--后扩球囊Apollo 阿波罗--后扩球囊.Apollo 阿波罗--后扩球囊

                            .col-md
                                dl
                                    dt 球囊直径(mm）
                                    dd 2.0,2.25,2.52.0,2.25,2.52.0,2.25,2.52.0,2.25,2.52.0
                                dl
                                    dt 球囊长度(mm）
                                    dd 2.0,2.25,2.5
                                dl
                                    dt 公称压
                                    dd 12atm
                                dl
                                    dt 导引导管兼容性
                                    dd 兼容
                               
                        
        
            .item.pt-media-5.pb-media-5.wow.fadeInUp
                .row 
                    .col-md-3 
                        label.title.text32 订货信息
                    .col-md-9
                        p Apollo™阿波罗是高压非顺应性球囊扩张导管，超低顺应性球囊材料和先进的生产工艺，造就了其卓越的精准扩张和高压非顺应性能，从公称压到额定爆破压，球囊的轴向伸长率和直径扩张变化率极低。
        

            .item.last.pt-media-5.pb-media-5.wow.fadeInUp
                a.btn.btn-primary(href="#") 
                    i.iconfont.icon-download
                    | 下载彩页
        
        

block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
