extends includes/layout.pug

block title
    | 产品中心

block bkheader
    

block content
    .banner.banner-news(style="background-image:url(img/banners/product.jpg)")
        #aniels
            .c(data-depth="0.2")
                img(src="img/banners/product_c.png", alt="")
            .title_cn(data-depth="0.4")
                img(src="img/title_product_cn.png", alt="")
            .title(data-depth="0.6")
                img(src="img/title_product.png", alt="")
            .des(data-depth="0.8") 
                p 蓝源拥有JDI显示产品中国区唯一代理，松下Panasonic	IPS显示产品代理，美光Micron存储产品中国区代理的权利，产品广泛应用于手机、电视、平板电脑、医疗、工控等产品系列。

        nav.nav-container
            menu.wow.fadeInDown
                a.active(href="products.html") 品牌分类
                a(href="categories.html") 产品分类
         

    .page-product.pt-media-7.pb-media-5
        .container
            .row.brandList
                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-skyworks.png", alt="")
                        a.title(href="product-list.html") Skyworks

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-micron.png", alt="")
                        a.title(href="product-list.html") Micron

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-jdi.png", alt="")
                        a.title(href="product-list.html") JDI

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-tlz.png", alt="")
                        a.title(href="product-list.html") 泰雷兹（金雅拓）

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-koe.png", alt="")
                        a.title(href="product-list.html") KOE

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-panasonic.png", alt="")
                        a.title(href="product-list.html") PANASONIC

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-joled.png", alt="")
                        a.title(href="product-list.html") JOLED

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-futaba.png", alt="")
                        a.title(href="product-list.html") FUTABA
                

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-inspur.png", alt="")
                        a.title(href="product-list.html") Inspur

                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-hd.png", alt="")
                        a.title(href="product-list.html") 汇顶


                .col-6.col-md-4.col-lg-3
                    .item.mb-media-7
                        a.pic.mb-media-4(href="product-list.html")
                            img(src="img/product/logo-fpc.png", alt="")
                        a.title(href="product-list.html") FPC



block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
