extends includes/layout.pug

block title
    | 深圳大本预科班

block bkheader
    link(href='plugins/swiper/css/swiper.min.css', rel='stylesheet')

block content
    .banner.banner-about(style="background-image:url(../img/temp/banner_01.jpg)")
       
        
    .page.page-project001
        section.section.s1.container
            .title-section
                h2.wow.fadeInLeft INTRODUCTION
                h3.wow.fadeInRight 国际预科班简介

            div.intro
                .row.t1.align-items-center
                    .col-lg.order-lg-last
                        figure.pic.wow.fadeInUp
                            img(src="img/projects_16.jpg", alt="")
                    .col-lg                       
                        p.p1.wow.fadeInUp 国际预科班课程需1个学期（19周包括上课和考试）来完成。此课程将帮助学⽣在新加坡莱佛⼠⾳乐学院-英国⻄伦敦⼤学伦敦⾳乐学院进⼀步学习更⾼阶段的⾳乐、舞蹈专业知识。通过结构化的预科课程，能帮助学生深化他们在专业学习领域的能力，为获得更高学位做准备。让高中音乐、舞蹈类学生在高中阶段既可以兼顾到高中艺术联考也可以同时享受国外的优质大学预科教育。在毕业前达到双达标(联考达标和国外音乐大学录取)。
                .row.align-items-center
                    .col-lg-5
                        figure.pic.wow.fadeInUp
                            img(src="img/projects_17.jpg", alt="")      
                    .col-lg-7
                        dl.wow.fadeInUp
                            dd 双达标：联考 + 国外升学 双达标
                            dd 直升名校：直接进入新加坡莱佛士音乐学院，获得西伦敦大学伦敦音乐学院学士学位
                            dd 名额保障：所有合格学生保证所选专业录取，免除家长和学生后顾之忧。
                            dd 大师授课：专业课老师均为国内顶级音乐学院、新加坡莱佛士音乐学院认证。
                            dd 按时毕业：学生可在进入大学前抢险领略大师风采，在中国就与新加坡教学接轨，确保可以顺利毕业。
                            dd 官方支持：本项目得到英国西伦敦大学伦敦音乐学院和新加坡莱佛士音乐学院鼎力支持，确保学生录取、升学、签证顺利毕业。
                            dd 国内面试：所有国际班学生，均有来华大师组成的评委现场选拔，在学生完成相关流程后，确保入学。



        section.s2.section.container
            .title-section
                h2 INTRODUCTION
                h3 场地介绍

            .swiper-container.gallery-top
                .swiper-wrapper
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
                    .swiper-slide
                        img(src="img/temp/photo_01.jpg", alt="")
                        h3 天穹剧场
           
                .swiper-button-next.swiper-button-white
                .swiper-button-prev.swiper-button-white
    
            .swiper-container.gallery-thumbs
                .swiper-wrapper
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")                     
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")
                    .swiper-slide(style="background-image:url(../img/temp/photo_01s.jpg)")

                
       

        section.s3.section.container
            .title-section
                h2 RECOMMENDED
                h3 周边住宿推荐

            .row.zhusu
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs1.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs8.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs5.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs4.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs2.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs3.jpg", alt="")                    
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs6.jpg", alt="")
                .col-6.col-md-4.col-lg-3
                    .item
                        img(src="img/temp/zs7.jpg", alt="")
                

         
                    
                    


        

block bkfooter

    script(src='plugins/swiper/js/swiper.min.js')
  
    script.
         var galleryThumbs = new Swiper('.gallery-thumbs', {
            spaceBetween: 30,
            slidesPerView: 5,
            freeMode: true,
            watchSlidesVisibility: true,
            watchSlidesProgress: true,
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
            breakpoints: {
                640: {
                    slidesPerView: 3,
                    spaceBetween: 15,
                },
                768: {
                    slidesPerView: 4,
                    spaceBetween: 20,
                },
                1024: {
                    slidesPerView: 5,
                    spaceBetween: 30,
                },
            }
        });
        var galleryTop = new Swiper('.gallery-top', {
            spaceBetween: 0,
            
        thumbs: {
            swiper: galleryThumbs
        }
        });

        $(function () {
        
  
        
        });
        
     
