extends includes/layoutWithoutHeaderAndFooter.pug

block title
    | 选择项目类型

block bkheader
    

block content
    .wrapper 
        .leftCol
            form(action="#", method="get")
                header.logo 
                    a(href="/")
                        img(src="img/logo_red.svg", alt="logo")

                .searchBox 
                
                    .form-col 
                        .form-group
                            label.form-label(for="") 搜索内容：
                            input.form-control(type="search", name="keyword")                    
                    .form-col 
                        .form-group
                            label.form-label(for="") 项目类型：
                            select.form-control(name="projectType")
                                option(value="") 请选择项目类型
                                option(value="1") 产业园区
                                option(value="2") 总部办公
                                option(value="3") 医疗疗养
                                option(value="4") 教育建筑
                                option(value="5") 高端公寓
                                option(value="6") 酒店建筑

                    .form-col 
                        .form-group
                            label.form-label(for="") 项目地区：
                            select.form-control(name="projectType")
                                option(value="") 请选择项目地区
                                option(value="1") 上海
                                option(value="2") 北京
                                option(value="3") 深圳

                    .form-col 
                        .form-group
                            label.form-label(for="") 单方造价：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minPrice")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxPrice")
                                .col-auto 元/㎡
                    
                    .form-col 
                        .form-group
                            label.form-label(for="") 单方数量：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 户
                    
                    .form-col 
                        .form-group
                            label.form-label(for="") 项目年代：
                            .row.gx-2
                                .col 
                                    select.form-control(name="projectType")
                                        option(value="1996") 1996
                                        option(value="1997") 1997
                                        option(value="1998") 1998
                                        option(value="1999") 1999
                                        option(value="2000") 2000
                                        option(value="2001") 2001
                                        option(value="2002") 2002

                                .col-auto 层高
                                .col 
                                    input.form-control(type="number", name="maxFu", value="3.4") 
                                .col-auto m

                    .form-col 
                        .form-group
                            label.form-label(for="") 项目层数：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 层

                    .form-col 
                        .form-group
                            label.form-label(style="line-height:1.1") 标准层<br/>建筑面积：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto ㎡

                    .form-col 
                        .form-group
                            label.form-label(style="line-height:1.1") 地上总<br/>建筑面积：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto ㎡

                    .form-col 
                        .form-group
                            label.form-label 项目长度：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 米
                           
                    .form-col 
                        .form-group
                            label.form-label 项目宽度：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 米

                    .form-col 
                        .form-group
                            label.form-label 总高度：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 层

                    .form-col 
                        .form-group
                            label.form-label 建筑成本：
                            .row.gx-2
                                .col 
                                    input.form-control(type="number", name="minFu")
                                .col-auto -
                                .col 
                                    input.form-control(type="number", name="maxFu")
                                .col-auto 元

                    .form-col 
                        .form-group
                            label.form-label(for="") 设计方：
                            select.form-control(name="projectType")
                                option(value="") 请选择设计方
                                option(value="1") 公司一
                                option(value="2") 公司二
                                option(value="3") 公司三

                    .form-col 
                        .form-group
                            label.form-label(for="") 供应方：
                            select.form-control(name="projectType")
                                option(value="") 请选择供应方
                                option(value="1") 公司一
                                option(value="2") 公司二
                                option(value="3") 公司三

                    .form-col 
                        .form-group
                            label.form-label(for="") 建造方：
                            select.form-control(name="projectType")
                                option(value="") 请选择建造方
                                option(value="1") 公司一
                                option(value="2") 公司二
                                option(value="3") 公司三
                           
                footer.actions
                    .row 
                        .col 
                            button.btn.btn-default.btn-radius(type="reset") 清空选项
                        .col
                            button.btn.btn-primary.btn-radius(type="submit") 筛选项目

        .mainContent
            .orderby.row.mb-4
                .col-auto 结果排序：
                .col 
                    ul 
                        li.active 
                            a(href="projects.html") 智能排序
                        li 
                            a(href="projects.html?sort=price") 建造成本
                                i.iconfont.icon-sort-full
                        li 
                            a(href="projects.html?sort=area") 建筑面积
                                i.iconfont.icon-sort-up-full
                        li 
                            a(href="projects.html?sort=speed") 施工速度
                                i.iconfont.icon-sort-down-full

                                
        
            .projects
                .row.row-cols-md-2.row-cols-xl-3.row-cols-xxl-4.g-4
                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情



                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情

                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情

                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情
                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情



                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情

                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情

                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情


                    .col
                        a.item(href="project-detail.html") 
                            .pic
                                img(src="img/temp/p001.jpg", alt="松江养老社区")
                            .des 
                                .row.mb-2 
                                    .col 
                                        h4 松江养老社区
                                    .col-auto
                                        .area 4500 元/㎡
                                .row 
                                    .col-6 
                                        .fd 建筑面积：162757平方米
                                    .col-6
                                        .fd 单元数量：28个单元

                               
                                    .col-6 
                                        .fd 建筑层数：30层
                                    .col-6
                                        .fd 建筑层高：2.5米

                            
                                    .col-6 
                                        .fd 建造成本：10.6亿
                                    .col-6
                                        .fd 施工周期：2年
                                    
                                    .col-6
                                        .fd 项目年代：2021（1990）

                            .more 查看详情
                  

                

block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
