extends includes/layoutWithoutHeaderAndFooter.pug

block title
    | 项目详情

block bkheader
    link(href='js/vendor/lightbox2/css/lightbox.min.css', rel='stylesheet')

block content   
    .banner.wow.fadeInUp.mb-5(style="background-image:url(img/temp/banner-1.jpg);")
        .page-header-1    
            .row.align-items-center 
                .col 
                    a.logo(href="index.html") 
                        img(src="img/logo_white.svg", alt="logo")
                .col-auto
                    a.back(href="javascript:history.go(-1);") 
                        i.iconfont.icon-back 
                        | 返回
        
        .intro 
            h1.text46 北外滩77号街坊
            p.mb-media-3 使用性质：住宅类租赁住房<br/>设计单位：华东建筑设计研究总院
            .actions 
                a.btn.btn-white.btn-radius(href="#") 购买产品
                a.btn.btn-primary.btn-radius(href="design.html") 定制产品

        ul.project-nav 
            li
                a(href="project-detail.html") 产品信息
            li
                a(href="project-detail-1.html") 工程            
            li 
                a(href="project-detail-2.html") 采购
            li.active
                a(href="project-detail-3.html") 建设
        
    .drawings.container
        section.s1
            ul.categories
                li.active
                    a(href="#") 全部图纸                        
                li
                    a(href="#") 方案三维效果图
                li
                    a(href="#") 方案细节图纸
                li
                    a(href="#") 方案平面图
                li
                    a(href="#") 方案立面图
                li
                    a(href="#") 方案剖面图
              
              


        section.s2.pb-media-6
            .row.g-4.row-cols-md-2.row-cols-lg-3
                .col
                    .pic
                        a(href="img/temp/dr001.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr001.jpg", alt="001")
                .col
                    .pic 
                        a(href="img/temp/dr002.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr002.jpg", alt="002")
                .col
                    .pic 
                        a(href="img/temp/dr003.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr003.jpg", alt="003")
                .col
                    .pic 
                        a(href="img/temp/dr004.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr004.jpg", alt="004")
                .col
                    .pic 
                        a(href="img/temp/dr005.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr005.jpg", alt="005")
                .col
                    .pic 
                        a(href="img/temp/dr006.jpg", data-lightbox="roadtrip")  
                            img(src="img/temp/dr006.jpg", alt="006")


block bkfooter

    script(src='js/vendor/lightbox2/js/lightbox.min.js')
    script.
        lightbox.option({
            'resizeDuration': 200,
            'wrapAround': true,
            'positionFromTop': 100
        })


