extends includes/layout.pug

block title
    | 科研项目

block bkheader
    

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/project.jpg)")
        .container
            .title
                h1.wow.fadeInUp 科研项目
                p.wow.fadeInUp 创新无界限，卓越无止境。
              

        
    .page.page-projects.pt-media-5.pb-media-5
        
        section.s1.container.mb-media-5
            .row.mb-media-3
                .col-md-8
                    h2.text28 国家科研项目
                .col-md-4
                    ul.type
                        li 主持
                        li 参与
                        
            .row 
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title.title2 国家自然科学基金重点项目·参与
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 国家创新基金项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 科技人员服务企业项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                

        section.s1.container.mb-media-5
            .row.mb-media-3
                .col-md-8
                    h2.text28 国家科研项目
                .col-md-4
                    ul.type
                        li 主持
                        li 参与
                        
            .row 
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

        section.s1.container
            .row.mb-media-3
                .col-md-8
                    h2.text28 国家科研项目
                .col-md-4
                    ul.type
                        li 主持
                        li 参与
                        
            .row 
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 十三五国家重点研发池·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title.title2 国家自然科学基金重点项目·参与
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 国家创新基金项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 科技人员服务企业项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title.title2 国家自然科学基金重点项目·参与
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 

                .col-md-6.col-lg-4 
                    .item 
                        h3.title 国家创新基金项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                .col-md-6.col-lg-4 
                    .item 
                        h3.title 科技人员服务企业项目·主持
                        .txt
                            p.des 可降解锌合金冠脉支架的研发' 评价 和临床应用研究
                            .num 2016YFC1102500 
                
                   


block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
