extends includes/layout.pug

block title
    | 企业资质

block bkheader
   

block content
    .banner.banner-about(style="background-image:url(img/banner/about.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 公司简介
                ul.nav.wow.fadeInUp
                    li
                        a(href="about.html") 公司简介
                    li
                        a.active(href="qualification.html") 企业资质
                    li
                        a(href="culture.html") 品牌与文化
       
        
    .page.page-qualification.container
        .s1
            .row
                .col-md-6.col-lg-4
                    figure.wow.fadeInUp
                        img(src="img/temp/q01.jpg", alt="")
                        figcaption 检验                    
                .col-md-6.col-lg-4
                    figure.wow.fadeInUp
                        img(src="img/temp/q02.jpg", alt="")
                        figcaption 培训
                .col-md-6.col-lg-4
                    figure.wow.fadeInUp
                        img(src="img/temp/q03.jpg", alt="")
                        figcaption 培训

                .col-md-6.col-lg-4
                    figure.wow.fadeInUp
                        img(src="img/temp/q04.jpg", alt="")
                        figcaption 生产
                .col-md-6.col-lg-4
                    figure.wow.fadeInUp
                        img(src="img/temp/q05.jpg", alt="")
                        figcaption 研发

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
