extends includes/layout.pug

block title
    | 我们的资质

block content
    .banner.banner-about(style="background-image:url('img/temp/banner-about.jpg')")
        .container
            p.txt 让我们一起
                br
                | 看见更好
                br
                | 的未来
    


   
    .page.page-qualifications.container   
        .title-section
            h2 我们的资质
        .qualist
            .row
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q001.jpg')                       
                        h3.title TUV9001:2015质量管理体系
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q002.jpg')                       
                        h3.title EU No 10/2011 of 1jan.2011
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q002.jpg')                       
                        h3.title FDA 21 CFR 177.1520(D)3(1).
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q001.jpg')                       
                        h3.title TUV9001:2015质量管理体系
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q002.jpg')                       
                        h3.title TUV9001:2015质量管理体系
                .col-md-6.col-lg-4
                    .item
                        .pic
                            img(src='img/q002.jpg')                       
                        h3.title TUV9001:2015质量管理体系
                        
            
        