extends includes/layout.pug

block title
    | 产品中心

block bkheader
    link(href='js/vendor/lightbox2/dist/css/lightbox.min.css', rel='stylesheet')

block content
    .banner.banner-quality(style="background-image:url(img/banners/quality.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 质量管理和体系
         

    .page-quality.pt-media-7.pb-media-7
        .container
            section.s1.mb-media-3
                p 防护犹如铠甲，质量守护生命”，为患者提供最好的产品是企业质量活动开展的唯一标准，博迈医疗建立了符合全球标准的高标准质量管理体系，包括中国医疗器械生产质量管理规范、ISO 13485、美国 21CFR Part820 质量体系法规、日本厚生劳动省169法令等。博迈医疗以优秀表现多次通过中国药监局、美国FDA 、 日本PMDA、欧盟BSI和TUV等政府或第三方监管机构的审核及检查。此外博迈医疗还连续五年荣获广东省质量信用A类医疗器械企业称号，更显高标准管理体系运行的稳定性。
            section.s2
                .list
                    .row
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_05.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_05.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_07.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_07.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_09.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_09.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_11.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_11.jpg", alt="")
                        .w-100.d-none.d-xl-block
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                        .col-6.col-md-4.col-lg-3.col-xl
                            a.item(href="img/quality/q_03.jpg",data-lightbox="roadtrip")
                                img(src="img/quality/q_03.jpg", alt="")
                    

                footer.quality-footer.wow.fadeInUp
                    ul.pagination.text-center
                        li.page-item
                            a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                                i.iconfont.icon-previous
                                
                        li.page-item
                            a.page-link(href='#') 1
                        li.page-item.active(aria-current='page')
                            a.page-link(href='#')
                                | 2                          
                        li.page-item
                            a.page-link(href='#') 3
                        li.page-item
                            a.page-link.next(href='#') 
                                i.iconfont.icon-next

block bkfooter

    script(src='js/vendor/lightbox2/dist/js/lightbox.min.js')
    script.
        
        $(function () {
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true
            })
  
        
        });
      
       

     
