extends includes/layout.pug

block title
    | 管理团队-特色教育

block content  
    .container
        .breadcrumb 
            a(href="index.html") Home
            | / Request a quote

    .page.page-quote       
        section.s1.container
            .header-quote
                h2 Request A Quote
                p To provide you with quality service, adhere to the principle of customer first.
                img(src="img/form.png", alt="")
            include includes/quoteform.pug
                       
                


        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
