extends includes/layout.pug

block title
    | 研究员
    
block bkheader
   

block content
    .banner.banner-researcher(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 研究员
              
    .pagenav
        .container
            ul.list
                li
                    a.active(href="researcher.html") 全职研究员
                li
                    a(href="researcher.html") 全时双聘研究员
    .wrapper
        .page-researcher.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right               
                            
                        li.hasnav.active
                            a(href="team.html") 人才队伍
                            ul.subnav
                                li
                                    a(href="academician.html") 院士专家
                                li
                                    a(href="talent.html") 核心人才
                                li
                                    a.active(href="researcher.html") 研究员
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    table.table
                        thead
                            tr
                                th 部门/团队
                                th 岗位
                                th 员工姓名

                        tbody
                            tr
                                td SiC及相关材料团队
                                td 特聘高级工程师
                                td 宋华平

                            tr
                                td 中子散射项目
                                td 研究员级高级工程师三级
                                td 王采林CAILIN  WANG 
                            tr
                                td 中子散射项目
                                td 研究员三级
                                td GARDNER JASON STEWART
                            tr
                                td 微加工与器件平台
                                td 研究员级高级工程师二级
                                td 汪洋
                            tr
                                td 非晶材料团队
                                td 特聘研究员
                                td 柯海波
                            tr
                                td 先进陶瓷材料团队
                                td 特聘研究员
                                td 曾潮流         
                            tr
                                td 实用超导薄膜研究团队
                                td 特聘研究员
                                td 王维
                            tr
                                td 实用超导薄膜研究团队
                                td 研究员级高级工程师四级
                                td 方志春
                            tr
                                td 中子散射项目
                                td 研究员三级
                                td 马东


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
