extends includes/layout.pug

block title
    | Team

block content    
   

    .page.page-team-detail.container 
        .content
          figure.photo
              img(src="img/temp/resd_01.jpg", alt="")
          .title-section-v1
            h2 computer-aided drug design，CADD
          p Computer-aided drug design (CADD) is a new technology developed in recent years for the research and development of new drugs. It greatly speeds up the design of new drugs, saves the manpower and material resources for the creation of new drugs, and enables pharmacologists to develop new drugs with a purpose under the guidance of theories. CADD is a pretty big topic, involved in structural chemistry, medicinal chemistry, molecular pharmacology, biochemistry, structural biology, molecular biology, chemical biology, cell biology, physiology, pathology, biology, physics, combinatorial chemistry, quantum chemistry, molecular mechanics and molecular dynamics, molecular graphics, computational chemistry, chemical . mechanics and molecular dynamics, molecular graphics, computational chemistry, chemical . informatics, bioinformatics, X-ray crystallography, nuclear magnetic resonance (NMR) technology, computer graphic technology, database technology and artificial intelligence technology and technology basic discipline and applied discipline. Fusion of these disciplines knowledge and technology, CADD groups in drugs, pharmacological activity and efficacy research, drug structure-activity analysis, new drug design, high flux virtual screening and synthetic database design shows a strong power, greatly improves the level of drug design, and tend to be directional and rationalization, opened up a broad prospect.


          p Generally speaking, CADD only refers to the molecular design technology based on molecular simulation (computational chemistry), which can be divided into receptor-based or structure-based drug design (SBDD) and ligand-based drug design (LBDD). SBDD starts from the structure and nature of the receptor to find ligand molecules that can specifically bind to it, so it is also called direct drug design, including specific methods such as molecular docking based on the receptor structure, active site analysis, ab initio drug design (growth or connection algorithm), etc. LBDD constructs a structure-activity relationship or pharmacophore model based on known active lead molecules, which is called indirect drug design, including specific methods such as quantitative structure-activity relationship (QSAR), pharmacophore model, receptor mapping, and molecular shap-based superposition. In practical work, the corresponding research methods can be selected according to the amount of known information. Of course, the more accurate the known information is, the more reliable the results will be.
          figure
            img(src="img/temp/nd_01.jpg", alt="")
      
          p Computer-aided drug design (CADD) is a new technology developed in recent years for the research and development of new drugs. It greatly speeds up the design of new drugs, saves the manpower and material resources for the creation of new drugs, and enables pharmacologists to develop new drugs with a purpose under the guidance of theories. CADD is a pretty big topic, involved in structural chemistry, medicinal chemistry, molecular pharmacology, biochemistry, structural biology, molecular biology, chemical biology, cell biology, physiology, pathology, biology, physics, combinatorial chemistry, quantum chemistry, molecular mechanics and molecular dynamics, molecular graphics, computational chemistry, chemical informatics, bioinformatics, X-ray crystallography, nuclear magnetic resonance (NMR) technology, computer graphic.
          p Computer-aided drug design (CADD) is a new technology developed in recent years for the research and development of new drugs. It greatly speeds up the design of new drugs, saves the manpower and material resources for the creation of new drugs, and enables pharmacologists to develop new drugs with a purpose under the guidance of theories. CADD is a pretty big.

        
block bkfooter
    script.
        
        


     
