extends includes/layout.pug

block title
    | 创新研究
    - var currentUrl = 'research.html'
block bkheader
    

block content
    .banner.banner-team
        img.bg(src="img/banners/research.jpg", alt="创新研究")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text60 创新研究

    section.page.page-research-s1.container.pt-media-9.pb-media-7
        .txt.text28.text-center 我们聚焦未被满足的临床需求，拓展与深化全球创新合作，快速推动临床开发和商业化进程，赋能科研技术转化，使患者受益
        

    section.page.page-about-s2.page-research-s2.pt-media-6.pb-media-6
        .container
            .row.align-items-center 
                .col-lg-6
                    .left_col 
                        .title-section.text-center
                            h2.text60 创新研究介绍
                            h3.text60 R&amp;D Introduction

                        p.text20 聚焦未被满足的临床需求，与全球生物科技公司/生物制药公司合作，共同开发全球首创（FIC）、同类最优*（BIC）创新产品。与合作方专注各自所长，我们负责中国或特定市场临床开发和商业化运营，提升创新药物研发效率。
                        p  
                            small 同类最优（BIC）：拥有创新制剂、创新给药方式等以达到同类治疗效果最佳、或最安全、或最具性价比的创新产品

                .col-lg-6.text-center
                    .right_col
                      
                        .item.mb-media-4 
                            .value.text40 ~30款
                            p.text20 创新产品                            
                    
                        .item.mb-media-4 
                            .value.text40 &gt;10个
                            p.text20 正在进行的临床研究，以注册性<br/>随机对照试验（RCT）为主

                
                        .item.mb-media-4 
                            .value.text40 3个
                            p.text20 中国新药上市申请<br/>获受理

                    

                        p 
                            small *相关数据均截至2021年12月31日
                
    section.page.page-about-s3.page-research-s3.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6.order-lg-last 
                    .right_col
                        .title-section
                            h2.text60 研发模式
                            h3.text60 R&amp;D Model

                        .list 
                            .item 
                                .num.text40 01
                                h3.title.text20 股权投资海外Biotech及与全球Biopharma战略合作
                                p
                                    small 布局海外处于临床中后期或已获批上市的创新产品，我们负责产品在中国及其它授权国家/地区的临床开发、注册上市及商业化，提升患者对创新药的可及性
                                p 
                                    a.more(href="partners.html")
                                        small 了解更多 &gt;&gt;
                            
                            .item 
                                .num.text40 02
                                h3.title.text20 产业化投资中国Biotech
                                p
                                    small 对拥有创新技术平台的中国Biotech进行股权投资，Biotech负责新药发现、临床前研究，我们负责产品在中国及其它授权国家/地区的临床开发、注册上市及商业化，提升中国创新药研发效率，加速本土创新成果落地
                                p 
                                    a.more(href="partners-2.html")
                                        small 了解更多 &gt;&gt;
                            
                            .item     
                                .num.text40 03
                                h3.title.text20 自主定制开发创新产品
                                p
                                    small 针对自身优势科室，围绕新靶点、热门靶点，委托CRO提供产品临床前研究服务，我们自主推进创新药全生命周期管控，并拥有产品的全球权利
                                p 
                                    a.more(href="partners-3.html")
                                        small 了解更多 &gt;&gt;
                        

                .col-lg-6 
                    .pic 
                        img(src="img/re_01.jpg", alt="研发模式")

    section.page.page-about-s3.page-about-s4.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6
                    .right_col
                        .title-section.mb-media-6 
                            h2.text60 临床开发
                            h3.text60 Development

                        .txt
                            p.text20 拥有医学、临床、药物警戒和质量保障四位一体的临床开发体系和专业团队，确保医学策略科学合理、临床运营高效合规、产品安全风险可控
                            p.text20 拥有被验证的临床快速入组能力：<br/>替瑞奇珠单抗注射液2.5个月（含春节）完成220例入组0.09% 环孢素滴眼液4个月（含春节）完成384例入组
                .col-lg-6 
                    .pic 
                        img(src="img/re_02.jpg", alt="临床开发")

    section.page.page-about-s3.page-about-s5.pt-media-6.pb-media-6     
        .container 
            .row.align-items-center 
                .col-lg-6.order-lg-last 
                    .right_col.pb-media-9 
                        .title-section.mb-media-6 
                            h2.text60 创新管线
                            h3.text60 Pipeline

                        .txt.text20 我们专注心脑血管、中枢神经、消化、眼科、皮肤、儿科等疾病范畴，已建立差异化的创新管线 

                .col-lg-6 
                    .pic 
                        img(src="img/re_03.jpg", alt="创新管线")    
                  

                

block bkfooter


    script.
        
        $(function () {
            
        
        });
      
       

     
