extends includes/layout.pug

block title
    | 研究布局

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_research.jpg)")
        .container
            h1.title-page 科研概况
            nav.submenus 
                a.active(href="research_overview.html") 研究布局              
                a(href="research_projects.html") 科研项目             
                a(href="research_evolve.html") 科研进展
                a(href="papers.html") 论文
                a(href="awards.html") 获奖
       
        
    .page.page-research.container
        .s1
            .row
                .col-md-6.col-lg
                    .item
                        h3.title 学术定位
                        p 脑认知神经基础；非人灵长类脑疾病动物模型资源库建立；脑疾病机制与治疗新策略研究。
                .col-md-6.col-lg
                    .item
                        h3.title 需求牵引
                        p 脑科学研究新技术、脑疾病诊疗新技术、新药物研发和产业化应用与服务。
                .col-md-12.col-lg
                    .item
                        h3.title 学术定位
                        p 将应用基础研究的研发能力在深圳生根；促进自主创新与国家生物产业需求有机结合；成为国际一流研究机构和生物医药企业共享开放的、有国际影响力的平台；加强技术服务、成果转化、技术转移力度，实现科学前沿对创新驱动发展的实质贡献。
            

        .s2
            figure.pic
                img(src="img/research_01.jpg", alt="")


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
