extends includes/layout.pug

block title
    | 科研进展

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_research.jpg)")
        .container
            h1.title-page 科研概况
            nav.submenus 
                a(href="research_overview.html") 研究布局              
                a(href="research_projects.html") 科研项目             
                a.active(href="research_evolve.html") 科研进展
                a(href="papers.html") 论文
                a(href="awards.html") 获奖
       
        
    .page.page-projects.page-evolve
        .s1.section.container           
            .row
                .col-12.col-md
                    .val
                        .num 78
                        .unit 篇
                    .t 国际顶级期刊论文
                .col-6.col-md
                    .val
                        .num 200
                        .add +
                        .unit 项
                    .t 申请专利
                .col-6.col-md
                    .val
                        .num 50
                        .add +
                        .unit 项
                    .t 获授权专利

                    
            p 脑院共发表包括Nature、Science、Nature Neuroscience、Neuron、Nature Communications、Neuron、PNAS等国际顶级期刊在内的SCI论文78篇，申请专利两百余项，获授权专利50余项。
            
            .row.pics
                .col
                    img(src="img/evolve_01.jpg", alt="")
                .col
                    img(src="img/evolve_02.jpg", alt="")
                .col
                    img(src="img/evolve_03.jpg", alt="")

        .s2
            .container
                .title-section.wow.fadeInUp             
                    h2.text-center 相关新闻
                .projectlist
                    .row
                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

    


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
