extends includes/layout.pug

block title
    | 科研项目

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_research.jpg)")
        .container
            h1.title-page 科研概况
            nav.submenus 
                a(href="research_overview.html") 研究布局              
                a.active(href="research_projects.html") 科研项目             
                a(href="research_evolve.html") 科研进展
                a(href="papers.html") 论文
                a(href="awards.html") 获奖
       
        
    .page.page-projects
        .s1.section.container
            .row
                .col-lg-auto
                    .pic
                        img(src="img/research_03.jpg", alt="")
                .col-lg
                    .row.justify-content-between
                        .col-auto
                            .val
                                .num 190
                                .unit 余项
                            .t 国家省部地方各级项目

                        .col-auto 
                            .val
                                .num 2.5
                                .unit 亿元
                            .t 项目资金共

                    
                    p 国自然重大研究计划重点项目、国自然重点、国自然杰青、国自然优青、国自然重点国别合作、国家重点研发计划、中科院国际大科学计划培育项目、中科院先导 B 课题、中科院百人计划、广东省创新团队、广东省重点实验室、深圳市孔雀团队、深圳市学科建设等重点重大项目。
            
        .s2
            .container
                .title-section.wow.fadeInUp             
                    h2.text-center 代表性项目
                .projectlist
                    .row
                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_03.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_01.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

                        .col-md-6.col-lg-4                       
                            a.item.wow.fadeInUp(href="project_detail.html")
                                img(src="img/temp/pro_02.jpg")
                                div.title 
                                    h3 诺奖、院士双双助阵 50余顶尖脑科学专家齐聚深圳
                                    time 2019-03-24

    


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
