extends includes/layout.pug

block title
    | Research
block bkheader
    link(href='js/vendor/rateyo/min/jquery.rateyo.min.css', rel='stylesheet')
block content
    .banner.banner-research(style="background-image:url(img/temp/banner-research.jpg)")
        h1 Research
     
    .page.page-research
        nav.s1.container 
            a.active(href="research.html") Research Direction
            a(href="research.html") Research results
         
        section.s2.container 
            .row
                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")

                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")

                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")


                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")


                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")


                .col-md-6.col-lg-4
                    a.item(href="research_detail.html")
                        .pic.wow.fadeInLeft
                            img(src="img/temp/res_01.jpg", alt="")
                        .txt.wow.fadeInLeft
                            h3 Talents Wanted at Hefei Institutes of Physical Science...
                            p.des Researchers from the Shenzhen Institutes of Advanced Technology (SIAT) of the Chinese Academy of Sciences designed a novel combined machine learning and deep learning framework ...
                            .row
                                .col 21 January 2020
                                .col-auto
                                    .rateYo(data-rateyo-rating="3.5", data-rateyo-rated-fill="#000",data-rateyo-normal-fill="#999",data-rateyo-star-width="18px")


                
            footer.container.material-footer       
                ul.pagination
                    li.page-item.disabled
                        a.page-link(href='#', tabindex='-1', aria-disabled='true') 
                            i.iconfont.icon-left
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item.active(aria-current='page')
                        a.page-link(href='#')
                            | 2                          
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link(href='#') 
                            i.iconfont.icon-right


        
block bkfooter
    script(src='js/vendor/rateyo/min/jquery.rateyo.min.js')
    script.
         $(function () {
          
            $(".rateYo").rateYo();
        
        });
        


     
