extends includes/layout.pug

block title
    | 科研进展

block content
    .banner.banner-research(style="background-image:url(img/banners/news.jpg)")        
        .container       
            h1.text36 科研进展

    .wrapper
        .page-research.pb-media-5
            .container  
                .fixednav
                    h4  新闻中心
                    ul.nav
                        li
                            a(href="news.html") 新闻动态
                        li.active
                            a(href="research.html") 科研进展                             
                        li
                            a(href="notice.html") 通知公告
                        li
                            a(href="special.html") 专题栏目
                        li
                            a(href="videos.html") 视频中心
                    

                .s1
                    .researchlist
                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r1.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") 祝贺！松山湖材料实验室先进陶瓷与复合材料技术产业化项目获批东莞首个重大科技成果转化立项
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132
                                  
                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r2.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") Nature丨轻元素材料团队实现A4纸尺寸、高指数面单晶铜箔库的可控制备
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132

                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r3.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") 双层-双层转角石墨烯中的关联绝缘态
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132
            

                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r1.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") 祝贺！松山湖材料实验室先进陶瓷与复合材料技术产业化项目获批东莞首个重大科技成果转化立项
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132
                                  
                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r2.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") Nature丨轻元素材料团队实现A4纸尺寸、高指数面单晶铜箔库的可控制备
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132

                        .item.wow.fadeInUp
                            .row
                                .col-md-auto             
                                    a.pic(href="news_detail.html")
                                        img(src="img/temp/r3.jpg")    
                                .col-md
                                    .txt
                                        h3.text24
                                            a(href="news_detail.html") 双层-双层转角石墨烯中的关联绝缘态
                                        .note
                                            .row
                                                .col-auto 
                                                    i.iconfont.icon-time
                                                    | 2019-12-15
                                                .col
                                                    i.iconfont.icon-view
                                                    | 2132
            
        
                        footer.news-footer.wow.fadeInUp
                            ul.pagination.text-center
                                li.page-item
                                    a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 上一页
                                        
                                li.page-item
                                    a.page-link(href='#') 1
                                li.page-item.active(aria-current='page')
                                    a.page-link(href='#')
                                        | 2                          
                                li.page-item
                                    a.page-link(href='#') 3
                                li.page-item
                                    a.page-link.next(href='#') 下一页
                                       
        
block bkfooter
    script.
        $(function(){
        
        })
