extends includes/layout.pug

block title
    | 社会责任

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')


block content  
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/responsibility.jpg)")
        .container
            .title
                h1.wow.fadeInUp 社会责任
                p.wow.fadeInUp 能力越大，责任越大。百多安责无旁贷。
              
        

    .page.page-responsibility.pt-media-5.pb-media-5    
        section.s1.container.mb-media-8
            .row.align-items-center
                .col-md-6
                    figure.pic
                        img.wow.fadeInUp(src="img/res_1.jpg", alt="公司责任")                              
                
                .col-md-6
                    .txt
                        h3.title.text30 公司责任
                        p.wow.fadeInUp 公司以为员工提供发展机会、为社会承担责任的公司使命，吸引国内外优秀科学家组建创新团队，秉承追求卓越、创新发展、互相尊重、客户至上的企业文化，争取为人类健康事业做出更大贡献….
                    

        section.s2
            .container.mb-media-4 
                .row
                    .col-lg-3                 
                        h3.title.text30 七大重点业务

                    .col-lg-9 
                        .row.t 
                            .col-md 
                                .txt
                                    p 疫情期间，公司紧急转型生产医用防护用品，开发隔离衣、隔离眼罩、隔离面罩、医用口罩、消毒液等5个系列、10个产品的防疫用品，低价供应市场，并主动承担部分政府计划性指标供应，紧急增加生产设备300余台，全国范围紧急采购原材料，不惜代价增加产能，缩短供货时间，累计交付300余万个医用隔离面罩和50余万套医用隔离衣，支援武汉前线和全国各地援鄂医疗队。同时向德州当地以及湖北抗疫一线，捐赠总价值超过300余万元的防疫物品。
                            .col-md-auto 
                                .swiper-prev 
                                    .iconfont.icon-prev
                                .swiper-next
                                    .iconfont.icon-next
                        
                          
            .swiper-container
                .swiper-wrapper
                    .swiper-slide   
                        .item                         
                            img(src="img/res_2.jpg", alt="")                              
                    .swiper-slide   
                        .item                         
                            img(src="img/res_3.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_4.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_5.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_6.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_4.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_5.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_6.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_4.jpg", alt="")
                    .swiper-slide   
                        .item                         
                            img(src="img/res_5.jpg", alt="")
                        

                             

block bkfooter
    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 20,
             grabCursor: true,
             centeredSlides: true,
            // init: false,
             navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                slidesPerView: 2,
                spaceBetween: 20,
                },
                768: {
                slidesPerView: 4,
                spaceBetween: 20,
                },
                992: {
                slidesPerView: 5,
                spaceBetween: 20,
                },
                1200: {
                slidesPerView: 6,
                spaceBetween: 20,
                },
            }
        });


     
