extends includes/layout.pug

block title
    | 党建日签

block bkheader
    

block content
    .banner.banner-riqian(style="background-image:url(img/banners/dang.jpg)")        
        .container       
            h1.text36 党建日签

        
    .wrapper
        .page-riqian.pb-media-5
            .container  
                .fixednav
                    h4  党群文化
                    ul.nav
                        li
                            a(href="dwork-list.html") 党建工作
                        li
                            a(href="gwork-list.html") 群团工作                             
                

                section.s1
                    .row
                      .col-lg-4                        
                        .box-body
                            .pic1
                                img(src="img/cul_01.jpg", alt="")

                            .riqian
                                h3.title / 党建日签 / 
                                .d1 ——  闰四月廿六  ——
                                .d2.text40 06-17
                                .d3 ——  June  周三  ——
                                
                                .summary
                                    .title
                                        img(src="img/yulu.png", alt="")
                                    p 青年一代有理想、有本领、有担当，国家就有前途，民族就有希望。

                                main.content
                                    p 落实科技人员创新创业各项政策，将科技人员服务企业情况作为职称评审、岗位竞聘等重要内容，对与成效突出的优先推荐申报国家科技人才计划。抓紧落实赋予科研人员职务科技成果所有权或长期权试点。
                                    p ———《关于科技创新支撑复工复产和经济平稳运行的若干措施》
                                    .icon.text-right
                                        img(src="img/cul_02.png", alt="")

                      .col-lg-4                          
                        .box-body
                            .pic1
                                img(src="img/cul_01.jpg", alt="")

                            .riqian
                                h3.title / 党建日签 / 
                                .d1 ——  闰四月廿六  ——
                                .d2.text40 06-17
                                .d3 ——  June  周三  ——
                                
                                .summary
                                    .title
                                        img(src="img/yulu.png", alt="")
                                    p 青年一代有理想、有本领、有担当，国家就有前途，民族就有希望。

                                main.content
                                    p 落实科技人员创新创业各项政策，将科技人员服务企业情况作为职称评审、岗位竞聘等重要内容，对与成效突出的优先推荐申报国家科技人才计划。抓紧落实赋予科研人员职务科技成果所有权或长期权试点。
                                    p ———《关于科技创新支撑复工复产和经济平稳运行的若干措施》
                                    .icon.text-right
                                        img(src="img/cul_02.png", alt="")

                      .col-lg-4                        
                        .box-body
                            .pic1
                                img(src="img/cul_01.jpg", alt="")

                            .riqian
                                h3.title / 党建日签 / 
                                .d1 ——  闰四月廿六  ——
                                .d2.text40 06-17
                                .d3 ——  June  周三  ——
                                
                                .summary
                                    .title
                                        img(src="img/yulu.png", alt="")
                                    p 青年一代有理想、有本领、有担当，国家就有前途，民族就有希望。

                                main.content
                                    p 落实科技人员创新创业各项政策，将科技人员服务企业情况作为职称评审、岗位竞聘等重要内容，对与成效突出的优先推荐申报国家科技人才计划。抓紧落实赋予科研人员职务科技成果所有权或长期权试点。
                                    p ———《关于科技创新支撑复工复产和经济平稳运行的若干措施》
                                    .icon.text-right
                                        img(src="img/cul_02.png", alt="")
                           

                    footer.news-footer.wow.fadeInUp
                        ul.pagination.text-center
                            li.page-item
                                a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 上一页
                                    
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item.active(aria-current='page')
                                a.page-link(href='#')
                                    | 2                          
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link.next(href='#') 下一页

block bkfooter


    script.
        
        $(function () {
            
  
        
        });
      
       

     
