extends includes/layout.pug

block title
    | 配药安全

block bkheader
   

block content
    .banner.banner-safety(style="background-image:url(img/banner/dosage.jpg)")        
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 配药安全
                ul.nav.wow.fadeInUp
                    li
                        a.active(href="safety.html") 输液现状
         
        
    .page.page-safety

        section.s1.container
            h2.text28.wow.fadeInUp 目前我国医院大部分静配中心还是传统手工配药，拆药品、溶药器包装时会污染无菌手套，推拉芯杆过程中，手接触芯杆从而污染溶药器内壁进而污染药液，所以存在着很多污染问题

        section.s2(style="background-image:url(img/do_01.jpg);")
            .container
                .txt.wow.fadeInUp
                    h3.text40 静脉用药配置污染的防控措施
                    a.btn.btn-primary.btn-radius(href="#") 查看PDF
                   
                   

        section.s3
            .container
                .title-section.wow.fadeInUp
                    h2 课题组
                    h3 VIDEOS
                .row
                    .col-md-4
                        a.item.wow.fadeInUp(href="javascript:void(0);")
                            img(src="img/temp/vid01.jpg", alt="")
                            .play
                                img(src="img/play.png", alt="")
                    .col-md-4
                        a.item.wow.fadeInUp(href="javascript:void(0);")
                            img(src="img/temp/vid02.jpg", alt="")
                            .play
                                img(src="img/play.png", alt="")
                    .col-md-4
                        a.item.wow.fadeInUp(href="javascript:void(0);")
                            img(src="img/temp/vid03.jpg", alt="")
                            .play
                                img(src="img/play.png", alt="")


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
