extends includes/layout.pug

block title
    | 科普

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_future.jpg)")
        .container
            h1.title-page 脑未来资源
            nav.submenus 
                a(href="culture.html") 视频
                a.active(href="science.html") 科普
    
              
    .page.page-science.container      
        .articlelist
            .box
                .row.align-items-center
                    .col-md-auto                    
                        a.item.wow.fadeInUp(href="science_detail.html")                            
                            img.thumb(src="img/temp/se_01.jpg")
                    .col-md
                        a.title(href="science_detail.html")
                            h3 美味，如何让我们快速获得满足感？
                            p 作者：李栩琳 杨青宁
                             

            .box
                .row.align-items-center
                    .col-md-auto                    
                        a.item.wow.fadeInUp(href="science_detail.html")                            
                            img.thumb(src="img/temp/se_01.jpg")
                    .col-md
                        a.title(href="science_detail.html")
                            h3 美味，如何让我们快速获得满足感？
                            p 作者：李栩琳 杨青宁
                             
            .box
                .row.align-items-center
                    .col-md-auto                    
                        a.item.wow.fadeInUp(href="science_detail.html")                            
                            img.thumb(src="img/temp/se_01.jpg")
                    .col-md
                        a.title(href="science_detail.html")
                            h3 美味，如何让我们快速获得满足感？
                            p 作者：李栩琳 杨青宁
                             
            .box
                .row.align-items-center
                    .col-md-auto                    
                        a.item.wow.fadeInUp(href="science_detail.html")                            
                            img.thumb(src="img/temp/se_01.jpg")
                    .col-md
                        a.title(href="science_detail.html")
                            h3 美味，如何让我们快速获得满足感？
                            p 作者：李栩琳 杨青宁
                             
                            
        




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
