extends includes/layout.pug

block title
    | 企业资质

block bkheader
   

block content
    .banner.banner-science(style="background-image:url(img/banners/core.jpg)")        
        .container       
            h1.text36 学术活动

    .pagenav
        .container
            ul.list
                li
                    a.active(href="science_events.html") Workshop
                li
                    a(href="science_events.html") Conference
       
        
    .wrapper
        .page-science-events.pb-media-5
            .container  
                .fixednav
                    h4  核心板块
                    ul.nav
                        li
                            a.active(href="core.html") 前沿基础研究
                        li
                            a(href="platform.html") 公共技术平台和大科学装置                             
                        li
                            a(href="factory.html") 创新样板工厂
                        li.hasnav.active
                            a(href="science.html") 粤港澳交叉科学中心
                            ul.subnav
                                li
                                    a(href="science.html") 中心简介
                                li
                                    a.active(href="science_events.html") 学术活动
                                li
                                    a(href="applications.html") 项目申请

                section.s1
                    .row
                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_23.jpg", alt="")

                                h3 蛋白质结构与动力学专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_24.jpg", alt="")

                                h3 深度学习和量子编程专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_25.jpg", alt="")

                                h3 utron Scattering Sciences and Techniques and their Applications
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_23.jpg", alt="")

                                h3 蛋白质结构与动力学专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_24.jpg", alt="")

                                h3 深度学习和量子编程专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_25.jpg", alt="")

                                h3 utron Scattering Sciences and Techniques and their Applications
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_23.jpg", alt="")

                                h3 蛋白质结构与动力学专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_24.jpg", alt="")

                                h3 深度学习和量子编程专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_25.jpg", alt="")

                                h3 utron Scattering Sciences and Techniques and their Applications
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_23.jpg", alt="")

                                h3 蛋白质结构与动力学专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_24.jpg", alt="")

                                h3 深度学习和量子编程专题
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                        .col-md-6.col-lg-4
                            .item
                                .pic
                                    img(src="img/temp/core_25.jpg", alt="")

                                h3 utron Scattering Sciences and Techniques and their Applications
                                .date 2019/2/17 ~ 2019/2/22
                                a.apply.dis(href="event_apply.html") Apply

                    footer.news-footer.wow.fadeInUp
                        ul.pagination.text-center
                            li.page-item
                                a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 上一页
                                    
                            li.page-item
                                a.page-link(href='#') 1
                            li.page-item.active(aria-current='page')
                                a.page-link(href='#')
                                    | 2                          
                            li.page-item
                                a.page-link(href='#') 3
                            li.page-item
                                a.page-link.next(href='#') 下一页



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
