extends includes/layout.pug

block title
    | 科普

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_future.jpg)")
        .container
            h1.title-page 脑未来资源
            nav.submenus 
                a(href="culture.html") 视频
                a.active(href="science.html") 科普
    
              
    .page.page-culture-detail.page-science-detail
        section.s1.container
            .title-section
                h3.text-center “通力合作 勇往直前”——脑所工会、一支部赴观澜举办主题团建活动
                .author 作者：李栩琳 杨青宁
            

            .article
                p 胃肠道一直被认为是人体的第二大脑，英文中就有类似 “gone with your gut”（跟着直觉走）和 “feel butterflies in your stomach”（忐忑不安）的表达，我们肠胃的活动、肠胃的内容物、肠胃的微生物群无时无刻不在影响着我们的情绪，那么来自肠道的这些信息是如何传递到大脑的呢？据研究，我们的消化道从食管到直肠长达9 m，它具有人体内与外界接触最大的表面，同时也是人体最大的感觉器官。其中胃肠道与外界接触的表面覆盖着一层薄薄的上皮细胞，其中零散分布着许多肠内分泌细胞（enteroendocrine cell，EEC），它们是感受食物和微生物的末梢，能分泌具有食欲和饱腹感调节功能的激素——缩胆囊素（cholecystokinin, CCK）和内分泌调节肽（peptide YY, PYY）。一直以来科学家们都坚信胃肠道和大脑的通信是由这两种激素介导的，但是最近的研究颠覆了这一观点。
                figure
                    img(src="img/temp/coo_02.jpg", alt="")
                    figcaption 2018.3.13 Steve Hyman一行来访脑所
                p 来自杜克大学的研究员Bohórquez在顶级科学杂志《Science》中发表的最新研究成果显示，EEC能与迷走神经形成以谷氨酸为神经递质的突触结构，在毫秒级别内即可将感受到的糖类信息传给大脑[1]。其实早在2015年，Bohórquez就在医学杂志《Journal of Clinical Investigation》发表论文，从形态学实验发现EEC与感觉神经纤维相接触，并且表达了许多突触特异的黏附蛋白，而今年则利用了电生理和光遗传手法从功能学上证明了这种突触的存在[2]。
                
        .container
            .s2
                .row.align-items-center
                    .col-md-auto
                        .pic
                            img(src="img/team/chenpeihua.jpg", alt="鲁艺")
                    .col-md
                        .txt                      
                            h3.title 蔚鹏飞                      
                            .research 2015年本科毕业于中国药科大学中药学专业，2018年硕士毕业于北京协和医学院药理学专业，目前任中国科学院深圳先进技术研究院-麻省理工学院麦戈文联合脑认知与脑疾病研究所研究助理，研究兴趣为中枢神经系统对外周脏器的调控机制。
                .bg
                    img(src="img/team_03.png", alt="")
            .s2
                .row.align-items-center
                    .col-md-auto
                        .pic
                            img(src="img/team/chenpeihua.jpg", alt="鲁艺")
                    .col-md
                        .txt                      
                            h3.title 蔚鹏飞                      
                            .research 2015年本科毕业于中国药科大学中药学专业，2018年硕士毕业于北京协和医学院药理学专业，目前任中国科学院深圳先进技术研究院-麻省理工学院麦戈文联合脑认知与脑疾病研究所研究助理，研究兴趣为中枢神经系统对外周脏器的调控机制。
                .bg
                    img(src="img/team_03.png", alt="")

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
