extends includes/layout.pug

block title
    | 搜索

block content

    .page.page-search.container  
        .searchbox.wow.fadeInUp
            form(action="search.html", method="get")
                .row.align-items-center
                    .col
                        input#keywords(type="search", name="keywords",placeholder="请输入您要搜索的内容",required="required")
                    .col-auto
                        button.btn.btn-primary(type="submit") 搜索


        p.count.text-center.wow.fadeInUp
            | 找到 
            strong 5 
            | 条相配的记录

        .results
            ul
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12
                li.wow.fadeInUp
                    a(href="news_detail.html")
                        .row
                            .col-md
                                | 韩国仁川涂料胶粘膜展 COATING KOREA
                            .col-md-auto
                                time
                                    | 2020-03-12


            

   
