extends includes/layout.pug

block title
    | 美妆品牌数字化方案

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-blog.wow.fadeInUp
        img.bg(src="img/banners/service.jpg", alt="服务")
        .txt
            .container
                h1.title.text40 服务支持
                p 我们始终将客户满意度放在首要位置。为确保这一点，我们致力于随时为客户提供卓越的支持。



 
    .page.page-service.pt-media-6.pb-media-6
        section.s1.container.mb-media-5
            .item           
                .row.align-items-center
                    .col-auto
                        .icon
                            i.iconfont.icon-pdf
                    .col
                        .title.text24 产品手册
                    .col-auto
                        a.down(href="#") 
                            i.iconfont.icon-download

            .item           
                .row.align-items-center
                    .col-auto
                        .icon
                            i.iconfont.icon-pdf
                    .col
                        .title.text24 驱动软件 
                            span 正在更新，暂不支持下载,请谅解。
                    .col-auto
                        a.down(href="#") 
                            i.iconfont.icon-download
                            

                

        
        section.common-comment.pt-media-5.container
            .title-section-2 
                h2.text36 留言咨询

            .des 
                p 如果您有任何意见建议想对我们说，都可以通过下面的方式发送信息给我们。我们将非常乐意跟你畅快的交流！ 请留下您准确的联系方式，我们承诺对您的个人信息保密。
                
            img(src="img/temp/001.png", alt="")


block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            grabCursor: true,
            centeredSlides: true,
            loop:true,
            // init: false,
             navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                slidesPerView: 2,
                spaceBetween: 30,
                },
                768: {
                slidesPerView: 2,
                spaceBetween: 60,
                },
             
            }
        });


     

      
       

     
