extends includes/layout.pug

block title
    | About Us

block content
    .banner.banner-service(style={'background-image':'url(../img/temp/ser2.jpg)'})
        .container
            .breadcrumb 
                a(href="service.html") service
                |-Sheet Metal Services 
        
    .page.page-service-detail
        section.container
            .header-ser
                h1 Sheet Metal Services 
                p Custom and Precision Sheet Metal Prototypes and Low-volume parts in as fast as 5-7 days 

            
            .section
                p Sheet metal fabrication is a meticulous manufacturing that is used in transforming ordinary, flat metal sheets into full scale production-grade functional parts. The process starts with a thin sheet of metal which is then fabricated into simple and complex parts using any single process or a combination of techniques including milling, laser cutting, welding, forming, stamping, bending, punching, cutting and much more into desired specifications. Custom Sheet Metal Fabrication is in high demand across various industries because of a number of reasons. Sheet metal parts are affordable, scalable and provide a decent range of material selection.

            .section
                .title-section-v4
                    h2 Sheet Metal Fabrication in Premium Part
                .imgs
                    img(src="img/temp/ser2_01.jpg", alt="")
                p At Premium Part, Sheet metal fabrication solutions exist for the creation of a non-exhaustive possibilities in production part. Our processes are ideal for all functional prototyping needs or as end-use parts after post-fabrication finishing and treatment that make them plug-and-play ready. We employ a number of processes in our sheet metal fabrication. Our processes can be categorized into: 



            .section
                .title-section-v4
                    h2 CNC Turning
                .imgs
                    .row
                        .col-md-6
                            img(src="img/temp/ser2_02.jpg", alt="")
                        .col-md-6
                            img(src="img/temp/ser2_03.jpg", alt="")
        
                p(style={'margin-bottom':'3rem'}) Our CNC turning process is excellent for all projects that have complex external round shapes and internal bores. The CNC turning procedure is an intricate and thorough process that allows for the creation of high quality production arts using a lathe. At Premium Part, we offer both live and standard tooling to deliver top tier prototypes backed by advanced, state-of-the-art technology that facilitates delivery of parts in 3-5 days.
                .row
                    .col-md-4
                        ul.no-style
                            li •	Material Deformation 
                            li •	Bending	
                            li •	Stamping 	
                            li •	Spinning 
                    .col-md-4
                        ul.no-style
                            li •	Material Forming/Assembly
                            li •	Assembly
                            li •	Welding 
                            li •	Roll forming
                    .col-md-4
                        ul.no-style
                            li •	Material Removal
                            li •	Laser cutting 
                            li •	Punching
                            li •	Blanking 
            
            .section
                .title-section-v4
                    h2 Here’s why to choose Premium Part’s sheet metal fabrication services?
              

                h4.title •	Material specifications 
                p Choose between Aluminium, copper, steel, zinc and stainless-steel sheet metal options 


                h4.title •	Durability 
                p Sheet metal parts are highly durable for direct end-use application or prototyping needs


                h4.title •	Finishing and Post-fabrication options  
                p Choose from a decent array of finishing to deliver visual excellence, extra strength, protection or varying textures with bead blasting, anodizing, painting or powder coating


                h4.title •	Quick turnaround
                p Receive fully functional end-use parts and prototypes in as fast as 7 days 


                h4.title •	Scalability 
                p Enjoy a cost-efficient approach that delivers low prices for large volumes

                h4.title •	Production Components 
                p Avail yourself of the numerous in-house designed inserts that will speed and improve your sheet metal fabrication 




            .section
                .title-section-v4
                    h2 Applications of CNC Machining
               
          
               
                .mb-2.row
                    .col-md-6
                        ul.no-style(style={'font-weight':'bold'})
                            li •	Body Panels
                            li •	Automotive 
                            li •	Automobile 
                            li •	Electrical appliances and Consumer electronics 
                            li •	Office equipment 
                            li •	Chipsets and boards 
                            li •	MRI Scanners 
                            
                    .col-md-6
                        ul.no-style(style={'font-weight':'bold'})
                            li •	Chassis 
                            li •	Fuselages 
                            li •	Culinary and Cutlery equipment  
                            li •	Office equipment 
                            li •	Chipsets and boards 
                            li •	Sinks and counters 
                            li •	Surgical implants 


            .section
                .title-section-v4
                    h2 Looking for high quality Sheet Metal Services?
               
                p Premium Part is your one-stop service provider for all sheet metal fabrication needs. From basic manufacturing to post-fabrication and finishing, we have got you covered. We offer many procedures including sheet metal stamping, cutting, rolling, bending, rolling, laser cutting, assembly, plating, powder coating, riveting, welding, silk screening, painting and more. 
                p We have infinite production capacity that never fails to deliver on time. From 1 to 1000 parts, our sheet metal fabrication services are structured to deliver production-grade prototype and functional end-use parts with quick turnaround!



                


        
block bkfooter
    
