extends includes/layout.pug

block title
    | Service

block content    
     
    .page.page-service
        .item(style={'background-image':'url(../img/temp/s1.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 CNC Machining
                    p The core of our capability and it guarantees our other services
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE

        .item.tr(style={'background-image':'url(../img/temp/s2.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 sheet metal services
                    p Custom and Precision Sheet Matal Prototyes and Low-volume parts in 5-7 days
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE
        .item(style={'background-image':'url(../img/temp/s3.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 urethane casting
                    p production grade parts with low-volume manufacturing and fast turnover
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE

        .item.tr(style={'background-image':'url(../img/temp/s4.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 aluminum extrusion
                    p Low Volume,High-quality Extreded Aluminium Parts in 10 days or less
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE
        .item(style={'background-image':'url(../img/temp/s5.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 Rapid tooling
                    p Simplified and shorter lead time rapidv tooling to deliver low-mid volume production parts for cost reductionand capability repeatability
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE

        .item.tr(style={'background-image':'url(../img/temp/s6.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 plastic injection molding
                    p Simplified and shorter lead time rapid tooling to deliver  low-mid vilume production parts for cost
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE
        .item(style={'background-image':'url(../img/temp/s7.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 die casting services
                    p Custom design die casting tool for medium and high-volume manufacturing
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE

        .item.tr(style={'background-image':'url(../img/temp/s8.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 3D printing
                    p Cutting edge technology 3D printing service to satisfy your prototyper and production
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE
        .item(style={'background-image':'url(../img/temp/s9.jpg)'})
            .container           
                .txt.wow.fadeInLeft
                    h2 finishing service
                    p Excellent multi way post machiningsurface finishing to ensure your special needs for
                    a.btn.btn-default-outline(href="service-detail-1.html") EXPLORE

              
        
        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
