extends includes/layout.pug

block title
    | 服务时间-校园服务

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about.page-school
        section.s1.container         
            .title-section.wow.fadeInLeft
                h2 服务时间
                
        section.s1.s2
            .container-fluid
                .row.item.align-items-center
                    .col-md-6
                        .pic.il
                            img.wow.fadeInLeft(src="img/sch_02.jpg", alt="")
                    .col-md-6
                        .des
                            .title-section-v2
                                h3.wow.fadeInUp Service Time
                                h4.wow.fadeInUp 服务时间

                            .opentime.wow.fadeInUp
                                .row
                                    .col-auto 周一至周五
                                    .col 8:00-16:00

                            p.wow.fadeInUp 下午16:00后提供有偿托管服务，具体费用详询。
                                br
                                | 寒暑假参照当地教育局之规定放假。

                            
        
block bkfooter
    script.
        $('.d1 dt').click(function(e){  
            $(this).closest('dl').siblings().removeClass('open');
            $(this).closest('dl').addClass('open');        
            //$(this).next().slideDown();
        })
        


     
