extends includes/layout.pug

block title
    | 美妆品牌数字化方案

block bkheader
    link(href='js/vendor/swiper/css/swiper-bundle.min.css', rel='stylesheet')

block content
    .banner.banner-solution.wow.fadeInUp
        img.bg(src="img/banners/contact.jpg", alt="")       

        .txt-container
            .container
                .row 
                    .col-lg
                        .txt
                            h1.wow.fadeInUp.text70 客户支援
                            p.wow.fadeInUp 咨询不便事项，联系我们，我们将尽快为您解答，<br>我们将会成为时刻倾听客户心声的企业，<br>将通过持续的优化与发展，<br>不断创新和进取，不断提升公司的品牌价值和核心竞争力。
                            


    .container
        .sub_nav.wow.fadeInDown
            ul.menus              
                li.active  
                    a(href="service.html") 服务文化
                li 
                    a(href="network.html") 销售网络
                li 
                    a(href="contact.html") 联系我们
                li
                    a(href="FAQ.html") 常见问题与解答
              
        
    .page.page-service.pt-media-7
        
        section.s1.container-1.pb-media-5   
            .three_dot
                .row
                    .col-md-4 
                        .item
                            .icon
                                img(src="img/icons/zongzhi.png", alt="服务宗旨")
                            h3.text24  服务宗旨
                            p 顾客满意第一

                    .col-md-4 
                        .item
                            .icon
                                img(src="img/icons/linian.png", alt="服务理念")
                            h3.text24  服务理念
                            p 服务就是心满意足

                    .col-md-4 
                        .item
                            .icon
                                img(src="img/icons/shouzhe.png", alt="服务守则")
                            h3.text24  服务守则
                            p 打起12分精神<br>24小时全天守候<br>48小时解决方案
        
        section.s2.pt-media-5.pb-media-5   
            img.bg(src="img/ser_1.jpg", alt="电子价签")
            .txt-container
                .txt.pt-media-5.pb-media-5   
                    .title-section
                        h2.title 全国首位独创式支持政策：<br>工程专用线服务模式
                 
                    p 工程专用线服务模式是胜宇企业首先推行的技术支持服务，<br>并创建了全国独家自有的“胜宇电力学院“，<br>与暨南大学、深圳大学等全国多所高等院校建立<br>合作项目与友好合作关系，并通过名师指导培育大量的专业性人才。<br>我们郑重对用户承诺，凡是购买工程专用线,<br>均可申请电力专家组提供的24小时及时技术支持。

                                 


              

        section.s3.pt-media-5.pb-media-5
            .container-1 
                .title-section.text-center.mb-media-5 
                    h2.text48 胜宇电缆为客户提供贴心的<br/>售前、售中、售后全方位服务
                   
                .shouqian.mb-media-3 
                    .row.gx-5 
                        .col-auto 
                            img.pic(src="img/ser_2.jpg", alt="")
                        .col
                            .txt 
                                .title-section 
                                    h2.text48 售前
                                
                                p.des 我们将配备最专业的客服人员为您解答任何疑问，为您仔细分析、比对电缆的性能，让您放心选择。

                .shouzhong.mb-media-3 
                    img.pic(src="img/ser_3.jpg", alt="")
                    .txt
                        .title-section.mb-media-2 
                            h3.text36 售中

                        p.des.mb-media-2  产品严格按照国家标准生产，提供“迅捷”专人送货服务。 我们将派出专业的现场应用工程师，提供现场安装培训指导工作，确保安装人员了解并正确进行线缆的安装工作。
                        .c1 
                            h3.text32 售中服务准则
                            ul.list 
                                li 必须通过公司的工程服务规范考核和部门工程服务资质认证后才   能到现场为客户服务，凡通过项目负责人资质认证的员工将颁发一枚印有服务ID号的胸卡。
                                li 实行项目负责人挂牌服务制度，项目负责人在工程现场必须佩带胸卡。
                                li 在服务现场要遵守客户单位的各项规章制度，注意安全，文明施工。
                                li 对涉及相关运行安全的服务，必须事先征得客户同意并在客户的现场监护下实施。
                                li 注意加强对客户的培训，增强客户对我们产品的了解，提高客户的产品运用能力。
                                li 应主动经常对客户负责人通报服务实践进展情况，最大限度与客户进行配合。
                                li 注意维护客户利益，不做有损客户的事，不说有损客户的话。
                                li 在服务验收前，项目负责人应将相关服务文档、资料交给客户负责人， 要求客户负责人在以上的资料清单上签字, 以便带回归档。
                                li 服务验收后，项目负责人将验收单带回，验收单内应有客户对于项目负责人的意见。

                .shouzhong.mb-media-3 
                    img.pic(src="img/ser_3.jpg", alt="")
                    .txt
                        .title-section.mb-media-2 
                            h3.text36 售后

                        p.des.mb-media-2  我们严格遵守国家“三包”服务规定，服务网点覆盖全国各大城市。 <br>设立24小时全天候服务热线。<br>耐心解决客户提出的任何咨询、投诉问题，并在48小时之内安排相关专业人员及时与您取得联系，为您解除后顾之忧。 <br>定期对用户进行回访工作，了解客户的心理及需求，倾听客户的意见，认真做好记录，持之以恒的关怀客户的感受。
                        .c1 
                            h3.text32 售后服务准则
                            ul.list 
                                li 客户咨询：客户热线实行24小时对外值班。
                                li 对客户提出的咨询、投诉问题，无论是否属本部门范围的事情，实行首问负责制，接听电话者必须主动热情， 耐心周到、回答问题准确详细。
                                li 在服务现场要遵守客户单位的各项规章制度，注意安全，文明施工。
                                li 凡客户咨询、投诉的问题首问负责人能立即答复的，马上答复客户并认真做好解释工作；如由于客观原因不能立即答复的， 或不属本人职责范围内的问题时，应将客户问题妥善移交到相关人员处办理，并在事后进行落实。
                                li 紧急问题必须在24小时内落实解决方案并给客户以明确答复；一般问题必须在48小时内落实解决方案并给客户以明确答复。
                                li 对于不清楚，把握不清楚，把握不准确的问题应及时请示有关专家或者相关领导并给予用户一个准确的解答，对于确实解释不了的问题，应向客户说明情况，并在事后主动与客户联系。
                                li 公司相关人员要对客户咨询、投诉的处理过程进行监督、检查、考核，并做好客户电话回访工作， 定期在公司内进行通报。
                                li 在处理客户投诉、咨询过程中，如发生拒绝、推诿现象，对责任部门和责任人必须按考核规定进行处罚。
                                li 投诉反馈：我们设有服务热线，接到您的投诉反馈之后，我们将在48小时之内派相关专业人员与您取得联系， 解决您投诉的相关问题。
            
            


block bkfooter

    script(src='js/vendor/swiper/js/swiper-bundle.min.js')
    script.
        var swiper = new Swiper('.swiper-container', {
            slidesPerView: 1,
            spaceBetween: 30,
            grabCursor: true,
            centeredSlides: true,
            loop:true,
            // init: false,
             navigation: {
                nextEl: '.swiper-next',
                prevEl: '.swiper-prev',
            },
            autoplay: {
                delay: 4000,
                disableOnInteraction: false,
            },
            breakpoints: {
                640: {
                slidesPerView: 2,
                spaceBetween: 30,
                },
                768: {
                slidesPerView: 2,
                spaceBetween: 60,
                },
             
            }
        });


     

      
       

     
