extends includes/layout.pug

block title
    | 3D Printing

block content
    .banner.banner-service(style={'background-image':'url(../img/temp/ser8.jpg)'})
        .container
            .breadcrumb 
                a(href="service.html") service
                | - 3D Printing
        
    .page.page-service-detail
        section.container
            .header-ser
                h1 3D Printing
                p Additive Manufacturing on Demand for High Quality Prototypes and Production Parts.

            
            .section
                p 3D Printing, alternatively termed “additive manufacturing” is a production technique used to produce high-quality precision parts by printing a digital model file into a 3-dimensional object using a material substance layer by layer. At Premium Part, our Industrial 3D printing capabilities provides you with an array of services suitable for every stage of your design cycle, from prototyping to final product in as quick as 3 days. 

            .section
                .title-section-v4
                    h2 3D Plastic Printing
                .imgs
                    img(src="img/temp/ser8_01.jpg", alt="")      
        
                p Develop iterative, innovative, functional and quality prototype and custom parts with our 3D Plastic Printing. 3D Plastic Printing offers one of the most cost-efficient and fastest printing solutions in the business. 


            .section
                .title-section-v4
                    h2 3D Metal Printing 
                .imgs
                    .row
                        .col-md-6
                            img(src="img/temp/ser8_02.jpg", alt="")
                        .col-md-6
                            img(src="img/temp/ser8_03.jpg", alt="")
                p Take advantage of our DMLS or SLM printing processes to print a wide range of metal 3D parts suitable for application across extensive industries. 


            .section
                .title-section-v4
                    h2 Our 3D techniques 

                h4.title •	Fused Deposition Modelling (FDM)
                p Inarguably the most widely used 3D printing technique suitable for design validation and low-volume prototyping. 

                h4.title •	Stereolithography (SLA)
                p Efficient 3D printing technique that uses a UV laser and liquid thermoset resin to form production-grade parts. Ideal for projects where visual appeal is key and injection-mold like finishes are desired.

                h4.title •	Selective Laser Sintering (SLS)
                p Create finely fused thermoplastic parts with excellent mechanical and functional properties in small batches using our SLS 3D printing process. 

                h4.title •	Direct Metal Laser Sintering (DMLS) / Selective Laser Melting (SLM)
                p A powerful combination of fibre-laser system and atomized powder to conjure fully functional metal part that can serve automotive, aerospace and even medical industries. Both of these technologies are similar to SLS but while SLS isn’t used for metallic parts, SMLS and SLM are used for the production of parts from single element materials and metal alloys. 


            .section
                .title-section-v4
                    h2 Advantages of 3D Printing Services

                ul.no-style(style={'font-weight':'bold'})
                    li •	Cost-effective option for prototyping and low-volume production
                    li •	Effectively produce parts with complex geometries 
                    li •	Quick turnaround times
                    li •	Material selection range
                    li •	Minimum material waste 
                    li •	Multiple precision parts with high repeatability and scalability

            .section
                .title-section-v4
                    h2 Why Premium Part 3D Printing Services? 

                ul.no-style(style={'font-weight':'bold'})
                    li •	Our way of producing parts ensures accuracy, consistency, repeatability and scalability in the production design so that you get guaranteed quality production-grade parts every time. 
                    li •	Our process is designed to deliver strong and durable 3D parts across a wide array of simple and complex geometry parts. 
                    li •	Understanding the rapid needs of designers and product developers, we have optimized our 3D printing services to quote, produces and deliver in as fast as 3 days 
                    li •	Premium Part’s 3D printing services is highly scalable and grossly repeatable across varying volumes of production. 
                    li •	We provide you varies of material selection options for both plastic and metal 3D printing services. 
                    li •	Our ability to generate minimal material waste and produce ultralight parts when necessary shows our diversity and readiness for application in diverse industries. With all other non-3D manufacturing techniques available, you can accelerate your production of great parts in-house by taking avail of our subtractive manufacturing services when needed. 
                    li •	Post machining can be achieved in our house to ensure the high accuracy of parts. 



block bkfooter
    
