extends includes/layout.pug

block title
    | 客户服务

block bkheader
   

block content               
    .banner.banner-service(style="background-image:url(img/banners/service.jpg)")
        .container-fluid
            .title-section     
                h1.text36.wow.fadeInUp 客户服务

    .page.page-service.pt-media-6.pb-media-7
        
        section.s1.container.mb-media-4
            div.header.wow.fadeInUp  
                .row.no-gutters            
                    .col
                        a.active(href="service.html") 下载专区
                    .col
                        a(href="#") 经销商登记
                    .col
                        a(href="#") 客户下单查询
               

        section.s2.container    
            .downlist
                .row
                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载


                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载


                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载


                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载

                    .col-6.col-lg-4.col-xl-3
                        .item.wow.fadeInUp  
                            .pic
                                img(src="img/pdf.png", alt="pdf")
                        
                            .row.align-items-center
                                .col-md 
                                    .title Apollo 阿波罗--后扩球囊
                                .col-md-auto 
                                    a(href="#") 
                                        i.iconfont.icon-download
                                        | 下载
                                        

            footer.quality-footer.wow.fadeInUp
                ul.pagination.text-center
                    li.page-item
                        a.page-link.prev(href='#', tabindex='-1', aria-disabled='true') 
                            i.iconfont.icon-previous
                            
                    li.page-item
                        a.page-link(href='#') 1
                    li.page-item.active(aria-current='page')
                        a.page-link(href='#')
                            | 2                          
                    li.page-item
                        a.page-link(href='#') 3
                    li.page-item
                        a.page-link.next(href='#') 
                            i.iconfont.icon-next




                    
block bkfooter

   
    script.
        $(function () {
        
  
        
        });

     



