extends includes/layout.pug

block title
    | 云拿数字化社区超市方案

block bkheader


block content
    .banner.banner-solution.wow.fadeInUp
        img.bg(src="img/banners/Hypermarket-1.jpg", srcset="img/banners/Hypermarket-1@2x.jpg 2x", alt="")
        .breadcrumb
            .container
                ul.map-path
                    li
                        a(href="index.html")  首页  
                    li
                        a(href="solution.html")  解决方案  
                    li.current  数字化大型超市解决方案

        .txt-container
            .container
                .txt
                    h1.wow.fadeInUp.text60.mb-media-3 数字化社区超市方案
                    p.wow.fadeInUp.text20 实现经营管理数字化，线上线下一体化，让零售更高效
              
        
    .page.page-solution-3.pt-media-6
        .container.pb-media-6
            .title-section.text-center.mb-media-4
                h2.text36.mb-media-2 中小超市一站式数字化管控平台
                p 数据安全+流程自动化+运营可视化
            ul.list 
                li 
                    img(src="img/icons/chart.svg", alt="chart")
                    | 追踪消费者逛店、选品、决策全过程，让影响门店销量的各类因素可视化
                li 
                    img(src="img/icons/light.svg", alt="light")
                    | 用于商品陈列、货架布局、商品营销等方案的测试，并获得高价值效果评估报告
                li 
                    img(src="img/icons/net.svg", alt="net")
                    | 融合线上线下渠道，丰富门店SKU，全面扩大销售半径
                li 
                    img(src="img/icons/user.svg", alt="user")
                    | 切入用户全生命周期，追踪、维系每一位消费者，通过采取个性化的营销玩法提高活跃度与复购率
 
        .c1
            .container
                section.s1.pt-media-5.pb-media-5   
                    .row.align-items-center 
                        .col-lg-6.order-lg-last
                            .pic.wow.fadeInUp 
                                img(src="img/sol-17.png", srcset="img/sol-17@2x.png 2x", alt="融合渠道的无缝体验")
                        .col-lg-6
                            .txt.wow.fadeInUp 
                                h2.text36.mb-media-3 融合渠道的无缝体验
                                ul 
                                    li 线上线下数据联动，洞悉消费者的偏好及影响决策的核心因素，打造各渠道无差别的优质购物体验
                                    li 线上线下营销同步，以实时且精准的营销活动提高销售转化
                                    li 线上线下相互引流，了解哪些线上营销正为线下门店带去更多流量，以及哪些线下玩法正为线上平台带去更多留存

                section.s1.pt-media-5.pb-media-5   
                    .row.align-items-center 
                        .col-lg-6
                            .pic.wow.fadeInUp 
                                img(src="img/sol-18.png", srcset="img/sol-18@2x.png 2x", alt="超越监控的极低盗损")
                        .col-lg-6
                            .txt.wow.fadeInUp 
                                h2.text36.mb-media-3 超越监控的极低盗损
                                ul 
                                    li AI系统精准识别消费者的购物行为及商品信息，支持货物入包、组团购物，订单准确率高达99.9%，检测到盗窃未遂等异常行为还将立刻推送警报信息
                                    li 轻松调查结算异常情况，例如没有消费者却完成了现金退款、优惠折扣等，自动对工作人员进行预警，消除内部偷盗可能
                                    li 可与门店已有监控系统进行硬件集成，支持实时远程升级算法

                section.s1.pt-media-5.pb-media-5   
                    .row.align-items-center 
                        .col-lg-6.order-lg-last
                            .pic.wow.fadeInUp 
                                img(src="img/sol-19.png", srcset="img/sol-19@2x.png 2x", alt="完胜专家的决策辅助")
                        .col-lg-6
                            .txt.wow.fadeInUp 
                                h2.text36.mb-media-3 完胜专家的决策辅助
                                ul 
                                    li 集成新品上架和营销日历，轻松了解每个活动的转化效果及对客单价的影响
                                    li AI系统自动查验商品陈列的合规性，实时远程了解陈列问题，减少50%的人力查验成本
                                    li 洞悉每位消费者进店后的逛店轨迹及停留时长，了解店内工作人员是否有效引导消费者参与营销活动

               


block bkfooter

    script.
        


     

      
       

     
