extends includes/layout.pug

block title
    | 数字化无人便利店方案

block bkheader
    link(href='js/vendor/lightbox2/dist/css/lightbox.min.css', rel='stylesheet')

block content
    .banner.banner-solution-shop.wow.fadeInUp
        img.bg(src="img/banners/shop.jpg", alt="")
        .txt-container
            .container
                .txt
                    p.wow.fadeInUp 数字化无人便利店方案
                    h1.text36.wow.fadeInUp.mb-media-3 即拿即走，无感支付
                    p.wow.fadeInUp 国内外不少便利店都在探索新的数字化解决方案用于满足不断提升的消费诉求，包括让购物更便捷、让运营时间更长等。而云拿也一直致力于创新线下购物体验，并为能够提供有效的解决方案而感到自豪。
         

    .page-solution-shop
        section.s1 
            .container
                .row.align-items-center 
                    .col-lg 
                        .des.text20 云拿科技凭借数字化无人便利店方案，荣获第四届“中国创翼”创业创新大赛上海选拔赛创业组三等奖，点击阅读，深入了解该方案
                    .col-lg-auto 
                        a.more.text20(href="#") 点击阅读


        section.s2.container.pt-media-5.pb-media-5
            .title-section 
                h2.text36 21世纪新型数智化便利店
            .c1.row.gx-5 
                .col-lg-6 
                    p.mb-media-4 跳出浮于表面的数字化升级，为消费者提供电商式的极简结算、丰富活动等购物体验，赋予经营者全方位的数据获取和分析能力
                    .pic 
                        img(src="img/sol-8.jpg", srcset="img/sol-8@2x.jpg 2x", alt="")
                .col-lg-6 
                    .item.mb-media-3
                        .row 
                            .col-auto 
                                img(src="img/icon-query.svg", alt="精益高效的无感支付")
                            .col 
                                .txt
                                    h3.text24 精益高效的无感支付
                                    p AI摄像头精准识别顾客行为和商品信息，将拿取的商品自动添加到与之关联的虚拟购物车中或根据放回情况及时移除，走出闸机自动算，完美替代重复、机械的人力收银
                                    a(href="#") 了解更多
                    .item.mb-media-3
                        .row 
                            .col-auto 
                                img(src="img/icon-money.svg", alt="顾客至上的门店运营")
                            .col 
                                .txt
                                    h3.text24 顾客至上的门店运营
                                    p 借助AI系统采集逛店轨迹、停留区域及时长、拿放情况等高价值、多维度的顾客脱敏数据，通过大数据分析洞察消费偏好、价格敏感度，及时优化商品组合，精准满足顾客所需
                                    a(href="#") 了解更多

                    .item
                        .row 
                            .col-auto 
                                img(src="img/icon-target.svg", alt="广泛触达的线上触点")
                            .col 
                                .txt
                                    h3.text24 广泛触达的线上触点
                                    p 得益于首次进店前的注册动作，顾客进店即会员，帮助经营者快速打造私域流量池，便于之后以多元化的线上玩法高效触达老客群体，实现类似电商的营销能力
                                    a(href="#") 了解更多

        section.s3.pt-media-5.pb-media-6
            .container
                .title-section.text-center.mb-media-3
                    h2.text36.mb-media-2 核心能力
                    p 以一站式服务增强顾客体验，助力门店降本增效
                
                .power 
                    .row.g-5 
                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 智能选品
                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 渠道融合

                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 优化陈列
                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 超低盗损

                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 精准营销
                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 缺货提醒

                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 动态定价
                        .col-md-6 
                            .item
                                .row.g-0.align-items-center 
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-plus.svg", alt="plus")
                                    .col
                                        .title.text28 自动进货

        section.s4.container.pt-media-5.pb-media-6
            
            .title-section.text-center.mb-media-3
                h2.text36.mb-media-2 我们的客户
                p 了解零售商如何使用该方案改变传统服务方式
            
            .clients.mb-media-4
                .row 
                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/clients/c-1.png", srcset="img/clients/c-1@2x.png 2x" alt="零售商")                                
                            .txt                             
                                p.mb-media-2 日本最大信息系统集成商NTT DATA引进云拿方案，应对日本零售业人手不足、时薪高涨等难题
                                a(href="#") 了解更多
                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/sol-2.jpg", srcset="img/sol-2@2x.jpg 2x" alt="品牌商")                                
                            .txt
                               
                                p.mb-media-2 新加坡Pick＆GO引进云拿方案，将“拿了就走，自动结算”的门店带入校园，服务师生群体

                                a(href="#") 了解更多

                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/sol-3.jpg", srcset="img/sol-3@2x.jpg 2x" alt="其他行业")                                
                            .txt
                              
                                p.mb-media-2 韩国emart24引进云拿方案，推出全韩首家自动结算型无人便利店，用以降低人工成本、提升品牌竞争力
                                a(href="#") 了解更多

            .text-center
                a.more.text22(href="#") 了解更多落地客户方案

        section.s5.pt-media-6.pb-media-6
            .container
                .title-section.text-center.mb-media-4
                    h2.text36.mb-media-2 软件部署
                   
                .software 
                    .row.g-5 
                        .col-md-6.col-lg-4 
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-app.svg", alt="购物APP")
                                    .col
                                        .title.text24 购物APP
                                        p.des 可将无人便利店模块无缝植入既有客户端中，或为门店重新开发专属购物APP，并将其部署到IOS与Android平台
                        .col-md-6.col-lg-4
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-saas.svg", alt="SaaS管理系统")
                                    .col
                                        .title.text24 SaaS管理系统
                                        p.des 经营者可通过SaaS管理系统PC端/APP端随时随地查看门店各项经营数据，支持与已有系统对接

                        .col-md-6.col-lg-4
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-payment.svg", alt="电子钱包/移动支付")
                                    .col
                                        .title.text24 电子钱包/移动支付
                                        p.des 云拿已与全球范围内的主流支付公司达成合作，支持各种支付方式，保证无差别的无感支付体验
                        .col-md-6.col-lg-4
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-nfc.svg", alt="NFC支付")
                                    .col
                                        .title.text24 NFC支付
                                        p.des 对于广泛使用信用卡支付的地区，可提供最新的NFC信用卡技术，在门店入口处的识别器上拍卡完成支付验证，即能享受同样便捷的购物体验
                        
                        .col-md-6.col-lg-4
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-crm.svg", alt="CRM与ERP系统")
                                    .col
                                        .title.text24 CRM与ERP系统
                                        p.des 提供完整的会员管理与进销存管理系统，迁移门槛较低，无需更改既有系统即能实现对无人便利店的管理
                        .col-md-6.col-lg-4
                            .item
                                .row
                                    .col-auto 
                                        .icon 
                                            img(src="img/icon-els.svg", alt="人事财务系统及其他")
                                    .col
                                        .title.text24 人事财务系统及其他
                                        p.des 提供工作人员排班管理和财务管理系统，可根据客户需求进行系统定制，例如促销活动管理等

        section.s6.pt-media-6.pb-media-6
            .container 
                .title-section.text-center.mb-media-4
                    h2.text36.mb-media-2 行业全景解读
                    p 了解云拿最新动态，追踪巨头最新战略，洞悉行业最新趋势

                .four-dot.mb-media-4 
                    .row 
                        .col-md-6 
                            .item 
                                img(src="img/sol-9.jpg", alt="")
                                .txt 
                                    h3.text26 日本 - 如何维系引以为傲的24小时营业制
                                    a.btn-view(href="#") 阅读报告
                        .col-md-6 
                            .item 
                                img(src="img/sol-10.jpg", alt="")
                                .txt 
                                    h3.text26 前进的道路：零售行业领袖对现代化零售服务交付的见解
                                    a.btn-view(href="#") 阅读报告

                        .col-md-6 
                            .item 
                                img(src="img/sol-11.jpg", alt="")
                                .txt 
                                    h3.text26 通过云管理平台推动门店数字化转型
                                    a.btn-view(href="#") 阅读报告


                        .col-md-6 
                            .item 
                                img(src="img/sol-12.jpg", alt="")
                                .txt 
                                    h3.text26 云拿的系统安全性
                                    a.btn-view(href="#") 阅读报告

                .text-center
                    a.more.text22(href="#") 探索更多关于云拿无人便利店的信息和资源

        section.section-common.pt-media-9.pb-media-9(style="background-image:url(img/home-11.jpg);") 
            .container
                .txt
                    h2.title.text36.wow.fadeInUp 准备好迎接新的数智化门店了吗？
                    a.more.wow.fadeInUp.text20(href="#") 申请试用解决方案 
                        span or 
                        |  与云拿数字方案专家取得联系
           

block bkfooter

    script(src='js/vendor/lightbox2/dist/js/lightbox.min.js')
    script.
        
        $(function () {
            lightbox.option({
                'resizeDuration': 200,
                'wrapAround': true
            })
  
        
        });
      
       

     
