extends includes/layout.pug

block title
    | 云拿解决方案

block bkheader
   

block content
    .banner.banner-solution.wow.fadeInUp
        img.bg(src="img/banners/solution.jpg", alt="")
        .breadcrumb
            .container
                ul.map-path
                    li
                        a(href="index.html")  首页  
                    li.current  解决方案

        .txt-container
            .container
                .txt
                    h1.wow.fadeInUp.text60.mb-media-3 云拿解决方案
                    p.wow.fadeInUp.text20 云拿致力于帮助零售企业降本增效，实现数字化转型，是值得信赖的行业合作伙伴

    .two-level-nav
        .container 
            nav.sub-nav
                a.active(href="#") 行业划分
                a(href="#") 功能划分

        
    .page.page-solution.pt-media-5
        section.s1.container 
            .title-section 
                h2.text36 行业解决方案
            p.mb-media-4 云拿以AI数智化方案助力零售企业摆脱人力掣肘，革命性地降本增效，同时为消费者带来便捷、舒适的购物体验。
            .solutions.mb-media-4
                .row 
                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/sol-1.jpg", srcset="img/sol-1@2x.jpg 2x" alt="零售商")                                
                            .txt
                                h3.text24 零售商
                                p.mb-media-3 提升零售商运营效率，通过线上线下融合丰富销售渠道，以无感支付、互动体验等增强消费者购物体验
                                a(href="#") 了解更多
                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/sol-2.jpg", srcset="img/sol-2@2x.jpg 2x" alt="品牌商")                                
                            .txt
                                h3.text24 品牌商
                                p.mb-media-3 实时追踪消费者购物轨迹，洞悉消费者的品牌偏好、品类偏好、价格敏感度等，助力品牌商高效新品研发和营销，拥抱更大市场

                                a(href="#") 了解更多

                    .col-md-6.col-lg-4 
                        .item
                            .pic 
                                img(src="img/sol-3.jpg", srcset="img/sol-3@2x.jpg 2x" alt="其他行业")                                
                            .txt
                                h3.text24 其他行业
                                p.mb-media-3 以自动化流程规范日常服务，同时解放人力，使之投入其他更有创造性的工作中去，创造更多价值

                                a(href="#") 了解更多

            .sol-list.mb-media-5 
                .row.gx-5 
                    .col-lg-6 
                        .item 
                            h3.t1 数字化大型超市方案
                            p 以收银、盘点、商品分析、营销等各环节的数字化升级，简化日常运营，提高服务效率，改善购物体验，增强消费黏性
                            a(href="solution-2.html") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 数字化社区超市方案
                            p 通过自动化方案减少低价值的重复性工作，提升运营效率以及服务质量
                            a(href="solution-3.html") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 数字化无人便利店方案
                            p 减少对人员的依赖，降低开店门槛，轻松实现7×24小时营业，为消费者提供颠覆式的购物体验

                            a(href="solution-1.html") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 快消品牌数字化方案
                            p 产品无法打动新消费人群？广告投放效果难以量化？陈列调整仅凭主观臆断？云拿为您提供一揽子解决方案
                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 美妆品牌数字化方案
                            p 实时洞察消费者需求及反馈，通过数字化触点开展个性化、多元化的互动营销，建立品牌粉丝体系
                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 云拿智能仓储方案
                            p 通过人工智能和物联网系统，实现自动化仓储和货物的进出库管理，提高仓储空间内的管理效率
                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 云拿智慧加油站方案
                            p 无法高效实现交叉销售？收银环节耗时繁琐？工作人员安全标准没有执行到位？云拿为您提供一揽子解决方案
                            a(href="#") 了解更多

            .title-section 
                h2.text36 业务功能方案
            p.mb-media-4 用电商思维以及数字化、智能化技术手段运营实体门店，改变其靠天吃饭、靠位置吃饭的现状，解决实体门店在建立消费者忠诚度层面的难点。
            
            .sol-list.no-border 
                .row.gx-5 
                    .col-lg-6 
                        .item 
                            h3.t1 全渠道销售
                            p 打通线上线下会员体系，为实体门店构建线上商城，增加商品种类，拓展服务半径，实现线上线下双向引流
                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 精准用户运营
                            p 数字化时代每一位消费者都值得深耕细作，通过建立强连接，将其转化为忠实会员
                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 个性化内容营销
                            p 为消费者带来价值的内容远比商业广告更能提高销售转化率，消费者更信赖其他消费者的推荐，因此呈现合适的内容尤为关键

                            a(href="#") 了解更多

                    .col-lg-6 
                        .item 
                            h3.t1 数字化门店管理
                            p 店员也需要拥抱数字化，离开传统的收银台，手持便携式设备更好地管理门店
                            a(href="#") 了解更多

        section.s2.pt-media-6.pb-media-6
            .container 
                .title-section
                    h2.text36 解决方案落地案例
                p.mb-media-4 云拿解决方案具有极强的兼容性和灵活性，可与已有系统对接，快速完成不同场景下的安装与部署，能够满足各类需求

                .four-dot 
                    .row 
                        .col-md-6 
                            .item 
                                img(src="img/sol-4.jpg", alt="")
                                .t1.text26 日本 - 如何维系引以为傲的24小时营业制
                        .col-md-6 
                            .item 
                                img(src="img/sol-5.jpg", alt="")
                                .t1.text26 北美 - 当智慧零售遇到员工关怀

                        .col-md-6 
                            .item 
                                img(src="img/sol-6.jpg", alt="")
                                .t1.text26 新加坡 - 老龄化危机下便利店的自救

                        .col-md-6 
                            .item 
                                img(src="img/sol-7.jpg", alt="")
                                .t1.text26 中国 - 以科技力量驱动实体零售创新

        section.section-common.pt-media-9.pb-media-9(style="background-image:url(img/home-11.jpg);") 
            .container
                .txt
                    h2.title.text36.wow.fadeInUp 您的企业准备好进行数智化转型了吗？    
                    a.more.wow.fadeInUp.text20(href="#") 试用云拿产品 
                        span or 
                        |  与云拿解决方案专家1对1交流
           

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
