extends includes/layout.pug

block title
    | 组织架构
    
block bkheader
   

block content
    .banner.banner-structure(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 组织架构
              

    .wrapper
        .page.page-structure.mt-n-30.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav.active
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right
                            ul.subnav
                                li
                                    a.active(href="council.html") 理事会
                                li
                                    a(href="leadership.html") 实验室领导
                                li
                                    a(href="academic.html") 学术委员会
                            
                            
                        li
                            a(href="team.html") 人才队伍
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1              
                    .pic.wow.fadeInUp
                        img(src="img/structure_01.png", alt="")
                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
