extends includes/layout.pug

block title
    | 科研支撑

block bkheader
   

block content
    .banner.banner-about(style="background-image:url(img/banner/data.jpg)")
        .txt
            .nav-container
                h1.text28.wow.fadeInUp 数据中心
                ul.nav.wow.fadeInUp
                    li
                        a(href="documents.html") 文献
                    li
                        a(href="branches.html") 全国医院覆盖区域
                    li
                        a.active(href="support.html") 专家支持
         
        
    .page.page-support
        .container
            .photolist
                .row
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s1.jpg", alt="")
                            h3 2017年四川华西感控年会
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s2.jpg", alt="")
                            h3 四川万祺召开医疗服务项目解读会议
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s3.jpg", alt="")
                            h3 2017年四川华西感控年会
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s4.jpg", alt="")
                            h3 2017年四川华西感控年会
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s5.jpg", alt="")
                            h3 2017年四川华西感控年会
                    .col-6.col-md-4
                        .item.wow.fadeInUp
                            img(src="img/temp/s6.jpg", alt="")
                            h3 2017年四川华西感控年会
            
       
                   
                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
