extends includes/layout.pug

block title
    | 常见问题-申请入学

block bkheader
    link(href='js/vendor/lightbox2/dist/css/lightbox.min.css', rel='stylesheet')

block content
    .page_subnav
        .container
            .row.align-items-center
                .col-md
                    .title Resource

                .col-md-auto
                    nav.subnav
                        a.active(href="support.html") Technical Specification
                        a(href="blog.html") Blog
                        a(href="gallery.html") Gallery
                        a(href="FAQ.html") FAQs
     
    .page.page-downloads
        section.doclist.container 
            .row                      
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD

                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                .col-6.col-md-4.col-lg-3
                    .item.wow.fadeInUp
                        .pic 
                            img(src="img/temp/pdf.png", alt="")
                            .over                                 
                        .des 
                            p Axson PX521HT
                            a.btn.btn-primary-outline(href="img/temp/p1.jpg", data-lightbox="roadtrip") DOWNLOAD
                
                        
        
block bkfooter
    script(src='js/vendor/lightbox2/dist/js/lightbox.min.js')
    script.
         lightbox.option({
            'resizeDuration': 200,
             'wrapAround': true
        })
        


     
