extends includes/layout.pug

block title
    | 科研支撑

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_platform.jpg)")
        .container
            h1.title-page 科研平台
            nav.submenus 
                a(href="platform.html") 研究中心             
                a(href="facilities.html") 脑设施             
                a(href="lab.html") 重点实验室             
                a.active(href="support.html") 科研支撑
         
        
    .page.page-support-detail
        section.s1.container
            .title-section.wow.fadeInUp
                h2.text-center 综合事务部

            p 简称“公财处”，Department of Administration and Finance，由文秘办、运行管理办、基建办、核算财务室、项目财务室、资产财务室、综合财务室组成。为院理事会、院安委会秘书处。 
            
            p 负责院公共资源及财务资产规划；负责公共关系的维护及重要来访接待、行政资源的管理与保障、公共事务的服务与安全管理、公文规范管理与机要保密，园区公共设施基本建设；负责财务规划、过程管理与监管、预决算、固定资产安全。负责根据国家、中科院和地方政府有关政策制定和完善我院相关制度。完成领导交办的其他任务。
            
        section.s2
            .container
                .title-section.wow.fadeInUp
                    h2.text-center 公共事务与财务资产处

                .c1
                    h4 文秘办
                    p 负责院领导秘书工作；协调组织理事会、务虚会、院长办公会、院务会、院长接待日等院级会议；负责文书流转及档案管理；机要保密；院务会议决策事务督办；负责全院印章、资质文件管理；牵头全院制度建设； 

                .c1
                    h4 基建办
                    p 负责院级基本建设工程的规划与实施；配合科研与支撑处对全院实验环境的改造和提升；

                .c1
                    h4 核算财务室
                    p 负责会计核算、组织编制院决算、提供财务分析报告、财务档案管理等工作； 

                .c1
                    h4 项目财务室
                    p 负责科研项目的财务预算审核、过程管理、财务结题；负责派出财务秘书的培养、业务指导和考核； 
                .c1

                    h4 运行管理办
                    p 负责安办秘书处日常工作，牵头落实安办各项安全管理措施、监督落实园区安保管理，协助处理各类公共安全事件；负责院级接待工作；负责院监督管理物业等第三方服务；负责处内相关内务工作； 


                .c1

                    h4 资产财务室
                    p 负责院固定资产的核算和管理；按照财政部和国资委的要求，上报有关固定资产报表；负责政府采购计划执行情况统计和上报； 


                .c1

                    h4 综合财务室
                    p 编制对外预算报表和内部管理预算报表；负责建立健全资源管理体系，做好资源整体调配工作；负责全院资源的分析汇总工作；负责事业法人和税务工作。 




block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
