extends includes/layout.pug

block title
    | 科研支撑

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_platform.jpg)")
        .container
            h1.title-page 科研平台
            nav.submenus 
                a(href="platform.html") 研究中心             
                a(href="facilities.html") 脑设施             
                a(href="lab.html") 重点实验室             
                a.active(href="support.html") 科研支撑
         
        
    .page.page-support
        .container
            .title-section.wow.fadeInUp
                h2.text-center 科研支撑

            
            .row
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  科研管理与支撑处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                .col-md-6.col-lg-4
                    a.item(href="support-detail.html")  公共事务与财务资产处
                
       
                   
                        



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
