extends includes/layout.pug

block title
    | 核心人才
    
block bkheader
   

block content
    .banner.banner-talent(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 核心人才
              

    .wrapper
        .page-talent.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right               
                            
                        li.hasnav.active
                            a(href="team.html") 人才队伍
                            ul.subnav
                                li
                                    a(href="academician.html") 院士专家
                                li
                                    a.active(href="talent.html") 核心人才
                                li
                                    a(href="researcher.html") 研究员
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    .row
                        .col-md-4
                            .item.wow.fadeInUp
                                .pic
                                    img(src="img/team/p22.jpg", alt="赵金奎")   
                                    .text24 核心人才
                                    h3.text24 赵金奎  教授
                               
                                .des 原北京大学校长、中科院副院长中科院数理学部主任、北京市科协副主席、国际纯粹与应用物理联合会执行委员会副主席、美国物理学会国际董事。曾获国际先进材料终身成就奖、发展中国家科学院物理奖、世界华人“亚洲成就奖”等。
                
                        .col-md-4
                            .item.wow.fadeInUp
                                .pic
                                    img(src="img/team/p23.jpg", alt="陈东敏")   
                                    .text24 核心人才
                                    h3.text24 陈东敏  教授
                               
                                .des 北京大学先进交叉学科研究院讲席教授，美国硅谷Miradia Inc公司及中科院苏州技术研究院创始人。曾为美国哈佛大学Rowland研究院所长顾问委员会成员，曾任中国科学院物理所／北京凝聚态物理国家实验室主任，美国硅谷4-D-S公司首席科学家、核心技术发明人。在国际著名科学杂志发表文献100余篇，并拥有100多件国际专利。
                
            
                        .col-md-4
                            .item.wow.fadeInUp
                                .pic
                                    img(src="img/team/p24.jpg", alt="Jason S Gardner")   
                                    .text24 核心人才
                                    h3.text24 Jason S Gardner (ANSTO)
                               
                                .des 美国物理学会和物理学院（英国）的研究员，物理学杂志主编，曾担任澳大利亚中子散射中心的组长，是凝聚态物理学家和中子散射科学家。 15年来，一直为多个国际用户设施工作， 发表了170多篇期刊文章，并发表了100多篇口头报告。 是国际合作的坚定支持者。
                
            



block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
