extends includes/layout.pug

block title
    | 管理团队
    
block bkheader
    
    link(href='js/vendor/glightbox/css/glightbox.min.css', rel='stylesheet')
    script(src='js/vendor/glightbox/js/glightbox.min.js')

block content
    .banner.banner-team
        img.bg(src="img/banners/team.jpg", alt="领导团队")
        .txt.pb-media-6
            .container            
                h1.wow.fadeInUp.text60 领导团队

  
    .page.page-team-s1.container.pt-media-6
        .title-section.mb-media-6 
            h2.text28 董事会成员

        .team_list 
            .row.g-xl-5 
                .col-md-4
                    a.item.glightbox(href="team_detail.html", data-glightbox="width: 900; height: 476;") 
                        .pic 
                            img(src="img/temp/t1.jpg", alt="林刚")
                        .txt 
                            .name.text20 林刚
                            .post 创始人、主席兼行政总裁、总裁

                .col-md-4
                    a.item.iframe-lightbox-link(href="http://localhost:5001/team_detail.html",data-padding-bottom="56.25%", rel="lightbox") 
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈洪兵")
                        .txt 
                            .name.text20 陈洪兵
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈燕玲")
                        .txt 
                            .name.text20 陈燕玲
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t1.jpg", alt="林刚")
                        .txt 
                            .name.text20 林刚
                            .post 创始人、主席兼行政总裁、总裁

                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈洪兵")
                        .txt 
                            .name.text20 陈洪兵
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈燕玲")
                        .txt 
                            .name.text20 陈燕玲
                            .post 创始人、主席兼行政总裁、总裁


    .page.page-team-s1.container.pt-media-6.pb-media-6
        .title-section.mb-media-6 
            h2.text28 高级管理团队

        .team_list 
            .row.g-xl-5 
                .col-md-4
                    a.item(href="#") 
                        .pic 
                            img(src="img/temp/t1.jpg", alt="林刚")
                        .txt 
                            .name.text20 林刚
                            .post 创始人、主席兼行政总裁、总裁

                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈洪兵")
                        .txt 
                            .name.text20 陈洪兵
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈燕玲")
                        .txt 
                            .name.text20 陈燕玲
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t1.jpg", alt="林刚")
                        .txt 
                            .name.text20 林刚
                            .post 创始人、主席兼行政总裁、总裁

                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈洪兵")
                        .txt 
                            .name.text20 陈洪兵
                            .post 创始人、主席兼行政总裁、总裁


                .col-md-4
                    a.item(href="#")  
                        .pic 
                            img(src="img/temp/t2.jpg", alt="陈燕玲")
                        .txt 
                            .name.text20 陈燕玲
                            .post 创始人、主席兼行政总裁、总裁

                
            
            



block bkfooter


    script.
        const lightbox = GLightbox();
        $(function () {
        
  
        
        });
      
       

     
