extends includes/layout.pug

block title
    | 领军人才
    
block bkheader
   

block content
    .banner.banner-about.wow.fadeInDown(style="background-image:url(img/banners/team.jpg)")
        .container
            .title
                h1.wow.fadeInUp 领军人才
                p.wow.fadeInUp 以人为本，向远而生。
              

    .wrapper
        .page.page-team.pt-media-5.pb-media-3
            .container  
                .row
                    .col-lg-6 
                        .item
                            .txt 
                                .post 中国科学院院士
                                .name.text36 侯文博·博士
                                p.des 中华医学会心血管分会主任委员、全国五一劳 动奖章获得者、长江学者特聘教授，上海复旦 大学生命科学研究院院长、上海市心血管病研 究所所长、上海中山医院心内科主任。先后承担20余项国家和部级重大项目包括： 国家重点科究计划、863计划、973计划、 科技支撑、国自然基金、国家杰出青年基 金、211工程重点学科建设、985工程重点 学科建设等。
                            img(src="img/team/team_1.jpg", alt="侯文博·博士")
                    .col-lg-6 
                        .item.ood
                            .txt 
                                .post 美国肿瘤护理协会前任主席(ONS)
                                .name.text36 玛丽.古莱特·MD 
                                p.des 现任美国亚特兰大艾默里理疗集团护理创新及研究联合主席，她此前七年担任美国艾默里大学附属医院副院长，分管患者中心和护理部。
                            img(src="img/team/team_2.jpg", alt="玛丽.古莱特·MD")

                    .col-lg-6 
                        .item
                            .txt 
                                .post 同济大学二级教授
                                .name.text36 张海军·MD 
                                p.des 中组建生物医用材料改性技术国家地方联合工程实验室等国家和省级平台 6 个并担任首席科学家;创办两家高新技术企业，即将在创业板上市。
                            img(src="img/team/team_3.jpg", alt="张海军·MD ")

                    .col-lg-6 
                        .item.ood
                            .txt 
                                .post 世界血管通路大会(WoCoVA)主席
                                .name.text36 Mauro Pittiruti·博士  
                                p.des Catholic University外科学教授，血管通路领域世界范围内著名专家。每年血管通路植入量超过1000例。作为欧洲血管通路大会（EVAN）创始人和多个欧、美学会 ESPEN、AVA、WoCoVA常务委员，因在血管通路研究的杰出贡献，获Suzanne Herbst医学大奖。
                            img(src="img/team/team_4.jpg", alt="Mauro Pittiruti·博士  ")


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
