extends includes/layoutWithoutHeaderAndFooter.pug

block title
    | 林刚

block content
    .page-team-detail
        .row.g-0
            .col-md-6.col-lg-5
                .pic 
                    img(src="img/temp/t1.jpg", alt="林刚")
            .col-md-6.col-lg-7
                .txt 
                    h2.name 林     刚
                    .post 创始人、主席兼行政总裁、总裁
                    .des 林刚先生负责康哲药业发展及增长策略策划、推行及管理。林先生拥有临床医生经验，并对中国医药行业有深刻的理解和认识，在产品研发、营销、推广及其他增值服务方面拥有独特的见解和丰富的经验。林先生于一九八六年取得湛江医学院（广东医科大学）的临床医学学士学位。

                    

               
                                       
        
block bkfooter
    script.
        
        $(function(){
        
        })
