extends includes/layout.pug

block title
    | Team

block content    
    .banner.banner-contact(style="background-image:url(../img/temp/banner-team.jpg)")
        h1 Team Introduce

    .page.page-team-detail.container 
        .content
          figure.photo
              img(src="img/temp/td_01.jpg", alt="")

          h2.name Shuguang Yuan
          p Center director - AI drug molecular design / New drug development / Artificial intelligence
          h3.title Academic Experiences
          p Prof. Shuguang Yuan obtained his master degree in biochemistry and structural biology from the Shanghai Institute of Organic Chemistry (SIOC), Chinese Academy of Sciences in 2009. Following that, his doctoral dissertation was funded by the Maria Curia Fellowship. It was conducted in three different institutes in Europe: EPFL(Switzerland), Polish Academy of Science(Poland) and KULeuven University(Belgium). In June 2013, he was awarded with a PhD title with the honor of distinguished thesis. Following that, he was offered the Marie Curie ETH Postdoc Fellowship. In 2014, Prof. Yuan proposed a theory about the activation mechanism and the continuous water channel of GPCRs (Nature Communications, 2014), which are widely recognized in this area. Prof. Yuan worked at Idorsia (previously known as Actelion) Pharmaceutical Ltd in Basel as a specialist in computer-aided drug design (CADD) for 5 years. In the past few years, he has advanced two of his designed molecules into clinical trials. In 2018, he was honored with a title of "affiliate professor" by the University of Warsaw. In 2019, Prof. Yuan was offered a full professor position by the Shenzhen Institute of Advanced Technology, Chinese Academy of Science. He is also the director of the "Research Center for Computer-aided Drug Discovery".
          h3.title Research Scopes
          p Currently, Dr. Shuguang Yuan is focused on the signalling mechanism and computer aided drug discovery (CADD) of G protein-coupled receptors (GPCRs). GPCRs regulate central human physiological responses to neurotransmitters, hormones, and environmental stimuli, and are among the most important therapeutic targets for many diseases including diabetes, pain, cancer, Alzheimer's disease and so on. About 40% of all marketed medicines are targeting GPCRs. Besides that, he is also interested in investigating enzyme catalytic mechanisms and enzyme engineerings. Furthermore, ligand-gated ion channels, transporters, kinase and disordered proteins are also within his research scopes. Dr. Yuan wishes that his work can benefit the entire human health exensively.

      
          hr.line
          h3.title Our Team

          .members
            .row.item.align-items-center
              .col-md-auto
                .pic
                  img(src="img/temp/t10.jpg", alt="")
              .col-md
                .txt
                  h3.mbname Zhi-Min Zhang
                  p.note Researcher - biotechnology innovation, anti-aging NAD research
                  p.des Prof. Horst Vogel is an academician from the Swiss Academy of Sciences and National Academy of Inventors (NAI) from USA. He is also an "Outstanding International Scholar" of "President's International Fellowship Initiative, Chinese Academy of Sciences"(2019 elected) as well as an emeritus...

            .row.item.align-items-center
              .col-md-auto
                .pic
                  img(src="img/temp/t9.jpg", alt="")
              .col-md
                .txt
                  h3.mbname Zhi-Min Zhang
                  p.note Researcher - biotechnology innovation, anti-aging NAD research
                  p.des Prof. Horst Vogel is an academician from the Swiss Academy of Sciences and National Academy of Inventors (NAI) from USA. He is also an "Outstanding International Scholar" of "President's International Fellowship Initiative, Chinese Academy of Sciences"(2019 elected) as well as an emeritus...

            .row.item.align-items-center
              .col-md-auto
                .pic
                  img(src="img/temp/t5.jpg", alt="")
              .col-md
                .txt
                  h3.mbname Zhi-Min Zhang
                  p.note Academician - chief scientist - research on the structure and function of membrane proteins, research and development of biological analysis technology
                  p.des Prof. Horst Vogel is an academician from the Swiss Academy of Sciences and National Academy of Inventors (NAI) from USA. He is also an "Outstanding International Scholar" of "President's International Fellowship Initiative, Chinese Academy of Sciences"(2019 elected) as well as an emeritus...


          hr.line
          h3.title Academic work

          .list
            .row
              .col-md-2 In 2020
              .col-md-10 (44) Chan S.#, Wu Y.#, Tan L.#, Vogel H. Cheng J.*, Wu D.*, Yuan S.*, Enhancing the Signaling of GPCRs via Orthosteric Ions. ACS Central Science (2020). (doi:10.1021/acscentsci.9b01247) (43) Hua T., Li X., et. al, Activation and Signaling Mechanism Revealed by Cannabinoid Receptor-Gi Complex Structures. Cell (2020). (doi:10.1016/j.cell.2020.01.008) 
            .row
              .col-md-2 In 2019
              .col-md-10 (44) Chan S.#, Wu Y.#, Tan L.#, Vogel H. Cheng J.*, Wu D.*, Yuan S.*, Enhancing the Signaling of GPCRs via Orthosteric Ions. ACS Central Science (2020). (doi:10.1021/acscentsci.9b01247) (43) Hua T., Li X., et. al, Activation and Signaling Mechanism Revealed by Cannabinoid Receptor-Gi Complex Structures. Cell (2020). (doi:10.1016/j.cell.2020.01.008) 
            .row
              .col-md-2 In 2018
              .col-md-10 (44) Chan S.#, Wu Y.#, Tan L.#, Vogel H. Cheng J.*, Wu D.*, Yuan S.*, Enhancing the Signaling of GPCRs via Orthosteric Ions. ACS Central Science (2020). (doi:10.1021/acscentsci.9b01247) (43) Hua T., Li X., et. al, Activation and Signaling Mechanism Revealed by Cannabinoid Receptor-Gi Complex Structures. Cell (2020). (doi:10.1016/j.cell.2020.01.008) 

        
block bkfooter
    script.
        
        


     
