extends includes/layout.pug

block title
    | 人才队伍
    
block bkheader
   

block content
    .banner.banner-team(style="background-image:url(img/banners/about.jpg)")        
        .container       
            h1.text36 人才队伍
              

    .wrapper
        .page.page-team.mt-n-30.pb-media-5
            .container  
                .fixednav
                    h4  实验室概况
                    ul#nav.nav
                        li
                            a(href="about.html") 实验室简介
                        li.hasnav
                            a(href="structure.html") 组织架构 
                            i.iconfont.icon-right               
                            
                        li.hasnav.active
                            a(href="team.html") 人才队伍
                            ul.subnav
                                li
                                    a(href="academician.html") 院士专家
                                li
                                    a(href="talent.html") 核心人才
                                li
                                    a(href="researcher.html") 研究员
                        li
                            a(href="history.html") 大事记
                        li
                            a(href="contact.html") 联系我们

                section.s1.mb-media-3
                    .pic.wow.fadeInUp
                        img(src="img/contact_02.png", alt="")
                    p.wow.fadeInUp 实验室致力于聚集掌握核心技术的高端人才，在关键领域和学科长期保持先进的国际竞争力，秉着“人才互聘，成果互享，不为所有，但为所用”的人才理念，与中科院物理所、中科院高能物理所等科研机构，北京大学、香港科技大学等境内外高校建立人才双聘机制，形成具有核心引领作用和跨学科辐射效应的国家级研究队伍。
                        
                section.s2
                    .title-section
                        h2.text20 截至2020年6月初，实验室总人数671人，全职全时人员共371人。
                    .row.no-gutters
                        .col-6.col-md-4
                            .item
                                .num 10 
                                    small 人
                                .title 两院院士
                        .col-6.col-md-4
                            .item.odd
                                .num 20 
                                    small 人
                                .title 海外高层次人才
                        .col-6.col-md-4
                            .item
                                .num 206
                                    small 人
                                .title 研究序列

                        .col-6.col-md-4
                            .item.odd
                                .num 187
                                    small 人
                                .title 工程师
                        .col-6.col-md-4
                            .item
                                .num 72
                                    small 人
                                .title 联合培训研究生
                        .col-6.col-md-4
                            .item.odd
                                .num 41 
                                    small 人
                                .title 客座

                        .col-6.col-md-4
                            .item
                                .num 43
                                    small 人
                                .title 博士后
                        .col-6.col-md-4
                            .item.odd
                                .num 40 
                                    small 人
                                .title 行政
                        .col-6.col-md-4
                            .item
                                .num 82 
                                    small 人
                                .title 其他


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
