extends includes/layout.pug

block title
    | 人才招聘

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_team.jpg)")
        .container
            h1.title-page 人才队伍
            nav.submenus 
                a(href="team.html") 人才概览
                a(href="team_academician.html") 院士
                a(href="team_higher.html") 正高级序列
                a(href="team_deputy.html") 副高级序列
                a.active(href="team_jobs.html") 人才招聘
       
        
    .page.page-job.container
        .s1.section            
            .title-section
              h2.text-center 人才招聘
            
            .joblist
                a.item(href="job_detail.html")
                    .row.align-items-center
                        .col-auto
                            .pic
                                img(src="img/temp/xufuqiang.jpg", alt="徐富强")
                        .col
                            .txt
                                h3 招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组
                                time 2020-03-08

                a.item(href="job_detail.html")
                    .row.align-items-center
                        .col-auto
                            .pic
                                img(src="img/temp/xufuqiang.jpg", alt="徐富强")
                        .col
                            .txt
                                h3 招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组
                                time 2020-03-08

                a.item(href="job_detail.html")
                    .row.align-items-center
                        .col-auto
                            .pic
                                img(src="img/temp/xufuqiang.jpg", alt="徐富强")
                        .col
                            .txt
                                h3 招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组
                                time 2020-03-08

                a.item(href="job_detail.html")
                    .row.align-items-center
                        .col-auto
                            .pic
                                img(src="img/temp/xufuqiang.jpg", alt="徐富强")
                        .col
                            .txt
                                h3 招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组
                                time 2020-03-08

                a.item(href="job_detail.html")
                    .row.align-items-center
                        .col-auto
                            .pic
                                img(src="img/temp/xufuqiang.jpg", alt="徐富强")
                        .col
                            .txt
                                h3 招聘博士后&amp;助理研究员&amp;科研助理 - 徐富强课题组
                                time 2020-03-08


            footer.pager-footer       
              ul.pagination.text-center
                  li.page-item.disabled
                      a.page-link(href='#', tabindex='-1', aria-disabled='true') 上一页
                  li.page-item
                      a.page-link(href='#') 1
                  li.page-item.active(aria-current='page')
                      a.page-link(href='#')
                          | 2                          
                  li.page-item
                      a.page-link(href='#') 3
                  li.page-item
                      a.page-link(href='#') 下一页

        


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
