extends includes/layout.pug

block title
    | 人才概览

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_team.jpg)")
        .container
            h1.title-page 人才队伍
            nav.submenus 
                a.active(href="team.html") 人才概览
                a(href="team_academician.html") 院士
                a(href="team_higher.html") 正高级序列
                a(href="team_deputy.html") 副高级序列
                a(href="team_jobs.html") 人才招聘
       
        
    .page.page-team.container
        .s1.section            
            .title-section.wow.fadeInUp
                h2.text-center 汇聚英才，招贤纳士
            p.p1.text-center 脑院秉承“近者悦，远者来”：引进比自己学术能力强、威望高、影响力大的人才；帮扶年轻人尽快腾飞。各核心研究方向研究队伍进一步壮大、优化。

            .person
                .row
                    .col                        
                        .val
                            .num 183
                            .unit 人
                        .t 全职员工
                    .col
                        .val
                            .num 92                           
                            .unit 人
                        .t 学生
                    .col
                        .val
                            .num 275
                            .unit 人
                        .t 总人数

            .personodd
                .row.no-gutters
                    .col-6.col-md
                        .item.itemodd
                            .val
                                .num 183
                                .unit 人
                            .t 全职员工
                    .col-6.col-md
                        .item
                            .val
                                .num 92                           
                                .unit 人
                            .t 学生
                    .col-6.col-md
                        .item.itemodd
                            .val
                                .num 275
                                .unit 人
                            .t 总人数

                    .col-6.col-md
                        .item
                            .val
                                .num 275
                                .unit 人
                            .t 总人数

                .row.no-gutters
                    .col-6.col-md
                        .item
                            .val
                                .num 183
                                .unit 人
                            .t 全职员工
                    .col-6.col-md
                        .item.itemodd
                            .val
                                .num 92                           
                                .unit 人
                            .t 学生
                    .col-6.col-md
                        .item
                            .val
                                .num 275
                                .unit 人
                            .t 总人数

                    .col-6.col-md
                        .item.itemodd
                            .val
                                .num 275
                                .unit 人
                            .t 总人数
        

block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
