extends includes/layout.pug

block title
    | 院士

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_team.jpg)")
        .container
            h1.title-page 人才队伍
            nav.submenus 
                a(href="team.html") 人才概览
                a(href="team_academician.html") 院士
                a.active(href="team_higher.html") 正高级序列
                a(href="team_deputy.html") 副高级序列
                a(href="team_jobs.html") 人才招聘
       
        
    .page.page-academician.page-team-detail.container
        .s1      
            .row.align-items-center
                .col-md-auto
                    .pic
                        img(src="img/team/chenpeihua.jpg", alt="鲁艺")
                .col-md
                    .txt
                      .row.align-items-center
                        .col-md
                          h3.title 鲁艺
                        .col-md-auto
                          .post 深圳市脑图谱解析关键技术与设备工程实验室主任
                      .research 
                          strong 主要研究方向：
                          | 神经环路解析和调控技术；生物传感技术；癫痫及负性情绪相关神经环路解析和干预。
                      .row
                        .col-md 
                          strong 学历：
                          | 博士、研究员、博导
                        .col-md 
                          strong 办公室电话：
                          | 0000-0000000
                      .row
                        .col-md 
                          strong 邮箱：
                          | luyi@siat.ac.cn
                        .col-md 
                          strong 个人主页：
                          | www.luyi.com


            .bg
                img(src="img/team_03.png", alt="")

        section.s2
          h3.title1 个人简介
          p 于武汉大学获得应用化学学士（2005）和物理化学博士（2010）学位。目前担任中国科学院深圳先进技术研究院脑认知与脑疾病研究所研究员，博士生导师。同时担任深圳市脑图谱解析关键技术与设备工程实验室主任，中国神经科学学会神经科学技术研究分会委员（兼任秘书长）。获得国家自然科学基金（青年、面上）、中国科学院（青年创新促进会），广东省基金委（杰出青年基金），深圳市发展改革委（工程实验室）、深圳市科技创新委（技术攻关、技术开发、基础研究）等项目的资助。近年来，已经在Nature Communications，Biomaterials等期刊上发表论文20余篇，公开国家发明专利70余件，其中授权近40件。
            
        section.s3     
          h3.title1 代表论著

          ol
            li Ye FM, Li M, Ke DN, Wang LP, Lu Y*, Ultrafast Self-Healing and Injectable Conductive Hydrogel for Strain and Pressure Sensors. Advanced Materials Technologies, 2019; 1900346. (* corresponding author)

            li Wang LL, Zhong C, Ke DN, Ye FM, Tu J, Wang LP*, Lu Y*, Ultra-soft and Highly Stretchable Hydrogel Optical Fibers for In Vivo Optogenetic Modulations. Advanced Optical Materials, 2018; 6: 1800427. (* corresponding author)

            li Zhong C, Ke DN, Wang LL, Lu Y*, Wang LP*, Bioactive interpenetrating polymer networks for improving the electrode/neural-tissue interface. Electrochemistry Communications, 2017; 79: 59-62. (* corresponding author)

            li Lu Y#, Zhong C#, Wang LL, Wei PF, He W, Huang K, Zhang Y, Zhan Y, Feng GP, Wang LP*, Optogenetic dissection of ictal propagation in the hippocampal-entorhinal cortex structures, Nature Communications, 2016;7:10962.

            li Zhong C, Zhang YY, He W, Wei PF, Lu Y*, Zhu Y, Liu L, Wang LP*. Multi-unit recording with iridium oxide modified stereotrodes in Drosophila melanogaster, Journal of Neuroscience Methods, 2014;222:218-29. (* corresponding author)

            li Lu Y, Li YL, Pan JQ, Wei PF, Liu N, Wu BF, Cheng JB, Lu CY, Wang LP*. Poly(3,4-ethylenedioxythiophene)/poly(styrenesulfonate)-poly(vinyl alcohol)/poly (acrylic acid) interpenetrating polymer networks for improving optrode-neural tissue interface in optogenetics. Biomaterials, 2012;33:378-94.

            li Lu Y#, Li T#, Zhao XQ, Li M, Cao YL, Yang HX, Duan YY*. Electrodeposited polypyrrole/carbon nanotubes composite films electrodes for neural interfaces. Biomaterials, 2010;31:5169-81.

            li Lu Y, Wang DF, Li T, Zhao XQ, Cao YL, Yang HX, Duan YY*. Poly(vinyl alcohol)/poly(acrylic acid) hydrogel coatings for improving electrode-neural tissue interface. Biomaterials, 2009; 30: 4143-51.

            li Lu Y, Wang TY, Cai ZX, Cao YL, Yang HX, Duan YY*. Anodically electrodeposited iridium oxide films microelectrodes for neural microstimulation and recording. Sensors & Actuators B:Chemical, 2009; 137: 334-9.

            li Lu Y, Cai ZX, Cao YL, Yang HX, Duan YY*. Activated iridium oxide films fabricated by asymmetric pulses for electrical neural micro stimulation and recording. Electrochemistry Communications, 2008; 10: 778-82.


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
