extends includes/layout.pug

block title
    | 副高级序列

block bkheader
   

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url(img/temp/banner_team.jpg)")
        .container
            h1.title-page 人才队伍
            nav.submenus 
                a(href="team.html") 人才概览
                a(href="team_academician.html") 院士
                a.active(href="team_higher.html") 正高级序列
                a(href="team_deputy.html") 副高级序列
                a(href="team_jobs.html") 人才招聘
       
        
    .page.page-higher.container
        .s1.section            
            .title-section
              h2.text-center 正高级序列
            
            .eng
              a.active(href='#') A
              a(href='#') B
              a(href='#') C
              a(href='#') D
              a(href='#') E
              a(href='#') F
              a(href='#') G
              a(href='#') H
              a(href='#') I
              a(href='#') J
              a(href='#') K
              a(href='#') L
              a(href='#') M
              a(href='#') N
              a(href='#') O
              a(href='#') P
              a(href='#') Q
              a(href='#') R
              a(href='#') S
              a(href='#') T
              a(href='#') U
              a(href='#') V
              a(href='#') W
              a(href='#') X
              a(href='#') Y
              a(href='#') Z


            .memberlist
              .row
                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 香港科技大学

                .col-6.col-md-4.col-lg-3
                    a.item(href="team_detail.html")
                      .avatar
                        img(src="img/team/chenpeihua.jpg", alt="陈培华")
                    
                      h4 陈培华
                      .post 副研究员
                      .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 香港科技大学

                .col-6.col-md-4.col-lg-3
                    a.item(href="team_detail.html")
                      .avatar
                        img(src="img/team/chenpeihua.jpg", alt="陈培华")
                    
                      h4 陈培华
                      .post 副研究员
                      .school 浙江大学


                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 浙江大学

                .col-6.col-md-4.col-lg-3
                  a.item(href="team_detail.html")
                    .avatar
                      img(src="img/team/chenpeihua.jpg", alt="陈培华")
                  
                    h4 陈培华
                    .post 副研究员
                    .school 香港科技大学

            footer.pager-footer       
              ul.pagination.text-center
                  li.page-item.disabled
                      a.page-link(href='#', tabindex='-1', aria-disabled='true') 上一页
                  li.page-item
                      a.page-link(href='#') 1
                  li.page-item.active(aria-current='page')
                      a.page-link(href='#')
                          | 2                          
                  li.page-item
                      a.page-link(href='#') 3
                  li.page-item
                      a.page-link(href='#') 下一页

        


block bkfooter


    script.
      
        $(function () {
        
  
        
        });
      
       

     
