extends includes/layout.pug

block title
    | 视频播放

block content
    .banner.banner-news(style="background-image:url(img/banners/news.jpg)")        
        .container       
            h1.text36 新闻动态

    .wrapper
        .page-news-detail.pb-media-5
            .container  
                .fixednav
                    h4  新闻中心
                    ul.nav
                        li
                            a(href="news.html") 新闻动态
                        li
                            a(href="research.html") 科研进展                             
                        li
                            a(href="notice.html") 通知公告
                        li
                            a(href="special.html") 专题栏目
                        li.active
                            a(href="videos.html") 视频中心


            article.container
                header
                    h1.title-news.wow.fadeInUp 期权“策略笔记”第8篇：蓄势上攻，速度战胜时间仍然存疑20190912
                    .note.note1.wow.fadeInUp                      
                        .item.time
                            i.iconfont.icon-time
                            | 2020-04-21                            
                        .item.view 
                            i.iconfont.icon-view
                            | 3234
                           

                main.content.wow.fadeInUp
                    .vid
                        video(autoplay, poster="img/temp/journey.jpg", id="videobg",preload="true", muted, x5-playsinline,playsinline,webkit-playsinline, loop)
                            source(src="img/temp/journey.mp4", type="video/mp4")
                            | Your browser does not support the video tag. I suggest you upgrade your browser.
            
          

block bkfooter
    script.
        $(function(){
          
        })