extends includes/layout.pug

block title
    | 愿景与使命-关于我们

block content
    .banner.banner-about.wow.fadeInUp(style="background-image:url('img/temp/banner-about.jpg')")
     
    .page.page-about
        section.s1.container
            .row
                .col-md-4
                    .title-section.wow.fadeInLeft
                        h2 愿景与使命
                .col-md-8
                    .intro
                        header.header-intro
                            h3.wow.fadeInUp Our Vision
                            h4.wow.fadeInUp 我们的愿景

                        p.wow.fadeInUp 
                            strong 让幼儿的美好童年和幸福人生在这里起步，让教师的专业抱负在这里得到展现和提升，让学习者社区的每一个人都能携手并进，成为时代发展的先驱。
                        p.wow.fadeInUp 我们聚集了一群志同道合、与时俱进且富有教育情怀的教育工作者，站在践行国际教育的高度上，为应对世界的变化共同构建新的学与教概念。我们积极为每一位教师的工作、学习与成长赋能，支持教师在专业领域日益精进，知行合一，在教育事业中收获价值与幸福感。
                        p.wow.fadeInUp 我们秉承平等、开放的态度，乐意与家长建立战略性合作伙伴关系，关注教育生态系统的价值与可持续性发展，积极汲取全球前沿、科学的教育理念成果，共同促进幼儿的健康发展。
                    .intro
                        header.header-intro
                            h3.wow.fadeInUp Our Mission
                            h4.wow.fadeInUp 我们的使命

                        p.wow.fadeInUp 
                            strong 凝聚专业力量，致力于建造一个平等、开放、多元、热诚的学习者社区，在学与教的积极互动中，培养幼儿成长为拥有创造力、幸福力、跨文化沟通理解力以及富有合作精神的终身学习者。
                        p.wow.fadeInUp 在金生幼儿园，我们努力让每一位孩子都能收获富有意义、有价值的学习体验，习得各种至关重要的能力，成长为自我驱动的终身学习者。为此，我们将：
                        ul.list.wow.fadeInUp
                            li 营造多元且富有挑战的全浸式双语学习环境
                            li 创设真实、安全并能激发探索兴趣的学习空间
                            li 构建根植中国本土文化、融合国际课程、荟萃多元文化的学习社区
                            li 支持超学科的探究式学习，促进幼儿社会情感发展与学术成长
                        

              


        
block bkfooter
    
