extends includes/layout.pug

block title
    | 新闻动态

block content     
   
    .page.page-work-detail.pt-media-6.pb-media-6
        .container.pt-media-6
            .mockup.pb-media-8
                img(src="img/temp/mockup.png", alt="")
            
            section.s1 
                h3.text24 Hwaing technlogy VI DESIGN
                p Shenzhen Huaying Century Optoelectronics Technology Co., Ltd. is a national high-tech enterprise, specializing in the development, production and sales of plastic optical fiber series products, as well as providing plastic optical fiber supporting services.
                
                .fau.pt-media-4.pb-media-4
                    .row 
                        .col-md-4
                            .item 
                                figure  
                                    img(src="img/temp/w_01.png", alt="Clean and simple")
                                    figcaption Clean and simple
                                    
                        .col-md-4
                            .item 
                                figure  
                                    img(src="img/temp/w_03.png", alt="HTML5+CSS3 technology")
                                    figcaption HTML5+CSS3 technology
                                    
                        .col-md-4
                            .item 
                                figure  
                                    img(src="img/temp/w_02.png", alt="Responsive design")
                                    figcaption Responsive design

                h3.text24 Colour Match
                p 
                    img(src="img/temp/color.png", alt="Colour Match")

            section.s2.pt-media-6.pb-media-6 
                .pic 
                    img(src="img/temp/w_04.jpg", alt="") 
                .pic 
                    img(src="img/temp/w_05.jpg", alt="") 
                .pic 
                    img(src="img/temp/w_06.jpg", alt="") 
                .pic 
                    img(src="img/temp/w_07.jpg", alt="") 

                   
          

block bkfooter
    script.
        